[2016-02-11 04:31] jterps08 opened #8 "Notification Action Buttons (Non-leader)"
Notification Action Buttons Scope - For each of these existing notifications, we want to add the following action buttons. Ignore is easy. Open is easy. The others are different and will require the callbacks: 1) Approve a received follow request, 2) Join/accept a received group invite, 3) Upvote a post [boosted or from a followed user], 4) Downvote a post [boosted or from a followed user].
- **NO

[2016-02-17 02:43] jterps08 opened #9 "Edit-Delete Posts"
The API can now support edit and delete of a post under certain conditions. The UI should show "Edit" pencil icon and "Delete" trashcan icon in the right-hand corner (same line as the author's name, see attached). Keep in mind that we will need space for the "Mute" speaker icon for author notifications in the future. These icons are only shown to the post author. Deleted posts are not "shown" in t

[2016-02-17 02:43] jterps08 opened #10 "Edit-Delete Comments"
For the UI, add an "Edit" pencil icon and "Delete" trashcan icon in the menu bar that appears under the comment when the user taps "..." button. Deleted comments should show "This post was deleted by author" in comment and "(Deleted)" in the author label (so that comment tree integrity can stay in tact).
5) Membership List w Follow Buttons ($125) - We added an endpoint that returns all members of

[2016-02-17 02:44] jterps08 opened #11 "Friend Finder"
We have added an endpoint that receives "hashed" e-mail addresses and phone numbers from the user and returns the same hashed e-mail addresses that are associated to an existing Powerline account. This is how we will be able to scan the user's contact address book and see 'who they already know' on Powerline already. The mobile app will scan the user's address book, send hashed e-mail address (or

[2016-02-17 02:45] jterps08 opened #12 "Membership List"
We added an endpoint that returns all members of a group. We need you to add a button to the Group Profile screen called "Group Members". When tapped, this button will display a screen (with same format/template as the My Influences screen) that lists group members along with a Follow button next to each person's name. Their avatar and name will link to that user's profile. The follow button shoul

[2016-02-17 02:45] jterps08 opened #13 "Follow All group Members"
Pending completion of issue #12. This will be a button on the Group Members screen that sends follow requests to all members of the group. The button "Follow All Members" will have a confirmation dialog box that says "Send follow request to every group member? (Not recommended!)" If Yes is selected, another note pops up saying "Follow requests sent to all group members. You can manage these in My

[2016-03-06 18:35] jterps08 commented on #10
Closed with Pull Request #15

[2016-03-06 18:35] #10 closed

[2016-03-06 18:35] jterps08 commented on #9
Closed with Pull Request #15

[2016-03-06 18:35] #9 closed

[2016-04-07 19:36] jterps08 opened #19 "Subscribe to Post + Muting"
For non-authors, the ability to subscribe/unsubscribe to a post to be notified of new comments.

[2016-04-07 19:37] jterps08 opened #20 "Author Notification Muting/Unmuting"
The ability to mute or unmute notifications that are default-on for authors around (upvotes/downvotes) and (comments) on the post.

[2016-04-07 19:38] jterps08 opened #21 "Favorites Concept"
Add ability to bookmark certain posts for easy viewing later. Should support separate list of Favorites as well as a Favorite button on every single post.

[2016-04-07 19:38] jterps08 opened #22 "Post Embedded Link MetaData Inclusion"
Ability to retrieve and display the metadata around any embedded link on a user's post in the newsfeed

[2016-04-07 19:39] jterps08 opened #23 "Picture Preview"
Ability to view an attached picture to any leader's post.

[2016-04-08 11:25] austinpapp commented on #13
fyi - #18 didnt actually resolve this. this was a mistake.

[2016-04-20 13:49] jterps08 opened #30 "Registration DatePicker"
User unable to select date during manual registration with e-mail. Must be able to utilize native OS date picker.

[2016-04-20 13:49] jterps08 commented on #30
Resolved.

[2016-04-20 13:49] #30 closed, assigned to luckydevstar

[2016-04-20 13:52] jterps08 opened #31 "Registration ZipCode / First E-mail Address Field Error"
User enters account information on page 1 of registration successfully.
Next.
User enters contact information on page 2. User's address fields are "auto-filled" correctly with Google assistance for street address field.
User enters remaining required information correctly.
User taps "register" - error thrown for Zipcode and first e-mail address fields "Correct the errors and try again" (but no err

[2016-04-20 13:53] jterps08 opened #32 "Login - Unable to login with test credentials"
User unable to login with test credentials.

[2016-04-20 13:54] jterps08 commented on #32
User can now login. Header issue.

[2016-04-20 13:56] jterps08 opened #33 "Unable to Login/Register with Facebook"
Dev environment

User taps the "Register/Login with Facebook" button on the login screen.
If user is already registered, tapping this button should log the user in. (It doesn't)
If user is not registered, tapping this button should proceed to registration pages pre-filled with available information (It doesn't).

This is related to the plugin update probably.

For hands-on example of how this feat

[2016-04-20 13:57] jterps08 opened #34 "Avatar/Picture Loading"
Dev environment

The user avatars in the newsfeed are messed up. It should show the user's default avatar (loaded through imgix) or the ng-letter avatar if no avatar is present. This seems to be all image avatars throughout the app (My Representatives, My Influences, etc.) - I believe this is an ​_Imgix_​ implementation issue. contact me for imgix info if needed.

[2016-04-20 13:59] jterps08 opened #35 "Home Screen Group Selector"
Upon logging in with the test credentials, the "All" button is shown in the group selector, but it is missing the town, state/province, and country group buttons as well. It should also show any other groups that the user has joined (including EU or AU groups if registering with an address in Europe or Africa).

The app does not seem to be picking up which groups the user is associated with. The M

[2016-04-20 14:00] jterps08 opened #36 "My Groups Not Working"
dev environment

The app is not displaying the different groups that the test user is linked to. It is not showing them in the Group Selector (per Issue #35) and it is not showing them in My Groups screen either. The test user is linked to several groups. All of the user's groups should be listed in My Groups screen.

There might be a backend API change that caused this.

[2016-04-20 14:07] jterps08 opened #37 "Favorites Screen Title and Button Issue"
When the user selects "Favorites" from the Main Menu, the Favorites screen should be titled "Favorites" (instead of Powerline) and the Menu '=' icon should be replaced with a back arrow button. It should only be a feed (no group selector, and no icons for newsfeed/social-activity-feed/announcements).

[2016-04-20 14:09] jterps08 opened #38 "View/Edit User Profile"
dev environment

When updating the user's profile, the app provides an error that the "value is already used" for the e-mail address field even if the e-mail address wasn't changed as part of the edit exercise. If I try to update the e-mail address, it still gives me an error.

I wonder if this is related to new user registration with e-mail problem.

To reproduce:
Menu>Edit Profile
Tap "Edit" pen

[2016-04-20 14:14] jterps08 commented on #32
Initial login with test credentials is successful. If user logs out and tries to log back in, login does not complete.

[2016-04-22 17:18] jterps08 opened #39 "Known Logout Issue"
User installs app.
User logs in with Facebook or with manual credentials.
User is logged in successfully.
User logs out.
User tries to log back in.
Login process fails.

[2016-04-23 04:45] habibillah opened #40 "fix invalid api request"
Please fix [this line of code](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/groups.js#L11)

There are a back slash when call an API request like `https://api-dev.powerli.ne/api/groups\`

[2016-04-23 04:51] habibillah commented on #36
When I click "My Group" menu, this menu will call `https://api-dev.powerli.ne/api/groups/user-groups/` and `https://api-dev.powerli.ne/api/groups/`, but no one of the api call response has rendered correctly.

@ohienko1991 can you ensure the response of that api call rendered correctly?

![d4d91](https://cloud.githubusercontent.com/assets/547094/14759318/29c7fbe2-0949-11e6-8bb0-f93d27fd54af.png)

[2016-04-23 04:52] habibillah commented on #36
the response I get form `https://api-dev.powerli.ne/api/groups/user-groups/` call is

[code]

[2016-04-23 04:55] habibillah commented on #36
response by `https://api-dev.powerli.ne/api/groups/`

[code]

[2016-04-24 14:19] luckydevstar commented on #31
This error is related by cordova plugin issue. this issue is passed with beta testing. (using apk)

[2016-04-29 19:45] #40 closed, assigned to nobody

[2016-04-29 19:46] luckydevstar commented on #40
I've fixed it in frontend code

[2016-04-29 19:47] luckydevstar commented on #39
This bug is fixed. the reason is bad api calling.

[2016-04-29 19:47] #39 closed, assigned to luckydevstar

[2016-05-09 19:51] austinpapp commented on #32
@ohienko1991 where are we with this?

[2016-05-20 17:32] jterps08 opened #44 "Group Selector Filters"
The Filters in the Group Selector do not work. They should filter the newsfeed to show content for that specific group. The “All” filter should show content from all of the user’s groups. The country group button should only show content from the user's country group. The save the whales group button should only show the Save the Whales group content, etc.

The More button should display the curre

[2016-05-20 17:54] jterps08 opened #45 "Group Selector Counters"
Each tile in the Group Selector should display a counter with the number of unread/unanswered “leader” items in that group (we call this “priority zone content”). The backend provides activities in the sort order as described below. The Group Selector counters should always count the number of Priority Zone items. So, if there are 3 priority zone items in Save the Whales and 4 priority zone items

[2016-05-20 18:07] jterps08 opened #46 "Unable to View Items in "Question Template" Screen"
User cannot open any item when tapping on the item in the newsfeed (content does not load on next screen). When user taps item in the newsfeed, it should open the item in the 'question template' screen. This question template screen is currently not loading correctly. It should load posts, petitions, discussions, fundraisers, and events with answer choices (if required), attachments, etc and comme

[2016-05-20 18:34] jterps08 opened #47 "Newsfeed Red Dots for Priority Zone Items"
The newsfeed used to display "red dots" next to items that were considered priority zone items. The counters represent the number of red dot items. For example, if the user has 7 priority zone items in the All feed, the All counter shows 7 and the first 7 items in the newsfeed each have red dots. The red dot disappears when the item is no longer in the priority zone. This functionality should stil

[2016-05-20 23:35] jterps08 opened #48 "Newsfeed Group Titles in Item Container"
Each post in the newsfeed should show the group the post was made next to the user's name (e.g. Jesse Chen | United States of America). Currently the group is not showing in the container correctly. Other UI elements in the container may also not be showing correctly (comment counter)- it is unclear due to lack of newsfeed data.

[2016-05-20 23:35] jterps08 opened #49 "Edit/Delete Posts"
Edit/Delete buttons should appear on any post I authored. They should not appear on posts I did not author.

The UI is supposed to display an Edit (pencil) icon and a Delete (trashcan) icon on any post I have authored. This was previously implemented in PR #15

[2016-05-20 23:36] jterps08 opened #50 "Upvoting/Downvoting My Post Should not be allowed"
I should not be able to upvote/downvote posts that I authored/created myself (buttons should not appear). I should only see the upvote/downvote buttons on other user’s posts.

[2016-05-23 17:38] jterps08 opened #52 "Group Profile Membership List Not Appearing"
The membership list should appear when user taps on membership count in Group Profile page. Currently no list appears.

The membership list screen should display all group members and allow the user to tap on any individual user listed to view their profile. The membership list screen should also display a Follow All Members button that displays a warning confirmation dialog box when the user taps

[2016-05-23 17:50] jterps08 opened #53 "Correct UI Favorite Button & List Performance"
Favorite buttons should toggle yellow/grey.

If yellow, the item appears in the Favorites list (accessed from the Main Menu). If grey, the item disappears from Favorites list.

The Favorites list itself should show all items with Yellow star (there should be no group selector. only a back button to return to the home screen). There should be a back button from Favorites list back to Home screen.

[2016-05-23 17:53] jterps08 opened #54 "Correct UI Muting Button Performance"
Muting buttons should toggle blue/grey.

For any post the user authored, the notifications bell-icon is blue (on) by default.
For any post the user did not author, the notifications bell-icon is grey (off) by default.

Push notifications for that post should be updated accordingly to backend subscription endpoints. If blue, notifications are on. If grey, notifications are off.

See #19 and #20 and

[2016-05-23 17:55] jterps08 opened #55 "Staying Logged in After Registration & First Login"
I should be able to register with or without Facebook with no problem and stay logged in on the user’s device after the new user's first login. (The user should stay logged in after completing registration).

When I log out manually and log back in, the app should work with no problem. Otherwise, user should stay logged in if "stay logged in" option is true (default true).

[2016-05-23 18:49] jterps08 opened #56 "Edit/Delete Comments Buttons Not Appearing"
Not Able to Test (Comments not loading): Edit/Delete buttons should appear on any comment I authored. They should not appear on any comments I did not author.

Please see issues #10 for details. This was previously implemented in PR #15

[2016-05-23 20:56] jterps08 opened #57 "Unstable UI Behavior"
The home screen UI is periodically unstable. The title bar element/row (menu button + title) disappears and group selector element/row disappears randomly as well. It is unclear why this happens. It seems the following events trigger this to occur.

Triggered events:
1. Tapping a filter button on group selector
2. Tapping Add Group button on group selector.
3. Visiting Favorites List and returning

[2016-05-30 15:54] #20 closed, assigned to nobody

[2016-05-30 15:54] #19 closed, assigned to nobody

[2016-05-30 15:54] #13 closed

[2016-05-30 15:54] #12 closed

[2016-05-30 15:55] #21 closed, assigned to nobody

[2016-05-30 15:55] #31 closed, assigned to luckydevstar

[2016-05-30 15:55] #23 closed, assigned to nobody

[2016-05-30 15:56] #36 closed, assigned to luckydevstar

[2016-05-30 15:56] #38 closed, assigned to luckydevstar

[2016-05-30 15:57] #32 closed, assigned to luckydevstar

[2016-05-30 15:57] #33 closed, assigned to luckydevstar

[2016-05-30 21:23] jterps08 opened #58 "Correct UI Performance - GIF Gallery"
Test Plan Inventory: https://docs.google.com/spreadsheets/d/1XN_LdWTkLXAvTMh4YzNohKwvxrrXJH8Y9YigNd0KA4k/edit?usp=sharing

Easier to add the GIFs here than it is to add them to the Wiki...

Joining a group with passcode and required information
![joining a group with passcode and required information](https://cloud.githubusercontent.com/assets/7582457/15658483/ffd6ad06-268a-11e6-87bd-02f6ffd47bc1.

[2016-06-07 12:41] petervojtek opened #59 "Register user via email in browser fails with Cannot read property 'datePicker' of undefined"
date of birth date picker is not working in browser (it works in android) and there is not other way to fill in the d.o.b.

[2016-06-07 12:44] petervojtek opened #60 "Register new user via email fails with "error occured" alert"
in android, I fill in all the fields, click finish registration, and "error occured" alert appers.
this happens on current 'develop' branch, on commit 707e65cb14b9300bb.

[2016-06-08 06:00] petervojtek opened #61 "home page - HTTP GET api-dev.powerli.ne/api/activities - not found"
`GET https://api-dev.powerli.ne/api/activities/?offset=0&limit=20&sort=priority 404 (Not Found)`
due to this reason the group activity pane displays loading spinner indefinitely.

happens in dev env.

[2016-06-08 06:06] petervojtek opened #62 "icons for some groups as missing"
`http://devpowerline.s3-website-eu-west-1.amazonaws.com/avatars/54330a0a8721a.jpeg 404 (Not Found)`

dev env.

<img width="675" alt="screen shot 2016-06-08 at 08 04 16" src="https://cloud.githubusercontent.com/assets/225506/15884297/c6054f26-2d4f-11e6-9725-5c919ca19393.png">

[2016-06-08 06:29] petervojtek commented on #56
I am unable to reproduce this bug, I guess bug #61 prevents me to see any posts and comments. Even when I create new message, I cannot see this new message in feed (and thus I am unable to add a comment to the message).

[2016-06-09 01:37] luckydevstar commented on #60
It is plugin error. If you figure out all plugin correctly, that error will not occure.

[2016-06-09 01:39] luckydevstar commented on #59
it is error of date picker cordova plugin. and Ionic application can't run any cordova plugin in browser.

[2016-06-09 01:40] luckydevstar commented on #61
You must referenced dev-api document.
You can remove "offset" and "limit" in api call url.

[2016-06-09 07:01] petervojtek commented on #61
Privet @ohienko1991,

thanks for reply, I confirm that once _offset_ and _limit_ is removed from url the call is successfull and activites are displayed.

I did not commited any patch regarding this bug as I am not sure if you want to get rid of all the business logic around _offset_ and _limit_ [here](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity.js#L243).

[2016-06-09 08:12] petervojtek opened #63 "unable to add comment to post"
in dev env, In home screen in activity feed, I click Reply button under a post.
I am forwarded to this screen `http://localhost:8100/#/petition/undefined?focus=add-comment`.

When I insert text into the comment text field and press button, I receive following error:

[code]

I guess the problem is that some object ID is not set properly (`undefined`): `http://localhost:8100/#/petition/undefined?fo

[2016-06-20 07:53] petervojtek commented on #63
I fixed the bug, however following behaviour occurs:

no matter on which Post I click Reply, I always am redirected to this one particular petition:
`http://localhost:8100/#/petition/106?focus=add-comment`

@igaponov maybe you can to help me determine if I am doing something wrong here ? (or is it desired behaviour?)

I acquire the url ID 106 via `activity.entity.group_id`.
 formerly, `activity.en

[2016-06-20 08:06] petervojtek commented on #56
I experience following behaviour:
Edit and Delete buttons do appear properly (when I click the three blue dots on right side of a comment), and they are visible only when I am author of the comment.

However when I try to edit or delete my comment, following error is raised:

[code]

@igaponov , can you guide me on how to alter the ajax calls to match the latest API?

[2016-06-20 08:11] luckydevstar commented on #56
These are very easy issue. But I want to get approval from Jesse. Before that, I can't commit anything to that.

[2016-06-20 12:30] jterps08 commented on #56
Thank you Peter - you should work with Igor (@igapanov), not Ivan on this. Igor is our backend expert. He will work with you moving forward and answer questions regarding the backend.

[2016-06-20 12:48] petervojtek commented on #56
@jterps08 , I apologize for wrong assignment. However you may see that @igapanov is actually not recognized by github annotator (and thus Igor is not notified when his name is mentioned) -- I guess that is because he is not added to this project?

[2016-06-20 12:49] jterps08 commented on #56
No need to apologize. I have tried to add @igapanov to the team. I did so about 5 minutes ago. He is not online right now, but I'm sure he will join when he is back. I also pinged him on the Slack.

[2016-06-20 13:58] austinpapp opened #64 "document cli build procedure(s)"
document cli build procedure(s)

[2016-06-20 14:01] #61 closed, assigned to austinpapp

[2016-06-20 14:04] petervojtek commented on #61
I fixed it, but I rather do not removed all the business logic related to [offset and limit](https://github.com/PowerlineApp/powerline-mobile/commit/e4b52aba07efcd97f206e4767e2c59571d685728), thought it is not used.

I am not sure if I should remove the `offset` and `limit` business logic completely from code or it will be maybe used later.

[2016-06-20 14:08] jterps08 commented on #61
We definitely want the newsfeed to support "infinite scrolling" which is why I think the offset and limit is in there... @austinpapp ?

[2016-06-20 14:12] petervojtek commented on #61
btw there is some [/api/v2/activities](https://api-dev.powerli.ne/api-doc#get--api-v2-activities) call which has a `page` and `per_page` parameters..maybe that one was meant to be used..

[2016-06-20 14:19] igaponov commented on #63
This redirect is on the frontend side. The url is wrong of course, id is undefined. Check object's id, that you use to create this url.

[2016-06-20 14:22] austinpapp commented on #61
we should use v2 where we can. api-doc should expose that. but as @jterps08 said, we had used those parameters for infinite scrolling.

[2016-06-20 14:22] igaponov commented on #56
You need to use `PUT|DELETE /api/micro-petitions/{micro-petition-id}/comments/{comment-id}` endpoints.

[2016-06-20 15:49] petervojtek commented on #56
hi @igaponov , I altered the URL as suggested, but the error remains:

[code]

As far as I can see, there is no [API method](https://api-dev.powerli.ne/api-doc) in API documentation which features `micro-petitions` and `comments` in one url.

[2016-06-20 16:17] petervojtek commented on #63
@igaponov , here are more details:

I created this Post:
<img width="397" alt="screen shot 2016-06-20 at 18 07 38" src="https://cloud.githubusercontent.com/assets/225506/16201543/2d8bbf74-3712-11e6-86c2-51afdae5fee9.png">

In activity feed the displayed information is correct, there is displayed proper `description` ("peter's test 1 on 2016/06/20") and proper Author ("jesse").

Then there are two

[2016-06-20 19:36] igaponov commented on #56
Can not reproduce:

[code]

Can you show your raw request?

API method: `PUT /api/{typeEntity}/{entityId}/comments/{id}`

[2016-06-20 19:50] igaponov commented on #63
This endpoint must be deprecated, wait for merging https://github.com/PowerlineApp/powerline-server/pull/149

[2016-06-21 06:03] petervojtek commented on #56
@igaponov , the issue is when I test it from browser (chrome 51), browser will not trigger the actual PUT request, because it is preceded by preflight OPTIONS request -- this OPTIONS request is successful (200 OK), but response header lacks `Access-Control-Allow-Methods`, as stated here:

[code]

So the browser will halt the real PUT (and DELETE) request.

Surely there are browsers which do not pe

[2016-06-21 06:25] petervojtek commented on #63
the pull request seems to be merged, but I am not sure what am I supposed to receive from server -- the server behaviour seems to be the same (tested now).

[2016-06-21 06:30] igaponov commented on #63
@petervojtek now you have to use another endpoint, check docs

[2016-06-21 06:35] igaponov commented on #56
I know about OPTIONS, this is my request:

[code]

Show me yours please

[2016-06-21 06:41] petervojtek commented on #63
currently the code is using following two API calls:
`GET https://api-dev.powerli.ne/api/activities?sort=priority`
to get feed of user activities

and
`GET https://api-dev.powerli.ne/api/micro-petitions/{ID}`
to get detail od a particual activity.

I would like to make sure:

Should I replace
`GET https://api-dev.powerli.ne/api/activities`
with
`GET https://api-dev.powerli.ne/api/v2/activities`

?

[2016-06-21 06:45] petervojtek commented on #56
here is my request:

[code]

[2016-06-21 06:49] igaponov commented on #56
Show PUT request

[2016-06-21 06:50] petervojtek commented on #56
there is no PUT request, because the OPTIONS request response headers lacks the `Access-Control-Allow-Methods: PUT, DELETE`, and thus browser will not fire the PUT request.

[2016-06-21 07:18] petervojtek commented on #55
I have to first fix #60 and #59 to reproduce this issue (registration workflow).

[2016-06-21 07:59] petervojtek commented on #60
@igaponov, when I send new user registration request, I receive http response 400, and e.g. `"property":"zip","message":"This value should not be blank."` despite I filled in the zip code in request:

[code]

Also `first_name`, `last_name` and `email` receive validation errors (value is blank) despite they are not blank.

[2016-06-21 08:09] petervojtek commented on #59
I fixed it in such a manner that in browser it will fill in a fixed date (01/01/1970), just to be able finish registration successfully for further development purposed. On smartphone it works with the date picker as up to now, so that user can pick his own d.o.b.

I intentionally did not added some datepicker to browser as that will be more time consuming and I guess we will use browser only for

[2016-06-21 08:09] #59 closed, assigned to austinpapp

[2016-06-21 08:19] igaponov commented on #56
@petervojtek wait for merging https://github.com/PowerlineApp/powerline-server/pull/150

[2016-06-21 08:22] petervojtek commented on #50
blocked by #63

[2016-06-21 08:35] petervojtek commented on #49
fixed.

to test it, login as `JTest1`

this Post by Jesse has the Edit and Delete buttons:
http://localhost:8100/#/petition/109?focus=add-comment

while this one by Json Hlp lacks the buttons:
http://localhost:8100/#/petition/108?focus=add-comment

[2016-06-21 08:35] #49 closed, assigned to austinpapp

[2016-06-21 09:53] petervojtek commented on #50
I fixed it only in main activity feed (i.e. set proper visibility of the up and down double arrow buttons)
.
<img width="543" alt="screen shot 2016-06-21 at 11 43 57" src="https://cloud.githubusercontent.com/assets/225506/16225405/9db351b0-37a6-11e6-9eb9-a1e5a04e8092.png">

not sure if there are also other places in app where user can upvote/downvote.

[2016-06-21 09:53] #50 closed, assigned to austinpapp

[2016-06-21 11:06] igaponov commented on #60
[code]

I'm not sure how do you send your data. If you put it to body, you must add the right content type (`multipart/form-data` in your case). But it's better to send json with a type `application/json`.

[2016-06-21 11:17] igaponov commented on #63
1. `GET https://api-dev.powerli.ne/api/micro-petitions/{ID}` returns a micropetition, not an activity.
2. Yes, you should replace this endpoint
3. Wait for the next deploy, then check docs

[2016-06-21 13:01] petervojtek commented on #60
thanks for helpful reply @igaponov , I confirm that when I switched to json, registration works properly.

[2016-06-21 13:04] petervojtek commented on #60
fixed in commit [55a5e85df238](https://github.com/PowerlineApp/powerline-mobile/commit/55a5e85df238d6b1c78224ee47db299825460c07)

[2016-06-21 13:04] #60 closed, assigned to austinpapp

[2016-06-21 13:09] petervojtek opened #65 "#main page throws Error: [$resource:badcfg]"
[code]

https://docs.angularjs.org/error/$resource/badcfg

[2016-06-21 13:36] petervojtek opened #66 "'Register via Facebook' button click fails with "TypeError: Cannot read property 'login' of undefined""
[code]

[2016-06-21 13:44] petervojtek commented on #55
fixed. current behaviour is following:
after successful registration user is kept signed in (after app restart or browser reload).
on login, user is kept signed in only when keepSignedIn checkbox is turned on.

I tested it on register via email. register via facebook is currently broken due to #66

[2016-06-21 13:44] #55 closed, assigned to austinpapp

[2016-06-21 15:09] #56 closed, assigned to austinpapp

[2016-06-22 01:19] jterps08 opened #67 "Facebook Login / API Change"
Per the e-mail I forwarded, the Facebook change requires our action by August 6th. We have time, but we may want to address this as part of the fix for #66

[2016-06-22 05:15] petervojtek opened #68 "Group detail page fails with TypeError: Cannot read property 'joined' of undefined"
`GET https://api-dev.powerli.ne/api/groups/info/267` fails with 404 (Not Found)

@igaponov , I Guess the API backend method signature has changes, but I am unable to check it, because [API doc](https://api-dev.powerli.ne/api-doc) shows `{"code":404,"message":"Not Found"}`

[2016-06-22 05:21] petervojtek opened #69 "Newly created Post/Petition is not immidiately displayed in Home page feed"
1. On Home page, I click top right corner (New Post)
2. I fill in the form and click create
3. I am redirected to #main page, but the new post is not visible in the the activity feed

when I refresh the whole #main page, the post appears.

@jterps08 , is this intended behaviour, or should the new post immidiately appear on step 3.?

[2016-06-22 05:25] petervojtek opened #70 "Edit/Delete micro-petition/petition not working"
1. go to http://localhost:8100/#/petition/145?focus=add-comment
2. click Edit button
3. change text
4. submit fails with

[code]

the same for delete.

[2016-06-22 05:32] petervojtek opened #71 "Home screen - switching between groups is not filtering activity items properly"
1. I login as JTest1
2. on Home page, All tab is active, and I see the activity item feed (e.g. "Post made for Bucklin group.").
3. I click tab Bucklin and the feed is empty (I expected to see there at least the  "Post made for Bucklin group."
4. I click the All tab. I see no items in the feed (feed is empty) -- I expected here to see the same activity items as in step 2.

@jterps08 , can you plea

[2016-06-22 05:32] petervojtek commented on #67
blocked by #66

[2016-06-22 05:52] petervojtek opened #72 "new Petition form - number of left characters is constantly 2500"
http://localhost:8100/#/micro-petitions/add/long%20petition/
number indication in bottom right corner

[2016-06-22 05:54] petervojtek commented on #72
it works properly.. I just messed up title and body text.

[2016-06-22 05:54] #72 closed, assigned to nobody

[2016-06-22 06:03] petervojtek commented on #63
since today the master-detail view is working properly (I made no additional code changes), thought only for posts created since today (micro-petitions and petitions). I consider this as fixed.

[2016-06-22 06:03] #63 closed, assigned to austinpapp

[2016-06-22 06:17] petervojtek opened #73 "upvote/downvote micro petition fails with Cannot read property 'id' of undefined"
1. login as JTest1
2. go to http://localhost:8100/#/petition/148
3. click upvote and click Submit

fails with

[code]

[2016-06-22 06:59] petervojtek opened #74 "Home activity feed displays old petition text after its update in Petition detail"
1. create micro-petition with description 'A'
2. go to micro-petition detail
3. Edit description to 'B'. In detail the descrpition is properly updated and stored to server.
4. go to Home page -- the micro-petition description is still 'A'.

[2016-06-22 07:03] petervojtek commented on #70
@igaponov , when I try to [delete micropetition](https://api-dev.powerli.ne/api-doc#delete--api-v2-micro-petitions-{id}), I make following request which fails with http status 500:

[code]

Edit (PUT) works properly.

[2016-06-22 07:37] petervojtek commented on #74
@igaponov , I would like to ask if this behaviour below is intended or not:

I successfully create a Post (ID:149) with description `Test bug #74`
Then I successfully edit the Post's description to `Test bug #74 (test rename)`

`GET https://api-dev.powerli.ne/api/micro-petitions/149` properly displays the updated description.

However after then when I fetch the activity feed
`GET https://api-dev.

[2016-06-22 08:46] #73 closed, assigned to austinpapp

[2016-06-22 08:47] petervojtek opened #75 "upvote/downvote/unsign petition not stored to backend"

[2016-06-22 09:02] #75 closed, assigned to austinpapp

[2016-06-22 11:51] igaponov commented on #74
Activity added in https://github.com/PowerlineApp/powerline-server/pull/151

[2016-06-22 18:43] jterps08 commented on #69
The post should appear immediately on Step 3 in the newsfeed. Ideally, every time the user opens the newsfeed, the user sees the most recent data.

For background information, back in November/December, we added the concept of local caching when we switched over from plain Cordova to Ionic. The idea was to increase performance and imrpove user experience to prevent long newsfeed loading time. Infi

[2016-06-22 18:58] jterps08 commented on #71
You are correct. Switching between groups using the Group Selector on the Home screen should filter the feed.

The ALL feed shows all content in all of the groups that the user is part of, sorted according to priority and date. The user is automatically joined to town, state, country groups (e.g. Bucklin, Kansas, United States) but can create or join any other groups that he wants (e.g. Save the W

[2016-06-23 02:24] jterps08 commented on #63
Just an FYI here for @petervojtek ...

A post (micropetition) or a petition (petition) appears in the user's newsfeed (3person icon)... whereas a social activity appears appears in the user's social activity feed (2person icon)

[2016-06-23 02:25] jterps08 commented on #70
Peter - Let me know if you are confused on the business logic. Otherwise, I think @habibillah may be able to help you with this. If he isn't responsive, please ask Igor.

[2016-06-23 04:09] igaponov commented on #70
Fixed in https://github.com/PowerlineApp/powerline-server/pull/153

[2016-06-23 06:04] petervojtek commented on #74
@igaponov , I see the server change is merged, but I am not sure - is it also deployed ? -- I still experience the old behaviour (activity feed displays original description when renamed in Post detail)

[2016-06-23 06:30] petervojtek commented on #70
DELETE micro-petition still fails with error 500. Does this means that the [PowerlineApp/powerline-server#153](https://github.com/PowerlineApp/powerline-server/pull/153) is merged, but not deployed? If yes, how can I determine that a particular pull request has been actually deployed?

[2016-06-23 06:43] petervojtek opened #76 "Cannot approve follower - no notification arrives"
1. login as JTest1
2. on Post created by Peter1, click Follow button
3. App says "Waiting for user to approve"
4. Login as Peter1
5. no message or activity feed arrived regarding the approval (not sure if it should be a message or social activity feed, but both of them are blank)

[2016-06-23 06:46] igaponov commented on #74
It's not deployed. Ask @austinpapp

[2016-06-23 06:48] igaponov commented on #70
You should ask @austinpapp . I think we need to some release log with current version's changes.

[2016-06-23 06:52] petervojtek opened #77 "Unable to use Groups search - endless loop in JS"
Visit `http://localhost:8100/#/groups/search`

JS console is flooded with:

[code]

and searching for "Bucklin" group throws error:

[code]

[2016-06-23 07:00] petervojtek commented on #70
maybe we can do it this way:

the one who is assignee (owner) of an issue is the one, who is currently blocking it.
an example:
1. I start working on issue, I - Peter - am assignee.
2. I have some problem with backend, I ask Igor in comment, and change issue assignee to Igor
3. Igor will find out that he has to change some code on backend. He will do it, and change issue assignee to Austin, so tha

[2016-06-23 07:25] petervojtek commented on #35
related to #71

[2016-06-23 07:26] petervojtek commented on #44
#71 is probably duplicate of this one.

[2016-06-23 07:45] petervojtek commented on #34
related to #62 and #78

[2016-06-23 07:46] petervojtek opened #78 "Unable to change my profile picture - Cannot read property 'getPicture' of undefined"
`http://localhost:8100/#/profile`

[code]

[2016-06-23 07:56] #78 closed, assigned to austinpapp

[2016-06-23 08:19] petervojtek opened #79 "Unable to save new profile photo - 400 Bad Request"
it fails on smartphone (it works in browser):

[code]

[2016-06-23 08:30] petervojtek opened #80 "User profile page on smartphone shows JS alert "This page was unable to display a Google Maps element""
maybe due to:

[code]

[2016-06-23 09:14] petervojtek commented on #79
it fails only on real android 4.2.2, which is too old to care about.

On newer android 5 in emulator it works.
also in browser it works

[2016-06-23 09:14] #79 closed, assigned to austinpapp

[2016-06-23 09:27] petervojtek commented on #34
I observe following behaviour: if user has updated his profile image to some photo from phone gallery, this profile photo is properly displayed in his profile, but anywhere else ng-letter remains displayed. @jterps08 , I am not sure if this is a feature, or a bug.

[2016-06-23 12:57] jterps08 commented on #76
This is hard to test alone. Ideally you need two separate devices to witness the live notification that is supposed to be generated when a new Follow request is created.

When a user receives a follow request, two things happen:
1) A push notification alert is instantly sent to the followed user and displayed on the user's device if that user is logged into that device at the moment
2) A social ac

[2016-06-23 12:58] jterps08 commented on #74
The correct behavior is that the edited post should appear in the user's newsfeed after the edit has been completed. We need Austin to merge.

[2016-06-23 13:09] jterps08 commented on #77
Note: the purpose of the groups/search function is to search for a group that the user may or may not be joined to. If I am not a member of any groups, I would use this function to search for "Save the Whales" in order to display that group in the results in the app and tap the join button.

A Note On Joining A Group:
There are a few different ways to join a group:
1) In the group profile, tap the

[2016-06-23 13:11] jterps08 commented on #70
I do think that process makes a lot of sense to adopt, @petervojtek ....

@austinpapp and @igaponov - can we adopt this 'assignee' approach Peter suggests above so we all know who is blocking progress on a bug at any given time?

[2016-06-23 13:13] jterps08 commented on #35
Note: I'm not sure if this is still a problem. The "More Button" should always appear next to the country icon (from left to right: All, town, state, country, More). More icon should display the group avatar of the selected group within the More menu. The more icon should always be available to tap on to expand the menu to display all other groups the user is a part of. At minimum, the more menu i

[2016-06-23 13:18] jterps08 commented on #78
A note on the avatars
The user can upload their own avatar photo (or utilize their Facebook photo if logged in via FB). If no custom avatar photo is provided by the user, the app should display the NG-Letter avatar instead of any default blank/mystery-man icon. The NG-letter original repo is located here (https://github.com/uttesh/ngletteravatar). The related pull request on mobile is located here

[2016-06-23 13:29] jterps08 commented on #34
I will confirm that this is still a problem during next testing cycle. It was originally a bug.

If user chooses avatar from phone gallery (or registered/logged-in with Facebook), s/he has a profile photo that should be displayed. If user does not provide avatar, ng-letter should be displayed.

[2016-06-23 13:41] jterps08 commented on #8
Related: https://github.com/PowerlineApp/powerline-server/pull/140

[2016-06-23 13:46] igaponov commented on #70
We can try

[2016-06-23 15:02] petervojtek commented on #46
already fixed.

[2016-06-23 15:02] #46 closed, assigned to nobody

[2016-06-23 15:07] petervojtek commented on #58
this issue is to exhibit how the app is supposed to be used

[2016-06-23 15:07] #58 closed, assigned to nobody

[2016-06-23 15:07] austinpapp commented on #70
we can work with that. no problems.

[2016-06-24 06:25] petervojtek commented on #70
ok, DELETE micropetition works now which indicates the backend changes has been deployed.

[2016-06-24 06:25] #70 closed, assigned to petervojtek

[2016-06-24 06:28] petervojtek commented on #74
@igaponov , currently I face following behaviour:
1. as `Peter1`, I logged in to app.
2. GET `GET https://api-dev.powerli.ne/api/v2/activities` worked properly.
3. I successfully altered micro-petition description via PUT.
4. I went to newsfeed again to see if the change is propagating, and now `GET https://api-dev.powerli.ne/api/v2/activities` fails with 500 (Internal Server Error)

[2016-06-24 07:20] petervojtek commented on #76
I fixed the original bug as described in issue title.
regarding to expected behaviour described by Jesse -- if I will find out that app behaves differently than Jesse described, I will create new bug regarding it.

[2016-06-24 07:20] #76 closed, assigned to austinpapp

[2016-06-24 12:31] igaponov commented on #68
This endpoint is deprecated. I fixed docs url, check it.

[2016-06-24 13:46] petervojtek commented on #68
@igaponov , for some groups I experience the 404 not found error with v2 api:

I login as user `Jesse1`.
I successfully fetch list of user groups `GET https://api-dev.powerli.ne/api/groups/user-groups/`, OK 200

[code]

Then I try to access group detail:
`GET https://api-dev.powerli.ne/api/v2/groups/267`

And it fails with 404: `{"code":404,"message":"Not Found"}`

 Some other groups work properly

[2016-06-24 14:03] petervojtek opened #81 "User groups are not displayed in list of her groups"
1. Login as `Peter1`
2. visit `http://localhost:8100/#/groups`
3. The page tells 'Looks you havent joined no groups'

but Peter1 is member of NY, New York and Usa groups.

[2016-06-24 14:12] petervojtek commented on #81
@jterps08 , is it intentional that only groups of type COMMON are displayed in list of user groups (http://localhost:8100/#/groups) ?
I.e., groups of type COUNTRY, STATE and LOCAL are currently intentionally filtered out of the list.

[2016-06-24 14:58] igaponov commented on #68
@petervojtek this id is id of UserGroup, not a Group.
Fix for old endpoints: https://github.com/PowerlineApp/powerline-server/pull/155
Anyway, https://api-dev.powerli.ne/api/groups/user-groups/ is deprecated

[2016-06-25 12:10] petervojtek opened #82 "Unable to register user via email -- 500 internal error on backend"
hi @igaponov , few days ago registration via email was working properly [since we resolved this bug](https://github.com/PowerlineApp/powerline-mobile/issues/60#issuecomment-227432232)

However today I tried to register new user and ended up with`500 Internal Server Error`. I made no changes to the registration code since the last bugfix..

[code]

[2016-06-25 12:13] petervojtek commented on #68
thanks for feedback @igaponov , I meesed it up, [this is how I altered the URL](https://github.com/PowerlineApp/powerline-mobile/commit/da4c80700d98f926c314422973b18c53a0efb891), as one can see the old (v1) URLs do already have the mismatch between group and user-group.. I will consult it on Monday what is the view supposed to display..

[2016-06-25 13:07] petervojtek commented on #69
I will fix this issue only after I fix #71

[2016-06-25 17:03] igaponov commented on #82
https://github.com/PowerlineApp/powerline-server/pull/156

[2016-06-27 10:12] petervojtek commented on #71
@igaponov - can you please recommend me which API call should I use to replace this one:
`GET /api/poll/answers/`

Here is the [source code context](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity.js#L298)

Also do I understand properly that Poll = Petition ?

[2016-06-27 11:35] #65 closed, assigned to austinpapp

[2016-06-27 12:43] petervojtek opened #83 "newsfeed - activity counters all set to zero"

[2016-06-27 12:47] #83 closed, assigned to austinpapp

[2016-06-27 12:57] jterps08 commented on #70
Note: We will probably want to limit "Delete" ability to only micropetitions that have **not** been boosted in the future. I will create an independent issue for us to discuss this.

Once a micropetition is boosted (it is sent to all members of the group), deleting a post could be problematic. If we were to allow an author to delete it, he could destroy an important ongoing conversation or he coul

[2016-06-27 12:58] petervojtek opened #84 "Newsfeed counters are not decremented when activity is read"
`POST /api/activities/read/` is not fired when entering activity detail, or fails with `POST https://api-dev.powerli.ne/api/activities/read/ 500 (Internal Server Error)`

[2016-06-27 13:00] petervojtek opened #85 "refactor Activity Read business logic"
now it is spread all along the app, we want it to be in ActivityRead service, or abandon ActivityRead and move it to ActivityModel.

[2016-06-27 13:04] jterps08 commented on #81
Hey Peter - That is correct - Local/State/Country groups are **not** supposed to be listed in Menu>My Groups list

[2016-06-27 13:04] austinpapp commented on #82
fixed in powerlineapp/powerline-server#56 . please confirm this works.

[2016-06-27 13:06] petervojtek opened #86 "Newsfeed: three dots submenu is missing (should be right to the list of groups)"

[2016-06-27 13:08] petervojtek opened #87 "Toggle notification (bell icon) on off not working at all"
and authors of their posts should have the bell enabled (=blue) by default.

[2016-06-27 13:08] #81 closed, assigned to petervojtek

[2016-06-27 13:10] jterps08 commented on #84
The newsfeed counters should count the following:

**Priority Zone Content**
- Unread petitions and unread discussions
- Unanswered polls, events, fundraisers/crowdfunders
- Unanswered _boosted_ posts (micropetitions)

All non-boosted posts (micropetitions) and any "read" or "answered" items above are considered Non-Priority Zone. The backend should provide Priority Zone activity items first befor

[2016-06-27 13:14] petervojtek opened #88 "newsfeed: groups of user A are still displayed when you logout as user A and login as user B"
1. login as Peter1 from NY
2. see groups NY, NY, USA
3. logout as Peter1
4. login as Peter7 (from San Diego)
5. List of groups is: NY, NY, USA.

[2016-06-27 13:16] jterps08 commented on #85
It's worth discussing with @igaponov and @austinpapp to see what role the backend plays (or should play) in dealing with read activities.

[2016-06-27 13:17] petervojtek commented on #82
still fails the same way:

[code]

Actually the user is created (I can use his credentials to login).

[2016-06-27 13:30] jterps08 commented on #87
posts that the user did not author should have the bell disabled (grey) by default.

[2016-06-27 13:31] jterps08 commented on #88
i assume this is a caching issue

[2016-06-27 13:33] austinpapp commented on #44
as stated above, this is being handled in #71

[2016-06-27 13:33] #44 closed, assigned to nobody

[2016-06-27 14:05] igaponov commented on #74
https://github.com/PowerlineApp/powerline-server/pull/157

[2016-06-27 14:12] igaponov commented on #82
PowerlineApp/powerline-server#156 is not deployed yet

[2016-06-27 14:20] igaponov commented on #71
@petervojtek There is no new version of this endpoint now, I will create one.

Petition = Poll (Petition is a type of Poll).

[2016-06-27 14:27] petervojtek opened #89 "Adopt v2 API for Poll answers"
first @igaponov will have to create the backend endpoint (replacement for `GET /api/poll/answers/`)

[2016-06-27 14:28] petervojtek commented on #71
ok, I move the task to #89, as this issue ("switching between groups is not filtering activity items properly") is actually resolved.

[2016-06-27 14:28] #71 closed, assigned to igaponov

[2016-06-27 14:50] petervojtek commented on #68
waiting for @jterps08 to explain terminology..

[2016-06-27 14:52] petervojtek commented on #35
the town, state/province, and country group buttons are already there.
the "more" button is missing, will fix it in #86

[2016-06-27 14:52] #35 closed, assigned to nobody

[2016-06-27 14:52] jterps08 commented on #82
Should be deployed now

[2016-06-27 14:54] petervojtek commented on #82
I confirm it works now.

[2016-06-27 14:54] #82 closed, assigned to austinpapp

[2016-06-27 15:01] jterps08 commented on #68
I _believe_ that UserGroup returned a specific user's pending or joined groups. (e.g. Jesse is joined to Save the Whales and Save the Trees and is waiting for approval to join Save the Earth ... UserGroup showed all three of these).... I think this is now deprecated though and we only use the Groups endpoint

Example of Groups include Save the Whales, Save the Trees, Save the Earth.

Does this hel

[2016-06-27 15:05] austinpapp commented on #82
excellent. yup sorry for the delay on that fix. was testing some CI/CD stuff and this didnt get pushed out. thanks @jterps08

[2016-06-28 05:21] igaponov commented on #89
https://github.com/PowerlineApp/powerline-server/pull/160

[2016-06-28 05:37] petervojtek commented on #68
thanks for clarification, I understand. Now the group master-detail view works.

@jterps08 , There is one thing I would like to ask regarding group status -- in the former source code, [there was condition](https://github.com/PowerlineApp/powerline-mobile/commit/a5567872bd6eee73354003d430151b0d88906a1c#diff-9ac82aea498fc330c73d9b98e781af17L296) that only groups with `status` attribute are allowed

[2016-06-28 05:37] #68 closed, assigned to jterps08

[2016-06-28 05:38] petervojtek opened #90 "Group overview - letters are not sorted ASC"

[2016-06-28 05:42] petervojtek opened #91 "Home page first visit -- occasionally throws Cannot read property 'scrollTo' of null"
[code]

it does not seem to hurt functionality..

[2016-06-28 05:58] #90 closed, assigned to austinpapp

[2016-06-28 06:24] petervojtek commented on #88
still not working perfectly -- must press F5 (reload) to fully wipeout the cache -- need to fix it (to avoid pressing F5).

[2016-06-28 06:45] #88 closed, assigned to petervojtek

[2016-06-28 06:47] petervojtek opened #92 "Keep me logged in radio button is ugly on Android 4.2"
![screenshot_2016-06-28-08-45-53](https://cloud.githubusercontent.com/assets/225506/16406187/e85aa806-3d0c-11e6-81aa-e43263bda42d.png)

[2016-06-28 07:07] petervojtek commented on #86
@jterps08 , this is how I altered the behaviour:

Former behaviour:
- More button was displayed only when there were more than three groups.
- More button icon was always "three dots"
- More button text: was "More" if no group was selected, or group acronym if group was selected

New behaviour:
- More button is always visible
- When no group is selected, More button icon is three dots. when group

[2016-06-28 07:07] #86 closed, assigned to petervojtek

[2016-06-28 07:09] petervojtek opened #93 "Home screen: news feed: "More" groups button has wrong icon offset when button is active."
<img width="761" alt="screen shot 2016-06-28 at 09 08 51" src="https://cloud.githubusercontent.com/assets/225506/16406708/08d96c36-3d10-11e6-9375-b18ad7591a3b.png">

[2016-06-28 07:12] petervojtek commented on #77
Adding user to group via Home screen -> Newsfeed -> More button -> Add group also fails the same way.

[2016-06-28 07:30] petervojtek opened #94 "Home page first visit -- occasionally throws Cannot read property 'confirm' of undefined"
[code]

[2016-06-28 07:46] petervojtek opened #95 "Create new groups fails with XMLHttpRequest cannot load https://api-dev.powerli.ne/api/groups/"
http://localhost:8100/#/groups/create
fill in the form and click Send.

[code]

[2016-06-28 07:56] #77 closed, assigned to petervojtek

[2016-06-28 11:04] petervojtek opened #96 "Unable to switch to My Profile on Android 4.2"
in browser it works.

[2016-06-28 11:12] petervojtek commented on #96
it's only issue of old android 4.2. on newer androids (5) it works.

@jterps08 , which is the minimal version of android we want to support?

[2016-06-28 11:12] petervojtek commented on #92
same issue as #96, occurs only on old androids

[2016-06-28 12:18] jterps08 commented on #96
As long as it works on Android 5 or greater, I'm okay with this issue for now. I don't think it's worth us prioritizing at this point.

[2016-06-28 12:22] jterps08 commented on #95
We may need Angel's help with this (@Shakaran). The new group registration method does not require the same information as the old group registration method.

For background information:
The old group registration actually provided the user, via e-mail, a username and password to log in to the admin dashboard to control the group.
The new group registration method does not provide a separate usern

[2016-06-28 12:33] jterps08 commented on #93
In the screenshot above, the app is also not displaying the town button... All, Town, State, Country... that only lists All, California (State), and US (Country) .Town is missing, which resulted in the More button being in the wrong position.

[2016-06-28 12:35] jterps08 opened #97 "App Store Readiness"
Ensure app name is actually "Powerline" and not "PowerlineApp"
Ensure app permissions for new version are the same as the app permissions that are required in current/old version in the app store now so that existing users do not need to approve of any new permissions. (There should be no need for new permissions).
Ensure Facebook hash has been added to Facebook Developers Console to allow for FB

[2016-06-28 12:38] jterps08 commented on #91
I wonder if this is related to the "Sticky Scrolling" concept. This basically allows the user to scroll down to an item, open it, and go back to the newsfeed and be in the same scroll position.

For example, user opens app, scrolls down to item 54 and opens item 54. User is looking at question template for item 54. user taps back button to go back to newsfeed. Newsfeed position is still item 54. T

[2016-06-28 12:53] jterps08 commented on #68
I'm not sure what the status attribute represents. I _believe_ that this attribute could have referred to whether or not the user was pending or actually joined already to the group. If the user was joined to the group already, it might not show up in search results. I am okay with dropping the condition. This way the user sees both groups he is a part of and groups he is not a part of in search.

[2016-06-28 13:00] jterps08 commented on #54
Closing - duplicate of #87

[2016-06-28 13:00] #54 closed, assigned to nobody

[2016-06-28 13:22] jterps08 opened #98 "Spacing between Bell & Star Icons"
In the Quick Action Bar on the Newsfeed, the Bell (Notifications) and Star (Favorite) icons need more spacing. Spacing between all icons in the Quick Action Bar should be the same as the distance between the double-up (Upvote) and double down (downvote) icons.

[2016-06-28 13:23] jterps08 opened #99 "Quick Follow Icon Missing"
The Quick Action Bar should have display a "Follow/Followed" icon next to posts by other users so that people can be followed easily from the Newsfeed. This icon is missing.

[2016-06-28 13:26] jterps08 opened #100 "Upvote/Downvote Buttons Should Not Appear for Expired Posts"
If a post has expired, the user should no longer be able to upvote or downvote the post.

Note: In the future, we may want to replace the upvote/downvote buttons with a "Like" button (as a separate/independent metric) only after the post has been expired. In other words, the Like button would not appear pre-expiration. It would only appear post-expiration - it would have no impact on boosting.

[2016-06-28 13:29] jterps08 commented on #69
Not sure if this is a dev server issue or not, but there is also a lag time between clicking the submit button on the New Post screen and the time that "toast" appears saying "Sent". The spinner appears during this time. If this is a backend issue, fine. If this is a frontend issue, it would be good for the user to experience a snappier reaction from the app after hitting the submit button.

[2016-06-28 13:30] petervojtek commented on #93
the screenshot above is from user `Peter7`, who is from San Diego. If I do understand properly Jesse's previous comment, this means that `GET https://api-dev.powerli.ne/api/v2/user/groups` should list `San Diego` along the list of groups.

Here is the actual response body from `GET https://api-dev.powerli.ne/api/v2/user/groups`, which features only two groups in `payload` - US and CA. Maybe @igapo

[2016-06-28 13:31] jterps08 opened #101 "Group Profile Screen is missing Profile Data"
Profile data on the Group Profile screen is not appearing. Information regarding name, description, membership, etc. should appear.

[2016-06-28 13:32] jterps08 opened #102 "Unjoining a Group"
When user is on Group Profile screen and clicks "Unjoin", the app stays on the Group Profile page, and it does not appear that the user has left the group. The app should unjoin the user and display the previous screen.

[2016-06-28 13:33] jterps08 opened #103 "Invite Followers to Group Toast"
We need toast to appear after user clicks "Invite" button on Group Profile screen so that the action is confirmed... "Invites sent!" would make sense.

[2016-06-28 13:35] jterps08 opened #104 "UI: User Profile"
Increase size and contrast of displayed user profile information for readability.
User's tagline and bio fields should be displayed.for followed users.

[2016-06-28 13:38] jterps08 opened #105 "App crashes when Saving Profile Photo"
User tries to provide new profile photo via My Profile screen. App crashes and restarts automatically. Newsfeed is empty upon restarting app.

[2016-06-28 13:40] jterps08 opened #106 "Error on Saving Profile Changes"
When user makes any adjustment to Profile (except photo), an error is thrown regarding the "duplicate value already used" in the e-mail address field (even if e-mail address was not changed). All other changes to the My Profile screen cannot be tested as a result of this recurring problem.

[2016-06-28 13:41] jterps08 opened #107 "UI: Other Services Apps List"
Improve readability of all listings, specifically descriptions.

[2016-06-28 13:44] jterps08 commented on #105
It does not appear that the "stay logged in" feature works correctly if the user is crashed out of the app.  The user is brought back into the app (and My Profile shows that it's the same correct logged in user), but the newsfeed is only restored if the user manually logs out and logs back in.

[2016-06-28 13:45] petervojtek commented on #94
root of this bug (which is present only in browser) is that the app is using native notification to ask "Your profile isn\'t finished! Fill it out now?" -- which is not working in browser (but works properly on android).

The way I fixed it means that such notifications are displayed only on smartphones and not in browser (without throwing the error in browser). I would say that this is acceptable

[2016-06-28 13:45] #94 closed, assigned to austinpapp

[2016-06-28 13:45] jterps08 opened #108 "UI Search Results for #hastagged posts"
The format of the search results is the same as a very old version of the newsfeed. Ideally search results (for hashtagged posts) should match the same UI design as the current newsfeed. very low priority.

[2016-06-28 13:47] jterps08 opened #109 "Both Group Selectors Missing Local Group"
The Group Selector on the Newsfeed and the Group Selector on New Post/Petition screen are both missing the Local Group (e.g. Bucklin). State and Country are appearing correctly.

[2016-06-28 13:48] jterps08 opened #110 "UI: New Post/Petition Readability"
The destination (e.g. Bucklin) should brighter, larger and easier to read.

[2016-06-28 13:54] jterps08 opened #111 "Social Activity Counter Behavior"
The social activity feed (2-person icon) should have a blue dot whenever there is new content in the You or Following tabs. However, after opening the feed, that blue dot should immediately disappear regardless of the counters. Similarly, after opening the Following tab, its counter should immediately disappear. The You tab's counter should only reflect the number of follow requests that have not

[2016-06-28 13:57] jterps08 commented on #66
Unable to test Facebook registration or login at this time. (6/28 test)

[2016-06-28 14:01] jterps08 opened #112 "User Registration Experience"
In order to speed up user registration w/ e-mail address, we need to figure out if:
1) Maybe we simply make the user's username the same as their provided e-mail address on the backend and remove the entry field to determine their own username during registration (but keep username field and e-mail address field as separate fields in backend). User can change username (slug e-mail username + rando

[2016-06-28 14:07] jterps08 opened #113 "Newsfeed Loading Extremely Slow During Login"
When user completes registration process (new user jontaffert), the app is very slow to load the user's newsfeed (Group Selector icons and newsfeed content. Not sure if this is frontend or backend issue, but as I write this I am still waiting for newsfeed content to load....

Even if it's not a new user, the newsfeed loading is very slow for existing user when logging in (as JTest55). I have now l

[2016-06-28 14:18] jterps08 opened #114 "Infinite Scrolling"
I want to confirm that we have Lazy Loading / Infinite Scrolling implemented. When the user logs in and the app loads the newsfeed, the app should only be loading a few items at a time and it should load more (paginate) as we scroll down. The implementation should ensure that counters are correct.

[2016-06-28 14:22] jterps08 commented on #93
We should be able to see Town, State, and Country... I don't need Town/State/Country listed in the "My Groups" main menu item. I do need it listed in the 'group selector' element in the newsfeed (and when creating a new post/petition)

[2016-06-28 14:22] jterps08 commented on #94
Solutions that involve less time at this point are definitely better and appreciated!

[2016-06-28 14:56] petervojtek opened #115 "Facebook register successfull, but login fails with "Error: facebook login failed""
1. You must use android device/emulator, it is not working in browser.
2. click to "Register/Login via facebook" button
   3.. Facebook register wizard is opened, entered valid email and password
3. confirm that you allow powerline to access your facebook details.
4. It tells that registration is successful.
5. and then error popup is displayed "Error: facebook login failed".

[2016-06-28 14:57] petervojtek commented on #66
the original bug is fixed, however I experience following one #115.

This whole facebook login use case is currently supported only on mobile devices, not meant to be working in browser (though it is possible to add that).

[2016-06-28 14:57] #66 closed, assigned to petervojtek

[2016-06-29 07:40] petervojtek commented on #95
@igaponov , I tried to use the v2 API to create new group, but ended up with  `400 bad request`. I post all the [necessary data as described in API doc](https://api-dev.powerli.ne/api-doc#post--api-v2-user-groups), but receive `{"code":400,"message":"Validation Failed","errors":{"errors":["This form should not contain extra fields."],"children":{"username":[],"manager_first_name":[],"manager_last_

[2016-06-29 08:00] petervojtek commented on #113
@jterps08 , I cannot reproduce the problem.
I tried to login as `Jesse1` and `Peter7`, from browser and from smartphone, but in all cases the delay since the Login button is pressed until newsfeed content is displayed is cca 3 seconds.

[2016-06-29 08:08] petervojtek commented on #69
@jterps08 , I cannot reproduce some significant lag time between clicking Submit and waiting for toast "Sent" to appear.. in my case there is almost no lag time (maybe 100-200ms).

[2016-06-29 10:43] igaponov commented on #93
@petervojtek There is no `San Diego` group in db for this user. But I tried to register user with the same address and the user had all groups. So, try to register another user with the same city.

[2016-06-29 10:50] igaponov commented on #95
@petervojtek You send `official_title` parameter and form tell you: "This form should not contain extra fields.". You don't send `official_name` parameter and form tell you "official_name":{"errors":["This value should not be blank."]}. I've checked docs and the name of this parameter is `official_name`.

[2016-06-29 12:30] jterps08 commented on #113
Okay - could be my device. I will close for now and re-open if it happens again.

[2016-06-29 12:30] #113 closed, assigned to nobody

[2016-06-29 13:27] petervojtek commented on #95
thank you Igor for help, I apologize I overlooked the `official_title` to `official_name` change. Now it works well.

@jterps08 , I would like to ask on how to present to user form fields `official_address`, `official_city` and `official_state` - should they be plain text fields, or should there be some address lookup (similar as in register via email), or maybe some dropdowns with US state names,

[2016-06-29 13:32] petervojtek opened #116 "Invite users to new group fails with XMLHttpRequest cannot load https://api-dev.powerli.ne/api/invites/."
1. create new group
2. click Invite in top right corner

[code]

[2016-06-29 13:35] jterps08 commented on #69
I will close this for now and re-open if it occurs again. May be my device.

[2016-06-29 13:35] #69 closed, assigned to petervojtek

[2016-06-29 13:35] petervojtek opened #117 "After new group is created, user navigation is confusing"
Once I succcessfully create a group, I am on a screen presenting group detail.

I can navigate myself to other parts of the app only via back button in top left, which guides me back through following screens:
1. "create new group" form
2. Search for group
3. list of groups -- only here I can see in top left corner the toggle menu burger button.

I would rather expect to be guided from group detai

[2016-06-29 13:36] jterps08 commented on #95
@petervojtek - If Official_address, city, and state are not required for new group creation, then I think we can leave them blank _or_ pull in the city and state (only... not address) from the creator's user profile. Thoughts?

[2016-06-29 13:37] petervojtek commented on #95
@jterps08 , they are [mandatory](https://api-dev.powerli.ne/api-doc#post--api-v2-user-groups)

[2016-06-29 13:38] petervojtek opened #118 "After new group is created, it is not immidiately displayed in newsfeed in list of groups"
Currently user must logout and login to see the newly added group.

[2016-06-29 13:48] petervojtek commented on #93
ok, I confirm that newly created user has also `San Diego` group. thanks @igaponov .

The original design bug (with wrong icon offset) remain even after having proper amount of groups, so that I will dive in to css later..

[2016-06-29 14:46] petervojtek commented on #116
@igaponov , there used to be a call `POST https://api-dev.powerli.ne/api/invites/` to invite all user's followers to a group created by the user.

I am not sure which [v2 API call](https://api-dev.powerli.ne/api-doc) is meant to replace it - unless I overlooked it, I cannot see any POST call to invite users to a group, I discovered only this [GET](https://api-dev.powerli.ne/api-doc#get--api-groups

[2016-06-29 15:32] petervojtek commented on #74
ok, it works.

[2016-06-29 15:32] #74 closed, assigned to petervojtek

[2016-06-29 18:19] jterps08 commented on #116
FYI: Eventually, in the future, we will want to allow the user to select "all followers" or choose specific  individual follower(s) to send invite to. I think the current functionality only allows for inviting all followers, which is fine for now.

[2016-06-29 18:20] jterps08 commented on #117
Agreed - let's re-direct to My Groups instead.

[2016-06-29 18:24] jterps08 commented on #95
@igaponov can we change this or will it break something? I would like the only required fields to be: official name, official type, official description, manager first, manager last, manager e-mail... Do we need username now that Angel created single-sign on? If not, let's not include that. All other fields can be filled out later I think. Trying to make creation of a new group as quick as possibl

[2016-06-29 18:44] igaponov commented on #116
@jterps08 now it's possible only to choose specific users and specific groups.

P.S. Should it be possible to invite only followers? Now there is no this validation.

[2016-06-29 20:31] jterps08 commented on #116
This feature was originally intended to allow a user to invite all of his followers to join a specific group. It used to work, but it may have been changed. That's okay.

Given what you are saying @igaponov, I think we want this feature to behave this way moving forward:
1 - User can invite specific users to join group (followers and non-followers) by manually selecting from user's followers list

[2016-06-29 20:39] jterps08 commented on #116
@petervojtek - It may make sense to hide/disable/remove this UI element while we wait for the backend to update and simply re-purpose this issue as an enhancement. Your thoughts?

[2016-06-30 05:57] petervojtek commented on #116
@jterps08 , ok, I removed the button.

[2016-06-30 06:09] petervojtek commented on #109
I cannot reproduce this bug with user `Peter10` , I see all his groups properly.  It seems to affects only older users while newly created users are [fine due to this Igor's comment](https://github.com/PowerlineApp/powerline-mobile/issues/93#issuecomment-229321702).

I confirm that when I log in as `Jesse1`, I cannot see `Bucklin` group in the newsfeed filter nor in the new post/petition screen.

[2016-06-30 06:54] petervojtek commented on #84
current behaviour is following:

The newsfeed counter numbers are computed on frontend via following business logic for given group:
 when activity item has`NOT answered && NOT closed && NOT ignore_count`, then increase the group's newsfeed counter by 1.

It does not seem to take into account whether a post/petition is boosted or not at all (actually I have not met the words `boost/boosted` anywhe

[2016-06-30 07:14] petervojtek opened #119 "Social activity - clicking on detail fails with TypeError: Cannot read property 'type' of undefined"
http://localhost:8100/#/influences/notifications

clicking on `Peter10 commented on your post`fails with

[code]

[2016-06-30 08:45] petervojtek opened #120 "Social feed: The You tab's counter should only reflect the number of follow requests that have not been Ignored."
currently it counts every request, disregarding if it is ignored or not.

[2016-06-30 08:47] petervojtek opened #121 "Newsfeed: red dots are not displayed with items which do infuence notification counter"
https://github.com/PowerlineApp/powerline-mobile/issues/111#issue-162691847

[2016-06-30 08:48] petervojtek commented on #111
@jterps08 , I altered the counter behaviour so that:
- Once you visit a social feed, the blue counter new 2-person icon disapears
- Once you visit the social feed - Following, the counter new Following title disapears

The "hide" behaviour applies only is context of current session. This means,
when you reload the app (in browser by F5, in smartphone by closing the app and turning it on again), th

[2016-06-30 08:48] #111 closed, assigned to jterps08

[2016-06-30 11:28] petervojtek commented on #120
@jterps08 , does it makes sense to both Ignore and Follow the same person? Currently it is possible.

[2016-06-30 11:44] petervojtek opened #122 "switch social follows.js to v2 api (follow/unfollow/approve/unapprove)"

[2016-06-30 11:44] #120 closed, assigned to jterps08

[2016-06-30 12:08] petervojtek commented on #87
@igaponov , can you recommend me which API call should I use to subscribe an user to an activity (e.g. Post) so that the user will later receive notifications related to the activity?

I discovered [POST /api/users/self/subscriptions](https://api-dev.powerli.ne/api-doc#post--api-users-self-subscriptions), however the API doc is empty and thus I don't know what I am supposed to submit.

In the form

[2016-06-30 12:19] petervojtek commented on #118
@igaponov, I am currently unable to create new group, response is `{"error":{"code":403,"message":"Forbidden"}}`.

[code]

[2016-06-30 12:37] petervojtek commented on #119
@igaponov , is it intentional that some activity items in `GET https://api-dev.powerli.ne/api/v2/user/social-activities` lack the `target` attribute?

I successfully `GET https://api-dev.powerli.ne/api/v2/user/social-activities`, hovewer some of the activities lacks `target` attribute, which is used in the former mobile app code to navigate to the activity detail.

Example:

[code]

Now I pick act

[2016-06-30 12:43] jterps08 commented on #109
We have about 400 users in production. Is there a way to quickly update it to make sure they have their local groups, @igaponov ? If it's simple, we can make this a backend item...

[2016-06-30 12:46] petervojtek commented on #47
duplicate of #121.

[2016-06-30 12:46] #47 closed, assigned to nobody

[2016-06-30 12:54] petervojtek commented on #121
here [is explaned](https://github.com/PowerlineApp/powerline-mobile/issues/84#issuecomment-228740654) what should be marked with red dots.

[2016-06-30 12:55] petervojtek commented on #121
waiting for [#84](https://github.com/PowerlineApp/powerline-mobile/issues/84#issuecomment-229575296) to be answered.

[2016-06-30 13:17] jterps08 commented on #84
Few thoughts:
1) Boosted = Publish_status on the micropetition (https://github.com/PowerlineApp/powerline-server/wiki/Micropetition)
2) I think @igaponov may need to clarify what the backend is doing exactly in this PR (https://github.com/PowerlineApp/powerline-server/pull/113)
3) The way we need the app to work is described in https://github.com/PowerlineApp/powerline-server/issues/58... I believ

[2016-06-30 13:18] jterps08 commented on #47
Anything that is considered Priority Zone (unread/unanswered as explained elsewhere) should have this little red dot in the UI. I will try to find screenshot showing it how it worked previously.

[2016-06-30 14:32] petervojtek commented on #47
not necessary, I found in in the html, it is a red dot below persons avatar/ng-letter.

[2016-06-30 14:55] jterps08 commented on #120
@petervojtek - thanks for this question. Yes, it's possible to want to ignore someone's request to follow you, but still want to try to follow them (and vice versa)... The thinking is this: Followers/Followed Users on Powerline are really very different from Twitter, for example, because of the type of data sent to an approved follower. Each one of your followers is notified with a push notificati

[2016-06-30 14:58] jterps08 commented on #87
Follow/Subscribe to a Post that you did not author - https://github.com/PowerlineApp/powerline-server/pull/60

Mute/Unmute the notifications from a post you did author  - https://github.com/PowerlineApp/powerline-server/pull/53

[2016-06-30 16:38] igaponov commented on #87
@petervojtek
submit

[code]

[2016-06-30 16:42] igaponov commented on #84
@jterps08 in that PR activities were sorted on backend, no need to sort it on frontend now.

@petervojtek each activity now has boolean attribute `read`

[2016-06-30 16:46] igaponov commented on #109
@jterps08 we can't just add it to db. There are some handlers on event `group join`. For example, we need to subscribe user with Mailgun API. But I can add console command to do this and we will run it on server once.

[2016-06-30 16:51] jterps08 commented on #119
Ideally, we should be able to jump directly to the item referenced in the social activity. If this is a lot of work, we can delay acting on it.

[2016-06-30 16:53] jterps08 commented on #120
@petervojtek - thanks for this question. Yes, it's possible to ignore someone's request to follow you, but still want to try to follow them (and vice versa)... The thinking is this: Followers/Followed Users on Powerline are really very different from Twitter, for example. Each one of your followers is notified with a push notification alert when you create a new post in the same group. They can se

[2016-06-30 18:12] igaponov commented on #119
There is only one case without target - `own post voted`.
I can add target for this type, but can't add info to db. Frontend can handle empty target or I can delete social activities with empty target.
@jterps08 your choice?

[2016-07-01 03:39] jterps08 commented on #119
Delete the social activities with empty target and start adding target for this type going forward. please. Thank you!

[2016-07-01 05:44] igaponov commented on #119
https://github.com/PowerlineApp/powerline-server/pull/163

[2016-07-01 06:26] petervojtek commented on #87
@igaponov, and how do I unsubscribe?

[2016-07-01 07:08] petervojtek opened #123 "Create new Petition/Post -- in both cases the created entity is labeled as micro-petition"
When I create Petition (ID=177), currently the code is using:

[code]

and then in `GET /api/v2/activities` receive:

[code]

What is confusing is that in `GET /api/v2/activities`, the `entity.type` is `micro-petition`, despite in POST request it was labeled as `type: long petition`.

For completeness, when I create micro-petition (Post, ID=178), I use:

[code]

and then in `GET /api/v2/activities

[2016-07-01 07:15] petervojtek commented on #123
@igaponov ,  I guess I could fix this bug by using v2 API, I would like to confirm which endpoints should I use:
- To create new micro-petition, I should use [POST /api/v2/groups/{id}/micro-petitions](https://api-dev.powerli.ne/api-doc#post--api-v2-groups-{id}-micro-petitions) -- the `type` attribute should be `quorum` in such case?
- I am not sure which endpoint am I supposed to use to create Pet

[2016-07-01 07:55] igaponov commented on #87
@petervojtek there is no way to unsubscribe now, wait for v2

[2016-07-01 08:00] igaponov commented on #123
@petervojtek
- `type` can be `quorum`, `open letter` or `long petition`
- If you want to create a Petition that is a type of Poll, I'm working on this endpoint now.

[2016-07-01 08:19] petervojtek commented on #84
blocked by #130

[2016-07-01 11:53] austinpapp commented on #119
https://github.com/PowerlineApp/powerline-server/pull/163 didn't deploy right. working with igor on this. hold on

[2016-07-01 12:20] petervojtek commented on #123
thanks @igaponov , let's wait for @jterps08 's decision:

Jesse - currently it is possible from mobile app create only Micro petition due to missing/work-in-progress API calls on other types of content. please let us know what are the priorities regarding other types of content.

[2016-07-01 13:40] jterps08 commented on #87
We need to have the ability for a user to unsubscribe, too. I'll create an issue.

[2016-07-01 13:44] jterps08 commented on #123
@petervojtek - For the group member, they can create two items: Posts (quorum) and petitions (long petition). Both of these are possible with current API.

Per Igor's comment above, when group leaders create a petition, there are more options because it's actually a type of Question/Poll... Leaders (group creator/assigned-managers) do not need to create content through the mobile app at this time

[2016-07-01 13:56] petervojtek commented on #123
@jterps08 , I am confused by your response "For the group member, they can create two items: Posts (quorum) and petitions (long petition). Both of these are possible with current API.".

In gui of mobile app, there is a button in top right corner, when you click it, it has two options:
- New Post
- New Petition

No matter if you use one, or the other way, you end up with activity item which is lab

[2016-07-01 21:36] jterps08 commented on #123
"with activity item which is labeled as type: micropetition"

Newsfeed (3person icon) or Social Activity Feed (2person icon)?
Micropetition:quorum (post) vs micropetion:long petition (petition) -- Both are created by any group member with no special leader (group creator/managers) rights.

Group leaders (creator/managers) have their own set of content that they can create (polls, fundraisers, etc.

[2016-07-04 05:44] petervojtek commented on #123
@jterps08 , My previous comment regards to newsfeed activities. No matter if I create a Post, or a Petition (as described in my first comment in this issue), backend will serve both of them labeled as `type: micro-petition` -- I only guess this is not intended behaviour.

This results in rendering detail of both Post and Petition as a micro-petition template:

This one was creted as a Petition (ID

[2016-07-04 06:05] petervojtek opened #124 "My influences - Search - is not working immidiately"
User must click the search button to perform the search, which is confusing, because in other app views the search is triggered immidiately (e.g. My groups -> search, Register new user -> address).

[2016-07-04 06:11] petervojtek opened #125 "Newsfeed: add bookmark (star icon) not working at all"
No business logic is bind to the star button click.

[2016-07-04 06:54] petervojtek commented on #125
this issue is currently blocked by #123 .

When I try to use `POST /api/bookmarks/add/{type}/{itemId}`, I don't know which `type` am I supposed to set in the post request, because each activity currently has `type=micro-petition`, however the [POST /api/bookmarks/add](https://api-dev.powerli.ne/api-doc#post--api-bookmarks-add-{type}-{itemId}) allow only following types: `petition|petition_comment|

[2016-07-04 06:55] petervojtek opened #126 "Refactor favorite.js"
there is lot of duplicate code from home.js

[2016-07-04 07:14] petervojtek commented on #126
duplicate of #37

[2016-07-04 07:14] #126 closed, assigned to nobody

[2016-07-04 08:12] petervojtek commented on #37
@jterps08 ,  I am trying to render list of bookmarked items. I don't know how is the list supposed to look like, but I guess it should be similar to the newsfeed, e.g. each activity should exhibit at least its author, title and description.

However `GET /api/bookmarks/list/` is not providing the bookmarked item's title and description and I am not sure if this is intentional or not.

E.g., here i

[2016-07-04 11:44] petervojtek opened #127 "Newsfeed: comment counter is zero disregarding the actual number of comments"

[2016-07-04 11:45] petervojtek commented on #48
fixed the group name here. will fix the comment counter in #127

[2016-07-04 11:45] #48 closed, assigned to austinpapp

[2016-07-04 12:40] petervojtek commented on #127
@jterps08 , in newsfeed next to each activity is a counter which currently displays attribute  `responses_count` as is provided by backend API.
Based on my experiments, the counter corresponds to number of votes (see screenshot). The counter is not taking into account number of comments of a Post. I am not sure if it is intended behaviour that it ignores comments, or not.

<img width="717" alt="sc

[2016-07-04 14:12] austinpapp commented on #119
163 went out.

[2016-07-04 18:00] austinpapp commented on #123
@petervojtek
`id: 177` would be a _user petition_
`id: 178` would be a _user post_

technically these are both micro-petitions. however, the type should come back (IMHO) as a type of _micro-petition_ as a _long-petition_ and _quorum_ respectively. we can then handle display and options correctly. type of just _micro-petition_ is not clear enough

@jterps08 can you verify this please.

[2016-07-04 18:13] austinpapp commented on #37
so in this case we are simply missing the detail attribute of the post (id:10) ?

[2016-07-04 18:50] petervojtek commented on #37
hi @austinpapp , I am not sure what you mean by detail attribute.
If Favorites should be rendered the same way newsfeed is rendered, there should be at least following attributes:
- title
- description
- author
- group_id
- created_at

As you can see, this one is missing almost all of them: `{"id":10,"item_id":175,"type":"post","created_at":"Mon, 04 Jul 2016 06:47:08 +0000"},`

However I am not su

[2016-07-05 02:20] jterps08 commented on #125
@petervojtek I think you can save it with type = post.

@habibillah can you confirm?

[2016-07-05 02:25] jterps08 commented on #127
Let's come back to the comment counter issue later... Thanks!

[2016-07-05 02:29] jterps08 commented on #123
If it's a user petition, there is only one answer (Sign). If its a user post, there are two answers (Upvote and Downvote).... Does this answer your question? A user cannot create a leader petition in the mobile app, only a user petition (long micropetition) or a user post (quorum micropetition).

[2016-07-05 02:31] jterps08 commented on #37
Ideally, we want the items displayed in the same format as they are on the newsfeed. If this was not properly designed from a backend standpoint to minimize API calls, let's fix the backend instead and delay this.

[2016-07-05 05:43] habibillah commented on #125
The correct `type` to bookmark is `petition|petition_comment|petition_answer|poll|poll_comment|poll_answer|post`. `all` type just for `GET` method.

`micro-petition` type is unknown type when I write for bookmark API. I believe it's a new type, a replacement of another, or something wrong(e.g it should be a `petition` instead of `micro-petition`)

[2016-07-05 05:54] habibillah commented on #125
Saving the type as another type may return success response, but you can't retrieve what you has been saved.

[2016-07-05 06:41] petervojtek opened #128 "Home - Messages screen is not displaying data properly"
I am not sure what is supposed to be there, but this looks weird:

<img width="772" alt="screen shot 2016-07-05 at 08 40 55" src="https://cloud.githubusercontent.com/assets/225506/16575938/47e41eea-428c-11e6-8bf5-8ebdfa9f2103.png">

[2016-07-05 06:45] petervojtek opened #129 "After user joins group, the group in not displayed in newsfeed's list of group"
user must logoout & login to see the new group.
Very similar to #118

[2016-07-05 06:47] petervojtek commented on #119
thanks, works well.

[2016-07-05 06:47] #119 closed, assigned to petervojtek

[2016-07-05 07:53] petervojtek commented on #125
ok, I brought the bookmark icon in newsfeed to life.

Until things settle down in #123, I use [following hack](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity/activity-model.js#L86) to distinguish between User post and User petition:
- when `type==micro-petition && title.length>0`, I treat it as a User petition (and send `type=petition` in `/api/bookmarks/add

[2016-07-05 08:02] petervojtek commented on #125
[code]

[2016-07-05 08:02] #125 closed, assigned to austinpapp

[2016-07-05 08:34] petervojtek opened #130 "Update activity.isInNotificationZone() business logic to correspond specification"
As described [here](https://github.com/PowerlineApp/powerline-mobile/issues/84#issuecomment-229654694):
- unread Petitions - DONE
- unread Discussions
- unanswered polls
- unanswered fundraisers
- unanswered events
- unanswered boosted posts that are not expired - DONE

[2016-07-05 09:01] petervojtek commented on #84
I split this issue into several smaller other issue, see references. This issue deals only with the original bug in title: "Newsfeed counters are not decremented when activity is read"

[2016-07-05 09:02] petervojtek opened #131 "Sort newsfeed activity items in regards to priority zone rules"
obey following order as specified in #84:
1. Prioritized Zone, listed chronologically
2. Non-Prioritized Zone, listed chronologically beginning _after _the oldest priority item
3. Expired Zone, listed chronologically beginning after the oldest non-expired, non-priority zone item.

[2016-07-05 09:03] petervojtek commented on #131
blocked by #130

[2016-07-05 09:12] petervojtek commented on #121
fixed in #130

[2016-07-05 09:12] #121 closed, assigned to nobody

[2016-07-05 09:17] #131 closed, assigned to austinpapp

[2016-07-05 09:56] petervojtek commented on #130
@jterps08 , in order to add priority zone detection for items below, I need t be able to somehow create them for testing purposes.
- unread Discussions
- unanswered polls
- unanswered fundraisers
- unanswered events

I am able to login to https://dev.powerli.ne/#/login as `JTest1`, however I would rather use my login `Peter10` (which is unable to login there).

However I am also not sure what is t

[2016-07-05 13:12] petervojtek commented on #84
@igaponov , I am confused by following backend API behaviour - I am not sure if I am using API in a wrong way or not:

 I experience following behaviour:
1. GET list of activites, activity.entity.id=176 has `read=false`
2. PATCH for activity.entity.id=176 with `read=true`
3. then I again GET list of activites, but the activity=176 still has `read=false` while I expect it to provide `read=true`

De

[2016-07-05 13:22] petervojtek commented on #85
done as a side effect of fixing #84 in 65409a4fd3c54b5159

[2016-07-05 13:22] #85 closed, assigned to nobody

[2016-07-05 13:27] jterps08 commented on #128
This is the announcements screen. It's supposed to display new announcements sent by any leaders. Users cannot comment or upvote or otherwise interact with announcements. They are one-direction only. Ideally, users can easily share the announcement itself directly to their Facebook, LinkedIn, and Twitter networks. If there are no announcements to display, the share buttons should not display.

[2016-07-05 13:29] jterps08 commented on #125
Crafty solution - thanks Peter
and thank you @habibillah for your quick reply.

[2016-07-05 13:32] jterps08 commented on #130
Yes, @petervojtek - this is what Marcin is supposed to be working on and it is supposed to be complete. This is why it may make sense for you to spend a 2 or 3 days looking at the web app. I myself have not been able to test the creation of polls, fundraisers, etc. because we don't have this functionality built in the web app (the old API had it located at admin.powerli.ne, but the old API is the

[2016-07-05 13:44] austinpapp commented on #125
we will just need to take note of the work around (it maybe useful to comment on that in code @petervojtek) .

[2016-07-05 14:00] petervojtek commented on #125
@austinpapp , there is such a [comment in source code](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity/activity-model.js#L75)

[2016-07-05 14:07] austinpapp commented on #125
man! clearly i did not have enough coffee this morning!!! thanks.

[2016-07-05 14:21] petervojtek opened #132 "Resurrect on-device Groups caching"

[2016-07-05 14:22] petervojtek commented on #129
I fixed it, however in order to make code more readable and app behaviour more deterministic, I removed the in-browser group cache -- this may slow down a bit the experience of visiting the newsfeed page.
I will bring back the groups in-device cache some day later (I created an issue for that --#132), but currently I do not thing it is that important.

[2016-07-05 14:22] #129 closed, assigned to austinpapp

[2016-07-05 14:24] petervojtek opened #133 "Unjoin group fails with 405 (Method Not Allowed)"
[code]

[2016-07-05 14:33] petervojtek commented on #133
@igaponov , I have a problem that when I try to unjoin a group, backend throws `405 Method Not Allowed`:

I can join group successfully:

[code]

however when trying to unjoin a group, I receive:

[code]

I searched the API doc, however the `api/groups/join` calls seems to be undocumented and there does not seem to be `v2` replacement for join/unjoin api call for regular user.

[2016-07-05 14:43] jterps08 commented on #129
Okay - as long as it does not have too negative of an impact on the newsfeed experience, I am good. I want to avoid a slow loading newsfeed as much as possible...

[2016-07-05 16:12] austinpapp commented on #133
@igaponov we moved `app_dev.php` to be `app.php` so i'm not sure if that altered any `DELETE` action. might be worth a look and/or clean up on `app_dev.php`

[2016-07-05 17:38] igaponov commented on #133
@petervojtek actually, for unjoin you should use /api/groups/unjoin/287 endpoint, but I've made v2:
https://github.com/PowerlineApp/powerline-server/pull/168

[2016-07-05 17:42] austinpapp commented on #133
@igaponov PowerlineApp/powerline-server#168 is merged. can you deploy to dev for me? thanks.

[2016-07-05 18:18] igaponov commented on #133
deployed

[2016-07-05 18:51] igaponov commented on #84
@petervojtek you should use `activity.id`. There is an error with query to retrieve activities to mark as read, it's fixed in https://github.com/PowerlineApp/powerline-server/pull/169

[2016-07-05 18:55] austinpapp commented on #84
PowerlineApp/powerline-server#169 merged. just needs to be deployed.

[2016-07-05 19:12] igaponov commented on #84
deployed

[2016-07-06 05:48] petervojtek commented on #84
@igaponov , thanks, I adopted the acivity.id.

Currently the PATCH read request fails with error 500:

[code]

 Despite the error 500, the read=true is however is set properly, as the subsequent `GET activities` properly provides `read=true` for activity 406.

[2016-07-06 06:24] petervojtek opened #134 "UX while joining a group is confusing"
When user is about to join new group, she is navigated via following three screens:

01:
<img width="776" alt="01" src="https://cloud.githubusercontent.com/assets/225506/16609180/1e4b71f2-4352-11e6-9087-6dd2debbe7f1.png">

02:
<img width="779" alt="02" src="https://cloud.githubusercontent.com/assets/225506/16609181/22673a6e-4352-11e6-8210-7325519a9626.png">

03:
<img width="773" alt="03" src="http

[2016-07-06 06:25] petervojtek commented on #133
thanks, I adopted the v2 api. it works.

[2016-07-06 06:25] #133 closed, assigned to austinpapp

[2016-07-06 06:29] petervojtek commented on #102
now the behaviour is, that unjoin works thanks to #133, but after successfull Unjoin, user stays at the group page.

[2016-07-06 06:41] petervojtek commented on #53
@jterps08 , regarding this request:

Are you sure you want it that way?
I personally find it confusing from UX point of view, because the only way how user can enter Favorites is via main (burger) menu in top left corner of Home screen. I would rather expect that the Favorites page will display the burger menu in top left corner as well, instead of back button.

Currently the Favorites screen disp

[2016-07-06 06:47] petervojtek commented on #57
I experienced this behaviour as well, but since I f[ixed several bugs](https://github.com/PowerlineApp/powerline-mobile/issues/129#issuecomment-230492545) related to groups selector, this bug seems no longer present.

[2016-07-06 06:47] #57 closed, assigned to jterps08

[2016-07-06 07:06] petervojtek opened #135 "notifications.js:7 Uncaught TypeError: Cannot read property 'init' of undefined"
`notifications.js:7 Uncaught TypeError: Cannot read property 'init' of undefined`

it happened on android devices/emulator. It probably prevents push notification from working at all.

[2016-07-06 07:11] petervojtek commented on #105
Cannot reproduce (on Android 6, update profile photo works well.)
@jterps08 , can you tell me which android version you use?

[2016-07-06 07:30] petervojtek commented on #34
there was a bug in frontent business logic.

[2016-07-06 07:30] #34 closed, assigned to austinpapp

[2016-07-06 07:55] petervojtek commented on #106
@igaponov, we face two issues related to user profile update:

### Problem 1: unable to change users email in profile

Editing profile works well except when I try to change user's email. In such case it fails in following manner:

[code]

### Problem2 : unable to edit profile for old users due to email:This value is already used.

Then there seems to be a bug which is present only for old users (

[2016-07-06 08:01] petervojtek commented on #80
this bug is present only on old (4.2) androids. on  android 5 and 6 the popup is not displayed, however the warning is displayed in console.

[2016-07-06 08:07] petervojtek opened #136 "Favorites screen fails with TypeError: bookmarkedIDs.includes is not a function"
user Peter12:

[code]

[2016-07-06 08:10] petervojtek commented on #115
maybe am I supposed to have facebook app installed on smartphone as well?

[2016-07-06 12:48] #136 closed, assigned to petervojtek

[2016-07-06 12:59] #128 closed, assigned to austinpapp

[2016-07-06 13:11] jterps08 commented on #134
The correct behavior _should_ be this:
1) User clicks Join button
(Next screen show depends on group settings)
2a) If group is set to open membership (no manual review required or no passcode required), the app should just show that the user has been joined to the group.
2b) if group is set to manual review required, the app should display a message saying Pending Approval.
2c) If group is set to

[2016-07-06 13:13] jterps08 commented on #102
Okay - I'm going to change this to enhancement, since it's really a UI issue not a bug anymore.

[2016-07-06 13:14] jterps08 commented on #53
Let's do it your way!

[2016-07-06 13:15] petervojtek commented on #53
ok, so it's done :)

[2016-07-06 13:15] #53 closed, assigned to petervojtek

[2016-07-06 13:16] jterps08 commented on #105
I'm using Android 5.0.1 on a Galaxy S4...

[2016-07-06 13:31] jterps08 commented on #106
@petervojtek  Just for reference: The intended behavior is as follows --
1)  We never allowed user to change e-mail previously. We do not need to accommodate this change from a backend standpoint yet (maybe in the future - we'll just need corresponding UI to confirm the new e-mail address along with a confirmation e-mail link to confirm real e-mail address).
2) _I believe_ that we did allow the us

[2016-07-06 13:33] petervojtek opened #137 "Newsfeed: group name in activity may appear after some delay"
this is due to the groups are loaded asynchronously without caching and $scope.$apply is not called immidiately they are loaded.
It is possible that this bug will be fixed with #132

[2016-07-06 13:34] jterps08 commented on #115
@petervojtek - I believe this only works if the user has Facebook app installed as well.

Ideally, we would have it so that the user does not need the Facebook app installed (so that they can manually enter their Facebook credentials without needing the app), but that might need to be a separate enhancement...

[2016-07-06 13:35] petervojtek commented on #91
it seems the [scrollTop method](http://stackoverflow.com/a/33064710/4606227) was called too early.

[2016-07-06 13:40] jterps08 commented on #130
Austin - can we utilize Apigee to do this? I'll need help with some examples as I haven't had this experience before (but gladly am looking forward to doing it)... Perhaps we can leverage these examples to include them in the api-doc too...

[2016-07-06 14:27] petervojtek commented on #135
the bug was caused by missing cordova push notification plugin.

I configured ionic in such a manner that push notification backend's `SENDER_ID` is [set here](https://github.com/PowerlineApp/powerline-mobile/blob/develop/config.xml#L68). Currently the `SENDER_ID` there is from [dev.js](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/config/dev.js#L7). We should not forget to cha

[2016-07-06 14:27] #135 closed, assigned to austinpapp

[2016-07-06 14:28] petervojtek opened #138 "Notification.confirm(string, function, string, string) is deprecated. Use Notification.confirm(string, function, string, array)"
plugins/cordova-plugin-dialogs/www/notification.js:61 Notification.confirm(string, function, string, string) is deprecated.  Use Notification.confirm(string, function,

[2016-07-06 14:29] petervojtek opened #139 "flurry analytics not initialized properly: Uncaught TypeError: Cannot read property 'startSession' of undefined"
services/flurry.js:14.

[2016-07-06 14:41] jterps08 commented on #135
Just to be clear, we should be leveraging this push notification plugin:

https://github.com/phonegap/phonegap-plugin-push

It has many features we require (action buttons, long notification messages/titles/avatars, badge control, etc.)... @petervojtek

[2016-07-06 14:42] jterps08 commented on #139
We really don't use Flurry - so if its easier to remove/disable it instead of fixing it, feel free to do so.

[2016-07-06 14:47] petervojtek commented on #139
@jterps08 , currently flurry logging is spread all along the app - should I remove it?

[2016-07-06 14:51] petervojtek commented on #135
yes, that is the one I resurrected..

[2016-07-06 16:49] austinpapp commented on #130
@jterps08 yup. any method to call the endpoints will work.

we can always start to build out https://github.com/PowerlineApp/powerline-testsuite which was used to hit the endpoints in some expected workflow. we'll chat offline.

[2016-07-06 17:51] igaponov commented on #118
@petervojtek probably you've reached a limit of groups, each user can have only 5.

[2016-07-06 18:33] igaponov commented on #84
https://github.com/PowerlineApp/powerline-server/pull/170

[2016-07-06 20:51] igaponov commented on #87
Move this functionality to v2 and add unsubscribe endpoint: https://github.com/PowerlineApp/powerline-server/pull/171

[2016-07-06 20:59] jterps08 commented on #139
@petervojtek You should do whatever is less effort :-) As long as it doesn't cause any problems, you can just leave it there. I think we're going to need to use Mixpanel a lot more instead in the future using their JS library for certain actions.

[2016-07-06 21:02] jterps08 commented on #118
@igaponov What is this group limit of 5? I don't remember limiting the number of groups a user could create or join... I do remember creating a leader-controlled limit on how many posts a user could create in a month in a given group. Please clarify when you get a chance. No rush.

[2016-07-07 00:26] austinpapp commented on #84
PowerlineApp/powerline-server#170 deployed

[2016-07-07 00:30] austinpapp commented on #87
PowerlineApp/powerline-server#171 deployed

[2016-07-07 04:23] igaponov commented on #118
@jterps08 I've just copied this from the [old endpoint](https://github.com/igaponov/powerline-server/blob/312a9c98dff2cd13636e5dd4c4350f64b5dc8418/backend/src/Civix/ApiBundle/Controller/GroupController.php#L53):

[code]

[2016-07-07 04:29] igaponov commented on #123
@petervojtek should I do something for this issue?

[2016-07-07 04:39] igaponov commented on #106
@jterps08 accordig to the code:
1. We [did](https://github.com/PowerlineApp/powerline-server/blob/develop/backend/src/Civix/ApiBundle/Controller/ProfileController.php#L232) allow user to change his email. And this 500 error is because the server can't connect to payment gateway to change customer's email.
2. I see many duplicated emails in dev db. Maybe before there was no unique validator and the

[2016-07-07 05:16] petervojtek commented on #84
@igaponov , I still experience the error, this time with different error detail:

[code]

[2016-07-07 05:18] petervojtek commented on #87
ok, it works.

[2016-07-07 05:18] #87 closed, assigned to austinpapp

[2016-07-07 05:27] petervojtek commented on #123
@igaponov, (please correct me if I am wrong), but currently given the information provided by `GET  /api/v2/activities` it is not possible to explicitly distinguish if activity is `User petition` or `User post`, because both of them has set `type=micro-petition`.

Well, technically it is possible to distinguish between them, because _it is known_ that `User post` has always blank attribute `title`

[2016-07-07 06:11] petervojtek commented on #139
ok, flurry is removed.

[2016-07-07 06:11] #139 closed, assigned to nobody

[2016-07-07 06:49] petervojtek commented on #105
@jterps08 , I am unable to reproduce the bug -  I used emulator with android 5.0.1, but the app did not crashed and photo in profile was updated successfully.

Let's see with the next apk if you will still face this problem with your smartphone..

[2016-07-07 06:49] #105 closed, assigned to jterps08

[2016-07-07 06:56] petervojtek opened #140 "My Profile: file:///android_asset/www/%7B%7B(profile.avatar_src_prefix%7C%7C'')%20+%20profile.avatar_file_name%7D%7D net::ERR_FILE_NOT_FOUND"
Happens on android 5.0.1 when entering My profile (for user which has not profile photo).
does not seem to harm UX.

[code]

[2016-07-07 07:34] petervojtek opened #141 "Newsfeed displays activities from group I am not subscribed to"
@jterps08 , I am not sure if this is intended behaviour or not:

Users Peter10 and Peter12 do follow each other.
1. as user `Peter12`, I create used group named `Peter12Group1`
2. as user `Peter12`, I poste new User petition to the group `Peter12Group1`
3. I login as user `Peter10`, and despite `Peter10` did not joined `Peter12Group1`, in his newfseed (tab All), he can see the User petition.

[2016-07-07 08:17] igaponov commented on #123
@petervojtek petition must have `entity.type` = `petition` and post must have `entity.type` = `micro-petition`. Can you tell me ids of activities with a wrong type?

[2016-07-07 08:35] petervojtek commented on #123
@igaponov, in `GET https://api-dev.powerli.ne/api/v2/activities` for user `Peter10`, every activity seems to have `type=micro-petition`:

[code]

[2016-07-07 09:03] igaponov commented on #84
https://github.com/PowerlineApp/powerline-server/pull/173

[2016-07-07 09:09] igaponov commented on #123
@petervojtek that means they are all micropetitions. Do you know an id of a petition activity?

[2016-07-07 09:14] petervojtek commented on #123
@igaponov , if you take a look at the [first comment on this issue](https://github.com/PowerlineApp/powerline-mobile/issues/123#issue-163333043), you will see that I am able to create only `User petitions` and `User posts`. Both of them are `micro-petitions`, so technically the `type=micro-petition` is valid infromation, however my question is how am I supposed to determine if a micro-petitions's

[2016-07-07 09:38] igaponov commented on #123
@petervojtek ok, I understand now. You can create only `micropetition` with `POST /api/v2/groups/{id}/micro-petitions` endpoint, so all your activities must have type `micro-petition` now. You will be able to create `petition` (that is a type of Poll) when I finish my task about a leader content.

[2016-07-07 09:42] petervojtek commented on #123
@igaponov , I am not sure if we understand each other. let's rather wait for @jterps08 to read this conversation and tell us what is the API supposed to provide in context of the use cases which should be provided by mobile app.

[2016-07-07 10:59] petervojtek commented on #134
@igaponov , can you please tell me list of possible values for attribute `membership_control` in [`GET https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id}`](https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id})

This attribute has changed from `int` (v1) to `string` (v2). Currently I only know that one possible value is 'membership_control:public`.

Out of curiosity I searched the [se

[2016-07-07 11:30] petervojtek commented on #134
@jterps08 , I updated the UX behaviour but only groups for with open membership and without any passcode or required information -- this is because it seems it is possible to create only such kind of groups from the mobile app (Please correct me if I am wrong).

The behaviour for other group types/options is broken now (see me comment above for Igor).

To test and fix the behaviour for other group

[2016-07-07 13:05] austinpapp commented on #140
@jterps08 this should default to the ng-letter correct?

[2016-07-07 13:07] austinpapp commented on #141
`peter12group1` would be public so any activities that `peter12` created would show up in `peter10`'s feed. @jterps08 correct?

[2016-07-07 13:08] austinpapp commented on #84
PowerlineApp/powerline-server#173 was merged. however, just not sure if it was deployed. ran out of time this morning. @igaponov can you check when you get a few seconds? thanks.

[2016-07-07 13:14] austinpapp commented on #123
@igaponov if a `user post` or a `user petition` is created, it's of type `micro-petition`. however, posts and petitions in this situation are different only by the options they contain. for example, you sign a petition and the obj details would show that. the problem here is that @petervojtek can't distinguish between a post and petition because either will **always** return `{'type' : 'micro-peti

[2016-07-07 14:25] jterps08 commented on #118
@igaponov we're going to need to change this. I really have no idea where this requirement came from :-p ... I'm not sure why we have this limit and how it is enforced given that we only just now are in the process of allowing a user to create a group under his own existing credentials (instead of needing separate credentials for each group he creates/manages).... What's the level of effort to rem

[2016-07-07 14:28] jterps08 commented on #134
@petervojtek The user can create any type of group with existing backend functionality. We need the mobile app to support the scenarios I listed above. The mobile app is not primarily designed for creating or managing groups - it's designed primarily for participating in groups.

If there is a passcode or manual approval and/or required information, the join screen needs to accommodate this correc

[2016-07-07 14:30] jterps08 commented on #140
If the user does not provide his own profile photo or the user does not have a profile photo loaded from Facebook, then the ng-letter should display anywhere that user's profile photo should display. You can change the profile photo element in the My Profile screen to display whatever is easiest - a blank space or NG-letter.

[2016-07-07 14:44] igaponov commented on #134
@petervojtek 0 = `public`, 1 = `approval`, 2 = `passcode`

[2016-07-07 14:48] jterps08 commented on #141
Let me respond by saying this:

Users should only see items in their newsfeed (3-person icon) from the groups that they are a part of. If I join Peter12Group1, I should see items from Peter12Group1 (leadership and its members) in my newsfeed. If I unjoin Peter12Group1, I should not see items from Peter12Group1 (leadership and its members) in my newsfeed. The All feed should only show the items fro

[2016-07-07 14:49] jterps08 commented on #84
I was just logging in to do it myself - looks like Igor is already on top of it and trying to deploy now...

[2016-07-07 14:51] igaponov commented on #84
deployed

[2016-07-07 18:16] igaponov commented on #118
@jterps08 just need to delete this code, couple of minutes.

[2016-07-08 14:53] igaponov commented on #95
https://github.com/PowerlineApp/powerline-server/pull/176

[2016-07-08 15:16] jterps08 commented on #118
If it's just a couple minutes, we can delete this limit code for now. Thanks.

[2016-07-08 15:21] jterps08 commented on #123
Austin is correct... This is a labeling issue and a v2 issue...

There are two types of micropetitions: quorum (post) and long petition (petition). https://github.com/PowerlineApp/powerline-server/wiki/Micropetition

The old API allowed a user to create both a "post" (micropetition: quorum) and a "petition" (micropetition: long petition) from the mobile app. We need the new API to allow a user to

[2016-07-08 19:27] igaponov commented on #123
@jterps08  so we need to add `sub-type` attribute, right?

[2016-07-08 20:46] igaponov commented on #118
https://github.com/PowerlineApp/powerline-server/pull/178

[2016-07-08 22:04] austinpapp commented on #118
PowerlineApp/powerline-server#178 deployed

[2016-07-08 22:08] austinpapp commented on #123
@igaponov would it make more sense to simple make this `{ 'type' : 'micro-petition:quorum' }` ? this keeps the signature the same but adds the subtype. i do realize this does mean we would have to split on `:` which is kinda... hackish imho but prevents this from changing. i'm open to suggestions, though.

[2016-07-08 22:40] jterps08 commented on #106
As long as we can save the profile photo we can close this bug. We can open a separate issue for changing customer's e-mail in Stripe.

[2016-07-08 22:42] jterps08 commented on #123
I defer to you two to figure out the best solution @austinpapp @igaponov

[2016-07-10 06:36] petervojtek commented on #84
@igaponov, I still experience the error :(

[code]

[2016-07-10 06:48] petervojtek commented on #95
ok, I have altered the Create new group form this way:

user must provide:
- Group username (mandatory)
- Group name (mandatory)
- Group desc (mandatory)
- Group type (mandatory)
- Group acronym

Manager contact info is automatically fetched from user profile.

I am actually not sure what is the difference/purpose of Group username (username) and Group name (official_title) -- maybe one of them ca

[2016-07-10 06:49] petervojtek commented on #118
thanks., it works.

[2016-07-10 06:49] #118 closed, assigned to austinpapp

[2016-07-10 06:54] petervojtek commented on #106
@jterps08 , unless @igaponov won't fix this: `I see many duplicated emails in dev db` , some some users (`e.g. Jesse1`) won't be able to change their profile photo, because the email validation seems to be fired in that use case as well thus preventing the profile photo from being changed.

[2016-07-10 07:16] petervojtek commented on #64
@austinpapp , regarding the initial tests of the Travis CI setup & config for mobile app, my proposal is to start with following use case:
- building a dev (unsigned) APK of the mobile app.

Once we master that one, we can add following builds later:
- production (signed) APK
- iOS build

In order to build the development APK I suggest to start with this [travis config file](https://github.com/sve

[2016-07-10 08:01] petervojtek commented on #134
@igaponov , can you please recommend me which API call can I use to create a group which requires a passcode to join and to create a group which requires user approval on join?

I am aware of [`POST /api/v2/user/groups`](https://api-dev.powerli.ne/api-doc#post--api-v2-user-groups), but that endpoint seem to allow to create only public user groups (no approval, no passcode).

I actually don't want

[2016-07-10 08:04] petervojtek commented on #62
I am not sure if this is only an issue of old groups, or it can affect newly created groups as well - I do not think I have the ability to create a group with custom avatar image. Maybe @jterps08 can tell me when/how is it supposed to be possible to assign a group a custom avatar?

[2016-07-10 11:45] austinpapp commented on #95
i brought this up before with regard to username. right now this is required as you know. @jterps08 username was used to sign into the group login. that username was tied to an email i believe? i think it may be worth some time to make sure we understand the relationship of these fields and original purpose. with our new sso, i'm pretty sure username is no longer necessary. i'm just not sure how c

[2016-07-10 12:07] petervojtek commented on #115
Ok, I am now debugging it with with Facebook app installed, I will later test it without the app as well.

Registration seems fine, however login fails due to this error:

@jterps08 , it seems we need to change some config settings in Powerline facebook app. I do not have access to the link  http://developers.facebook.com/apps/244141112405524

[2016-07-10 12:29] petervojtek commented on #141
Ok, so if I understand @jterps08's previous comment properly, the answer to my original question is that if user `Peter10` never joined group `Peter12Group1`, `Peter10` should not see activity from that group in his `All` newsfeed (i.e. answer to my [first comment](https://github.com/PowerlineApp/powerline-mobile/issues/141#issue-164247078) is "no, this is not desired behaviour").

@jterps08 , Can

[2016-07-10 13:18] petervojtek opened #142 "Sign to micro-petition:long-petition fails due to backend API change"
[code]

[2016-07-10 13:18] #100 closed, assigned to austinpapp

[2016-07-10 14:12] jterps08 commented on #84
FYI @igaponov is out of office from July 9-16

[2016-07-10 14:15] petervojtek commented on #142
@jterps08, can you please confirm the following:
- when an activity is micro-petition:post, in newsfeed this activity should have two buttons: upvote and downvote
- when an activity is micro-petition:long-petition, in newsfeed this activity should have "sign" button (or "unsign" when already user has signed the petition)

I.e., please cofirm if the following UI is valid:

<img width="717" alt="scr

[2016-07-10 14:24] jterps08 commented on #134
@petervojtek @austinpapp might be able to help you with this. The way we have the group creation process defined forces all groups to start at Free tier and then they can upgrade to Silver tier later. So here's what you need to do:

Create the group
Upgrade to silver subscription (this is where you may need Austin or Igor's help)
Once the group is at Silver or above level, you can change the group

[2016-07-10 14:33] #98 closed, assigned to austinpapp

[2016-07-10 14:35] jterps08 commented on #62
We can create a group first and then edit the group profile to upload a custom avatar.

For what it's worth, based on the screenshot you have below, there are two icons showing: 1) The placeholder icon (5-person gray/white icon) which should not appear anywhere (it should show NG-letter instead), and 2) The broken-image-link icon (cloud+mountain icon) which represents a bad image hyperlink / bad i

[2016-07-10 14:53] jterps08 commented on #95
@petervojtek - The simpler we can make the form, the better! If we can remove username, that would be nice.

@austinpapp I think you will want to look at the Mailgun integration https://github.com/PowerlineApp/powerline-server/pull/21 (or other related PRs as there were several)... From what I recall, the Mailgun integration slugifies the official_title for the mailing list name INSTEAD of the use

[2016-07-10 14:54] austinpapp commented on #64
this looks good to me. as for when to build, i agree. no push or pull request to `develop` but rather push to `develop-builds triggers a build.

feel free to build the `.travis.yml` as you think is needed and i'll make sure everything is in place and enabled on the travis side.

[2016-07-10 14:56] jterps08 commented on #115
I have added the key hash to the developer control panel. I will add you as a developer to the project as well - please provide your FB username on Slack.

[2016-07-10 14:57] jterps08 commented on #141
That's correct - we need to assign this issue to @igaponov .

Austin - if you are aware of something I am not in regards to this, please let me know. Otherwise, I think Igor needs to update the activities resource.

[2016-07-10 14:58] jterps08 commented on #142
You are correct Peter!

[2016-07-10 17:04] austinpapp commented on #95
i'll need to review username a bit more. again, just not sure how coupled we are to it as it was part of the original codebase (used to actually log in to admin the group). however, anything that gets slugified should be the official title (name of the group) and not the username.

i'll look more into it.

[2016-07-11 04:36] petervojtek commented on #84
ok, maybe @austinpapp may help us :)

[2016-07-11 04:40] petervojtek commented on #62
1) ok, in the meanwhile I will fix groups to display ng-letter icons if group has no imgix avatar image.

[2016-07-11 04:54] petervojtek commented on #64
@austinpapp , I took the sample config and added there our custom branch build trigger, [it's here](https://gist.github.com/petervojtek/10a38e8189e1eb33eba9ac20e661dec3).

So far the config is missing the last step, and that is -- after successful build, the created APK should be copied somewhere so that we can actually use it and install it on our smartphones or so. We may need to use something [

[2016-07-11 06:38] igaponov commented on #84
@jterps08 sometimes I can answer questions.

this issue should be fixed after https://github.com/PowerlineApp/powerline-server/pull/173 is deployed

[2016-07-11 06:54] igaponov commented on #141
There are conditions to include activity to user's list:
- activity_condition.district in user.districts
- activity_condition is not superuser
- activity_condition.group in user.groups
- activity_condition.user in user.following
- activity_condition.group_section in user.group_sections
- user in activity_condition.users

They are all `OR`, not `AND`.

I've got these conditions from the [old code](

[2016-07-11 07:32] igaponov commented on #134
@petervojtek https://api-dev.powerli.ne/api-doc#put--api-group-membership
Now it's possible to use this endpoint when you logged in as a group, I'm going to move it to v2 soon.

@jterps08 it's good that you mentioned this, because according to [this code](https://github.com/PowerlineApp/powerline-server/blob/develop/backend/src/Civix/FrontBundle/Controller/Group/MembershipController.php#L38) anyon

[2016-07-11 12:35] jterps08 commented on #84
Thanksss Igor! :-)

[2016-07-11 16:55] jterps08 commented on #130
@austinpapp where do we stand on this? Should we get Igor's help? Do you and I need to touch base on this? What's the next step?

[2016-07-11 17:09] jterps08 commented on #37
Austin/Igor - can you give your input on this? I think Habibillah was the one who created original Favorites call.

[2016-07-12 05:47] petervojtek commented on #142
@austinpapp , can you please tell me if I am using the backend API properly? I experience following errors:

I try to sign user to micro-petition:long-petition based on following activity:

[code]

In the old code, following GET call is made to get petition question/answer details (and subsequently POST is made the actual signup):

[code]

This GET fails with error 404. Api doc says I should use `

[2016-07-12 06:09] petervojtek commented on #134
@austinpapp , @igaponov , I tried to update group (ID=291) membership from `public` to `passcode`, however I experience following backend error:

[code]

[2016-07-12 07:14] petervojtek commented on #115
@austinpapp , I face following backend issue:

I successfully handshake facebook auth on client side via [cordova-plugin-facebook4](cordova-plugin-facebook4), I successfully acquire auth token, and the last step is to `POST https://api-dev.powerli.ne/api/secure/facebook/login`, which fails in following manner:

[code]

According to API, status 400 corresponds to `Incorrect facebook token`.
I tried

[2016-07-12 07:21] petervojtek commented on #89
blocked by #142

[2016-07-12 07:24] petervojtek commented on #45
duplicate of #130.

[2016-07-12 07:24] #45 closed, assigned to nobody

[2016-07-12 07:28] petervojtek commented on #104
@jterps08 , on which screen should be the "Increased size and contrast  of displayed user profile" ?

And on which screen is supposed to be displayed "User's tagline and bio fields for followed users"?

[2016-07-12 08:04] petervojtek commented on #114
@austinpapp, it seems [`GET /api/v2/activities`](https://api-dev.powerli.ne/api-doc#get--api-activities) is ignoring `per_page` attribute, e.g.:

[code]

I.e., it returns 20 items despite `per_page = 3`.

[2016-07-12 08:58] #117 closed, assigned to petervojtek

[2016-07-12 09:41] petervojtek commented on #67
We call the facebook graph API from two places in code: [1](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/session.js#L206) and [2](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/session.js#L309)

The solution seems to be easy: https://github.com/Wizcorp/phonegap-facebook-plugin/issues/1284#issuecomment-227833640

[2016-07-12 10:21] petervojtek opened #143 "console warning: Deferred long-running timer task(s) to improve scrolling smoothness. See crbug.com/574343."
[code]

it is not a bug, but a warning. happened on android 6

[2016-07-12 13:24] jterps08 commented on #142
@igaponov may be better at answering this question - he designed v2.

[2016-07-12 13:26] jterps08 commented on #115
I'm including @igaponov in this conversation as he may know better than Austin...

[2016-07-12 13:53] jterps08 commented on #114
This is something for @igaponov

[2016-07-12 14:31] jterps08 commented on #67
Wow - looks like Wizcorp needs to get on their game.

Yes,
(1) Registration information is filled in with assistance from Facebook
(2) My Influences suggests friends from Facebook

In the future, we will want to allow a user to share specific content to Facebook (allow the app to post to Facebook), but not now.

[2016-07-12 14:39] petervojtek commented on #67
it is possible the commit I made (upgrade facebook plugin version) is all we need to do, however I will be able to confirm that only after #66 is resolved. Also check [this pull request](https://github.com/PowerlineApp/powerline-mobile/pull/51/commits/247ab29cdef946e3e6ec940fd176230681185566)

[2016-07-12 15:16] petervojtek commented on #124
ok, it's there.
 search is intentionally not triggered immidiately because it is ajax-based request, I put there 500ms debounce interval.

[2016-07-12 15:16] #124 closed, assigned to jterps08

[2016-07-12 15:37] #93 closed, assigned to jterps08

[2016-07-12 15:38] petervojtek commented on #93
done.

[2016-07-12 18:47] jterps08 commented on #104
Both should be the User Profile screen... (When you tap on a user's name in the newsfeed or on their @mention in a comment or when you open up their user profile page from the My Influences Following/Followed list - they all link to the screen below)>>>

I will try to find a screenshot and put it here...

[2016-07-13 05:21] petervojtek commented on #104
@jterps08 , I found it.
<img width="718" alt="screen shot 2016-07-13 at 07 13 33" src="https://cloud.githubusercontent.com/assets/225506/16792528/80e85cea-48c9-11e6-8527-084a51d62acc.png">

Will fix following issues:
- add bio and tagline
- increase readability of name - DONE
- tapping username in newsfeed activity title is doing nothing,  will change to goto user profile (tapping on user avatar w

[2016-07-13 05:39] petervojtek opened #144 "User profile: GET https://api-dev.powerli.ne/api/activities/?following=75 404 (Not Found)"
1. Login as `Peter10` (ID=73)
2. Main menu -> Search
3. Search for `Peter12`  (ID=75)
4. Click Peter12, profile of Peter12 is displayed and following error is thrown:

`GET https://api-dev.powerli.ne/api/activities/?following=75 404 (Not Found)`

[2016-07-13 05:59] petervojtek commented on #104
I am unable to display tagline (`slogan`) and `bio` in user profile because backend is currently not providing this details.  @igaponov can you please add them to `GET api/profile/info` ?

This is present behaviour:

[code]

[2016-07-13 07:25] petervojtek commented on #144
ok, switched to v2 api to display activity of an user in his profile when I follow the user.

@jterps08 , I would like to ask if this is intention or a bug:
the activity displayed below user's profile also included activity of other users.

I am logged in as `Peter10` (ID=73) and I follow user `Peter12` (ID=75).
As `Peter10`, I visit user profile of `Peter12` and this is what I see:

<img width="7

[2016-07-13 11:31] igaponov commented on #142
@petervojtek are you sure that your user is a creator, manager or member of this group?

[2016-07-13 11:45] petervojtek commented on #140
fixed.

[2016-07-13 11:45] #140 closed, assigned to austinpapp

[2016-07-13 12:00] petervojtek commented on #142
@igaponov , thanks for response -- you are right, the user was not member of the group.

Now when user `Peter10` joined group  `peter12group2`, I proceed successfully:

[code]

However I am not sure what I am supposed to do with the response data..

In the former code the (`GET https://api-dev.powerli.ne/api/poll/question/187`) response data contained `question.options[0].id` which was then submit

[2016-07-13 12:55] petervojtek commented on #99
@jterps08 , Just to make sure, you mean the person icon in the footer of each activity?

Can you please specify what is the desired behaviour? Here is my guess (from user A point of view):
- When user A is not following user B, for each activity by user B in newsfeed there should be an "person plus" icon in grey color. Clicling the icon will trigger "A wants to follow B".
- when user A is followin

[2016-07-13 13:16] jterps08 commented on #104
**tapping on a @username mention in User post description text opens browser and is trying to open twitter page for that user -- is this intentional? (it makes some sense, however from UX point of view it is confusing that the same looking @mention in comment will lead to different action)..**

This is a good question. I don't know why it points to the Twitter page. It makes more sense that it wou

[2016-07-13 13:18] petervojtek commented on #102
ok, current behaviour is that after successful unjoin user is redirected to 'my groups page'

[2016-07-13 13:18] #102 closed, assigned to jterps08

[2016-07-13 13:18] jterps08 commented on #99
You are correct on all of your comments.

Unfortunately, I don't think we have a way to differentiate between a current 'approved following' relationship vs a 'pending following' relationship. It would be ideal if 3 different icons were shown: 1) Follow this user, 2) Waiting for approval, 3) Approved and Following... We're going to have to update this later. If we have the capability to address th

[2016-07-13 13:21] jterps08 commented on #144
That behavior is incorrect. The activities displayed in the user A's profile page should only be the posts that 1) that user A created, and 2) that user B has permission to view (he must be in the same groups). The correction of this behavior is low-priority. Not sure if we need a separate issue or if we should just apply the low-priority label here...

[2016-07-13 13:26] petervojtek commented on #22
@jterps08, please provide more details on what does it means "to display metadata around link".

when user post description contains url, current behaviour is following:
-  in newsfeed activity: the url is displayed as and clicking it triggers no action
-  in post detail: only part of url with http:// is displayed, and clicking it opens web browser with the url.

Currently in newsfeed

[2016-07-13 14:04] petervojtek commented on #101
This is how group profile detail looks now:

<img width="710" alt="screen shot 2016-07-13 at 15 58 19" src="https://cloud.githubusercontent.com/assets/225506/16805952/d29bbe12-4912-11e6-9e6b-c25563baa0ef.png">

I am not sure what else should be displayed for user group, here is the data provided by backend:

[code]

Actually, the old code also displays number of total_members, however with the v2

[2016-07-13 14:13] jterps08 commented on #101
Two things here:
1) We actually want to display the total members count.
2) The old code should (somewhere) show that a user could tap on the total members count to open a listing of all members. On that membership list page, each user's avatar and name are listed along with a follow button for each user. There is also a Follow-All users button at the top of that membership list page.

This is low

[2016-07-13 14:26] jterps08 commented on #101
Also, to see what it should look like, skip to the 20second mark in this video:

https://drive.google.com/open?id=0B2Loy21ehREyMlpuVHluZGVrRnc

[2016-07-13 14:28] igaponov commented on #104
https://github.com/PowerlineApp/powerline-server/pull/185

[2016-07-13 14:28] igaponov commented on #114
@petervojtek please read requirements for query params in API doc, per_page can be 10 or 20 only, other values will be ignored.

[2016-07-13 14:30] jterps08 commented on #22
@petervojtek a few points on this

Correct URL Behavior:
In newsfeed activity: the URL itself triggers no action. I was told in the past that this was too difficult to differentiate the "tap zone" for opening post detail vs the tap zone for opening the link itself.
In post detail: abbreviated URL is displayed and clicking it opens web browser.

That said, metadata link inclusion is when the newsfe

[2016-07-13 14:43] igaponov commented on #142
@petervojtek are you sure group 291 has polls?
When you get polls, you can use `GET https://api-dev.powerli.ne/api/v2/polls/{id}` to retrieve poll with options.

[2016-07-13 14:52] igaponov commented on #134
@petervojtek as I said, you can use this endpoint only when you logged in as a group. After merging https://github.com/PowerlineApp/powerline-server/pull/183 you will be able to use v2 endpoint as a user.

[2016-07-13 18:27] austinpapp commented on #37
if we want this as a similar feel to the newsfeed, we just need to make sure we return the attributes about the content as what the newsfeed returns. should be simple enough.

[2016-07-13 19:19] jterps08 commented on #37
It should basically look the same as the news feed.
On Jul 13, 2016 2:27 PM, "austin" notifications@github.com wrote:

[2016-07-14 05:12] petervojtek commented on #144
ok, I assign this issue to @igaponov and set it low priority.

[2016-07-14 05:20] petervojtek commented on #101
Jesse, thanks for video, noted.

I assign this issue to @igaponov due to following bug:

in GET group detail, `total_members` is always zero even when users have joined the group.

[code]

[2016-07-14 05:31] petervojtek commented on #142
@jterps08 , can you please explain what it means for a User Petition (micro-petition:long-petition) to "have a Poll" and if it is at actually related to the following use case: "User wants to sign a User petition" ?

In the discussion above you will see I tried to resurrest functionality of the "Sign" button in a User petition activity. I took the old code and tried to replace the backend calls wi

[2016-07-14 05:35] petervojtek commented on #134
ok, I will wait for the merge ( I am not sure what it means to "login as a group").

[2016-07-14 05:57] petervojtek commented on #114
thanks for reply @igaponov , I apologize I overlooked it.

@jterps08 , so the answer to your original question is: yes, lazy loading is working and newsfeed counters are recalculated after each lazy load.

[2016-07-14 05:58] #114 closed, assigned to jterps08

[2016-07-14 12:02] petervojtek commented on #11
@igaponov , I would like to discuss on `GET /api/search/friends`:

The endpoint works properly, however I am not sure if GET is the best HTTP method for the use case.
The issue is that e.g. I have in a phone 1200+ email contacts.
I am unable to send them in a single request due to:

[code]

I.e., all those 1200 emails are in request URI (as GET requests are not supposed to send any data in request

[2016-07-14 12:08] austinpapp commented on #66
@petervojtek we need to resolve #115 before this one?

also, i'm not necessarily concerned about it working in browser (assume from `grunt serve`?).

[2016-07-14 12:56] austinpapp commented on #104
definitely san-serif. and yes we should not link to a twitter profile / page but rather the user's profile in app. i'm wondering if there is an external process that was trying to pick up @ mentions with twitter.

[2016-07-14 13:19] petervojtek commented on #66
@austinpapp, this issue is already resolved (that is why it is in _closed_ status) by the commit above.. however I added no additional comment to it, maybe that has confused you.

I usually assign closed issue to you because that is what we agreed on (so that you can make source code quality review if you like to..)

 I made no attempt to make it work in browser, I focus on smartphone only.

[2016-07-14 17:12] jterps08 commented on #142
Resurrecting old behavior for "sign" button for petition is correct regardless of whether it was created by user as micro-petition: long-petition OR created by group leader as [question](https://github.com/PowerlineApp/powerline-server/wiki/Petition)

The old approach was correct. i think you did the right thing. Let me know if we are communicating correctly on this - I know its confusing...

[2016-07-14 17:15] jterps08 commented on #134
@petervojtek in old backend server, you needed a _separate_ set of login credentials to manage your group via admin.powerli.ne (separate compared to your normal Powerline user credentials that you would use to log into mobile app)... This is what Igor means when he says "log in as a group"

In new dev server (v2) we created single-sign on and the system knows if you are an owner/manager/member/non

[2016-07-14 17:16] jterps08 commented on #11
This is definitely low-priority, but I am open to any solutions you guys have. I think you understand the objective: we want to help people find their friends based on their address book so that we can help people follow each other, etc.

[2016-07-15 12:28] igaponov commented on #37
@austinpapp @jterps08
Some technical thoughts. I see three implementations of this feature.
1. We leave it as it is, put info about bookmarked item to `detail` attribute and expose it in API. Pros: the fastest query. Cons: not trivial to save bookmark; if original item is deleted, link will lead to nothing (404 probably if app is trying to get item).
2. We leave it as it is, join other tables by f

[2016-07-16 00:07] austinpapp commented on #84
PowerlineApp/powerline-server#173 was deployed.

[2016-07-16 00:13] austinpapp commented on #95
PowerlineApp/powerline-server#176 was deployed.

[2016-07-16 00:16] austinpapp commented on #104
PowerlineApp/powerline-server#185 was deployed

[2016-07-16 00:29] austinpapp commented on #134
PowerlineApp/powerline-server#183 was deployed

[2016-07-16 11:39] petervojtek commented on #84
I still experience the error:

[code]

I am not sure if you have some unit test suite, but this use case seems to be easily unit-testable..  I prefer to be a developer and not a tester :(

[2016-07-16 11:55] petervojtek commented on #134
@igaponov , you wrote that:

However here is my experience when I try as user `Peter10` update group `Peter10Group3` (he is the creator of the group):

[code]

[2016-07-16 12:03] austinpapp commented on #37
i like fast queries and quick wins.. anyway, i dont want to spend too much more time on this because it's really not a critical feature. with that said, you see 1 has changing _how_ the bookmark is saved? also, if its deleted, we just show the 404. i really dont mind that right now. we can always come back to this as a bug fix later and fix when we have time, energy, money and more users.

[2016-07-16 12:12] igaponov commented on #84
@petervojtek of course I added test for this case before.

User - Peter10

[code]

[2016-07-16 12:12] petervojtek commented on #104
@igaponov , @austinpapp , the `bio` and `slogan` still does not seem to be present in GET profile (if I understand properly powerline-server#185  should have added them).

[code]

[2016-07-16 12:23] austinpapp commented on #104
its there. i assume you updated the bio and slogan fields?

[2016-07-16 12:23] igaponov commented on #134
@petervojtek you should upgrade your group to Silver subscription before changing membership settings. I've upgraded your subscription to Silver for `Peter10Group3`, try it again.

[2016-07-16 12:44] igaponov commented on #104
@petervojtek first, `/api/profile/info/` returns follower profile (short info). Second, `/api/profile` (that returns logged in user's profile) is deprecated now, use `GET /api/v2/user`.

[2016-07-16 12:59] petervojtek commented on #104
@austinpapp , yes user `Peter10` has both bio ans slogan values set.

@igaponov , I understand you last comment, however @jterps08 's request (first comment in this issue) is: "User's tagline and bio fields should be displayed.for followed users." -- which I guess means that `bio` and `slogan` should be provided via the  short info request `/api/profile/info/`

[2016-07-16 13:03] petervojtek opened #145 "clicking @mention is not leading to user profile"
this bug originated as #104 , but I moved it to separate issue to have focused discussion here.

Current state of the art:
- A: clicking @username mention in activity description is doing nothing
- B: clicking @username mention is petition/post/whatever detail description opens new browser window and goes to twitter
- C: clicking @username mention in comment leads to user profile - this is good be

[2016-07-16 13:15] austinpapp commented on #66
yup. sorry. i missed the closed status. :) all is good.

[2016-07-16 13:16] petervojtek commented on #145
@austinpapp , @igaponov ,  I would like to discuss what is the best approach to get @mentioned username ID to be able to properly navigate to that user's profile.

There is existing infrastructure for comments (use case C), which works as following:

[code]

Here backend API provides me enriched comment body with `data-user-id`so that I can transform that into user detail url.

However such enrich

[2016-07-16 13:54] petervojtek commented on #11
after discussion with Austin: will make several GET requests so that no changes are required to be done to backend.

[2016-07-16 15:12] petervojtek opened #146 "overall refactoring"
I will collect here notes on what is worth refactoring in source code:
- rename js/controller/\* files and corresponding classes so that each contains sufix `Ctrl`, so that they can be easily distinguished from services having the same name in `js/services`
- rename variables everywhere to be more context aware, e.g. rename `data` to `group` in `templates/groups/profile.html`
- extract instance bu

[2016-07-16 16:15] jterps08 commented on #95
Is this closed now because 176 is deployed?

[2016-07-16 17:18] petervojtek commented on #84
I don't know what should I do then. I still experience the backend bug.

[2016-07-16 17:19] austinpapp commented on #145
if we can avoid a second look up that would be ideal. adding a `data-user-id` key seems easiest to me if @mention is found.

[2016-07-16 17:20] petervojtek commented on #95
I can create new groups now, so from mobile app point of view this seems to be fixed.

[2016-07-16 17:20] #95 closed, assigned to jterps08, austinpapp

[2016-07-16 17:27] petervojtek commented on #134
thanks @igaponov.

now it fails this way:

[code]

[2016-07-16 17:31] petervojtek commented on #52
blocked by #101 (partly it's duplicate)

[2016-07-16 18:19] petervojtek commented on #99
ok, done.

current behaviour (newsfeed activity item author is A, current user is B):
- if B is not following A, icon is "grey person plus". Clicking it will launch follow action + toast.
- if B is approved-following A, icon is "blue person". clicking it will only display toast that "you are following this person".
- if B is waiting-for-approval A, icon is "grey person", clicking it will only disp

[2016-07-16 18:19] #99 closed, assigned to jterps08

[2016-07-17 10:07] igaponov commented on #84
@petervojtek I don't see the error in logs on dev server. Are you sure you didn't change your `hosts` file and you call real api-dev.powerli.ne?

[2016-07-17 13:46] petervojtek commented on #84
@igaponov , I believe I use `api-dev.powerli.ne` which translates to `52.5.45.80:443`.

Now it seems to work properly for some activities:

[code]

There are still some activities which fail:

[code]

However it seems to be only issue of those activities in which there was attempt to mark them as read in the past when the backend had the bug (and are marked as `read=false` in get list of activitie

[2016-07-17 13:47] #84 closed, assigned to nobody

[2016-07-18 12:20] igaponov commented on #37
@austinpapp so you prefer the first implementation, right?

[2016-07-18 12:23] igaponov commented on #101
https://github.com/PowerlineApp/powerline-server/pull/192

[2016-07-18 13:26] igaponov commented on #104
https://github.com/PowerlineApp/powerline-server/pull/193

[2016-07-18 14:18] igaponov commented on #109
https://github.com/PowerlineApp/powerline-server/pull/194

[2016-07-18 14:27] igaponov commented on #115
@petervojtek for registration use `POST https://api-dev.powerli.ne/api/secure/registration-facebook`.
400 can be returned if there is some troubles with connection to facebook, so try again if you get this error.

[2016-07-18 15:04] jterps08 commented on #142
@petervojtek is this open still? What are the actions we need Igor/Austin to take? Thanks.

[2016-07-18 15:13] jterps08 commented on #145
@austinpapp are you asking Igor to do that?

[2016-07-18 16:24] jterps08 commented on #127
**FYI:** the intended behavior is to count comments.

**Some additional somewhat unrelated notes for future reference:**

At some point in the future, we may need an indicator that displays the current number of votes. We need to somehow indicate engagement with the post (e.g. comments + votes). We would not want people to see the number of votes until they voted themselves, but we would want to s

[2016-07-18 17:22] petervojtek commented on #142
@igaponov , please take a look here on my attempt to Sign to a petition, hopefully you can tell me what am I doing wrong :)

I have this activity (micro-petition:long-petition):

[code]

And in newsfeed user clicks Sign button to sign that petition.
I take `entity.id` and try to `GET https://api-dev.powerli.ne/api/v2/polls/{id}` as you suggested in comment above.
And the resource is not found:

[c

[2016-07-18 18:20] petervojtek commented on #115
thanks for help @igaponov , now I moved one step forward and here is my workflow and problems I face:
1. I successfully login to facebook and obtain auth id and token
2. I successfully fetch user profile details from facebook server.
3. Now I want to submit this user profile data via `POST https://api-dev.powerli.ne/api/secure/registration-facebook` and I experience 500 Internal Server Error.

[2016-07-18 19:00] igaponov commented on #142
@petervojtek we definitely need to do something with terminology. Activity.entity.id with type `micro-petition` specifies a Micropetition, not a Poll. Use `GET /api/v2/micro-petitions/{id}` to get the entity.

[2016-07-18 19:14] igaponov commented on #115
@petervojtek I see the error and it's easy to fix. But I don't really understand the goal of this endpoint, because according to docs and code you still should provide all user data (like username, email, name etc). So, probably we need to change this behavior in v2. Thoughts?

[2016-07-18 19:33] jterps08 commented on #115
I'm not sure if I understand the question. @austinpapp may need to respond...

Check out the current behavior of the production app. We need to replicate it in terms of 1) being able to log into the app with facebook, and 2) being able to register on the app with facebook.

The primary benefit of registering with facebook is 1) not needing to define username/password/e-mail address during registra

[2016-07-18 19:48] igaponov commented on #123
https://github.com/PowerlineApp/powerline-server/pull/195

[2016-07-18 20:00] igaponov commented on #134
@petervojtek  when you change membership it tries to connect to stripe, that's why there is an error. I've set `stripe_sync_at` attribute to next year, so you'll not have problem with membership update for now, but if you want to test other functions, related to subscriptions, it's better to connect your test account to stripe.

[2016-07-18 20:32] jterps08 commented on #134
Let's make sure we don't forget to restore this attribute after we're done testing here... In fact, we probably should not close this issue until the attribute is restored.

[2016-07-19 03:47] igaponov commented on #115
@jterps08 that means we need to change this endpoint, now username/password/email are required and `/facebook/login` returns 302 redirect to nowhere.

[2016-07-19 03:53] jterps08 commented on #115
So wait, why does this endpoint behave differently compared to v1? We need to be able to accomplish this:

**The primary benefit of registering with facebook is 1) not needing to define username/password/e-mail address during registration (quicker UX for user), and 2) not needing a username or password to login (again quicker UX for user)... However, in order to link them to their electeds and tow

[2016-07-19 03:58] igaponov commented on #115
@jterps08 I understand, v2 will do this.

**But now v1 1) requires username/password/e-mail address during registration.**

[2016-07-19 04:08] jterps08 commented on #115
Hmm... Very strange. Thanks Igor... I thought we had that handled differently. Austin will have to clarify for me how this was working...

I would _eventually_ like to be in a position where we have the official FB dialog boxes presented like so:

![image](https://cloud.githubusercontent.com/assets/7582457/16938342/ca38f36c-4d44-11e6-949f-34578575669a.png)

My reasoning is this... In the not too d

[2016-07-19 05:23] petervojtek opened #147 "Missing html template for micro-petition:long-petition"
@jterps08 , I have a micro-petition:long-petition which renders in following manner in activity newsfeed:

<img width="753" alt="screen shot 2016-07-19 at 07 19 24" src="https://cloud.githubusercontent.com/assets/225506/16939358/3b26d3e6-4d81-11e6-9a59-3483ab4547f6.png">

However when I enter it's detail, I use following template:

<img width="747" alt="screen shot 2016-07-19 at 07 19 49" src="htt

[2016-07-19 05:30] petervojtek commented on #142
ok, so once again :)

@igaponov , or maybe @jterps08  , can you please write me step by step which API endpoints I am supposed to call in order to Sign under a `micro-petition:long-petition`?

btw I discovered this endpoint [`POST /api/v2/micro-petitions/{id}/answer`](https://api-dev.powerli.ne/api-doc#post--api-v2-micro-petitions-{id}-answer), but not sure if it has anything to do with Signing a

[2016-07-19 06:31] petervojtek commented on #134
ok, I managed to successfully alter a group to be passcode protected and passcode prompt is now properly displayed when user is joining such a group.

Now we lack following two use cases:
- manual review required on group join
- fill in Required Information on group join

I am not sure what is the easiest approach to create such groups for testing given than how painful it was to create a passcode

[2016-07-19 07:14] petervojtek commented on #80
@jterps08 , the google maps API is used to suggest address/city in real-time when user is typing his address during Registration.

The use case currently works without the API key, but to make it bulletproof, we should generate some API key on behalf of Powerline.

https://developers.google.com/maps/documentation/javascript/get-api-key

[2016-07-19 08:32] petervojtek commented on #11
@jterps08 , while waiting for other blocked bugs, I finished this feature.

The design is spartan, but it fully works:

<img width="440" alt="screen shot 2016-07-19 at 10 30 35" src="https://cloud.githubusercontent.com/assets/225506/16943415/f4b35518-4d9b-11e6-9fa9-eb61a82706b9.png">

I guess you imagined the design bit differently.. due to this reason I assign this issue to you, so that when you

[2016-07-19 08:32] #11 closed, assigned to jterps08

[2016-07-19 11:49] austinpapp commented on #123
PowerlineApp/powerline-server#195 was deployed

[2016-07-19 13:44] jterps08 commented on #11
This is so cool - I wasn't expecting this! I'll keep the issue closed for now and we can come back to it later. Thanks, @petervojtek !

[2016-07-19 16:32] jterps08 commented on #147
@petervojtek - It should show a single "sign" button.

Like this:
![screenshot_2016-07-19-10-04-19 1](https://cloud.githubusercontent.com/assets/7582457/16957758/b77e557a-4dab-11e6-9f22-758c587b0531.png)

**Also, FYI: For future reference, this is what is supposed to show when a user has different payment options:
![screenshot_2016-07-19-12-43-39](https://cloud.githubusercontent.com/assets/7582457

[2016-07-19 16:36] jterps08 commented on #142
For what its worth... Long-petition-micropetitions have titles. quorum-micropetitions do not have titles.

This is how you sign a long-petition-micropetition.
![screenshot_2016-07-19-10-04-19 1](https://cloud.githubusercontent.com/assets/7582457/16958121/3f6fe09c-4dad-11e6-8bb9-551ae56899b0.png)

This is how you sign a quorum-micropetition.
![upvotedownvote answer choices](https://cloud.githubuser

[2016-07-19 17:07] petervojtek commented on #122
the new v2 api is tno working as expected, not sure what may be the problem, but given than that the old api still works properly and igor is occupied by plenty other issues, I rather freeze this issue.

Example of v2 api struggles:
[code]

[2016-07-19 17:29] jterps08 commented on #80
Got it - will send via Slack

[2016-07-19 17:35] jterps08 commented on #80
Sent

[2016-07-19 18:42] austinpapp commented on #101
PowerlineApp/powerline-server#192 has been deployed

[2016-07-19 18:43] austinpapp commented on #104
PowerlineApp/powerline-server#193 was deployed

[2016-07-19 18:44] austinpapp commented on #109
PowerlineApp/powerline-server#194 was deployed

[2016-07-19 21:40] jterps08 commented on #134
Yes, sorry for the pain @petervojtek :-)... You should be able to change the group membership setting with above, but I'm not sure if @igaponov has created the v2 endpoint needed to approve/reject pending join requests (I don't think we have it) or for the required information fields (I think its this: /api/v2/group-fields/{id})s...

For reference, the UI from production for joining a group with P

[2016-07-19 23:13] igaponov commented on #142
@petervojtek you're right, use `POST /api/v2/micro-petitions/{id}/answer`

[2016-07-20 00:28] igaponov commented on #134
@petervojtek
To change user-group status: https://github.com/PowerlineApp/powerline-server/pull/198
For required fields use `GET /api/v2/groups/{group}/fields`

[2016-07-20 03:18] jterps08 commented on #134
Do we have an endpoint for approving the pending users for a group @igaponov ?

[2016-07-20 05:32] petervojtek commented on #109
@igaponov , I am not sure how is the PowerlineApp/powerline-server#194 supposed to work, but as far as I can see, user `Jesse1` si still missing the Buckin group (I am not sure at all this was  goal of PowerlineApp/powerline-server#194 at all.) Feel free to close to issue if I do not understand the point of PowerlineApp/powerline-server#194 properly.

[2016-07-20 05:58] petervojtek commented on #142
ok, I managed to sign a micro-petition using `POST /api/v2/micro-petitions/{id}/answer`.

@igaponov , how can I distinguish in activity newsfeed that a micro-petition has alredy been signed by the current user (so that I hide for him the sign button, or maybe display unsign button, ..)?

Here is newsfeed activity item for a signed micro-petition:

[code]

I guess I could determine if user has alre

[2016-07-20 06:18] petervojtek commented on #80
waiting to resolve how should we set the API key to codebase to protect the API key exposure..

[2016-07-20 06:19] petervojtek commented on #123
thanks, done.

[2016-07-20 06:19] #123 closed, assigned to petervojtek

[2016-07-20 06:53] petervojtek commented on #134
ok, I managed to add required fields to a group via `POST /api/v2/groups/{group}/fields`.
And then `GET /api/v2/groups/{group}/fields` replies this fields:

[code]

@igaponov, when I get group details, `fill_fields_required` is `false`. Not sure if this is an intention:

[code]

And `GET /api/v2/groups/{group}/fields` works only for the user which created the group. Other users experience:

[code]

[2016-07-20 10:12] igaponov commented on #134
@petervojtek
- if `fill_fields_required`    is false, you'll not be able to see required fields.
- `GET https://api-dev.powerli.ne/api/v2/groups/296/fields` works only for creators, managers and members of a group.

[2016-07-20 10:15] igaponov commented on #109
@petervojtek you should ask @austinpapp if he ran `app/console fix-local-user-groups` command on dev after deploy.

[2016-07-20 10:29] igaponov commented on #142
@petervojtek do you need to add an activity `micropetition commented` for commentator's newsfeed?

[2016-07-20 11:43] petervojtek commented on #134
ok, once again :)

@igaponov , I  am trying to make sure that following use case works properly in mobile app:
"user wants to join a group which has required fields to be filled in on join".

To test that use case, I first need somehow to (1) create at least one group which has required fields, and then (2) join that group from mobile app as an user.

I guess I somehow managed to achieve (1) [not

[2016-07-20 11:56] petervojtek commented on #142
@igaponov , I do not understand your question -- is it (sort of) answer to my [question above](https://github.com/PowerlineApp/powerline-mobile/issues/142#issuecomment-233845130)?

[2016-07-20 13:48] petervojtek commented on #101
than you @igaponov .

now I moved forward and I face following issue:

When I try to follow all users from a group, I face following backend behaviour:

[code]

[2016-07-20 16:13] jterps08 commented on #134
In other words...

We need a test group created that has required fields A, B, C, D, and E so that Peter can test the process of a joining a group that has required fields. The mobile app must be able to display those required fields to the user before s/he is approved/joined to the group.

[2016-07-20 16:15] jterps08 commented on #142
@igaponov I believe this is what Peter is saying... Peter is trying to figure out how he can make the app display the "Unsign" button for a petition. That should be shown based on whether or not the user has _already_ signed the petition.

[2016-07-20 16:23] jterps08 commented on #101
For background information: The original purpose of the Follow All Group Members button was to send, in one action, follow requests to all group members. In the future, I think we will want to give users a "list" that allows them to "uncheck a box" of certain members before the follow requests go out.

This concept is _separate_ from a "Subscribe to Group Notifications" concept which the user, wit

[2016-07-21 00:50] austinpapp commented on #134
PowerlineApp/powerline-server#198 was deployed

[2016-07-21 00:52] austinpapp commented on #37
https://github.com/PowerlineApp/powerline-server/issues/187 was deployed.

[2016-07-21 00:57] austinpapp commented on #101
https://github.com/PowerlineApp/powerline-server/pull/200 was deployed

[2016-07-21 07:34] petervojtek commented on #101
thanks all.

done.

[2016-07-21 07:34] #101 closed, assigned to petervojtek

[2016-07-21 14:08] igaponov commented on #116
@petervojtek use `PUT /api/v2/groups/{id}/users` after merging https://github.com/PowerlineApp/powerline-server/issues/201

[2016-07-21 19:16] austinpapp commented on #109
@igaponov / @petervojtek - sorry for the delay on this. the `fix-local-user-groups` was ran on dev database. Looks like 75 users were updated.

[2016-07-22 05:51] petervojtek commented on #109
@igaponov , @austinpapp, however it seems to me user `Jesse1` (from Bucklin) is still missing the Bucklin group (or maybe I overlooked it?). Here is screenshot of `Jesse1` groups:

<img width="770" alt="screen shot 2016-07-22 at 07 48 46" src="https://cloud.githubusercontent.com/assets/225506/17047748/e9feef1e-4fe0-11e6-8232-b177f0936423.png">

[2016-07-22 06:40] igaponov commented on #109
There is no user with username `Jesse1` on dev. User with a name `JTest1` has this group.

[2016-07-22 06:42] petervojtek commented on #109
yes, I apologize for mistake. You are right @igaponov , the screenshot is from `JTest1`. However here is the list of groups I receive for `JTest1` via `GET https://api-dev.powerli.ne/api/v2/user/groups`:

[code]

It dones not contains Bucklin.

[2016-07-22 07:19] petervojtek commented on #104
thanks for the bio and slogan, it works now.

[2016-07-22 07:19] #104 closed, assigned to austinpapp

[2016-07-22 07:22] petervojtek opened #148 "Follow/Unfollow User button is not consistent across app"
Current there are three ways the follow/unfollow can look like. We should unite the design:

in user profile:

<img width="768" alt="screen shot 2016-07-22 at 09 20 31" src="https://cloud.githubusercontent.com/assets/225506/17049436/a2e71162-4fed-11e6-8041-898548f580d3.png">

In newsfeed:

<img width="764" alt="screen shot 2016-07-22 at 09 20 52" src="https://cloud.githubusercontent.com/assets/225

[2016-07-22 07:38] igaponov commented on #109
@petervojtek try `GET https://api-dev.powerli.ne/api/v2/user/groups?page=2`

[2016-07-22 07:56] petervojtek commented on #147
blocked by #142

[2016-07-22 08:26] petervojtek commented on #97
@jterps08 ,
I altered app name, desc and contact.

What version number should we assign the upcoming release? The [current production app](https://play.google.com/store/apps/details?id=ne.powerli) is version 1.3. Given the large changes in the app, I would suggest 2.0.

To really test whether the permissions are the same same between the existing production release  1.3 (in app stores) and the upc

[2016-07-22 09:02] petervojtek commented on #109
thanks @igaponov , I apologize I overlooked that. I confirm that `GET https://api-dev.powerli.ne/api/v2/user/groups?page=2` returns Bucklin.

However, I would like to ask -- what is the purpose of pagination in `GET https://api-dev.powerli.ne/api/v2/user/groups`.

I cannot see any benefit of it from mobile app point of view. In mobile app the groups are rendered in two views:
- activity newsfeed
-

[2016-07-22 09:04] petervojtek commented on #37
discussion goes [here](https://github.com/PowerlineApp/powerline-server/issues/187#issuecomment-234491583)

[2016-07-22 09:06] petervojtek commented on #52
was resolved in #101

[2016-07-22 09:06] #52 closed, assigned to petervojtek

[2016-07-22 09:41] petervojtek commented on #108
@jterps08 , this is how the search results for #hashtagged posts looks like now:

<img width="770" alt="screen shot 2016-07-22 at 11 29 03" src="https://cloud.githubusercontent.com/assets/225506/17052871/9440a012-4fff-11e6-9f6f-8f00719fee05.png">

For leader-generated content this issue is blocked by #130 -- i.e. I am unable to create leader-content and thus unable to test how it is rendered.

For

[2016-07-22 13:33] jterps08 commented on #148
Definitely agreed. I'd prefer to use the icons that we use in the newsfeed as the template for everywhere else.

[2016-07-22 13:36] jterps08 commented on #97
Good stuff, thanks Peter.

Version 2.0 is fine with me given the framework changes (to Ionic) and the number of other changes to the v2 API, etc.
Austin/I will send passphrase to you for release.keystore.
Good catch on the FriendFinder. I'm looking forward to testing this out.

Thanks!
Jesse

[2016-07-22 13:42] jterps08 commented on #108
Thanks for the analysis, Peter... I think we are going to have to delay working on this issue for now. If Igor is able to finish other more important items, then we can try to  alter the backend so that the frontend can be updated.

I have asked Austin to create test data for leader-generated content.

[2016-07-22 14:00] igaponov commented on #134
@petervojtek https://github.com/PowerlineApp/powerline-server/pull/205 allowed all users to get group required fields

[2016-07-22 14:03] igaponov commented on #109
@petervojtek I can change default value of `per_page` param to 50, is it ok?

[2016-07-22 15:03] austinpapp commented on #134
https://github.com/PowerlineApp/powerline-server/pull/205 has been deployed.

[2016-07-22 15:49] jterps08 commented on #109
I think that's a good short term solution. It would be ideal if it were always returning the town/state/country groups first followed by all the other ones. This way those 3 always appeared in the group selector. I really can't imagine a user being in more than 50 groups, but I guess it could happen one day. We'll cross that bridge when we get to it.

[2016-07-22 17:04] igaponov commented on #109
@jterps08 ok, let's add filter by `type=local`, that will return only town/state/country groups.

[2016-07-22 17:17] jterps08 commented on #109
Hmmm... So the app will have to do two calls for the group selector one for type local and one for everything else? I think the 50 thing works for now... We can come back to a solid fix later.

[2016-07-22 20:09] austinpapp commented on #130
@petervojtek if you join group id 308, i've just created an event. i'll create a few more things and let's see if we can get the priority sorted out. let me know if the event is returning correctly.

[2016-07-23 08:57] petervojtek commented on #109
I would say the per_page=50 is just nice solution for the moment... if we find out that there is some particual user with 50+ groups, we can actually fix his "bug" easily only by altering this API endpoint without the necessity to modify and release mobile app.

[2016-07-23 10:07] petervojtek commented on #134
thanks, I now I am able to access the fields.

@igaponov , can you please confirm that I PUT the answers properly as [API doc](https://api-dev.powerli.ne/api-doc#put--api-v2-user-groups-{id}) lacks such details ?

[code]

[2016-07-23 10:24] petervojtek commented on #130
@austinpapp , I do not receive the event activity for group 308. When I create User post in the group 308, it is returned properly via `GET https://api-dev.powerli.ne/api/v2/activities`, however there does not seem to be any other activity item (event) for group 308:

user `Peter2`:

[code]

[2016-07-24 11:36] petervojtek opened #149 "Unable to create bookmark - backend endpoint not found (http 404)"
bookmarking was working few days ago, and now it fails in following manner:

[code]

not sure if somehow related to this backend issue: https://github.com/PowerlineApp/powerline-server/issues/187#issuecomment-234491583

[2016-07-24 11:37] petervojtek commented on #37
blocked by #149

[2016-07-24 11:40] petervojtek commented on #149
sorry for false alert -- I noticed that you change the endpoint signature, and now I must use type:micro_petition instead of type:post.

[2016-07-24 11:40] #149 closed, assigned to igaponov

[2016-07-24 14:14] jterps08 commented on #149
Think this might have been Habibillah during the rewrite... Thanks.

[2016-07-24 16:40] igaponov commented on #134
@petervojtek
First, this endpoint uses old implementation now and it's hard to understand the code :).
Second, you're almost right, can omit `field_name`, only `id` matters in `field` object.

https://github.com/PowerlineApp/powerline-server/pull/212 covers the case with joining to a group with fields, but it should work without that PR.

[2016-07-24 16:45] austinpapp commented on #134
right. its not ideal. i know. however, this was the original design which we will eventually have to come back to and refactor (unfortunately).

@petervojtek if you see any area where it should be improved when it comes to adding fields, please let me know. as an example:

[2016-07-25 06:27] petervojtek commented on #37
ok, so it is done. favorites are served and rendered in the same format as newsfeed items.

[2016-07-25 06:27] #37 closed, assigned to petervojtek, igaponov, jterps08

[2016-07-25 06:41] petervojtek commented on #134
thank @igaponov , I updated the `PUT api/v2/user/groups`.

@austinpapp --currently mobile app is not supposed to create such groups (with fields to be filled in on join). currently mobile app is meant to allow creating only the most simple groups -- open without any fields to fill in, so it does not matter now how the "add fields to group" endpoint looks like from my point of view :)

However, if

[2016-07-25 06:48] petervojtek commented on #134
ok, now I miss one last use case to test from mobile app: group with permissions (name, address, phone no, ..).
I tried to alter existing group to require such permissions from web app, but the Save button is not working.
@austinpapp, someone you please create such a group for me?

[2016-07-25 07:06] petervojtek commented on #134
@igaponov , now I try to test following use case: "user wants to join group which requires permissions".

I created a group and added it permissions:

[code]

but then, when I get detail of the group, `required_permissions` is empty array:

[code]

[2016-07-25 12:37] petervojtek commented on #110
done.

[2016-07-25 12:37] #110 closed, assigned to petervojtek

[2016-07-25 12:39] petervojtek commented on #107
done for the descriptions.

[2016-07-25 12:39] #107 closed, assigned to nobody

[2016-07-25 12:43] austinpapp commented on #134
@petervojtek yes. everything you said is accurate. i was just using that as an example :)

[2016-07-25 12:47] petervojtek commented on #103
blocked by #116

[2016-07-25 12:51] petervojtek commented on #97
@austinpapp , can you give me passphrase for `release.keystore` via slack  so that I can test/inspect the app in production env?

[2016-07-25 12:52] austinpapp commented on #116
https://github.com/PowerlineApp/powerline-server/pull/201 was deployed

[2016-07-25 13:27] petervojtek commented on #22
I spend some time searching for the code which should be able to deliver the link preview functionality, but it does not seems to be present in the current mobile app repo. I only discovered some ability to handle [youtube links](https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/utils.js#L3).

Maybe the code was not moved from the old app.
@jterps08 , can you tell me wh

[2016-07-25 13:29] austinpapp commented on #22
@petervojtek the cordova one should be it.

[2016-07-25 13:56] austinpapp commented on #62
im not sure exactly where this file name came from but its in the database and thus constructed in the fashion you see. however, s3 does not have that file available to it hence the broken image.

we could create a 1 time script that goes through and checks if the file exists on s3 with what the data field has. if it does exist, we simple skip that one. if it doesn't exist on s3, we NULL the value

[2016-07-25 14:02] petervojtek commented on #116
good job, it works.

[2016-07-25 14:02] #116 closed, assigned to petervojtek

[2016-07-25 14:05] petervojtek commented on #103
done.

[2016-07-25 14:05] #103 closed, assigned to nobody

[2016-07-25 14:38] jterps08 commented on #97
@petervojtek @austinpapp we need to test this in staging before we go to production.

[2016-07-25 14:59] jterps08 commented on #142
@petervojtek @igaponov What do we need to unblock this?

[2016-07-25 15:05] petervojtek commented on #97
when asking for the passphrase I had no intention to push the production APK to google play store.. I only wanted to try it locally in smartphone to compare requires permissions (and in general check if there isn't something principally broken in production APK, as currently I work only with development APKs which are bit different).

I already received from Jesse the guidelines on how to build a

[2016-07-25 15:07] petervojtek commented on #142
@jterps08 , from mobile app point of view the best will be if activity item could carry some attribute like `is_signed = true`.

[2016-07-25 15:10] jterps08 commented on #142
Ok - let's do that, assuming it is acceptable to @igaponov

[2016-07-25 15:12] jterps08 commented on #97
Thanks for clarification @petervojtek - I want to make sure we test in staging environment... Right now we are working in Dev environment, but we do have a staging environment we can leverage (for apk/ipa to connect to backend staging), so that we can confirm server stability in staging environment before pushing to production server..

[2016-07-25 17:00] austinpapp commented on #97
team - once we feel the backend is stable enough to be considered "ready", i'll push to staging. from there its bug only. enhancements will be addressed in another release.

[2016-07-25 17:13] petervojtek commented on #97
@jterps08 , I confirm that the latest code (v2.0) does not adds any additional permission requirements (at least on android) compared to the current production version in app store (1.3).

Actually, the version 2.0 currently requires less permissions than v1.3 -- the difference is in access to Calendar. I have not hit that use case in new app at all, I guess it will be related to Event activity (w

[2016-07-25 17:13] #97 closed, assigned to petervojtek

[2016-07-25 18:29] austinpapp commented on #145
@petervojtek are you looking for full html like we have for the comment body or just a data user id with the id of the user?

My suggestion would be a returned hashmap of usernames to ids so we can handle several mentions correctly. So an attribute of `data-user-ids` with a hashmap.

[2016-07-25 19:09] jterps08 commented on #97
Thanks Peter - yes, access to the calendar will be required. We have a special behavior that when user receives Event from leader and responds to RSVP (Yes, No, etc.), that the answer is recorded and the user's device calendar is pre-populated with the event's details for easy saving to the user's actual calendar. We will need to keep that permission.

[2016-07-25 20:31] austinpapp commented on #115
i'm not really sure what i need to answer here but i'll try and register via our fb endpoint and report back with findings.

[2016-07-25 20:40] austinpapp commented on #109
fyi https://github.com/PowerlineApp/powerline-server/issues/206 was deployed

[2016-07-26 07:42] petervojtek commented on #109
ok, thanks, it works well.

[2016-07-26 07:42] #109 closed, assigned to petervojtek

[2016-07-26 08:19] petervojtek commented on #22
@jterps08 , the old mobile app app also does not seem to include business logic to parse&transform urls to previews. My guess is this was performed on backend and then `activity.description` served from server was rich html (rendering such html is already supported by the mobile app):

dummy example how html enhanced `activity.description`:

[code]

If my assuption is correct, then this is a backe

[2016-07-26 08:56] petervojtek commented on #143
the transition from login screen -> activity newsfeed screen has potential to be optimized (that is what the warning was about), but given the circumstances, let us rather optimize only those screens/transitions, which will really feel slow -- let us address them in separate issues.

[2016-07-26 08:56] #143 closed, assigned to petervojtek

[2016-07-26 09:07] petervojtek opened #150 "newsfeed activity: switching between group filters is slow"
the slowest one is switching from some particular group (e.g. Bucklin) to "All", it may take 2-3 seconds. It depends on how many items are there in "All" newsfeed.

Observed on quite powerful smartphone (Snapdragon 615 CPU) with cca 30 items in "All" feed.

In the past there were already attempts to optimize rendering of activity newsfeed by adopting [bindonce](https://github.com/Pasvaz/bindonce).

[2016-07-26 10:16] petervojtek opened #151 "performance optimizations"
the UI feels "bit slow" (mostly switching between views).

will collect here notes how we can optimize the UX feel:
- move some business logic to  web worker (secondary) thread. Currently all business logic is in the main UI thread.
  - What to move: ajax calls and response parsing.  iTag detection & parsing (e.g. #hashtag).
  - prior doing this optimization will need to confirm that all target pl

[2016-07-26 11:31] austinpapp commented on #62
all of the `avatar_file_name` references in the dev db do not actually exist in dev s3 bucket. i'm not that concerned about that. anyway, i nulled all of those values. however, i did update group 308 with a reference to an existing file. we can test there. basically, all groups should show up with ng-letters now.

[2016-07-26 12:55] jterps08 opened #152 "Activity Prioritization Again"
Activity Prioritization was moved to server side back in April: https://github.com/PowerlineApp/powerline-server/pull/113

Ideally, the mobile app should not be doing any prioritization sorting. Right now, Peter has written logic here: https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity/activity-model.js#L96... And he started making a comment about it here: https

[2016-07-26 12:56] petervojtek commented on #152
from mobile app point of view I would expect the backend will provide for each activity item an attribute e.g. `is_in_priority_zone: boolean.`

[2016-07-26 13:05] petervojtek commented on #62
I confirm that group 308 icon is working :)

<img width="777" alt="screen shot 2016-07-26 at 15 04 36" src="https://cloud.githubusercontent.com/assets/225506/17138809/59fa9868-5342-11e6-9c28-eee839d5b5c3.png">

[2016-07-26 13:05] #62 closed, assigned to petervojtek

[2016-07-26 13:10] jterps08 commented on #143
I definitely would like to optimize that login -> activity newsfeed screen transition. I've noticed that too... I shall start a list of UX improvements in an issue for us to keep track of @petervojtek

[2016-07-26 13:53] jterps08 opened #153 "UX Improvements List"
1.  Transition between Login screen and Activity Newsfeed screen should be optimized
2. User registration process should be optimized. Perhaps moving phone number and birthdate to a 'follow-up' reminder. Would be nice to auto-populate phone number field based on device data.
3. Activity Detail screen re-designed including better upvote/downvote process, results display, and better display of attac

[2016-07-26 13:56] jterps08 commented on #62
Finally! :100:

[2016-07-26 13:57] jterps08 commented on #132
Doesn't Ionic have a caching concept we can leverage?

[2016-07-26 13:58] jterps08 commented on #153
closing as duplicate

[2016-07-26 13:58] #153 closed, assigned to jterps08

[2016-07-26 13:59] jterps08 commented on #151
Adding:
1. Transition between Login screen and Activity Newsfeed screen should be optimized
   2.User registration process should be optimized. Perhaps moving phone number and birthdate to a 'follow-up' reminder. Would be nice to auto-populate phone number field based on device data.
   - P.: this is not performance optimization, we should not treat it here
2. Activity Detail screen re-designed in

[2016-07-26 14:03] jterps08 commented on #22
@petervojtek - The image preview concept was built in April. It is not included in the Bitbucket v1 repo. If anything it would be somewhere around this commit. We referred to it as metadata link preview. https://github.com/PowerlineApp/powerline-mobile/commit/4daf0eb449b47ed15deb8cdca2b8a64fc77087f0

[2016-07-26 14:04] jterps08 commented on #150
(sigh) let's display the loader for now and we'll add the group filter rendering to the UX improvements list

[2016-07-26 14:14] jterps08 commented on #64
Can we close this @austinpapp ?

[2016-07-26 14:32] austinpapp commented on #64
nope. haven't built the travis code yet.

[2016-07-26 22:49] austinpapp commented on #130
quick update here. i had created a few events and petitions for group 308. however, the issue is this logic is buried in the admin portal (a site we had that a group leader would log into and actually create the question content) which would not only publish the leader question but also update the activities table with that activity. so there were multiple things happening in the background that w

[2016-07-27 06:57] petervojtek commented on #132
ionic itself no.. but the mobile app is using html5 persistent storage for caching which is just fine for that purpose.

[2016-07-27 07:13] petervojtek commented on #145
@austinpapp , I prefer "full html like we have for the comment body" so that we have this feature implemented consistently.

i.e. activity will feature:

[code]

The same for petition/post/whatever which has a description.

[2016-07-27 10:09] petervojtek commented on #22
thanks for hint @jterps08, I managed to resurrect it.

Current behaviour is following:

<img width="773" alt="screen shot 2016-07-27 at 12 04 13" src="https://cloud.githubusercontent.com/assets/225506/17171785/7b28372e-53f2-11e6-9fcf-19e190475c5d.png">

Few remarks:
- backend properly generates metadata link title and description, but image is always null.
- When you click the metadata link (title

[2016-07-27 10:27] petervojtek commented on #138
done.

[2016-07-27 10:27] #138 closed, assigned to petervojtek

[2016-07-27 10:44] petervojtek commented on #8
Do I understand properly that this enhacement is related only to following two screen: social feed and messages? (or is it also somehow related to push notifications?)

<img width="764" alt="screen shot 2016-07-27 at 12 41 57" src="https://cloud.githubusercontent.com/assets/225506/17172849/98c98314-53f7-11e6-9d42-fcdf29df64f0.png">

[2016-07-27 11:03] petervojtek commented on #148
newsfeed is currently using following icons (because they are out of the box from ionicons.com):

### Not following

<img width="47" alt="screen shot 2016-07-27 at 12 51 21" src="https://cloud.githubusercontent.com/assets/225506/17173072/ddc79fc2-53f8-11e6-86b1-39de40dcccc6.png">

This is ok..

### Waiting for approval

<img width="43" alt="screen shot 2016-07-27 at 12 52 30" src="https://cloud.gi

[2016-07-27 11:29] austinpapp commented on #148
this makes more sense to me.

[2016-07-27 12:54] petervojtek commented on #132
ok, done.

[2016-07-27 12:54] #132 closed, assigned to austinpapp

[2016-07-27 18:49] jterps08 commented on #148
good plan. Thanks Peter.

[2016-07-27 19:01] jterps08 commented on #8
No, it is related to the OS push notification alerts.

Our push notifications plugin: https://github.com/phonegap/phonegap-plugin-push
has a concept called Notification Action Buttons: https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#action-buttons
which, as outlined here, we want to leverage for certain types of notifications: https://github.com/PowerlineApp/powerline-

[2016-07-27 20:08] jterps08 commented on #22
Peter - Ok. Let's assign this to Igor. We need the URL provided and the metadata Image URL provided. I agree that we want the click-through  of title/description/image to go to the actual URL not the activity-post-detail screen... We may end up turning this off in the future. One of the risks of this concept is porn/spam... I'm open to your suggestions on this. WhatsApp shows a blurred image first

[2016-07-27 20:26] igaponov commented on #152
I've exposed `zone` attribute, it can be one of: `prioritized`, `non-prioritized` and `expired`.

[2016-07-28 06:19] petervojtek commented on #8
thanks for clarification @jterps08 .

So this issue is actually composed of three tasks:
1. Generate the push notification (on our backend I guess)
2. Deliver the push notification
3. Display the push notification with proper action buttons.

I am not sure if step 1. and step 2. currently work at all -- how can I make sure the notifications are  working on backend side and are being delivered? May

[2016-07-28 06:26] petervojtek commented on #137
this should be fixed thanks to #132 .

currently there may appear newsfeed posts without a group name, but that is due to bug #141 .

[2016-07-28 06:26] #137 closed, assigned to nobody

[2016-07-28 06:50] petervojtek commented on #22
there is [css-blur](http://caniuse.com/#feat=css-filters) filter so blurring/unblurring the image onclick in mobile should be easy.

[2016-07-28 07:03] petervojtek commented on #127
@igaponov , in activity newsfeed we want to display number of comments. However currently there does not seems to any attribute in activity which exhibits this number.

For example, here is activity for micro-petition:quorum (which has 1 comment):

[code]

there is an attribute `responses_count`, but it's value is zero.

[2016-07-28 07:13] igaponov commented on #142
@petervojtek I've exposed `answers` attribute with current user's answers. If this collection isn't empty - user signed a petition.

[2016-07-28 07:40] igaponov commented on #22
@jterps08 `metadata` attribute is currently available only for micropetition activity.

[2016-07-28 09:06] petervojtek commented on #148
ok, I altered it as visible on screenshots below. I had to make one adjustment -- unfortunately ionicons do not include hour-glass, so I employed clock to denote waiting-for-approval.

<img width="249" alt="screen shot 2016-07-28 at 10 58 44" src="https://cloud.githubusercontent.com/assets/225506/17207061/032128d2-54b3-11e6-8c5b-6e0847920e29.png">
<img width="792" alt="screen shot 2016-07-28 at 11

[2016-07-28 12:53] jterps08 commented on #148
Makes sense. Clock may need to be changed in the future based on user testing, but I think it certainly works for now!

[2016-07-28 12:58] jterps08 commented on #127
FYI: There's responses_count (which is the number of upvotes + downvotes I believe) and there's comments count. We need comments count.

Peter - One UI idea for displaying responses count in future is including that number in a little "P" icon (powerline P) as 3 upvotes and 5 downvotes  as "-2" for example. Instead of actually stating 3 up, 5 down. Rationale: We don't want people to necessarily ch

[2016-07-28 13:00] jterps08 commented on #8
Step 1 and step 2 should be completed. All push notification alerts are working in production environment and were last fully tested in February. We have been unable to test push notification alerts in dev environment because I don't have an interface to create leader content.

This item should be about # 3, but we may end up having to confirm 1 and 2 work first.

Bringing in @austinpapp to discus

[2016-07-28 13:27] austinpapp commented on #22
@jterps08 i assume you want all activities including leader questions to have this functionality?

[2016-07-28 14:58] jterps08 commented on #22
We certainly want the metadata for micropetitions updated to include URL image.

I will create a separate issue for Igor (lower priority) regarding making metadata possible on all leader content.

[2016-07-28 14:59] jterps08 opened #154 "Supporting Leader Content Metadata"
Currently metadata (Title, Description, Image) of embedded link is only supported for posts (micropetitions). We need it to be supported for leader content.

This requires handling on front-end, but it requires backend work adjustment too.

[2016-07-28 15:11] petervojtek commented on #8
btw I live in development environment .. I have not tried to access production environment in order to avoid doing some damage..

[2016-07-28 15:16] austinpapp commented on #8
the current situation is i have to write the logic to handle the leader questions because we do not have the endpoints to handle it right now...

[2016-07-28 15:19] austinpapp commented on #8
as for the other push notification worthy content (micro-petitions, etc) i'm not sure of the best way to test the push notifications without a properly registered mobile device. i have to explore this one a bit more as we need to know what phone id number to use, make sure rabbitmq is working correctly, the consumer is picking up the content off the queue and dropping it on to the right aws sns qu

[2016-07-28 15:21] austinpapp commented on #134
https://github.com/PowerlineApp/powerline-server/issues/214 was deployed.

[2016-07-28 15:21] austinpapp commented on #142
https://github.com/PowerlineApp/powerline-server/issues/221 was deployed

[2016-07-28 15:22] austinpapp commented on #144
https://github.com/PowerlineApp/powerline-server/issues/220 was deployed

[2016-07-28 15:23] austinpapp commented on #152
https://github.com/PowerlineApp/powerline-server/issues/219 was deployed

[2016-07-28 15:27] austinpapp commented on #152
@petervojtek are you good with parsing based on the zone value? would it be easier to handle this as `(0,1,2)` ?

[2016-07-28 15:30] #148 closed, assigned to petervojtek

[2016-07-28 16:20] igaponov commented on #134
@petervojtek use `GET /api/v2/groups/{id}/permission-settings` to get permission settings

[2016-07-28 16:29] jterps08 commented on #8
For clarity:

Not true, we have the endpoints. Igor created them and I can see them in the API doc.

Not only is this currently working in production correctly. It was working in February during the last test. I am unsure if any of this got screwed up when we transitioned to single sign-on and API v2. I have been unable to create leader content since API v2 was released. Thus, I am unable to test

[2016-07-28 16:48] igaponov commented on #22
@jterps08 currently metadata has `title`, `description` and `image`.

[2016-07-28 17:08] austinpapp commented on #8
it is true. if i create a leader petition, the current endpoint does not auto-publish that petition (not desired anyway) nor there is no endpoint to publish it. therefore, i have to replicate the logic to publish something which would include an entry in activities table and a message to our queue for push notifications.

igor did work on the event listener to handle this work for the admin site o

[2016-07-28 17:09] igaponov commented on #127
@petervojtek @jterps08 currently `responses_count` is the comments count on petition creation or petition update, because activity is created on petition create/update event (if somebody add comment this number will not change). So, do we need to expose real `comments_count` or not?

[2016-07-28 17:28] igaponov commented on #115
After this issue we will have to add client_id/client_secret of facebook app to backend config

[2016-07-28 20:46] jterps08 commented on #22
That's the URL for the image?

[2016-07-29 05:56] igaponov commented on #22
@jterps08 yes

[2016-07-29 17:29] jterps08 commented on #22
@petervojtek let us know what else needs to be done

[2016-07-31 17:03] petervojtek commented on #152
@austinpapp , I find the current approach perfect (prioritized, non-prioritized and expired as text), because is is self exaplaining and does not requires to use enum in source code.

[2016-07-31 17:08] petervojtek commented on #8
@austinpapp,

it is not a problem for me to test push notifications on real mobile device (I just need the push notifications to be working in dev-api -- because I deploy powerline app build for dev-api to the mobile device for testing).

[2016-07-31 17:10] petervojtek commented on #127
I rather leave this question to be answered by Jesse :) [but from UI point of view, the current behaviour is confusing for an user].

[2016-07-31 17:15] petervojtek commented on #22
@igaponov , I'd like to ask for following:
- currently `metadata.image` seems to be always null, please fill in there some image url.
- please add `metadata.url` which will contain the same url which triggered the whole metadata workflow (e.g. `metadata.url=www.google.sk`)

[2016-07-31 17:35] petervojtek commented on #142
@igaponov  , I sign a micro-petition:long-petition 228:

[code]

but then when I get list of activities, the micro-petition 228 activity item does not seems to contain `answers` attribute.

[code]

Actually from user point of view I find it confusing that after sign in it seems the activity item is suddenly present twice in the activity newsfeed.

[2016-07-31 17:45] petervojtek commented on #152
ok, implemented.

[2016-07-31 17:45] #152 closed, assigned to austinpapp

[2016-07-31 17:58] petervojtek commented on #144
thank you all. I confirm the user profile newsfeed seem to contain only those activity items described by Jesse:
- that user A created
- that user B has permission to view (he must be in the same groups)

[2016-07-31 17:58] #144 closed, assigned to jterps08

[2016-07-31 18:03] petervojtek commented on #96
@jterps08 , do you really want to pay attention to android 4.2?
 I only hit that issue because I used one old smartphone I own, but many apps already dropped support for android 4.2 and the lowest android version they support is 4.3 or 4.4 (from my fresh experience: Xiaomi, banks in europe).

[2016-07-31 18:05] petervojtek commented on #154
If I understand this task properly, we are blocked by changes to be done on backend first (and actually from frontend point of view it will be very easy to copy&paste the html from micro-petitions.

[2016-07-31 19:25] igaponov commented on #22
`metadata.image` is not null only if there is an image on petition page. I use the first url in `description` of a petition.

[2016-07-31 20:51] jterps08 commented on #127
we need a separate count for comments and separate score for upvotes/downvotes (e.g. +25, -13 = 12... +20, -8 = 12)... this 'score' is not the same as total votes (25+13=38 or 20+8=28)...

[2016-07-31 20:56] austinpapp commented on #96
it's like ie6. at some point you just got to say enough is enough :) so imho, let's not worry about it.

[2016-08-01 00:30] jterps08 commented on #96
I don't mind non-compatibility with 4.2. Obviously, the more compatibility the better.

[2016-08-01 00:34] jterps08 commented on #22
I'm not sure if we have common understanding of what the metadata is. If a user includes a link in the body of the text of a micropetition (e.g. www.google.com), then the metadata should capture the title, description, and image from google.com. for google.com, for example, I believe the metadata url would be www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png (or something

[2016-08-01 05:39] petervojtek commented on #96
@jterps08 , I suggest to take android 4.4 as our bottom line: https://developer.android.com/about/dashboards/index.html
as you can see from the stats, androids 4.2 and 4.3 are getting out of mainstream.

I will test the app on android 4.4 and test if all works as expected, ok?

[2016-08-01 05:39] #96 closed, assigned to jterps08

[2016-08-01 05:41] petervojtek commented on #22
@igaponov , regarding this sentence:

yes, and I would like to ask you to just provide me the url in `metadata.url` so that I don't have to parse the url from `description` because you already did that job.

[2016-08-01 06:07] petervojtek opened #155 "add bookmark not working"
[code]

[2016-08-01 06:10] petervojtek opened #156 "toasts are not used consistently"
some actions do not display toasts (e.g. follow user from user profile).

[2016-08-01 06:11] petervojtek commented on #155
broken due to api changes. fixed.

[2016-08-01 06:11] #155 closed, assigned to petervojtek

[2016-08-01 06:16] petervojtek opened #157 "Influences: Empty screen when user has zero Following/Followers"
should display some message like "You have no followers" in such case..

[2016-08-01 06:19] petervojtek opened #158 "Too many items in main menu - they don't fit on screen"
There are "Share this app" and "Logout" items in menu which are not visible.
To access them user must scroll down the menu and it is easy to accidentally click other menu item while scrolling.

<img width="302" alt="screen shot 2016-08-01 at 08 20 25" src="https://cloud.githubusercontent.com/assets/225506/17285101/d356f29c-57c0-11e6-8bc7-27c274cec178.png">

The amount of items in main menu should

[2016-08-01 06:23] petervojtek opened #159 "toggle main menu button behaviour is confusing"
1. I am in newsfeed activity screen
2. I click the burger icon in top left corner
3. main menu is displayed
4. I click the same place again (top right corner) and I am displayed search screen -- I find it confusing, I would expect clicking the same place would keep me on the screen I am (newsfeed activity) and only hide the menu menu.

[2016-08-01 08:31] petervojtek commented on #91
it still happens..

[2016-08-01 08:39] petervojtek commented on #91
ok, I made it more bulletproof, but the bug is non-deterministic so not sure it is 100% fixed.

[2016-08-01 08:39] #91 closed, assigned to petervojtek

[2016-08-01 09:00] petervojtek commented on #134
@igaponov , the permissions seems to be empty despite I [set them in the past](https://github.com/PowerlineApp/powerline-mobile/issues/134#issuecomment-234859128):

[code]

[2016-08-01 09:06] petervojtek opened #160 "Groups search screen is confusing"
When I visit search for (unjoined) groups, I looks like this:
### Screen 1

<img width="779" alt="screen shot 2016-08-01 at 11 01 51" src="https://cloud.githubusercontent.com/assets/225506/17288876/6b5a8aac-57d7-11e6-992f-3a4b8bb36df8.png">
### Screen 2

Then when I search for `Peter` string, I see following results:

<img width="788" alt="screen shot 2016-08-01 at 11 02 42" src="https://cloud.git

[2016-08-01 09:55] petervojtek commented on #122
@igaponov , I try to replace "approve follower" API call from v1 to v2.

I have user `Peter21` (ID=77) which wants to follow `Peter9` (ID=71), and now `Peter9` is about to approve the follower:

here is working v1 call:

[code]

and this is what happens when I switch to v2 approval:

[code]

I am not sure if I should send some other ID in the URL or what may be the issue.
I am also not sure if I a

[2016-08-01 11:02] petervojtek commented on #150
ok, loader is there.

[2016-08-01 11:02] #150 closed, assigned to petervojtek

[2016-08-01 11:58] austinpapp commented on #115
https://github.com/PowerlineApp/powerline-server/issues/224 deployed.

[2016-08-01 14:09] jterps08 commented on #96
sounds good

[2016-08-01 14:14] jterps08 commented on #158
Hmmm... Can we have two columns on the menu instead of one? Like Windows 8 Start Menu style almost where it's like 8-10 large tiles 2x4 or 2x5...

It's probably better to show Share this App compared to Other Apps, but I really don't want to remove any of these items.... Another idea might be to combine My Profile & Settings screens into a tabbed page and/or make the "Find friends" screen accessib

[2016-08-01 14:16] jterps08 commented on #159
Agreed. Maybe replace search field with a search icon to open up search screen?

[2016-08-01 14:18] jterps08 commented on #160
This is definitely confusing.

First, the New Groups & Popular Groups should only show the top 5. No need to show all. So we should limit this down to 5.

I would expect to see the "another" groups as well, but I am unsure why they are not displaying. Is this a search issue on the backend?

I do not think the search screen should have the bar to switch between newsfeed, social feed, messages.

Agr

[2016-08-01 14:20] jterps08 commented on #130
Any update here? Would like to try to get this fixed before Wednesday's test build

[2016-08-01 14:30] austinpapp commented on #157
Something like: "Well that's a bummer. It looks like no one is following you!"

do we have a help screen/page for this? we can add things like "how to get followers"

[2016-08-01 14:33] jterps08 commented on #157
"Well, that's a bummer. It looks like no one is following you."
plus the bottom to the Friend Finder page.

I actually want to add these 'humanizing placeholder text' concepts around the app. I'll create an issue

[2016-08-01 14:34] austinpapp commented on #91
we will just an eye on this for now and i dont want you wasting too much time on it for now.

[2016-08-01 14:38] jterps08 commented on #67
Just want to confirm that we are on track to change this. The FB API v2.0 will be deprecated this week. v2.7 needs to be called instead.

[2016-08-01 14:57] petervojtek commented on #92
not relevant, we ignore android versions below 4.4 (#96)

[2016-08-01 14:57] #92 closed, assigned to nobody

[2016-08-01 14:58] petervojtek commented on #159
if we resolve how to position the main menu items to fit on screen (#158), we can just add "Search" as additional main menu entry.

[2016-08-01 15:02] petervojtek commented on #158
two columns sound good. When In future I find my way to this low-priority issue, I will re-position the main menu items into two columns and provide screenshot for acknowledgement/feedback.

[2016-08-01 15:03] petervojtek commented on #160
@jterps08 , please assign this issue a priority :)

[2016-08-01 15:14] petervojtek commented on #115
@igaponov , When I try to post facebook auth details I experience following server behaviour:

[code]

I pasted additional details into https://powerline.slack.com/archives/mobile-app-bug-115

[2016-08-01 15:42] jterps08 opened #161 "Humanizing Placeholder Text"
Empty Newsfeed - "The world belongs to those who speak up! Be the first to create a post!" - DONE
Empty Followers - "Well, that's a bummer. You don't have any followers yet." - DONE
Empty Social Activity Feed - "Seems quiet in here. Are you following anyone?" - DONE
Empty Announcements/Messages - "The only announcement right now is that there are no announcements." - DONE

Empty New Post Field - "