[2016-11-17 08:30] petervojtek commented on #350
done.

the icon looks like this:

<img width="425" alt="screenshot 2016-11-17 09 31 57" src="https://cloud.githubusercontent.com/assets/225506/20381668/be577ae6-aca8-11e6-9a53-38a8bb7337a9.png">

[2016-11-17 08:30] #350 closed, assigned to jterps08

[2016-11-17 09:17] petervojtek commented on #338
@jterps08 , and regarding the cardinality of attachments, I guess following makes sense, please confirm:
- text - only one such attachment
- photos - many
- videos - many

[2016-11-17 12:24] jterps08 commented on #338
agreed, no more than 3 total attachments max please (e.g. 2 photos 1 video, 3 videos... 3 photos... 1 text 2 videos, etc)

[2016-11-17 17:16] jterps08 opened #416 "Suggest @mention for user post/petitions"
Currently @mention suggestion pop-up shows for comments. Needs to show for user posts/petitions as well.

[2016-11-17 17:17] jterps08 opened #417 "New Group Creation Forum - Unable to Submit"
Latest build erik+develop... unable to submit New Group form... Fill out form, hit send, shows spinner, stays on form. Should take me to new group profile screen.

[2016-11-17 17:18] jterps08 opened #418 "My Reps Screen Blank"
New build erik+develop... My Reps Screen is blank

[2016-11-17 17:25] jterps08 opened #419 "Confusing Subscription Flow"
Currently, user needs to go to Fundraiser Setup tab to Add Payment Card for Subscription Level... We should move Add Payment Card section from Fundraiser Setup to Subscription Level tab. If group does not have card setup, the screen

[2016-11-17 17:25] jterps08 opened #420 "Unable to Tap on "Invite Followers to Group""
I try to tap on Invite Followers to Group from Group Profile screen... button stays visible, but does not result in pop-up as expected.

[2016-11-17 17:52] jterps08 commented on #377
@eriklouis129 can you fix the last item "New Group Announcement" so that it can be visible?

[2016-11-17 18:06] jterps08 opened #421 "Save Credit Card Fails"
From My Settings Screen, user goes to Add Card, enters information, hits Submit. Nothing happens. No error, no card added.

[2016-11-18 06:30] petervojtek commented on #417
@igaponov , when trying to create a group following response comes from server:

[code]

[2016-11-18 08:58] petervojtek commented on #338
@jterps08 , it's done.

when creating a new leader content (except announcement), on bottom of the form is a button "Add attachments". When you click it, following form will expand:

<img width="396" alt="screenshot 2016-11-18 09 56 44" src="https://cloud.githubusercontent.com/assets/225506/20424299/63f1bf94-ad75-11e6-8b30-2c995a562822.png">

[2016-11-18 15:02] jterps08 commented on #417
@igaponov is this resolved now due to Server-410 above or still open? I'd like to get the latest build as soon as possible.

@petervojtek - develop+erik was working well for me with the exception of the issues that I found yesterday (namely, creating new group and my Reps listing screen)... Not sure how these broke and if they were due to Erik's work or igor or you... I have not tested sorting or

[2016-11-18 15:03] jterps08 commented on #338
fantastic - thank you @petervojtek

and just to confirm - when the attachment is displayed in the newsfeed, it's being processed through imgix, right?

[2016-11-18 15:06] igaponov commented on #417
@jterps08 resolved

[2016-11-18 19:45] jterps08 commented on #417
Keeping it open with Ready for Retest, letting Peter verify to close

[2016-11-18 20:01] jterps08 commented on #410
@igaponov I know you finished https://github.com/PowerlineApp/powerline-server/issues/244... Which needed to be done per your comment above before proceeding... please update Peter once you have completed the reports so that he can incorporate on frontend

[2016-11-19 14:11] igaponov commented on #410
@jterps08 PowerlineApp/powerline-server#244 is not finished. Group's poll report can be done only after 244. Other reports are ready.

[2016-11-19 14:56] jterps08 opened #422 "Expired Poll is showing up in Priority Zone"
Logged in as user 1.JesseChen. There is a poll "Something" in Build Test Three. I try to answer, but I can't because it's expired. Expired content should not be in the priority zone.

[2016-11-20 09:41] igaponov commented on #422
@jterps08 this poll was expired yesterday, 17:21 UTC. You added your comment at 14:59 UTC, so it must be in prioritized zone. What did you do to answer it?

[2016-11-20 15:28] jterps08 commented on #422
I was unable to answer it. I could only add a comment.

Or maybe I had answered it previously but it was still showing up in the priority zone.

[2016-11-20 15:35] igaponov commented on #422
@jterps08 what do you mean "unable to answer"? Did you get an error? Or there is no a button to answer in app?

[2016-11-20 15:47] jterps08 commented on #422
no buttons to select an answer choice

[2016-11-21 00:38] igaponov commented on #422
@petervojtek what is the condition to hide the button?

[2016-11-21 06:45] petervojtek commented on #338
@jterps08 , regarding image attachments -- when adding attachment, image is send to backend as B64 encoded string.

when displaying attachment, backend sends the image as B64 -- it is not served via URL from imgix.

[2016-11-21 06:48] petervojtek commented on #421
@jterps08 , I cannot reproduce the bug (at least as Peter12) -- I can successfully add a card with number `4012888888881881`.

[2016-11-21 06:51] petervojtek commented on #418
@jterps08 , I am not sure what do you expect to see -- some representatives, or a message saying "you have no representatives" ?

For Peter10 the list of his representatives is an empty array:

[code]

[2016-11-21 06:53] petervojtek commented on #417
it works.

[2016-11-21 06:53] #417 closed, assigned to jterps08

[2016-11-21 07:02] petervojtek opened #423 "Response on wrong login credentials is plain text instead of JSON"
@igaponov ,everywhere else the server response is JSON, but in this case the response is plain text (which sort of breaks the frontend workflow):

[code]

if possible, I would like to have this response as JSON as well. Actually I believe the response was a JSON not so long ago but was changed to plain text recently (maybe I am wrong).

[2016-11-21 07:23] petervojtek commented on #422
I confirm that expired poll was displaying "Answer" button in activity newsfeed (there was no condition to hide it in the source code).

I added the condition so that the "Answer" button is hidden when poll is expired.

[2016-11-21 07:23] #422 closed, assigned to jterps08

[2016-11-21 07:28] petervojtek commented on #420
I cannot reproduce this bug. as Peter10 I can successfully click Invite button in top right corner in G60 group detail and the invititation request is sent successfully

[2016-11-21 07:37] petervojtek commented on #416
done

[2016-11-21 07:37] #416 closed, assigned to jterps08

[2016-11-21 08:06] petervojtek commented on #411
@jterps08 , do you mean this form? ;

<img width="412" alt="screenshot 2016-11-21 09 04 03" src="https://cloud.githubusercontent.com/assets/225506/20474964/83fa1272-afc9-11e6-8b49-182e83b76b24.png">

there is no field named Town. there is City, but from my experience it seems the address is replaced properly.

here is the address I fill in into the first field (Street Address): `2150 Market Street

[2016-11-21 08:24] petervojtek commented on #395
@jterps08 , I removed the "remove" and "approve" text labels and the unnecessary user details, but I doubt there exist icons  "promote to manager" and "downgrade to regular member" which will be intuitively understood without text labels.

If you can suggest some icons I will use them. best if you can use some of those: http://ionicons.com/

[2016-11-21 11:22] petervojtek commented on #419
@jterps08 , it seems you did not finished the sentence:

[2016-11-21 12:09] petervojtek commented on #396
done.

[2016-11-21 12:09] #396 closed, assigned to jterps08

[2016-11-21 12:25] petervojtek commented on #383
@jterps08 , the lightning icon is already used to manually boost post/user-petition.
is it ok to use following icon for the purpose of inviting to group?:

<img width="414" alt="screenshot 2016-11-21 13 19 42" src="https://cloud.githubusercontent.com/assets/225506/20482484/2f2090fe-afed-11e6-91bb-29d7ac61325d.png">

Which user can perform that action? any group manager, and group owner?
and which

[2016-11-21 12:50] jterps08 commented on #421
perhaps its because I have an "old" user that I'm trying to do this with...

![screenshot_20161121-074927](https://cloud.githubusercontent.com/assets/7582457/20483275/2c872bce-afbf-11e6-856f-f03567a2a6d4.png)

[2016-11-21 12:52] jterps08 commented on #422
Ok, we can keep it closed but - to be clear - it was showing a red dot. It was in the priority zone. I would ask you to find it yourself, but it has now actually expired. It was showing a red dot before it was expired and either 1) after I had answered it or 2) I was unable to answer it -- not clear whether it was 1 or 2.

[2016-11-21 12:56] jterps08 commented on #383
Peter:
Icon is okay for now.
Only the post/petition author can tap the button. Only after the item has been boosted (manually or automatically it doesn't matter)
Only the user's current groups will appear. He does not need to be a manager or owner in these groups.

@igaponov There should be some sort of api endpoint for this that Habibillah worked on a while ago. https://github.com/PowerlineApp/po

[2016-11-21 13:00] jterps08 commented on #418
@petervojtek this screen is supposed to show representatives. I have provided a real address for my username 1.JesseChen and nothing is showing up on Representatives screen. This was previously working before Erik's changes were included I believe or at least a few builds ago it was working...

If there are no Representatives, it can say "We can link you to your Elected Representatives in the US,

[2016-11-21 13:01] jterps08 commented on #411
@petervojtek exactly

Town/City is the same thing. That's okay.

But when you pick one option and change it to another, *all* fields need to be replaced with new value.

[2016-11-21 13:13] jterps08 commented on #420
I cannot reproduce it either

[2016-11-21 13:13] #420 closed, assigned to jterps08

[2016-11-21 13:24] jterps08 commented on #419
sorry...

... If the group does not have a card setup, the screen should automatically show the CC entry screen when the user taps a subscription package other than Free.

[2016-11-21 13:25] jterps08 commented on #395
Okay thanks Peter... I think the up-arrow and down-arrow is fine for now.

[2016-11-21 13:25] #395 closed, assigned to petervojtek

[2016-11-21 13:30] jterps08 commented on #338
@petervojtek for performance reasons: If we upload a file to Powerline servers, it is uploaded without compression per se. When we display the image, we want to display it via Imgix.

Additionally, I will create a separate issue for attached images/videos appearing in the newsfeed. They have not been appearing (we also have not tested this since March).

[2016-11-21 13:34] jterps08 commented on #22
I am reopening this issue... including www.google.com in a user post is not displaying the metadata in the newsfeed. We may have lost this during the transition from micropetition to post...

[2016-11-21 14:06] jterps08 opened #424 "Missing Images in Newsfeed"
There are three ways that images can appear in the newsfeed:
1) Metadata Preview
2) Attached Video Thumbnail Preview
3) Attached Image

Somehow, this is all not functioning. We built this a long time ago (I believe bakbanga did most of the work on 2 and 3 but you may have done the work on #1)... https://github.com/PowerlineApp/powerline-mobile/commit/4daf0eb449b47ed15deb8cdca2b8a64fc77087f0 https:

[2016-11-21 14:15] jterps08 commented on #398
fixed in https://github.com/PowerlineApp/powerline-mobile/commit/ababd82825a444cd5505b943b8bb7046862ef6f8

[2016-11-21 14:15] #398 closed, assigned to nobody

[2016-11-21 14:16] #399 closed, assigned to nobody

[2016-11-21 14:16] #392 closed, assigned to nobody

[2016-11-21 14:16] #307 closed, assigned to nobody

[2016-11-21 14:16] #386 closed, assigned to nobody

[2016-11-21 14:17] #379 closed, assigned to nobody

[2016-11-21 14:17] #365 closed, assigned to nobody

[2016-11-21 14:18] jterps08 commented on #340
@petervojtek please double-check this work. I want to make sure newsfeed is operating correctly and that local caching hasn't been removed as part of Erik's work.

[2016-11-21 14:19] #322 closed, assigned to nobody

[2016-11-21 14:19] #161 closed, assigned to petervojtek

[2016-11-21 16:04] igaponov commented on #421
@jterps08 you need to go back to live mode or create a new customer

[2016-11-21 16:23] jterps08 commented on #421
Okay @igaponov can you explain why it's not creating new customer now or adding credit card to current customer in test environment? If you can't, that's okay... I just need to make sure this works in live mode for current users (and new users). I should always be able to add/remove a credit card for an existing user or a new user.

[2016-11-21 16:31] XamarinGuru commented on #377
fixed
![screen shot 2016-11-21 at 5 30 21 pm](https://cloud.githubusercontent.com/assets/22253123/20491012/4042cea6-b010-11e6-98c3-6393561c5b7a.png)

[2016-11-21 16:36] jterps08 commented on #378
@eriklouis129 did you update based on @igaponov remark above? In the build that I have, it seems that this is placeholder text instead of actual field text.

[2016-11-21 16:37] jterps08 commented on #360
This little white circle image needs to change to the Powerline logo.
The larger image is currently working correctly.

[2016-11-21 16:44] eriklouis129 commented on #378
I know.
I tried to implement it using radio group.
but current logic already implemented with at least default two answers("Yes, I can do it", "No I can't do it") and extra answers.

so what I wanted was how I can fix it with backend api logic.

[2016-11-21 16:55] igaponov commented on #421
@jterps08 there is a customer in our db for your user (so the system doesn't need to create a new one) created in Stripe's live mode, but now we use test mode and Stripe returns an error, because customers for live and test modes are different.

[2016-11-21 17:00] igaponov commented on #383
https://api-dev.powerli.ne/api-doc#get--api-micro-petitions-{id}-invite-{group_id}
@jterps08 it was done for micropetitions, now it's deprecated. Should I implement it for v2?

[2016-11-21 17:02] jterps08 commented on #383
Please. Thank you. Should work for user posts and user petitions only when the item has been boosted...

[2016-11-21 17:04] jterps08 commented on #421
ahhh that makes total sense. The app doesn't know that we switched to test mode, but the user was registered in live mode... got it. Thanks.

[2016-11-21 17:04] #421 closed, assigned to petervojtek, igaponov

[2016-11-21 17:05] jterps08 commented on #378
I just need you to pre-fill the field text with actual text. I don't need it created on the backend, because I want the user to be able to change the answer choice text... I just want it filled in with actual text, not placeholder text.

[2016-11-21 17:06] eriklouis129 commented on #378
fixed
![screen shot 2016-11-21 at 6 06 08 pm](https://cloud.githubusercontent.com/assets/20544710/20492495/3ef1b1b6-b015-11e6-833d-00690ee1279f.png)

[2016-11-21 17:27] igaponov commented on #22
Fixed

[2016-11-21 21:37] jterps08 commented on #22
Okay - I can see the metadata title and meta data description, but I'm not sure if we're pulling the right metadata image... Difference between Facebook's metadata pull for weather.com vs ours...

See below:

![screenshot_20161121-164123](https://cloud.githubusercontent.com/assets/7582457/20501969/151d961c-b00a-11e6-8aa5-e483782efdfc.png)
![screenshot_20161121-164405](https://cloud.githubuserconte

[2016-11-21 21:48] jterps08 commented on #22
@petervojtek also, it would be good if all of the meta data (title/description/image) was hyperlinked to the actual hyperlink so that the user can tap on the meta data to go to the link...

[2016-11-21 21:49] jterps08 opened #425 "Disappearing Group Names in Newsfeed"
Some items have group Name (e.g. "Save the Whales") and some don't... this fixes itself after a few seconds but wondering if there's a way to address this...

![screenshot_20161121-113938](https://cloud.githubusercontent.com/assets/7582457/20502040/5e0f4b18-b00a-11e6-8c7a-3c4c2d6537a0.png)

[2016-11-22 02:53] eriklouis129 commented on #377
check from eik-new branch

[2016-11-22 02:55] eriklouis129 commented on #340
returns server error now.
![screen shot 2016-11-22 at 3 54 21 am](https://cloud.githubusercontent.com/assets/20544710/20509211/6fe405c4-b067-11e6-96d4-1c0b21e3eec5.png)
please check and let me know what is the error.

[2016-11-22 03:14] jterps08 commented on #378
bingo thanks

[2016-11-22 03:14] #378 closed, assigned to nobody

[2016-11-22 03:15] jterps08 commented on #377
https://github.com/PowerlineApp/powerline-mobile/commit/f7ac88073c86ea096d3b94b583ae112a279f6dfc

[2016-11-22 03:15] #377 closed, assigned to nobody

[2016-11-22 03:19] jterps08 commented on #340
@petervojtek I need you to fix.

@eriklouis129 I don't think you have the knowledge of the system to fix this so I want to leave this to Peter. Thanks.

[2016-11-22 06:04] petervojtek commented on #422
at the time I inspected it yesterday the `boosted` attribute (set by backend) was already set to `expired`.

[2016-11-22 06:09] petervojtek commented on #418
@jterps08 , the issue is I cannot login as `1.JesseChen` (I guess it is your facebook user) and thus I am unable to reproduce this issue

[2016-11-22 06:11] petervojtek commented on #411
@jterps08 , which are are all fields?
which other fields should be filled in apart from zipcode, city, state (which are filled in) ?

[2016-11-22 06:23] petervojtek commented on #418
@igaponov , currenly the request to get representatives seem to fail entirely:

[code]

[2016-11-22 06:26] petervojtek commented on #338
@jterps08 , I don't know how to proceed. the API does not seem to describe this process:
https://api-dev.powerli.ne/api-doc#post--api-v2-polls-{poll}-educational-contexts

and I searched the frondend code and there is no existing business logic which is meant to upload images directly to Imgix. images which are produced on frontend, e.g. profile photo, are processed this way:
* frontend uploads th

[2016-11-22 06:28] petervojtek commented on #423
thanks, works now

[2016-11-22 06:28] #423 closed, assigned to petervojtek

[2016-11-22 08:58] igaponov commented on #338
@jterps08 currently we have only one image displayed via imgix: avatar in push notification. I don't remember issues for other images.

[2016-11-22 09:10] igaponov commented on #22
@jterps08 I can't find Facebook's image on the original page. I use `meta` tag with a name "image" to get a preview.

[2016-11-22 11:04] igaponov commented on #418
@petervojtek I'm rebuilding representatives now and didn't know that app uses this endpoint. The problem is fixed, but representative's data was changed so you need to check if app is working with new structure.

[2016-11-22 11:47] igaponov commented on #383
@petervojtek
Endpoint "Invite this post's supporters to join a group." is not good for rest api, it's better to use one endpoint to get all supporters and then submit their usernames with [this endpoint](https://api-dev.powerli.ne/api-doc#put--api-v2-groups-%7Bid%7D-users)

@jterps08 why is it possible to do only once?

[2016-11-22 14:18] jterps08 commented on #422
Okay will close, but hopefully it does not re-appear as an issue...

[2016-11-22 14:20] jterps08 commented on #411
@petervojtek the actual address that is suggested in the Google suggestion box

If the suggested address is 135 Washington Street Apt 1 Hoboken NJ 07030 and the user selects that, I would expect to see the entire form filled out with whatever available information was provided Street Address 1 Street Address 2 City State Country Zip Code...

It doesn't make sense to select a different address and

[2016-11-22 14:21] jterps08 commented on #338
@petervojtek images are not supposed to be stored on imgix. They're supposed to be stored on Powerline servers. @igaponov the backend is working correctly. No changes are needed to backend.

@petervojtek - when we *display* an image in the frontend, we are retrieving the URL for the image from Amazon S3. We need to leverage the imgix pre-fix when displaying the image so that it is compressed/proce

[2016-11-22 14:27] jterps08 commented on #418
@igaponov - Please download a production version of the app from the app stores and reference how the app constructs this screen currently. I want you to see how it is supposed to work. I know you are working on the Rep concept for creating leader content and this accident was going to occur eventually... but we need to make sure that My Reps screen is working the way it was just last week.

@pete

[2016-11-22 14:32] jterps08 commented on #22
Okay - we'll just stick with that. Thanks @igaponov

[2016-11-22 14:40] jterps08 commented on #383
@igaponov Basically, I do not want the enduser to have the usernames of all of the supporters and I don't want to put this effort on the frontend... We do not show who supported the post on the frontend and this data shouldn't be leaving the backend. We need an endpoint that the frontend can call that says 1) if this user is the author of this post, and 2) this post has been boosted, then 3) invit

[2016-11-23 10:18] petervojtek commented on #418
@jterps08 , I registered new user (`Peter50`) with address `25 Broadway New York New York 10004`, but I receive empty list of representatives:

[code]

<img width="426" alt="screenshot 2016-11-23 11 17 54" src="https://cloud.githubusercontent.com/assets/225506/20558053/92302ea2-b16e-11e6-9007-680dc96173cf.png">

@igaponov , according to Jesse's comment above, I should see receive some representati

[2016-11-23 10:37] igaponov commented on #418
@petervojtek this hint works only for production. There are no representatives on dev.

[2016-11-23 10:41] petervojtek commented on #411
@jterps08 , this is how the register new user form looks like:

<img width="354" alt="screenshot 2016-11-23 11 39 02" src="https://cloud.githubusercontent.com/assets/225506/20558715/b5ea7750-b171-11e6-85d4-f3fecea17816.png">

following fields are updated when you pick some address provided by google address search:
street address, zipcode, city, state.

then there is field named `Apt/Suite` which

[2016-11-23 13:17] petervojtek commented on #338
@jterps08 , I miss the details on how am I supposed to change the current workflow:

current workflow:
1. user adds image as an attachment, i.e. I have the image in frontend code in B64 format.
2. currently i upload the image as B64 via [this endpoint](https://api-dev.powerli.ne/api-doc#post--api-v2-polls-{poll}-educational-contexts).
 * if I should upload it to another endpoint, please specify th

[2016-11-23 13:26] petervojtek opened #426 "url of image in petition/post/.. text should lead to displaying this image in activity newsfeed"
originated [here](https://github.com/PowerlineApp/powerline-mobile/issues/424#issuecomment-262512073).

[2016-11-23 13:27] petervojtek commented on #424
@jterps08, if I understand properly, the case "#1 - when there is a URL inside an item" has nothing to do with attachments (in the context of this issue). it is just an url inside e.g. post body text.
that is why I rather deal with it in separate issue #426

[2016-11-23 13:34] petervojtek commented on #426
@igaponov , when there is image URL in petition/post/poll body text, the existing frontend code expects that backend will provide for such activity item attribute `metadata`, where will be the URL of the image.

but for this userPetition we have `metadata":{"title":null,"description":null,"image":null,"url":null}` despite userPetition `description` contains an image URL:

[code]

[2016-11-23 13:42] petervojtek commented on #424
@igaponov, I am looking for a way to display "play youtube video" in activity newsfeed for an leader item.

When I attach a video URL to e.g. a leader discussion, then the activity for this discussion looks like this:

[code]

there seems to be some `"image_src":"https://img.youtube.com/vi/yS-vW2CQX2g/0.jpg"`, but I would rather expect to leverage `metadata` attribute for that purpose [like here](

[2016-11-23 14:09] igaponov commented on #338
@petervojtek the problem is that you pass param `type` = `photo`, but according [this endpoint](https://api-dev.powerli.ne/api-doc#post--api-v2-polls-%7Bpoll%7D-educational-contexts) it must be `image`. I'll add check for this.

[2016-11-23 14:09] jterps08 commented on #418
@igaponov - This should work in production AND in dev. It has worked in dev the entire last few months. Again, please roll back your changes and restore this functionality to how it worked before.

1. My Representatives shows a list of all of the user's elected leaders regardless of whether they are registered on Powerline or not.
2. My Representatives screen DOES NOT show the user only the electe

[2016-11-23 14:14] jterps08 commented on #411
@petervojtek -- I don't understand where you are confused. Please contact me on Slack if there are any additional questions on this issue. This is taking too long to resolve via GH.

1. Type in partial address in first field.
2. Google suggests a list of different addresses.
3. User selects first address.
4. All fields that can be filled out (street address zip code city state and country) are fil

[2016-11-23 14:41] jterps08 commented on #338
I'm not sure if we're all on the same understanding here...

The way imgix is currently used to process and serve user avatars is the way it needs to be used for image attachments that appear in the newsfeed (and item detail screen's "more" tab) too.

1. Leader Z creates leader content in Save the Whales group
2. Leader Z attaches 5MB image to leader content
3. App uploads 5MB image to backend (st

[2016-11-23 14:44] jterps08 commented on #426
@petervojtek This is currently working to the extent that I need it to right now. I am de-prioritizing this...

If you type in www.weather.com in a post, it displays the metadata image... <-- No change needed here

If you type in https://s3.amazonaws.com/prodpowerline/avatars/106_52ce8657a6047.jpeg in a post, it does not display any image <-- This is okay for now, but this is what this issue is tr

[2016-11-23 14:47] jterps08 commented on #424
@petervojtek - Regarding your comment:

We do want the video to appear in the newsfeed and clickable as embedded youtube video directly in newsfeed. It's not simply a static thumbnail image. It should be ready to play within the newsfeed itself. This should be working this way in production...

[2016-11-23 15:17] igaponov commented on #338
@jterps08 I've already [explained](https://github.com/PowerlineApp/powerline-mobile/issues/338#issuecomment-262521798) the problem above. Backend returns base64 encoded data instead of url because of wrong `type` attribute.

[2016-11-23 15:22] igaponov commented on #418
@jterps08 ok, now it's clear. I thought we have only representatives that were linked to registered users.

[2016-11-23 15:30] jterps08 commented on #418
Yup. Thanks Igor. I know this is hard to explain via written text so I appreciate your patience.

[2016-11-23 15:43] igaponov commented on #424
@petervojtek metadata comes from item's description. Image/video is item's educational context.

About newsfeed - it's getting more complex every time you guys want to add a new attribute to any item, query becomes slower and page speed reduces. If you want to add metadata to every item I have to add 20 sql queries for each request.

In this case we should start to think about creating of newsfeed

[2016-11-23 16:10] jterps08 commented on #424
This is a good point @igaponov ... We need to think about this at scale... The frontend only loads 20 items at a time, but we want to be sensitive to how we design this so that we're not hurting our performance later OR so that we are not creating a situation where we are not being efficient with our limited resources at AWS.

@austinpapp please weigh in here.
@petervojtek and @igaponov SPECIFIC T

[2016-11-23 16:20] jterps08 commented on #338
Ahhh okay @igaponov -- this is my lack of technical understanding of what base64 is. Thank you for this.

[2016-11-24 06:50] petervojtek commented on #424
@igaponov , even if you would need to use the N+1 SQL antipattern, it is definitely faster to fire 20 sql requests on backend that to call 20x1 http requests where every request triggers one sql call.

 if we make a HTTP request for every leader content item in activity newsfeed to check if it has attachments (and display them if yes):
 * we will use the so called [N+1 perfomance antipattern](http

[2016-11-24 07:14] petervojtek commented on #338
thanks for help @igaponov , my mistake with the `photo` vs `image`.

so currently it seems to work as following. I upload the B64 image tagged as `image` and this is how I receive it:
[code]

From frontent point of view it works well, I am just not sure if I should do something additional with the URL prior rendering it (jesse suggested adding some imgix prefix or so).

[2016-11-24 07:15] #338 closed, assigned to jterps08

[2016-11-24 07:23] petervojtek commented on #411
yes, in the previous comment I did not entered all the fields properly, it is my mistake. I apologize.
So currently from my experiments with the register new user form, I can see that following fields are being replaced with new values when another suggested address is picked:
Street Address, zipcode, city, state, country.

Street Address, zipcode, city, state, country are replaced when another su

[2016-11-24 07:50] petervojtek commented on #419
ok, done. the CC details are at the end of the Subscription plan section.
when you pick a non-free plan and group has no CC, the add CC popup is displayed, and when the card is successfully added, the group will change its plan to the desired one.

[2016-11-24 07:50] #419 closed, assigned to jterps08

[2016-11-24 07:55] petervojtek commented on #282
this happens on every OS when there are no followers/followings:

<img width="359" alt="screenshot 2016-11-24 08 54 29" src="https://cloud.githubusercontent.com/assets/225506/20590501/b4407b72-b223-11e6-8af7-5c0345e452b6.png">

[2016-11-24 08:09] #282 closed, assigned to jterps08

[2016-11-24 08:10] petervojtek commented on #282
done

[2016-11-24 08:15] #283 closed, assigned to jterps08

[2016-11-24 08:15] petervojtek commented on #283
done

[2016-11-24 15:56] jterps08 commented on #418
@igapanov any chance you can restore this endpoint to previous working behavior this morning? I have a meeting in a couple hours where I'd like this to work if possible

[2016-11-24 16:29] jterps08 commented on #424
I appreciate your analysis @petervojtek...

@petervojtek and @igaponov - please let me know if you require additional information from me.

[2016-11-24 16:30] #22 closed, assigned to jterps08

[2016-11-24 16:31] jterps08 commented on #411
This is the correct behavior - I guess I will have to close this issue and try to replicate the issue in the next build. Thanks.

[2016-11-24 16:31] #411 closed, assigned to jterps08

[2016-11-24 17:45] igaponov commented on #418
@jterps08 I can't just revert it now, there were many changes after this one. I can deploy previous build, but not sure it will work with the last version of app.

[2016-11-24 17:55] jterps08 commented on #418
OK. We need that functionality back to working as soon as possible. Keep
your current code but please make this a top priority. We can't go live
without it and I didn't expect it to be impacted by the elected leader work.

On Nov 24, 2016 12:45 PM, "Gaponov Igor" <notifications@github.com> wrote:

[2016-11-25 07:16] petervojtek opened #427 "Unable to answer for a poll:payment due to No 'Access-Control-Allow-Origin' header is present"
when trying to answer (pick a payment option):

[code]

[2016-11-25 07:19] petervojtek commented on #319
@igaponov , when I answer Poll or Event, it seems the Poll/Event detail payload does not contains the information which option was picked by the user (when user answers some Poll or Event, and visits the Poll/Event detail later, we want to show the user which option has he picked):

[code]

[2016-11-25 08:33] petervojtek commented on #360
@jterps08 , I will need the Powerline logo where there will be only the person on a transparent background.

the issue is I need to re-generate the small notification icons ([this tool is perfect for it](http://romannurik.github.io/AndroidAssetStudio/icons-notification.html)) but it does not works with the current png logo image I have because it has blue background (not transparent).

[2016-11-25 17:14] jterps08 opened #428 "Missing Group Settings"
We are missing some group settings that need to be provided on frontend (and backend if endpoints do not already exist):

1) Limit of Posts Per Month - Allow user to enter number between 1 and 1000.
2) Quorum Percentage (Boosting Level) - Allow user to enter number between 1 and 50 only (not 0-100)
3) Quorum Duration (Expiration) - Allow user to enter the number of days before user post/petition e

[2016-11-25 17:23] petervojtek opened #429 "push notifications: The AWS Access Key Id needs a subscription for the service. Service: AmazonSNS; Status Code: 403"
not sure if this is the reason why push notifications do not arrive to iphone, but Amazon AWS shows this: https://console.aws.amazon.com/sns/v2/home?region=us-east-1#/topics

<img width="1039" alt="screenshot 2016-11-25 18 21 00" src="https://cloud.githubusercontent.com/assets/225506/20632181/f6b3c86a-b33b-11e6-8d25-1f3893ba1445.png">

and there are no devices (endpoints):

<img width="1049" alt="

[2016-11-26 07:56] igaponov commented on #428
@jterps08 do you want different settings for petitions and posts? Now they are using the same settings (so `Limit micropetitions per month` works for both user petitions and posts for example)

[2016-11-26 12:10] igaponov commented on #427
Fixed

[2016-11-26 16:12] jterps08 commented on #428
I think we can leave them as the same setting for now. This seems easier
and takes less time... I am mindful of front-end impact too...

On Nov 26, 2016 2:56 AM, "Gaponov Igor" <notifications@github.com> wrote:

@jterps08 <https://github.com/jterps08> do you want different settings for
petitions and posts? Now they are using the same settings (so Limit
micropetitions per month works for both user

[2016-11-26 16:39] igaponov commented on #428
@jterps08 so if this micropetition config works on frontend now you can close this issue.

[2016-11-26 17:04] jterps08 commented on #428
@igaponov We need @petervojtek to provide these settings. I do not have the frontend settings to update any of the three items in the screenshot above via the mobile app. Do you have backend endpoints for these settings? If so, please provide links for Peter so that he can build the frontend control.

Accessible to Silver and above only.

I think the superuser/admin controls the default settings f

[2016-11-26 17:05] jterps08 commented on #429
Including Igor on this too because I'm not sure if Austin has the answer to this...

[2016-11-27 15:54] igaponov commented on #428
https://api-dev.powerli.ne/api-doc#put--api-v2-groups-{group}-micro-petitions-config
Default config is changed to 30/10/7.

[2016-11-27 15:55] jterps08 commented on #428
Thanks Igor

[2016-11-27 16:14] igaponov commented on #424
@petervojtek added `activity.poll.educational_context` attribute

[2016-11-27 16:50] igaponov commented on #418
Reverted.
I've added districts for user `Peter50`, new users will get districts after registration. I can add districts for old users if it's needed.

[2016-11-28 07:27] petervojtek commented on #418
@igaponov , the list of representatives is provided successfully for Peter50, but when I a about to view details of some particual representative, I face this (the request is from legacy code, I have not changed it.. but there does not seem any v2 endpoint I can switch to):

[code]

For Peter10 I face following problem:

[code]

[2016-11-28 07:36] petervojtek commented on #427
@igaponov , currently it fails in following manner:

[code]

[2016-11-28 08:27] petervojtek commented on #428
@igaponov , first call to update the micropetition settings was successful, but subsequent calls fail in following manner:

[code]

@jterps08 , I would like to ask on  the validations:
* petition_per_month - can be blank?
* petition_percent - can be blank?
* petition_duration - can be blank? don't know what can be the max value. min allowed value should be 1?

[2016-11-28 08:34] petervojtek commented on #424
@igaponov , I attached a video to a poll, but I cannot see it in its activity newsfeed item `poll.educational_context`:

[code]

it am sure I attached it, as visible here:

[code]

[2016-11-28 08:37] petervojtek commented on #154
duplicate of #22 and #424

[2016-11-28 08:37] #154 closed, assigned to nobody

[2016-11-28 08:47] petervojtek commented on #425
@jterps08 , I can reproduce this issue only in following manner:
1. I am member of some user group, and there is some content published in this group
2. I leave this group. new content no longer arrives for this group, but I still can see the old content of the left group in activity newsfeed -- and those are the items where the group name is not displayed at all.

but is it bit different bug, bec

[2016-11-28 08:59] petervojtek commented on #413
@jterps08 , on smaller screens (iphone4s below) the existing menu is already too large for the screen. adding there additional item will force user to screen down the menu (which is something we should avoid).

<img width="343" alt="screenshot 2016-11-28 09 57 29" src="https://cloud.githubusercontent.com/assets/225506/20661880/3cf295ce-b551-11e6-8907-b5e53aea6941.png">

[2016-11-28 09:00] petervojtek commented on #407
@jterps08 , I am not sure -- what should be the text of the label?

[2016-11-28 09:02] petervojtek commented on #393
@jterps08 , what is required information fields?
I see there Group permissions section in group management - that is what you mean?

[2016-11-28 09:16] igaponov commented on #418
@petervojtek the error is fixed.
@jterps08 should we support the old api or add v2 endpoints for representatives?

[2016-11-28 10:57] igaponov commented on #428
@petervojtek current validation rules:
* petition_per_month: any
* petition_percent: 1-50
* petition_duration: 1-30
If you leave it blank, default value will be used.

You can also use `GET https://api-dev.powerli.ne/api/v2/groups/341/micro-petitions-config` to see current values

[2016-11-28 13:26] jterps08 commented on #425
@petervojtek ok... The issue I describe is delayed display of the group names. it is not the way you reproduced it... While I appreciate you looking at this, please do not work on anything but P1/P2 bugs or enhancements as mentioned on slack. Limited hours need to be used specifically on those items. Thanks.

[2016-11-28 13:26] jterps08 commented on #407
@petervojtek do not work on P3/P4 items.

[2016-11-28 13:26] jterps08 commented on #413
@petervojtek please do not work on P3/P4 items. I don't want you spending any time on P3/P4 items. I said this in Slack.

[2016-11-28 13:27] jterps08 commented on #393
please do not work on P3/P4 items.

[2016-11-28 13:28] jterps08 commented on #418
we can support old API @igaponov ... no need to build new endpoints to support same functionality.

[2016-11-28 13:29] jterps08 commented on #428
@petervojtek @igaponov petition_per_month must be a non-zero number. If frontend leaves these blank, backend defaults will apply.

[2016-11-28 14:53] igaponov commented on #428
403 error is fixed

[2016-11-28 15:56] igaponov commented on #428
Validator for `petition_per_month` is added

[2016-11-28 15:56] igaponov commented on #427
Fixed

[2016-11-29 07:08] petervojtek commented on #418
@igaponov , currrently viewing representative detail fails with error 404 (i tried several representatives):

[code]

[2016-11-29 07:13] petervojtek commented on #427
@igaponov , now it fails this way:

[code]

[2016-11-29 07:37] petervojtek commented on #428
ok, added. it looks like this:

<img width="333" alt="screenshot 2016-11-29 08 38 47" src="https://cloud.githubusercontent.com/assets/225506/20700714/43ffeac4-b60f-11e6-9f0d-0a0805db3e35.png">

[2016-11-29 07:37] #428 closed, assigned to jterps08

[2016-11-29 08:28] petervojtek opened #430 "embedding youtube video logs in console: Uncaught ReferenceError: ytcfg is not defined(…)"
the video is embedded and can be played successufully

[2016-11-29 08:45] petervojtek commented on #424
ok, now attachments are displayed in activity newsfeed in following manner:
* when there are multiple images attached, only first one is displayed (not sure if you want to display all of them if there are e.g. 3 images attached)
* when there are multiple video attached, only first one is displayed
* clicking the video starts playing it
* clicking photos leads to item detail

@jterps08 , originally

[2016-11-29 11:53] igaponov commented on #418
@petervojtek the right link is `https://api-dev.powerli.ne/api/representatives/info/0/103108`

The first id means representative registered in our system (`id` attribute in the result of `https://api-dev.powerli.ne/api/representatives/`), the second id is representative from cicero db (`storage_id` attribute)

[2016-11-29 13:44] jterps08 commented on #424
Thanks @petervojtek good work...

Re: full screen image viewer, this is primarily to address the issue of detailed images (think infographics) that may not be legible on the mobile device. The point of viewing in full screen would be to pinch and zoom as needed. I would be open to a "long-press to save to device" concept if you think that would be easier/more effective. We just need to give people

[2016-11-29 16:50] petervojtek commented on #429
currently I experience following behaviour:

1. as Peter50 ,I successfully login on iPhone, my push notification token: 82ab918db6f303d26d285b39703628067db41362bc67d476bfd1e9849b357d53
2. as Peter50, I created Post 405
3. Peter10 upvoted the Post
4. backend server geneerated a push notification for Peter50 (`/dev/shm/powerline/logs/push_dev.log`) with the matching token:
[code]

5. but the push no

[2016-11-29 21:27] jterps08 opened #431 "@mentions not working in post/petition body"
User tries to create post or user petition with @mention and failure occurs.

@mentions work correctly in comments.

Screenshot TBD

[2016-11-29 21:30] jterps08 opened #432 "Priority Zone: Author's Boosted Posts"
A user authors a post or user petition.
Author is unable to upvote/downvote that post or sign that petition (correct).
Group leader manually boosts the post or user petition.
The post or user petition is moved into the priority zone (correct)
But the author's cannot mark his own post/user-petition as read/answered so it is stuck in priority zone (incorrect).

Author must be able to move his own po

[2016-11-29 21:33] jterps08 opened #433 "@Mention Suggestion Box Behavior"
When a user starts to type an @mention, the suggestion box correctly appears and lists suggestions.

However, when user selects an item (e.g. @JTest1), the text only stays in the post/petition/comment IF the user provides a space or another character in the text field after selecting the item from the drop down. If no additional character is provided, the suggested item is not committed to the tex

[2016-11-29 21:36] jterps08 opened #434 "Slow Manual E-mail Registration"
Currently, the user fills out the registration form and hits submit.
User is currently waiting 15s-30s before tour guide is shown.

We either need to speed this process up or show the user something that displays progress. For example an animated list "We are linking you to:
Your elected leaders at the local level.
Your elected leaders at the state level.
Your elected leaders at the national level

[2016-11-29 21:41] jterps08 opened #435 "Question: Android Permissions Behavior"
On one device, I get the list of permissions as shown to approve each time I install.

On another device, I do not get the list of permissions as shown to approve each time I install. I am assuming that this later version of Android keeps track of permissioned apps even if I uninstall/reinstall? Just want to make sure we're getting the right permissions (no more, no less).

Screenshots TBD

[2016-11-30 07:41] petervojtek commented on #418
@igaponov ,  the url you provided does not seem to work:

[code]

[2016-11-30 07:44] petervojtek commented on #424
@jterps08 , you are right, I have not realized that there may be infographics and people would like to zoom in.

[2016-11-30 07:49] petervojtek commented on #435
@jterps08 , on later android versions (android 6.0+), the app asks for permissions only when an actions requiring the permissions is really about to be performed (e.g.  take a photo).

In contrast, older android (pre 6.0), asked you for all the permissions at one place when you installed the app.

here are more details:
https://developer.android.com/training/permissions/requesting.html

I would sa

[2016-11-30 08:34] petervojtek commented on #431
@jterps08 , so far cannot reproduce the bug, I can create Post and User Petition with @mention in description text successfully.

[2016-11-30 08:46] petervojtek commented on #432
@igaponov , this needs to be first implemented on backend, i.e. when I notify backend that user-petition/post has been read, there should be following business logic:
`when markAsRead(item, person), if person == author && item.isBoostedForThatPerson, set item.isBoostedForThatPerson = false`

[2016-11-30 10:01] igaponov commented on #427
Sorry, wasn't deployed

[2016-11-30 10:02] igaponov commented on #418
Sorry, wasn't deployed

[2016-11-30 10:54] petervojtek commented on #418
@igaponov , now I can access representative detail successfully.
however when I try to see representatives "Comitee membership" or "sponsored bills", I face this:
[code]

[2016-11-30 12:47] jterps08 commented on #418
For what it's worth... Committee Membership and Sponsored Bills **may** have been provided by Sunlight API in the past @igaponov

[2016-11-30 12:48] jterps08 commented on #435
got it thanks @petervojtek

[2016-11-30 12:48] #435 closed, assigned to nobody

[2016-11-30 12:50] jterps08 commented on #431
Yeah, I'm definitely getting an error whenever I try to create a post or a petition on Android with the @mention in the description text. I will post the screenshot this morning.

[2016-11-30 14:26] jterps08 commented on #431
So weird - now I can't replicate it either! Well, that works for me... closing! :-)

[2016-11-30 14:26] #431 closed, assigned to jterps08

[2016-11-30 14:28] jterps08 commented on #432
![screenshot_20161130-092431](https://cloud.githubusercontent.com/assets/7582457/20756067/549266fc-b6df-11e6-8318-3556ce6797a7.png)

[2016-11-30 14:50] jterps08 commented on #433
First I start typing the name
![screenshot_20161130-093325](https://cloud.githubusercontent.com/assets/7582457/20756623/58d65b0e-b6e1-11e6-85a9-cdb0891012d6.png)

Then I select an option from the suggestion pop-up...
![screenshot_20161130-093332](https://cloud.githubusercontent.com/assets/7582457/20756646/6cf6af80-b6e1-11e6-8e68-4c430f44ce89.png)

There is NO SPACE or any other character entered a

[2016-11-30 16:46] igaponov commented on #383
@petervojtek `PUT /api/v2/groups/{id}/users` is now deprecated.
Use [`PUT /api/v2/groups/{id}/invites`](https://api-dev.powerli.ne/api-doc#put--api-v2-groups-{id}-invites) to invite users by usernames/post's upvotes/petition's signatures.

[2016-11-30 16:48] igaponov commented on #432
@petervojtek I've added a clause to the db query on backend, you just need to test.

[2016-11-30 17:26] igaponov commented on #429
@petervojtek your token was disabled, I've enabled it. Next time don't look at the Subscription tab, look at Applications -> poweline_ios_dev.

[2016-11-30 17:31] jterps08 commented on #429
Do we know how Peter's token was disabled?

[2016-11-30 17:33] jterps08 commented on #429
@petervojtek and @igaponov you two may want to connect in Slack to ensure that we can live-test iOS and Android notifications and confirm they are working...

[2016-11-30 17:45] jterps08 commented on #360
@petervojtek apologies I did not see this sooner. I will send you illustrator file via Slack

[2016-11-30 18:19] jterps08 opened #436 "Embedded YouTube videos not playing"
Not sure if this is related to https://github.com/PowerlineApp/powerline-mobile/issues/430

but this is what I get when I attach a video and try to view it either in More tab or in Newsfeed:

![screenshot_20161130-131641](https://cloud.githubusercontent.com/assets/7582457/20765261/938d8e0c-b6ff-11e6-848e-552b55910935.png)

Two different video links I tried...

Also: Question: What is the level of

[2016-12-01 07:18] petervojtek commented on #418
ok, it works now.. though for all the representatives I tried the Commitee membership and Sponsored bills the resultset is empty.

[2016-12-01 07:50] petervojtek commented on #436
it is fixed. the issue was that that youtube video can be provided in two different urls:
[code]

you used the second one, while the legacy code supported only the first one.
I fixed it so that now it works with both urls.

and the image preview is now displayed properly.

there is one annoying issue that the video box shows "Full screen is unavailable" msg, but I think that is P3 or P4 issue so I

[2016-12-01 07:50] #436 closed, assigned to jterps08

[2016-12-01 08:07] petervojtek commented on #427
ok, works now.

[2016-12-01 08:07] #427 closed, assigned to jterps08

[2016-12-01 08:44] petervojtek commented on #432
@igaponov , I am confused by the activity newsfeed behaviour.

I create a Post and here is its correspoding activity item:

[code]

Now I manually boost the Post and then there appears two activity items for it, and both feature the Post as boosted:
[code]

is this an intended behaviour?

[2016-12-01 09:22] igaponov commented on #429
@jterps08 3 reasons endpoint is disabled:
We mixed tokens from sandbox app.
User turn off notifications in phone settings.
User uninstalled the app.
These are regarding Iphons/Ipads.

[2016-12-01 09:41] igaponov commented on #432
We had the same question in https://github.com/PowerlineApp/powerline-mobile/issues/165#issuecomment-239072614 but after discussion that issue was closed and I didn't fix it.

[2016-12-01 09:47] igaponov commented on #319
[code]

P.S. this endpoint is deprecated, I recommend to use v2.

[2016-12-01 13:07] petervojtek commented on #319
thanks Igor.

@jterps08 , now Poll and Event do display the selected answer.

[2016-12-01 13:07] #319 closed, assigned to jterps08

[2016-12-01 14:05] jterps08 commented on #432
We do not need two items. Is that an easy fix @igaponov ? I noticed that too. It's probably P3, but if it's quick I'd make it P2...

[2016-12-01 14:58] igaponov commented on #432
@jterps08 its easy

[2016-12-01 14:59] jterps08 commented on #432
ok thanks @igaponov we only need one item. Can you get rid of the second one? Otherwise all behavior should be the same (e.g. priority zone, notifications, etc).

[2016-12-01 15:26] jterps08 commented on #407
As part of this item, we will want the group owner to "label" the bank account and display this "label" to the users who donate as part of the item detail screen. Theoretically, this helps the donor understand where their money is going *because* it is *possible* that a group may change the 'beneficiary' of their fundraiser on a regular basis... If a group Y is raising money for org X and org Z, i

[2016-12-01 15:44] jterps08 commented on #429
Thanks @igaponov

@petervojtek can you confirm iOS notifications are working as expected now? I do not need a full test.

[2016-12-01 16:12] jterps08 commented on #413
Okay - good point... Let's do this instead @petervojtek

On the My Groups Screen, let's list the groups the user is a manager/owner for first in one list (new)... followed by the rest of the groups the user is part of in alphabetical order (same as now)

We can label the section "Managed Groups"

[2016-12-01 16:33] jterps08 commented on #156
Upvoting/downvoting from newsfeed or from item detail screen
Following user from newsfeed, social activity feed, user profile, Friend Finder results, or group Members screen
Saving/Removing an item to Favorites  (Saved to Favorites / Removed from Favorites)
Subscribing/Unsubscribing to an Item (Subscribed to item / Unsubscribed from item)
Creating a post, user-petition, or making a comment (Post S

[2016-12-01 16:36] jterps08 opened #437 "Newsfeed Refresh after New Content Creation"
Newsfeed should be refreshed after a user has successfully created new content (post, user petition, poll, fundraiser, etc etc). Currently user needs to manually pull-to-refresh in order to refresh newsfeed and it isn't clear if the user's item was published without the refreshed newsfeed showing the content.

@petervojtek you can work on this if no available P1/P2 items.

[2016-12-01 16:40] jterps08 commented on #424
@petervojtek if you have no P1/P2 items, you can work on this

[2016-12-02 10:44] petervojtek commented on #429
@jterps08 , no, the notifications to not arrive to my iphone.
I am not working on this issue because I have no means to debug it via Amazon SNS gui, as visible above (and details are also on slack channel #push-notifications).

[2016-12-02 10:56] petervojtek commented on #432
ok, seems to work now in such manner, that when author reads his own boosted Post/User Petition, it is no longer in priority zone.

[2016-12-02 10:56] #432 closed, assigned to jterps08

[2016-12-02 11:23] petervojtek commented on #437
@jterps08 , it is there, but to currently it works as following (due to nature of the source code):
1. you create new content
2. you are redirected to the new content detail
3. you click Back button and go to activity newsfeed
4. and now the newsfeed will automatically refresh and the new item will appear (in few seconds).

to prevent those few seconds of waiting, it would be way better (also for

[2016-12-02 11:23] #437 closed, assigned to jterps08

[2016-12-02 12:28] petervojtek commented on #383
@igaponov , the `PUT /api/v2/groups/{id}/invites ` seems to work fine, however I miss some indicator which will tell me whether user already called this action or not, as written here:

When user calls the `PUT /api/v2/groups/{id}/invites ` , in sonsequence can you please attach some attribute (e.g. `supportersWereInvited: boolean`) to post/userPetition detail to indicate the the invitation featur

[2016-12-02 14:20] jterps08 commented on #437
This works. Good to know. Thanks @petervojtek... We don't have the time right now to work on the re-factor that you suggest, but I do think it's a good idea. Marking it with Comeback label

[2016-12-02 15:43] petervojtek commented on #429
ok, so it is necessary to login via this page:
https://civix.signin.aws.amazon.com/console
to access the proper console.

[2016-12-04 17:26] igaponov commented on #383
@petervojtek `supportersWereInvited` attribute was added

[2016-12-05 06:38] #429 closed, assigned to petervojtek

[2016-12-05 07:01] petervojtek commented on #360
done.
it looks like this:

<img width="305" alt="screenshot 2016-12-05 07 52 00" src="https://cloud.githubusercontent.com/assets/225506/20876263/07f06854-bac1-11e6-9aba-418a9c033943.png">
<img width="304" alt="screenshot 2016-12-05 07 51 54" src="https://cloud.githubusercontent.com/assets/225506/20876264/0b067ec0-bac1-11e6-9289-c07c50e9e101.png">

[2016-12-05 07:01] #360 closed, assigned to jterps08

[2016-12-05 07:10] jterps08 commented on #360
Perfect!

[2016-12-05 07:19] petervojtek opened #438 "activity newsfeed - video not displayed on iPhone"
there is empty space instead of video. happens only on iPhone, android and browser (chrome) work properly.

![unadjustednonraw_thumb_1f](https://cloud.githubusercontent.com/assets/225506/20876574/6f95c998-bac3-11e6-8195-a1f6f5eb258c.jpg)

[2016-12-05 07:28] petervojtek opened #439 "unable to send push notification to iPhone -- endpoint is disabled"
here is my experience:
1. I login to powerline app as Peter50
2. I call `GET https://api-dev.powerli.ne/api/endpoints/` and receive following response which tells me the device is already registered:

[code]

Now I go to https://console.aws.amazon.com/sns/v2/home?region=us-east-1#/applications
and select `poweline_ios_dev`.

I see there my device, but there is also visible the message `endpoint is

[2016-12-05 07:56] petervojtek commented on #383
ok, done

[2016-12-05 07:56] #383 closed, assigned to jterps08

[2016-12-05 08:36] igaponov commented on #439
From the internet:

I'm not sure about the first one. I can try to send only sandbox push.

**Update**:
@petervojtek i've left only APNS_SANDBOX part in a push message, try to enable your endpoint and send a push again.

[2016-12-05 22:11] bakbanga commented on #156
@jterps08 @petervojtek do you want me to create a new branch for this work?

[2016-12-06 00:05] bakbanga commented on #156
@jterps08 For some of above, toast messages have already been listed. Should I change the messages for them as you described or will I keep as those are?

[2016-12-06 06:14] jterps08 commented on #156
Keep them as they are. and for now let's use a new branch please but I
defer to Peter!

Thanks!

On Dec 6, 2016 2:05 AM, "Aleksander Bak." <notifications@github.com> wrote:

[2016-12-06 07:03] petervojtek commented on #156
hi @bakbanga, please create a feature branch (fork it from `develop` branch) for this issue and once you're done create a merge request assigned to me.

[2016-12-06 07:19] petervojtek commented on #439
@igaponov , I did following:

1. uninstalled the powerline app from iphone
2. installed it again
3. logged in as Peter50 and registered to push notifications with token `c0ded51332595f642600acf9b5702833f61a1258c9b14af37133a15964e740b3`
4. popup appeared asking me if I want to allow push notifications, clicked OK.
5. the token appeared here and its status was `enabled` (see right-most column):

<im

[2016-12-06 08:56] petervojtek commented on #424
@jterps08 , fullscreen image viewer added. it works in activity newsfeed and item detail when the item has an image attachment.
* when you click an attachment image, it is displayed in fullscreen
* when you click the fullscreen image, it will disappear (close) the fullscreen mode
* when in fullscreen mode,  you can zoom in the image by [pinch-zoom gesture](https://developer.apple.com/library/conte

[2016-12-06 08:56] #424 closed, assigned to petervojtek

[2016-12-06 10:24] igaponov commented on #439
@petervojtek so the problem is between AWS and our mobile app. Maybe something wrong with the plugin for push notifications?

[2016-12-06 14:09] jterps08 commented on #438
Can you make sure you test the iphone for attached images and URL metadata preview? I have been unable to run that test on iphones yet...

[2016-12-06 14:10] jterps08 commented on #424
@petervojtek can you confirm that the attached image is being handled with imgix both in the newsfeed and in full-screen viewer?

[2016-12-06 14:13] jterps08 commented on #439
May make sense to look at the plugin repo/issues list... https://github.com/phonegap/phonegap-plugin-push/issues

[2016-12-06 14:54] jterps08 opened #440 "Single-Touch Sharing: Shared URLs Only"
(This is part of the overall ability for a user to easily share an announcement, petition, event, or fundraiser/crowdfunder onto a third-party social network.... To start, we will allow a group leader to send a link to all group members that s/he wants the user to share to his/her third-party networks easily).

**In Scope**
Backend: "New Group Shared Link" - Same thing as an announcement, but it i

[2016-12-07 06:21] petervojtek commented on #438
@jterps08  jere is url metadata preview image attachment on iphone:

![img_0030](https://cloud.githubusercontent.com/assets/225506/20957022/a9b4a8a2-bc4d-11e6-9c6a-5c2acbe71e0a.PNG)

![img_0031](https://cloud.githubusercontent.com/assets/225506/20957025/afbf8352-bc4d-11e6-85af-f2430eb481b8.PNG)

[2016-12-07 06:23] petervojtek commented on #424
@jterps08 , this is URL of an image provided as attachment as backend:
http://devpowerline.s3-website-eu-west-1.amazonaws.com/educational/583d3b4d5a4f3.jpeg

if it is supposed to be served from another domain/in different size, it has to be addressed on backend.

[2016-12-07 06:54] jterps08 commented on #424
@igaponov as a matter of practice we need to always default to serving images with imgix please for performance reasons... Can you make the update where needed to ensure that this is being processed through imgix? Thanks.

[2016-12-07 06:54] petervojtek commented on #439
@igaponov, there does not seem to be phonegap-plugin-push issues related to `disabled` endpoint.

I tried following:
I uninstalled the latest powerline app and took powerline app build 1 month ago when the push notifications were delivered successfully.
but the issue with disabled endpoint occurs on the older powerline mobile app build as well.

for testing purposes -- is it possible to use direct

[2016-12-07 08:25] petervojtek commented on #433
fixed.

[2016-12-07 08:25] #433 closed, assigned to jterps08

[2016-12-07 08:26] petervojtek commented on #156
merged

[2016-12-07 08:26] #156 closed, assigned to nobody

[2016-12-07 13:02] igaponov commented on #439
@petervojtek it's not possible now

[2016-12-07 20:53] jterps08 commented on #439
@petervojtek and @igaponov -- I need you guys to work together live in the Slack channel. If you need to schedule some time, please do so. This delayed back-and-forth is rather inefficient in my view.... thanks.

[2016-12-08 01:35] igaponov commented on #424
@petervojtek fixed

[2016-12-08 06:39] petervojtek opened #442 "image URLs suddently became relative"
@igaponov , not sure if it is a consequence of [these changes](https://github.com/PowerlineApp/powerline-server/pull/432), but suddently the activity newsfeed avatar image urls are not absolute (i.e. now it is `"avatar_file_name":"\/avatars\/577cb68e6f276.jpeg"`):

[code]

also the images in edu content have suddently relative URLs

[2016-12-08 07:24] igaponov commented on #442
@petervojtek I thought that's what @jterps08 wanted - all images should work like this. Is it correct, @jterps08 ?

[2016-12-08 07:44] petervojtek commented on #442
here is my remark -- frontend should be completely unaware of how the images are being processed on backend.

from frontend point of view, the best if if the urls are provided as absolute urls. in case you decide to migrate to other cdn service in future, this way you will simply start generating other absolute urls on backend and the frontend app will happily work without any changes.

with relat

[2016-12-08 08:34] petervojtek commented on #434
done.
the checkmarks are progressing by 1 checkmark per 2 seconds pace, but the last checkmark will turn `checked` only when backend replies that registration is finished. if the registration is actually finished faster than in 5x2 seconds, then it will proceed to guide screen as soon as server will notify us that registration is successfully finished.

<img width="322" alt="screenshot 2016-12-08

[2016-12-08 08:34] #434 closed, assigned to jterps08

[2016-12-08 16:29] jterps08 commented on #442
I agree with Peter's remark... I would simply add that the frontend must be able to append parameters to the imgix URL based on the device that is viewing the item in the future... If we know it's a smartphone, that should load a smaller version compared to if the user is looking at it from a desktop...

I defer to Peter on better design for frontend.

[2016-12-09 07:08] petervojtek commented on #442
ok, so first, @igaponov, please adjust the backend to provide absolute image URLs.

I will then append params to the url based on the device (but I think this technical decision will be regretted later and would be better if this will be treated on backend as well)

[2016-12-09 07:14] petervojtek commented on #438
also happens on newer iphones

[2016-12-09 08:32] #438 closed, assigned to jterps08

[2016-12-09 08:40] petervojtek opened #443 "iphone youtube: Blocked a frame with origin "https://www.youtube.com" from accessing a frame with origin "file://". The frame requesting access has a protocol of "https", the frame being accessed has a protocol of "file". Protocols must match."
this warning appears in JS console when video is embedded into page - but the video itself is being played properly, so that it does not influence app users.

[code]

there are other people who face this issue as well, but none of the proposed solutions worked for me:

http://stackoverflow.com/questions/30302288/blocked-a-frame-with-origin-https-www-youtube-com-from-accessing-a-frame-wit

[2016-12-09 08:41] petervojtek commented on #438
fixed, however the behaviour on android and iphone is bit different:
* on android, the player will start playing inside the embedded player area. there is a button which allows to switch the video to fullscreen.
* on iphone, when users taps the video, the youtube video will automatically start playing on fullscreen. it is not possible to play the video in non-fullscreen mode.

apart from that, the

[2016-12-09 10:55] igaponov commented on #442
I don't understand you guys, in [this comment](https://github.com/PowerlineApp/powerline-mobile/issues/338#issuecomment-262252587) @jterps08 said frontend should choose which server to use and backend just provide `/folder/filename.ext`, now you ask absolute urls. So what's right? We store avatars, representative avatars and educational content on AWS and handle them the same way on backend.

[2016-12-09 11:35] igaponov commented on #410
@jterps08 you said:

But there are several responses in group poll report and they can have different privacy settings.

Also, I'm not sure how to attach representative to this report. Columns are constant, I should know them BEFORE running a query. For example, I know all group's fields and polls so can join them. It's looks like you want to get positions/posts (senator, congressman, mayor etc),

[2016-12-09 15:19] jterps08 commented on #410
@igaponov If the user responded with privacy setting on, you can replace their name with "(Anonymous)" in the report. If the user doesn't have the privacy setting on, you provide the actual information. It may also be necessary to use this on the other fields (like phone address and e-mail) in order to protect the user's identity.

Re: representatives, let's discuss in Slack. I'm not sure if we're

[2016-12-09 15:20] jterps08 commented on #442
Wait

[2016-12-09 15:20] jterps08 commented on #442
Let's discuss in Slack this issue as well. It does not seem that we are on the same page on this.

[2016-12-10 16:00] jterps08 commented on #442
@igaponov @petervojtek avatars not being displayed in frontend. I assume its due to to this change above and that something needs to happen on the frontend, but wanted to raise here.

[2016-12-12 07:27] petervojtek commented on #442
ok, so the activity newsfeed behaviour is following:
* backend is serving the attachment images in following form (absolute url) `http://powerline-dev.imgix.net/educational/5848ff9fb9f12.jpeg?ixlib=php-1.1.0`
* on frontend, I attach the `width` parameter set to screen width to optimize the newsfeed rendering: `http://powerline-dev.imgix.net/educational/5848ff9fb9f12.jpeg?ixlib=php-1.1.0&w=1280`
*

[2016-12-12 07:29] petervojtek commented on #442
currently there is bug that avatar images in newsfeed still hold relative URLs

[2016-12-13 06:47] petervojtek commented on #442
@igaponov, now the issue with avatar URLs is that there are backslashes:
`"avatar_file_name":"http:\/\/powerline-dev.imgix.net\/avatars\/57e4c4ff6d963.jpeg?ixlib=php-1.1.0"`

while in the past the urls used to look like this:
`http://powerline-dev.imgix.net/avatars/57e4c4ff6d963.jpeg?ixlib=php-1.1.0`

the backslashes are not properly recognized (and unsescaped) by web browsers.

[2016-12-13 13:25] petervojtek commented on #442
@igaponov , I mismatched the root of the issue. there are no backslashes, you are right (it was just my output in console which did it).

the actual issue is following:

* before you made the changes, author avatar image for an activity newsfeed item was provided in `activity.owner.avatar_file_path`
* but now it is in `activity.user.avatar_file_name`

I adjusted the code to this change, it is just

[2016-12-13 13:28] petervojtek commented on #442
I assign this issue to me to check other places where avatars are used to make sure custom avatar images are really displayed when available (instead of ng-letters).

[2016-12-14 06:57] petervojtek commented on #442
so in social activity newsfeed, You tab are displayed ng-letters instead of custom avatars. "Following" tab shows custom avatars properly.

<img width="840" alt="screenshot 2016-12-14 07 56 28" src="https://cloud.githubusercontent.com/assets/225506/21172561/e9206a32-c1d2-11e6-964e-ee44ff06783b.png">

[2016-12-14 07:14] petervojtek commented on #442
@igaponov , the social activities targeting "you" does not seem to contain custom avatar image URLs, e.g. here is content of the first activity in the screenshot above (Peter12 mentioned you in a comment):

[code]

I see there is an attribute named `image`, but is contains just the filename ("579ee69e5e9df.jpeg"), not absolute URL.

I expect following image (URL) to appear somewhere in the payload

[2016-12-14 13:46] jterps08 opened #444 "Social Activity Feed - Showing Weird Items"
In the post below, Kirsten Chen is logged in. She commented on Jesse Chen's post, but the label is wrong. The label says "Kirsten Chen commented on **your** own post." It should say "Kirsten Chen commented on **Jesse Chen's** post"... Same with the vote activity. This isn't her post.
![img950328](https://cloud.githubusercontent.com/assets/7582457/21184187/4ae85986-c1d9-11e6-8036-94a96c57dc96.png)

[2016-12-15 04:36] igaponov commented on #444
@jterps08 we don't have an activity with text "Kirsten Chen commented on Jesse Chen's post". You just don't have to see this activity.

[2016-12-15 04:48] jterps08 commented on #444
That's fine. We don't need to show the user her own activity.... user Kirsten never should have seen "Kirsten Chen commented on your own post."

[2016-12-15 07:37] petervojtek commented on #439
I followed the recommendations from Apple support response:

[Resetting the Push Notifications Permissions Alert on iOS](https://developer.apple.com/library/content/technotes/tn2265/_index.html#//apple_ref/doc/uid/DTS40010376-CH1-TNTAG32), I followed this steps:
1. Delete your app from the device.
2. Turn the device off completely and turn it back on.
3. Go to Settings > General > Date & Time and

[2016-12-15 08:07] petervojtek commented on #442
@igaponov , is it possible to somehow unify the URL protocols (or lack of them?

E.g. currently the URLs are provided both with and without the protocol:

* `"image":"api-dev.powerli.ne/bundles/civixfront/img/default_someone.png"`
* `"image":"http://powerline-dev.imgix.net/avatars/577cb68e6f276.jpeg?ixlib=php-1.1.0"`

[code]

[2016-12-15 14:13] igaponov commented on #410
`GET /api/v2/groups/{id}/responses` for group poll report

[2016-12-15 17:39] petervojtek commented on #439
so, the problem is here in xcode project settings. this option was disabled:

<img width="802" alt="screenshot 2016-12-15 18 32 02" src="https://cloud.githubusercontent.com/assets/225506/21235094/a42cecc4-c2f5-11e6-949e-3a31d3be74dc.png">

once enabled, push notifications work fine.

[2016-12-15 17:39] #439 closed, assigned to jterps08

[2016-12-16 01:35] igaponov commented on #442
Fixed

[2016-12-16 07:27] petervojtek commented on #442
ok, thanks. fixed.

[2016-12-16 07:27] #442 closed, assigned to jterps08

[2016-12-16 07:36] petervojtek commented on #410
@igaponov , so I tried to run the GET request and this is the outcome:

[code]

[2016-12-16 21:52] jterps08 opened #445 "Membership List Avatars"
Avatars are not appearing when the user goes to the Group Profile screen and selects "membership list". Avatars should be displayed same way they are served in newsfeed (with imgix).

[2016-12-16 21:52] jterps08 opened #446 "Passcode to enter group not working"
Group 1 leader User A creates a group passcode via Group  Management screen.
User B tries to join Group 1.
Screen displays Passcode field but...
Screen does not allow user to enter passcode.

[2016-12-16 21:53] jterps08 opened #447 "Group Permissions Changed Behavior"
Should open the profile screen from the quick action button... Currently only opens Social Activity Feed

[2016-12-16 21:53] jterps08 opened #448 "Missing ability to upload/change/remove group avatar"
When managing a group, the group leader needs the ability to upload/change/remove a group avatar. Currently all other fields are available to change, but not avatar... Process should be similar to how the user can update their own avatar.

[2016-12-16 21:54] jterps08 opened #449 "Restore "Posts remaining" counter"
When the user creates a new post or petition, he should be able to see how many more posts he is allowed that month in that particular group. We used to have this and it was removed. The user needs an idea of how many posts they have left in the group.

[2016-12-16 21:55] jterps08 opened #450 "Missing Group Name Label on Item Detail Screen"
Above the description text, the item detail screen should display the group in which the item was posted. Currently there is no way to understand where the item was posted except for group avatar (which may or may not be provided).

[2016-12-16 21:56] jterps08 opened #451 "Unstarring a Favorite item from Favorites List removed wrong item (offset by 1)"
User saves an item to the Favorites from the newsfeed by tapping empty star. Item is saved to Favorites List. (Correct).
User unsaves an item from the Favorites from the newsfeed by tapping golden star. Item is removed from Favorites List (Correct).
User saves an item to the Favorites from the newsfeed. User visits Favorites screen. User taps golden star to remove Item 2 from the list. Item 1 is r

[2016-12-16 21:59] jterps08 opened #452 "User Profile showing wrong content as user's posts"
This is not the newsfeed. This is the list of items that appears when someone is looking at a user's profile screen. Should show the posts by the viewed user that were made in the same groups that logged-in user is also in.

For example, if Jesse is logged in and looking at Austin's posts. And Austin and Jesse are in USA group and New Jersey group and Save the Whales group, but Austin is in Wanama

[2016-12-19 16:22] #426 closed, assigned to petervojtek

[2016-12-20 02:24] jterps08 commented on #446
Unable to reproduce

[2016-12-20 02:24] #446 closed, assigned to nobody

[2016-12-20 02:40] jterps08 commented on #451
![screenshot_20161216-161931](https://cloud.githubusercontent.com/assets/7582457/21336470/bd2b2b28-c633-11e6-96c1-6704fbbec359.png)

[2016-12-20 02:40] jterps08 commented on #450
The first image doesnt show the group name, the second image shows only the group name Build Test Three... The field should be "Author FullName | Group Name"

![screenshot_20161130-093342](https://cloud.githubusercontent.com/assets/7582457/21336490/cb71cebc-c633-11e6-8286-901b1bc6c772.png)
![screenshot_2015-01-07-16-27-28 1](https://cloud.githubusercontent.com/assets/7582457/21336489/cb71ae46-c633

[2016-12-20 02:41] jterps08 commented on #449
Should be available for posts or petitions... This is how it used to look

![screenshot_2016-08-05-23-01-04 1](https://cloud.githubusercontent.com/assets/7582457/21336503/e215588c-c633-11e6-9dcd-b8b87dbf974f.png)

[2016-12-20 02:42] jterps08 commented on #448
I can't tap the image to change/edit/remove...

![screenshot_20161219-212213](https://cloud.githubusercontent.com/assets/7582457/21336507/f442aff0-c633-11e6-8bcd-e732970536d1.png)

[2016-12-20 02:44] jterps08 commented on #447
When the notification pops up, the user can tap the Open button. It should show the Group profile screen. It does not.

![screenshot_2016-09-22-08-01-47](https://cloud.githubusercontent.com/assets/7582457/21336550/370663f4-c634-11e6-914d-1b82df1b4d7e.png)

![screenshot_20161219-214353](https://cloud.githubusercontent.com/assets/7582457/21336573/5968ab00-c634-11e6-8c4e-9c5cf533f4ac.png)

[2016-12-20 02:46] jterps08 commented on #445
If user avatar is presented, it should display through imgix. (backend may need to change in order to provide this, not sure)...  If user avatar is not available, then ng-letter icons should show like below... Currently no image is showing for Membership List screen

![screenshot_2016-09-08-08-35-37](https://cloud.githubusercontent.com/assets/7582457/21336586/68c3ff14-c634-11e6-8774-6d9b555e92d9.p

[2016-12-20 15:06] jterps08 commented on #444
So is this fixed from your perspective @igaponov ?

[2016-12-20 15:07] jterps08 commented on #448
@igaponov can you make sure there's an endpoint in place for adding/changing/removing group avatar?

[2016-12-20 15:10] jterps08 commented on #445
@igaponov can you double check that when backend is returning group membership list, that the group member avatars are being provided with appropriate imgix information (should serve up avatar similar to how they are served in newsfeed)? It may already be doing this and the problem is on the frontend... Not sure.

[2016-12-21 16:21] igaponov commented on #444
@jterps08 must be fixed, I've checked this endpoint on the dev server for your user.

[2016-12-21 17:34] jterps08 commented on #445
This should be ready for you @bakbanga

[2016-12-24 09:27] igaponov commented on #448
Use `POST  /api/v2/user/groups` to add, `PUT /api/v2/groups/{id}` to change and `DELETE  /api/v2/groups/{id}/avatar` to delete an avatar. Check API doc for more information.

[2017-01-17 16:42] devotebest commented on #448
@jterps08
Could I get app design about when click "avatar"?

[2017-01-17 17:56] jterps08 commented on #448
@devotebest Whatever you think is best... Either we can make it an additional field in the Profile Setup drawer or we can allow the user to tap the avatar and change it from there as if it were a similar process to the Edit My Profile screen where the user can change his own avatar. The key issue to address is the removal of the avatar must be replaced by the NG-Letter concept (currently implement

[2017-01-18 01:55] devotebest commented on #449
@jterps08
there is no field like **data.group.available**, so remained counter will no appeared.
https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/templates/posts/create.html#L24-L26

there is field **"group.petition_per_month"**, so I am about to show this field.
but I want to make sure with backend developer.

[2017-01-18 02:17] jterps08 commented on #449
@igaponov can you confirm that group.petition_per_month represents the number of posts that user has left for the month in that particular group/community?

[2017-01-18 02:28] devotebest commented on #448
@jterps08
I will use ionic Actionsheet to show "Upload/Remove/Cancel" button when click Avatar.
here is example. http://codepen.io/ionic/pen/jLylA
![image](https://cloud.githubusercontent.com/assets/10233895/22048567/c45e905a-dd68-11e6-879d-f90bb0080a94.png)

1. **Upload** will be same like Profile image update
2. **Remove** will remove avatar
3. **Cancel** will cancel action.

[2017-01-18 02:37] jterps08 commented on #448
Works for me. Thanks @devotebest

[2017-01-18 02:58] devotebest commented on #448
@jterps08
This is API from @igaponov
**Use POST /api/v2/user/groups to add, PUT /api/v2/groups/{id} to change and DELETE /api/v2/groups/{id}/avatar to delete an avatar. Check API doc for more information.**
Is there any API to operate with Only Avatar?
Right now, After upload image for avatar, we should click "Save" button at **Profile Setup** section?
![image](https://cloud.githubusercontent.com/

[2017-01-18 03:18] igaponov commented on #448
@devotebest I didn't know anything about UI, so there is no separate endpoint to upload avatar. You can use `PUT /api/v2/groups/{id}`, send all current data + new avatar after upload, so no need to push "Save" button. But if you want I can add an endpoint for avatar.

[2017-01-18 03:20] devotebest commented on #448
@igaponov
yes, I need endpoint for avatar.

[2017-01-18 03:42] igaponov commented on #449
@jterps08 it represents the number of __posts__ / __user petitions__ that user has left for the month in that particular group/community.

[2017-01-18 03:45] devotebest commented on #449
@igaponov
so we can use this, right?

[2017-01-18 04:15] jterps08 commented on #449
Yes, that works fine @devotebest

[2017-01-18 15:05] jterps08 commented on #449
I can see the counter @devotebest but when I create a post in a group (e.g. United States), I would expect to see the number decrease. Instead, it still says 5... I would expect it to decrease with each post made...

@igaponov can you confirm this is working as expected?

[2017-01-18 15:28] igaponov commented on #449
This property shows a limit, not a remained count.

[2017-01-18 15:35] jterps08 commented on #449
Hmm... That's interesting. I wonder if this had been handled on the frontend before. What's the level of effort to change it to remaining count, @igaponov ?

[2017-01-18 15:40] devotebest commented on #449
we need remained count. :)
@igaponov

[2017-01-18 15:45] jterps08 opened #455 "Push Notifications Error for iOS/Android"
When logging into the mobile app on both iOS and Android, the user is presented with "Failed to registed your device to push notifications. This may happen when you login on another device under your account. Please logout and login on this device."

Logging out and logging back in does not solve the problem. This occurs with both FB and E-mail Login.

[2017-01-18 15:59] jterps08 opened #456 "Strange E-mail Registration Experience"
Try to register a new user via e-mail.

User provides Name, Username, and Password. Clicks Next (ok)
User starts to enter address into Street Address field. Google auto-suggests different addresses based on entered text (ok).
User selects an address from one of the suggestions on the list (ok)
The app auto-fills all of the appropriate fields except City field (wrong). City field should be auto-fil

[2017-01-18 16:00] jterps08 commented on #451
@devotebest I haven't tested this fix on iOS. I see 5603c12 references android. I assume 87e146c was for iOS. Please confirm this is fixed on both platforms. I did test on Android, so I am closing.

[2017-01-18 16:00] #451 closed, assigned to devotebest

[2017-01-18 16:02] devotebest commented on #451
@jterps08
 sure it worked fine on ios. :)

[2017-01-19 00:03] igaponov commented on #448
`PUT  /api/v2/groups/{id}/avatar`

[2017-01-19 01:24] devotebest commented on #455
When register token on device, I got this error, so maybe need backend developer to understand what is this.
`{"data":{"code":500,"message":"The security token included in the request is invalid.","errors":null},"status":500,"config":{"method":"POST","transformRequest":[null],"transformResponse":[null],"url":"https://api-dev.powerli.ne/api/endpoints/","data":{"type":"ios","token":"e8e1785c3849174e

[2017-01-19 02:19] jterps08 commented on #455
Thanks David... Please be sure to assign @igaponov as needed... Igor can you take a look?

[2017-01-19 02:38] devotebest commented on #448
![image](https://cloud.githubusercontent.com/assets/10233895/22091719/4b4e9270-de33-11e6-8957-96651dafabb2.png)
@igaponov
I tried to update avatar as above request, but got below error.
`{"code":400,"message":"Validation Failed","errors":{"children":{"avatar":{"errors":["The mime type of the file is invalid (\"inode\/x-empty\"). Allowed mime types are \"image\/png\", \"image\/jpeg\", \"image\/jpg\

[2017-01-19 02:57] devotebest commented on #456
@jterps08
Regarding "The app auto-fills all of the appropriate fields except City field (wrong). City field should be auto-filled based on the selected address as well."
I checked `city` field, it seems that field is also correct.
what 'street address` did you try to test?

[2017-01-19 02:59] devotebest commented on #456
@jterps08
and I got register success again with my email address.
what was your test information of `registration`?

[2017-01-19 02:59] jterps08 commented on #456
1088 Bedford Ave (auto filled Brooklyn addrrss)

[2017-01-19 03:05] jterps08 commented on #456
I will have to try another address... Maybe it's because I had entered the address once, it didn't pull in the city, and then i manually entered "new york" instead of brooklyn, and it failed... I will test again.

[2017-01-19 14:23] devotebest commented on #449
@igaponov
any good news with this please?

[2017-01-19 21:27] jterps08 commented on #456
I tried a few other e-mail addresses 17 Flatbush Avenue (brooklyn) "Error occurred" message appears (and brooklyn was not auto-filled into field)... I tried 108 9th avenue (new york) "error occurred" message appears (and new york *was* auto-filled into field)... This was on the Galaxy S4.

The original errors occurred on the Galaxy S7.

[2017-01-20 06:35] igaponov commented on #449
Use `posts_remaining` and `petitions_remaining` attributes.

[2017-01-20 09:04] devotebest commented on #449
@igaponov
make sure those attributes are available, I can't see those attributes, can see instead of petition_per_month.

[2017-01-20 15:45] devotebest commented on #450
@jterps08
how to get `payment request` screen?

[2017-01-20 16:00] devotebest commented on #447
@jterps08
How could I send Push notification for testing?

[2017-01-20 16:07] #449 closed, assigned to igaponov

[2017-01-20 16:11] jterps08 commented on #450
For clarity @devotebest this is the "Item Detail Screen" template... it's the same screen that's used for a post, user petition, leader poll, leader petition, leader discussion, leader fundraiser/crowdfunder, and leader event... The template already features the author name across all content, we just need to add the pipe and the group name to that same row as described above.

[2017-01-20 16:13] devotebest commented on #450
@jterps08
yes, I found out how to fix that on `first screen`.
but I am still trying to find out how to go `payment request` screen.

[2017-01-20 16:14] jterps08 commented on #447
Unfortunately, we are going to have to wait until notifications is fixed first... However, the way this would normally be triggered is:

User A creates group
User A is group owner. User A is a group leader.
User B and C joins group. User B and C are group members.
User A goes to Group Profile screen via My groups. User A can see "manage group" button because he is a group leader. User A can change

[2017-01-20 16:17] jterps08 commented on #450
payment request screen is the old name for a fundraiser or crowdfunder... I don't think we label it "payment request" any longer (the screenshot above is old and is only to illustrate the group name).

To get there, you would need to create and publish a fundraiser for your group members. This would require that you setup a bank account for the group. I believe that our Stripe setup is still in TE

[2017-01-20 18:06] jterps08 commented on #450
@devotebest I can see the group name, which is great... however it is hyperlinking to the author's profile screen. Can you hyperlink it to the group profile screen instead?

[2017-01-21 23:16] jterps08 commented on #418
I have to reopen this - I'm not sure why My Reps are not loading... @igaponov @devotebest please work together on this.

[2017-01-22 04:57] jterps08 commented on #450
Thank you!

[2017-01-22 04:58] #450 closed, assigned to devotebest

[2017-01-23 03:48] jterps08 commented on #456
Can I get an update on this?

[2017-01-23 03:48] jterps08 commented on #455
What's the latest on this? Did we get appropriate credentials from @austinpapp ?

[2017-01-23 03:48] jterps08 commented on #448
Does this work now @devotebest ?

[2017-01-23 03:49] devotebest commented on #448
@jterps08
It doesn't work yet.
FYI @igaponov

[2017-01-23 03:50] jterps08 commented on #410
Let me know @devotebest if you need me to send a quick mockup for the item detail screen button via Slack please...

[2017-01-23 03:50] devotebest commented on #456
@jterps08
I think I missed your last comment for this, Please mention me when write comment.
will check this again.

[2017-01-23 03:51] devotebest commented on #410
@jterps08
yeah, I need mockup, that would be very helpful to understand this issue.

[2017-01-23 04:37] igaponov commented on #456
Blocked by #455

[2017-01-23 04:38] igaponov commented on #448
Blocked by #455

[2017-01-23 04:39] igaponov commented on #455
@jterps08 not yet

[2017-01-23 07:51] igaponov commented on #455
@jterps08 I've changed credentials, should works now.

[2017-01-23 07:53] igaponov commented on #418
@jterps08 check now, user user `jnq@test.com` or add a new one.

[2017-01-23 07:53] igaponov commented on #456
@jterps08 check now

[2017-01-23 13:07] jterps08 commented on #410
@igaponov can you provide all applicable endpoints for the reports that have been developed? I assume we have response reports for **single** polls, petitions, fundraisers, and events? as well as a membership roster report? I do not expect **group** polls/petitions/fundraisers/events reports...

[2017-01-23 13:08] jterps08 commented on #455
I will re-test today. Kindly proceed with other items, @igaponov

[2017-01-23 13:09] jterps08 commented on #456
I will check again. Thanks @igaponov

[2017-01-23 13:46] devotebest commented on #445
@jterps08
`Avatars are not appearing when the user goes to the Group Profile screen and selects "membership list". `
do you have screenshot(no appearing avatar) of this issue?

[2017-01-23 14:43] devotebest commented on #455
@igaponov
I am still getting error.
`[{"message":"You are not authenticated","class":"Symfony\\Component\\HttpKernel\\Exception\\HttpException","trace":[{"namespace":"","short_class":"","class":"","type":"","function":"","file":"\/srv\/civix\/vendor\/friendsofsymfony\/rest-bundle\/FOS\/RestBundle\/EventListener\/AccessDeniedListener.php","line":77,"args":[]},{"namespace":"FOS\\RestBundle\\EventLis

[2017-01-23 14:46] devotebest commented on #455
@igaponov  @jterps08
screenshot about API request
![image](https://cloud.githubusercontent.com/assets/10233895/22208395/b27a9196-e1bd-11e6-85d2-a63aba0dec03.png)

[2017-01-23 16:11] igaponov commented on #448
Should be fixed now.

[2017-01-23 18:47] jterps08 commented on #448
@devotebest please investigate and let us know if it is ready to proceed

[2017-01-23 18:52] jterps08 commented on #445
The issue seems to be resolved now. It looks like this was the backend fix that Igor implemented above. Apologies!

[2017-01-23 18:52] #445 closed, assigned to devotebest

[2017-01-23 18:55] jterps08 commented on #455
I believe this is working, but will re-test this evening... When user logs into app, it has previously displayed the error message "Failed to registed your device to push notifications. This may happen when you login on another device under your account. Please logout and login on this device." -- This is no longer appearing! (Good).

The app however is showing confirmation messages that the token

[2017-01-23 18:57] jterps08 commented on #452
I'll talk to you about this separately Igor.. 178 should come first.

[2017-01-23 19:14] jterps08 opened #459 "Procon - A new type of "Post""
We need to duplicate the "post" type item so that a user can create a Post, a User Petition, or a "Procon".... A procon is *identical* to a Post except when it comes to comments.

Comments for a procon are submitted as either "Pro" or "Con" or "General" when a user authors the comment, he must select the type.

We will update the frontend so that a user can filter comments by Pro, Con, General, or

[2017-01-23 19:31] jterps08 opened #460 "UX Moment: First-time User Post Coaching"
When a user creates his first post, a screen shows up asking the user which issues s/he cares about. It's the same UI that appears in the User Profile screen that allows the user to select the different issue s/he cares about (or skip button). The user selects the issues and clicks next which updates the user's profile.

Placeholder idea 1 - When the user clicks next, a screen appears coaching the

[2017-01-23 21:57] jterps08 opened #461 "Newsfeed Activities"
Igor - I am logged in as 1.JesseChen and following user JTest1.

1.JesseChen lives in Hoboken, NJ USA and JTest1 lives in Washington, DC, USA.

A post that JTest1 created in DC (District of Colombia) is appearing in 1.JesseChen's newsfeed. This shouldn't be happening.

The only content that should appear in a user's newsfeed is content from the groups that he is joined to (his town, state, and cou

[2017-01-23 21:59] jterps08 opened #462 "Notification Action Button: Upvote doesn't work"
User receives push notification.
Action button "Upvote" is availble. User clicks "Upvote"
App should automatically upvote that post. Does not. Please investigate callback is operating properly.

[2017-01-23 22:04] jterps08 opened #463 "Notification Small Icon"
Only happens on Galaxy S7 (Android 6.01), not Galaxy S4 (Android 5.01)

The small icon is obscured by a white square in the notification alert on Android 6 but is fully visible in Android 5.

[2017-01-23 22:04] jterps08 commented on #455
Initial tests indicate push notifications are working again. Closing for now. Full retest later.

[2017-01-23 22:04] #455 closed, assigned to jterps08, devotebest

[2017-01-23 22:06] jterps08 commented on #418
Confirmed closed

[2017-01-23 22:06] #418 closed, assigned to jterps08

[2017-01-23 22:06] jterps08 commented on #456
Confirmed closed.

[2017-01-23 22:13] jterps08 commented on #456
Email registration may complete on the backend, but we're still having an issue with a Brooklyn address. David, can you investigate? 620 Atlantic Avenue, Brooklyn NY... if you select that from the auto-suggestion popup, it fills in everything except brooklyn... if this is google's fault (and not ours), then there's nothing that we can do about it and this is closed.

[2017-01-24 00:40] devotebest commented on #448
@jterps08 will check this now.

[2017-01-24 03:09] jterps08 commented on #425
I believe this issue is connected to #461 ... It only appears to be a problem now on items that are appearing in the user's feed that shouldn't be there. Items that shouldn't be there are items from groups/communities the user is not a part of.

[2017-01-24 03:51] jterps08 commented on #462
I provided a link on Slack that outlines the correct behavior for the push notification messages with the Upvote / Downvote action buttons

[2017-01-24 04:13] jterps08 commented on #340
I cannot seem to load more than 15 items into my feed. When i scroll to the bottom, it should load the next 15 items...  I do not want Erik's work from above to have removed either a) infinite scrolling or b) local caching

[2017-01-24 04:20] jterps08 opened #464 "Comment Field Placeholder Text / Field Size"
When making a comment on the Item Detail Screen (all content types), the comment field should already be sized to support 2 or 3 lines (see below) so that the user can see the placeholder text below. As the user types more text, the comment field expands (current behavior, should continue).

Regardless of the item, on the Item Detail screen there should also be rotating placeholder text in the Com

[2017-01-24 04:28] jterps08 opened #465 "Authors should not see their own posts/user-petitions in the priority zone"
If the user is a group leader/manager and he is the *author* of *leader* content, it should appear in his own priority zone. If any user creates a new post or user-petition, it should not appear in his own priority zone UNLESS it is boosted by the group leader/manager.

[2017-01-24 04:29] jterps08 commented on #462
It appears this is a problem with *all* action buttons on Android 5.01... still investigating.

[2017-01-24 04:32] jterps08 opened #466 "Auto-Fill Bank Account Setup Form with User Profile Info"
When setting up the bank account for a group, the account setup form should be auto-filled with the user's information who is setting up the bank account.

First Name, Last Name, Address 1, Address 2, city, State, Postal Code, Country...

The Date of Birth field is missing from this form. It should be included and provided to Stripe as an additional field using the remote-hosted Stripe.js file tha

[2017-01-24 04:41] jterps08 opened #467 "List Managed Groups First"
When the user views "My Groups", he should see the groups he manages listed first (alphabetically, one single section), followed by the rest of his groups as-is (alphabetical sections)

[2017-01-24 04:44] jterps08 opened #468 "User Profile Screen"
For public
It should show Tagline, Bio, and Country fields... and authored posts in shared public communities (User A follows User B. User A and B live in California and New Jersey, but both live in USA. User A can see User B's posts in USA group, but cannot see posts in New Jersey group).

For approved followers, it should show Tagline, Bio, **Issues, State,** and Country fields... and authored p

[2017-01-24 04:51] jterps08 opened #469 "Manual Boosting Icon not working for authorized user"
User 1.JesseChen is group owner or manager of buildtest1088
User abc is a group member of buildtest1088

User JTest1 can see the boosting "lightning" icon on user abc's post "Anything 2" (correct)
User Jtest1taps button and very long error message displays (incorrect).

User Jtest1 should be able to boost abc post

[2017-01-24 04:52] jterps08 opened #470 "Notification not working for "Posts by Followed User""
Line 6 and 7 from the REquirements Google Doc

[2017-01-24 04:59] jterps08 opened #471 "New Group Registration - ScreenFlow"
After user creates group, it should immediately go to the Group Profile screen for that new group.

Currently it's going to the My Groups page. Please re-direct to Group Profile screen assuming successful registration.

[2017-01-24 05:02] #470 closed, assigned to nobody

[2017-01-24 05:04] jterps08 opened #472 "Invite Followers to Group"
Isn't generating a push notification alert or invitation for the user's followers.

Some user creates new group BuildTest2017.
User JTest1 approved follow request from 1.JesseChen

User JTest1 has a post that has been boosted uatomatically by the system in BuildTest2017, so he now is able to see and tap on the "megaphone" icon to invite followers to group. He taps the icon. He selects the group "S

[2017-01-24 05:09] jterps08 commented on #410
mockup for @devotebest ... **BUTTON A** this is just the Event-type Item Detail Screen, but ti would need to appear on poll-type, leader petition-type, fundraisers, and event-type item detail screens... Tapping the button will display alert message "Do you want to download the report for this item?" Yes / Cancel.

**BUTTON B** Clicking the "Export Data" button (should be re-labeled to "Export Rost

[2017-01-24 06:18] devotebest commented on #462
@jterps08
How could I send push notification?
Is there any admin panel to send push notification?

[2017-01-24 11:01] igaponov commented on #410
Endpoints:
Single poll: [`GET /api/v2/polls/{id}/responses`](https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{id}-responses)
Membership roster: [`GET /api/v2/groups/{id}/members`](https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id}-members)

[2017-01-24 11:28] devotebest commented on #447
@jterps08
I can't test with one device?
Is there any admin panel to send push notification?

[2017-01-24 13:19] jterps08 commented on #462
There is no admin panel @devotebest. You have to actually take the actions that result in push notifications. If you have two devices, it is easy to do to this. If you only have one device, you'll have to work with me or someone else to do this. I sent you a link in Slack that outlines in detail the scenarios that result in each notification.

[2017-01-24 13:19] jterps08 commented on #410
@igaponov For "single poll", will that work for leader petitions, fundraisers, and events?

[2017-01-24 13:20] jterps08 commented on #447
@devotebest I don't think you can test with one device. Unless you're logged into your emulator and using that under one account (User A) and you have a different account on your mobile/table device maybe? (User B and C)

[2017-01-24 13:29] austinpapp commented on #462
The other option is to send a json formatted message directly from AWS sns. Pending you know the proper format of the json obj. I'll see if I can find something asi haven't used that in awhile.

[2017-01-24 14:40] igaponov commented on #410
@jterps08 yes, on backend leader petitions, fundraisers and events are the same entity, so have the same reports.

[2017-01-24 15:21] jterps08 commented on #462
@austinpapp I think this page has an example... https://github.com/PowerlineApp/powerline-mobile/wiki/Push-notification-payload

[2017-01-24 15:59] jterps08 opened #474 "Announcements that are read need to stay "read""
The user sees a counter (1) on the Announcements tab.
The user views the Announcement.
The user switches to the Newsfeed tab. The Announcements counter (1) goes to 0 (this is correct).
The user logs out and logs back in and the Announcements counter is back at 1 although there is no new content (wrong).

The user thinks there's a new announcement but there is no new announcement.

[2017-01-24 16:00] jterps08 opened #475 "All Leader Content should show Group Avatar in Newsfeed, not Author Avatar"
Currently system provides the Author avatar with the leader content. The system should provide the Group avatar with the leader content (polls/leader-petitions/discussions/fundraisers/events/announcements).

User posts and user petitions (boosted and non-boosted) should continue to show author avatar.

Served with imgix as usual.

[2017-01-24 16:08] jterps08 commented on #448
This is working... Can you add the little indicator to the upper right-hand corner of the group avatar so that users know that they can tap on it to update it? This is the way it looks for user profile. This would only appear for group owners/managers in the Manage Group screen... @devotebest

Highlighted in red...
![image](https://cloud.githubusercontent.com/assets/7582457/22255444/66b235ee-e225-

[2017-01-24 16:51] jterps08 commented on #456
Confirmed closed.

[2017-01-24 16:51] #456 closed, assigned to devotebest

[2017-01-24 19:01] jterps08 commented on #447
Tested on Android 6.01 successfully. Tried to test on Android 5.01 but was unable to login with Facebook to test. Logged in manually on 5.01 and it worked.

[2017-01-24 19:01] #447 closed, assigned to devotebest

[2017-01-24 19:10] #448 closed, assigned to devotebest

[2017-01-24 23:33] jterps08 opened #477 "MixPanel Integration"
Leveraging the MixPanel js library, we need to track events for the below events within the application.

**Tracking these events should be as easy as adding one line of code to each of the already-existing actions**
[code]
https://mixpanel.com/help/reference/http

**Tracked Event (Properties)** ... Video Played (Video length, id)

1. Register with Facebook
2. Register with Email
3. User login (de

[2017-01-25 01:50] devotebest commented on #466
@jterps08
what is correct positon of `DOB` field in this form?

[2017-01-25 01:57] jterps08 commented on #466
Put it underneath Last Name please... Please use date picker.

[2017-01-25 12:18] devotebest commented on #410
@jterps08
**but it would need to appear on poll-type, leader petition-type, fundraisers, and event-type item detail screens... Tapping the button will display alert message "Do you want to download the report for this item?" Yes / Cancel.

Clicking the "Export Data" button (should be re-labeled to "Export Roster") displays alert "Do you want to download the detailed Membership Roster?"**

I didn't

[2017-01-25 14:23] jterps08 opened #480 "Standard Image Size for Attachments in Newsfeed"
Powerline currently has a single parameter by which all images are processed for imgix - the width of the screen. This is insufficient and creates wildly different image sizes in the newsfeed. See the example below:

![image](https://cloud.githubusercontent.com/assets/7582457/22306652/fe66d46a-e30d-11e6-9c3f-7e6a5e2b1d01.png)

In the example below, note how there is a consistent image size for all

[2017-01-25 14:24] jterps08 opened #481 "Combine Settings & My Profile Screens"
We need to combine the Settings and My Profile Screens into one screen with two tabs, defaulting to the My Profile tab.

[2017-01-25 14:28] jterps08 opened #482 "RSS Feed Viewer / News Screen"
Add an item to the main menu "News"
The news screen opens up and allows the user to select and add a few news sources via RSS selection.
Ok/Cancel.
News screen pulls in the latest headlines via RSS from selected sources.
Simple refresh button "refresh" icon
Simple settings button "gear" icon
Tapping gear brings user to the Settings screen, which now includes a modal for adding/removing RSS feeds.

[2017-01-25 16:24] jterps08 commented on #466
I'm getting a submission error on the form via Stripe. Please reference the Stripe documentation https://stripe.com/docs/testing for the test account information I'm using. The error doesn't seem to be related to test data as much as it's the form submission...

@devotebest You may want to back out the 64aa147 commit and re-do as we have had this working in the past. We are creating a bank account

[2017-01-25 16:27] devotebest commented on #466
@jterps08
so just need to do auto-fill with profile information?

[2017-01-25 16:36] jterps08 commented on #466
The objective is to have a correctly-working form to allow the authorized user to create a new bank account for the Powerline group that he owns.

The auto-fill works good. This portion of the issue is complete. I can see that you added the Date of Birth field (and auto-filled it) which is good, but that seems to have broken the submission. We need to have the Date of Birth field included in the i

[2017-01-25 16:42] devotebest commented on #466
@igaponov
POST v2/groups/id/bank-accounts API doesn't have dob field.
Please check this.
we are adding date of birth field.

[2017-01-25 16:55] jterps08 commented on #466
That would make sense, thanks @devotebest ... Igor can you add the DOB field into the API? Please reference Stripe links above to reference field formatting if needed.

I always get a little confused on the exact details when it comes to payments. Some things we store on Powerline, and other things we don't.

@igaponov - Can you also clarify for me what information we are storing on backend exactl

[2017-01-25 17:36] #340 closed, assigned to petervojtek

[2017-01-25 17:53] #462 closed, assigned to devotebest

[2017-01-25 18:57] jterps08 commented on #471
Step 1) Create Group
![image](https://cloud.githubusercontent.com/assets/7582457/22304148/4ef3bd9e-e304-11e6-9c80-44800face648.png)

Step 2) Registration successful
![image](https://cloud.githubusercontent.com/assets/7582457/22304167/61bed49a-e304-11e6-8311-209a3ba55115.png)

User clicks Okay and is...
Step 3) Directed to Group Profile Screen
![image](https://cloud.githubusercontent.com/assets/758

[2017-01-26 01:32] devotebest commented on #464
@jterps08
Placeholder text rotating means "those 4 text should be changed per second one by one"?

[2017-01-26 01:34] jterps08 commented on #464
It means that one of these four randomly appears in the comment field. It
doesn't change like an animation. It appears differently randomly each time.

On Jan 25, 2017 8:32 PM, "DevoteBest" <notifications@github.com> wrote:

[2017-01-26 01:53] devotebest commented on #410
@jterps08
could you check my last comment?

[2017-01-26 02:22] jterps08 commented on #410
No... They are two different buttons located in two different places.

The first button (labeled Button A in comment above) appears on Item Detail Screen as indicated in mockup. Should be blue, not black. Appears for polls, leader-petitions, fundraisers, events...

The second button is in the Manage Group screen at the bottom in Reports tab. It exists already. It's just not connected.

[2017-01-26 02:36] igaponov commented on #466
@jterps08 we store account id, last 4 digits of card, bank name, country, currency.

[2017-01-26 02:37] jterps08 commented on #466
Perfect thanks

On Jan 25, 2017 9:36 PM, "Gaponov Igor" <notifications@github.com> wrote:

[2017-01-26 02:38] devotebest commented on #466
@igaponov
so we don't need dob field?

[2017-01-26 02:43] jterps08 commented on #466
@devotebest please disregard Igor's comment. My question to him was regarding which items we store on our servers.... All the other information including DOB should be handled by the Stripe.js form and sent directly to their servers, not ours.

Please proceed with adding the DOB field per our earlier discussion.

[2017-01-26 02:44] devotebest commented on #466
@jterps08
I am not sure they need dob.
![image](https://cloud.githubusercontent.com/assets/10233895/22318316/6650800c-e3b4-11e6-8cb2-81cca1b5f671.png)

I think they need expire date

[2017-01-26 03:07] jterps08 commented on #466
@devotebest I appreciate you researching... but our form is for creating a bank account, not for entering a payment card (credit card)...

If you try to change the Subscription level (Manage Group screen), you'll see the Add Payment Card button. That's where the Expiration date is entered.

For this issue, this is a bank account, so we need to provide the DOB information to Stripe (along with othe

[2017-01-26 03:55] devotebest commented on #466
@jterps08
I take a look some document, but didn't find any **date of birth** related field.

[2017-01-26 04:14] jterps08 commented on #466
DOB is for the managed account that is created for the group - https://stripe.com/docs/api#create_account

This form already creates a Stripe managed account (for the group itself) AND adds a bank account to that managed account (associates a bank account with that group).

[2017-01-26 04:15] jterps08 commented on #466
[code]

[2017-01-26 04:22] jterps08 commented on #466
If you can't figure this out, please let us know and I'll engage @petervojtek to see if he can take a quick look and recommend where we add the DOB field. Otherwise, let's try to figure it out on our own as we'll need you to do additional work with Stripe in the future.

[2017-01-26 05:14] devotebest commented on #410
After call API and get CSV format, and we need to download csv file to android device?

[2017-01-26 11:23] igaponov commented on #466
deployed

[2017-01-26 12:52] jterps08 commented on #410
Yes

[2017-01-26 14:19] jterps08 commented on #474
@igaponov is "announcement read" something tracked currently by backend or only in the frontend?

[2017-01-26 14:40] igaponov commented on #474
@jterps08 only in the frontend

[2017-01-26 15:15] devotebest commented on #410
@jterps08
we need to add "Button A" on Question Detail page also?

[2017-01-26 15:17] jterps08 commented on #410
This is Button A mockup. It's circled in red. This button A needs to appear on Item Detail screen for polls, leader-petitions, fundraisers, and events.

![image](https://cloud.githubusercontent.com/assets/7582457/22336568/af1a6374-e3b0-11e6-9b4b-848e03e5d093.png)

[2017-01-26 15:31] jterps08 commented on #410
This is Button B

![screenshot_20170126-102153](https://cloud.githubusercontent.com/assets/7582457/22337245/81a87a14-e3b2-11e6-8e93-197ac3f43d55.png)

[2017-01-26 15:37] jterps08 commented on #474
What's the level of effort to track **announcements** that are read (like how we track priority zone items that are read)?

[2017-01-26 15:39] devotebest commented on #410
Okay, got it.
and Export Data should be `Export Roster`

[2017-01-26 16:21] jterps08 commented on #410
Yes please - thank you!

[2017-01-26 17:56] jterps08 commented on #410
The file is not download to my device. I have an Android 6.01 Galaxy S7... I have not tested with older Android or iOS device.

I would have expected a file to be downloaded to my device.

![image](https://cloud.githubusercontent.com/assets/7582457/22343635/dc22e894-e3c6-11e6-8cc5-795b24197f60.png)

[2017-01-26 17:58] devotebest commented on #410
Right now
Please check this folder
/Android/data/ne.powerli/files

[2017-01-26 18:43] jterps08 commented on #410
Okay - we're going to need a different experience for the user. I would expect to see the download appear in the system notification drawer as any normal file download would. Otherwise, the user does not have easy access to it.

[2017-01-26 18:45] jterps08 commented on #410
maybe the file-transfer plugin for cordova? I'm not sure exactly.

[2017-01-26 18:52] jterps08 commented on #410
Do you understand what I mean @devotebest? Something like below...

![image](https://cloud.githubusercontent.com/assets/7582457/22345576/9f5243b2-e3ce-11e6-97c8-85d68522492c.png)

[2017-01-27 02:52] jterps08 commented on #466
@devotebest please reference the Slack conversation in #bugs channel for more information

[2017-01-27 02:58] jterps08 opened #484 "Add Individual/Company Selector to Bank Account Setup"
1) @devotebest In order to fully comply with Stripe legal requirements, we need to give users choice between "Individual" or "Organization" on the Bank Account Setup Form. It should be placed above "Business Name" field. The label "Account Type: Business" should be replaced by this toggle button.
It is passed via API to the backend as `type` along with the DOB and other fields. Individual selectio

[2017-01-27 16:36] jterps08 commented on #484
@devotebest tax ID field is ready

Thanks @igaponov for quick action here.

[2017-01-27 17:36] igaponov commented on #474
@jterps08 couple of hours

[2017-01-27 20:24] jterps08 opened #485 "Multi-Group Posting Placeholder"
The ability for the user to create a new post and select multiple groups at once to send the post to

[2017-01-27 20:31] jterps08 opened #486 "Long Posts / Articles PLACEHOLDER"
Ability for user to create a "Long Post" supporting Rich HTML Formatting

[2017-01-27 20:35] jterps08 opened #487 "@everyone notifier for group leaders"
Ability for a group leader (owner/manager) to utilize the @everyone mention to notify all group members from comment box. Unauthorized users (group members) will simply have the @everyone treated as text (no notification generated).

From a frontend perspective, the auto-suggestion box should *not* suggest @everyone when the user types it even if the user is authorized. However, when an authorized

[2017-01-30 05:14] igaponov commented on #410
Use
https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id}-members-link
https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{id}-responses-link
to get a link for download

[2017-01-30 09:43] devotebest commented on #410
@igaponov
I am getting errors now
*https://api-dev.powerli.ne/api-public/files/8fd4a501-e7f7-4268-af9e-7654dce42c75*

[2017-01-30 09:49] devotebest commented on #466
@jterps08
I think this is done!

[2017-01-30 09:55] devotebest commented on #484
@jterps08
**The label "Account Type: Business" should be replaced by this toggle button.**
I am not sure about `toggle button` about above comment.

I think that should be **select button** like http://ionicframework.com/docs/components/#select

[2017-01-30 10:20] devotebest commented on #484
![image](https://cloud.githubusercontent.com/assets/10233895/22419492/b87f1994-e718-11e6-8086-d67a4f90828d.png)
will make like this.

[2017-01-30 14:21] jterps08 commented on #410
The file will only last for a couple minutes before it's deleted @devotebest - please confirm you're checking in time.

[2017-01-30 14:22] jterps08 commented on #466
okay - i will confirm in next build, thanks @devotebest

[2017-01-30 14:23] jterps08 commented on #484
That works fine.

We should not have **two** DOB fields though :-)

[2017-01-30 15:53] devotebest commented on #484
@jterps08
okay, and what is position of **Tax ID**?

[2017-01-30 16:25] jterps08 commented on #484
You can put it right above the Last 4 Digits of SSN field

[2017-01-30 17:19] jterps08 commented on #410
@devotebest - The button works for group leaders. I need to test that it appears on polls, leader petitions, fundraisers, and events. I will only be able to test later this evening. Please confirm that the button 1) appears only for group leaders, and 2) appears on all four of those item types.

@igaponov - The report that is being generated needs to reference the Group Permissions. Only the field

[2017-01-30 17:20] jterps08 commented on #484
This works, thank you!

[2017-01-30 17:20] #484 closed, assigned to devotebest

[2017-01-30 17:30] jterps08 commented on #471
Confirmed!

[2017-01-30 17:30] #471 closed, assigned to devotebest

[2017-01-30 17:30] jterps08 commented on #466
Confirmed!

[2017-01-30 17:30] #466 closed, assigned to devotebest

[2017-01-30 17:37] jterps08 commented on #464
Can you confirm that this is in place? I do not see the placeholder text on the Item Detail screen for fundraiser, poll, discussion, event, leader-petition... I only see the placeholder texton the user posts and user petitions. Placeholder text needs to be on the item detail screen for all types of content.

[2017-01-30 17:37] jterps08 commented on #176
Will test in Staging.

[2017-01-30 17:37] #176 closed, assigned to jterps08

[2017-01-30 17:39] jterps08 commented on #480
@devotebest I think this parameter query needs to be applied to the following places:

**Newsfeed**

- user avatar
- newsfeed attachments (pics/vids)
- group avatar

The newsfeed slows down substantially when multiple images are in the feed and that's because we don't have this imgix query parameter on the call.

[2017-01-30 17:43] jterps08 opened #489 "Confirm Stripe in Staging/Prod"
The hardest testing we have to execute besides notification testing is Stripe payment processing.

We need to completely test payments in Staging using the Test Mode Stripe key (and test bank account / credit card information provided by Stripe).

We are currently experiencing the following two errors in Dev. We can resolve them in Staging.

1) Adding valid test credit card fails to process paymen

[2017-01-30 18:52] devotebest commented on #464
@jterps08
yes, working for this now.

[2017-01-30 20:05] devotebest commented on #480
@jterps08
could you attach screenshots to get more clear idea?

[2017-01-30 20:39] jterps08 commented on #480
![image](https://cloud.githubusercontent.com/assets/7582457/22440551/ffa44a90-e701-11e6-8244-d658f9fc6e52.png)

@devotebest The newsfeed are the top row of items. All this should be is appending the correct imgix query to wherever the image URL is loaded. You'll want to reference the comments above and the imgix documentation.

Anytime we load an image anywhere in the app we want to make sure that

[2017-01-31 04:10] devotebest commented on #480
@jterps08
It means all images on the feed should be cropped as same height?

[2017-01-31 16:06] jterps08 commented on #480
I will touch base with you in slack @devotebest

[2017-02-01 17:41] jterps08 commented on #410
@devotebest - Can you confirm that this button appears on polls, leader petitions, fundraisers, and events? Please confirm that the button 1) appears only for group leaders, and 2) appears on all four of those item types.

[2017-02-02 14:44] jterps08 commented on #480
I believe this is closed. I will inspect the commit once available.

[2017-02-02 14:53] jterps08 commented on #464
@devotebest this should not be an animation. When I open the Item Detail screen, one of these phrases is displayed at random in the comment field. It should not change while I'm on the same screen. If I leave the screen and come back later, the placeholder text should rotate to a different phrase, etc. Please fix.

[2017-02-02 15:07] jterps08 commented on #410
@igaponov Are you sure that all private fields are being hidden? Group G2017 only has permissions for Name, Country, Responses, yet I am sseing more user information in the downloaded fundraiser report. Can you please investigate?

@devotebest We still need to ensure that this button appears on polls, leader petitions, fundraisers, and events *only* for authorized group leaders.

[2017-02-02 15:10] devotebest commented on #410
@jterps08
what means `authorized group leaders` and `group leaders`?

[2017-02-02 15:10] devotebest commented on #464
@jterps08
will do

[2017-02-02 15:15] jterps08 opened #493 "Confirm Local Caching in Staging/Prod"
This was the original infinite scrolling and local caching work that we implemented...
https://github.com/PowerlineApp/powerline-mobile/commit/e2d8a03a98ab9f3fc1cd0df9b91dc0f97834f027

I'm not sure why this `prepare()` was commented-out/removed by Erik.
https://github.com/PowerlineApp/powerline-mobile/commit/4d66c633374be03bc48b251a31a0f01e1f4a8b82

We need to load only 10-15 items at a time and a

[2017-02-02 15:28] jterps08 commented on #410
authorized group leaders are people who are either group owners or group managers for a group.

User A is a group manager (or owner) of Group 1, so he should see the Report button on the Item Detail Screen for any leader content (polls/petitions/fundraisers/events) created in Group 1.

User A is not a group manager (or owner) for Group 2, so he cannot see Report button on the Item Detail Screen fo

[2017-02-02 16:08] devotebest commented on #410
@igaponov
how to check current user is authorized group leader for any group's item?

[2017-02-02 16:20] jterps08 commented on #410
@devotebest You can probably inspect the code for when the user tries to create a new fundraiser vs a new user post... it will only show certain groups to the user (only the groups the user is authorized to create leader content in)...

[2017-02-02 16:23] devotebest commented on #410
there is function to check owner about Petition
userPetition.ownedByCurrentUser()
petition.ownedByCurrentUser()

but didn't find out any method about `question` (payment request and event).

trying to find other way now

[2017-02-02 16:37] devotebest commented on #410
@igaponov
please answer if you read this comment.

[2017-02-02 18:32] jterps08 commented on #410
Look for the "Boost" icon (looks like a megaphone). It only appears on a post if the logged-in user is an authorized group leader in which the post was created. @devotebest

[2017-02-02 20:34] igaponov commented on #410
@devotebest https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id} attribute `user_role` for logged in user can be `owner`, `manager`, `member` or null.

[2017-02-03 01:14] devotebest commented on #410
@igaponov
so we need to call that api for all types?

[2017-02-03 01:15] devotebest commented on #410
and where is user_role field in response?

[2017-02-03 14:59] #464 closed, assigned to devotebest

[2017-02-03 15:19] #444 closed, assigned to jterps08

[2017-02-03 15:27] #413 closed, assigned to petervojtek, jterps08

[2017-02-03 15:28] #425 closed, assigned to jterps08

[2017-02-03 15:39] jterps08 commented on #485
Closing due to concerns for spam.

[2017-02-03 17:14] jterps08 opened #496 "Points & Karma - Iteration 1 (Platform Level)"
We want to reward the user with "points" for their activity on the platform.

+25 points
User views My Representatives screen (one-time-only)
+10
User follows someone (one-time only)
User approves a follow request from someone (one-time only)
User joins his first group (one-time only)
User creates his first post (one-time only)
User loads the Town filter (one-time only)
User loads the State filter

[2017-02-03 17:15] jterps08 opened #497 "User Post & Petition Analytics"
_(Moved over from Server Repo)_

The short-term objective is to be able to report the following:
Of the 1000 people who upvoted this post (or signed this petition), 25% are Cory Booker's constituents.
Of the 1000 people who upvoted this post (or signed this petition), 25% live in Hoboken, New Jersey.

The long-term objective is to be able to report the following:
Of the 1000 people who upvoted thi

[2017-02-03 17:16] jterps08 commented on #497
From Igor: @jterps08 now for membership roster report we use a table user_representative_report with columns president, vice_president, senator1, senator2, congressman.
We don't need a cloned db, but a table (or separate special db) for analytics, where we can store denormalized data for fast queries. The problem is that you want reports with variable number of columns (for example groups have dif

[2017-02-03 17:54] jterps08 opened #498 "Referral Discount Code Strategy"
_Migrating over from server repo..._

The ability to auto-create a unique ‘referral’ code for every new user A that can be used by other users B C D etc to discount their group subscriptions Groups X Y Z etc.  A user's own referral code cannot be used on their own groups. For every 3 successful referrals, the user earns a single 3 month 100% off discount.

When entering the discount/referral code

[2017-02-03 18:05] jterps08 commented on #403
I will expand this definition specifically for Stripe errors

[2017-02-03 18:27] jterps08 commented on #452
Please fix this as part of #468

[2017-02-03 18:37] jterps08 opened #499 "Dynamic Country Support for Bank Account Setup"
Add/remove fields dynamically depending on the selected country, including Japan.
Include ability to upload picture of identity verification document to Stripe legal_entity.verification.document (https://stripe.com/docs/connect/identity-verification#uploading-a-file)

[2017-02-03 18:40] #485 closed, assigned to nobody

[2017-02-03 18:41] #175 closed, assigned to petervojtek

[2017-02-03 18:41] #204 closed, assigned to nobody

[2017-02-03 18:43] jterps08 opened #500 "Integration A"
Placeholder

[2017-02-03 18:43] jterps08 opened #501 "Integration B"
Placeholder

[2017-02-03 18:44] jterps08 opened #502 "DVA Iteration 2"
Placeholder

[2017-02-03 18:45] jterps08 opened #503 "Cross-Posting to Third Party Social Networks"
Placeholder

[2017-02-03 18:46] jterps08 opened #504 "Profile Validation Joining"
Placeholder

[2017-02-03 18:46] jterps08 opened #505 "Pinned Items"
Placeholder

[2017-02-03 18:47] jterps08 opened #506 "Expired Announcements"
Placeholder

[2017-02-03 18:48] jterps08 opened #507 "Group Welcome Message & Video Support"
The ability for Silver subscription or higher groups to define a welcome message and a video to users when they join the group.

The backend should be able to store the welcome message and the video link. Only groups that are silver or higher should be able to create/edit/delete these two fields.

[2017-02-03 20:27] jterps08 opened #508 "Item Detail Screen Re-Design"
We need to redesign the item detail screen entirely so that comments are more easily posted and viewed... and so that item content does not require a secondary tab for attachments.

Initial thoughts:
increase attention to total engagement on the post
Decrease attention to time-related information
Reduce white space for answered polls, posts, etc. - Make upvote/downvote/ignore a horizontal experien

[2017-02-03 20:54] jterps08 opened #509 "Remaining Imgix Implementation"
Item Detail Screen Avatars and Attachments
Group Profile Screen Avatar and Newsfeed (A)
Group Profile Screen Membership List Avatars
User Profile Screen Avatar and Newsfeed (B)
Favorites Screen User Avatars and Newsfeed Attachment (C)
Social Activities Feed (You Tab & Following Tab) User Avatars
My Influences Screen User Avatars
Manage Group Avatar
Edit Profile Avatar

format=auto, format=compress

[2017-02-03 21:04] jterps08 commented on #475
@igaponov is this something you would change on the backend or is this something that we would have changed on the frontend?

[2017-02-03 21:24] jterps08 commented on #465
I am unable to duplicate this issue right now but leaving it open.

[2017-02-04 10:12] igaponov commented on #477
@jterps08 it looks like frontend issue.

[2017-02-04 10:21] igaponov commented on #469
@jterps08 can you provide very long error message?

[2017-02-04 16:48] jterps08 commented on #469
E-mailed it... I'm not kidding when I say 'very long' :-)

[2017-02-05 15:41] igaponov commented on #468
@jterps08 frontend issue

[2017-02-06 05:44] igaponov commented on #461
@jterps08 user `JTest` doesn't have any post in DC group. Can you please tell me a post's title? It's better to add this information every time you create issue like this.

[2017-02-06 10:55] igaponov commented on #472
@jterps08 1.JesseChen follower status is `pending`, JTest1 should approve his request before invitation.

[2017-02-06 14:17] jterps08 opened #510 "Followers Tab Should List Pending Requests"
Currently the "Followers" tab in the My Influences screen lists only the user's "approved" followers. The only place  to approve a follower's follow request is to go into the Social Activity Feed and approve it from there. This is confusing. The user should be able to see Follow Requests at the top of the Followers tab. The order of the tabs should be switched, too. Followers on the left (default

[2017-02-06 14:28] igaponov commented on #475
Use activity.group.avatar_file_path to get link.

[2017-02-06 14:35] jterps08 commented on #461
Here's the screenshot. User ZXC lives in New York and is *not* following User 1.JesseChen. User 1.JesseChen lives in New Jersey.

User 1.JesseChen posts to New Jersey group. User ZXC cannot see the post because he lives in New York (correct). User ZXC should only be notified of new posts/user-petitions if he is an approved follower of 1.JesseChen AND 1.JesseChen has posted in a group they both sha

[2017-02-06 14:36] jterps08 commented on #469
Thanks Igor

[2017-02-06 14:38] jterps08 commented on #475
Thanks Igor. So we'll use that to get the link. @devotebest when it's time to do this, we'll need to make sure imgix parameters are applied as usual.

Group avatar displayed for new polls, leader petitions, discussions, fundraisers, and events. User posts and user petitions will continue to show user avatars.

[2017-02-06 21:23] jterps08 opened #511 "Group Registration Failing in Staging"
Logged in as user zxc on Staging. Initial registration seemed to work successfully on Android 6.

Tried to create new group. Unable to do so. Tried to view Old groups information, but system ran very slowly. So I tried to restart the EC2 instance for Staging (bad idea). Now I can't login to the app at all.

![image](https://cloud.githubusercontent.com/assets/7582457/22666875/5a64faca-ec88-11e6-8f5

[2017-02-07 00:34] devotebest commented on #489
@jterps08
do you have any screenshot about failed `valid test card info`?

[2017-02-07 02:22] jterps08 opened #512 "Open Staging Issues"
RESOLVED - Unable to add a comment.... Spinning loader icon shows, then goes away after 15s, and comment is never added.
RESOLVED - Unable to upvote/downvote a post from the Newsfeed.... Busy icon (three dots) shows and post is never upvoted. Trying to upvote/downvote a post from the Item Detail screen fails as well.
RESOLVED - Unable to register a new group... User fills out form, the app hangs o

[2017-02-07 02:48] jterps08 commented on #489
There is no issue yet. This is a placeholder.

[2017-02-07 16:01] devotebest commented on #493
@jterps08
https://api-dev.powerli.ne/api/v2/activities?page=1
This API returned 20 items.

[2017-02-07 16:07] igaponov commented on #461
@devotebest can you tell where app gets data for `All` tab?

[2017-02-07 16:09] devotebest commented on #461
I think
https://api-dev.powerli.ne/api/v2/activities?page=1

[2017-02-07 17:35] jterps08 commented on #461
FYI The All tab pulls the feed in. The other tabs (town tab, group tabs, etc) apply a filter to the All tab.

[2017-02-07 17:43] jterps08 commented on #493
@devotebest ok, so we might want to change the return to 15 items @igaponov

@devotebest can you confirm we have local caching in the mobile app? We used to have it per the commit links I put above, but it may have been removed in the past. We need to have local caching so that the app isn't reloading the newsfeed when the user switches to a different app and comes back or switches to a different

[2017-02-07 21:35] jterps08 commented on #512
These issues have been resolved as a result of https://github.com/PowerlineApp/powerline-server/pull/470 (I think)

[2017-02-07 21:35] #512 closed, assigned to igaponov, austinpapp

[2017-02-07 21:36] jterps08 commented on #511
This issue has been resolved as a result of https://github.com/PowerlineApp/powerline-server/pull/470 (I think)

[2017-02-07 21:36] #511 closed, assigned to igaponov

[2017-02-07 21:49] jterps08 opened #513 "iOS Build Not Working in Staging"
Unable to test on 10.1.1 iOS
-Unable to login manually
-Unable to login with Facebook
-Unable to register with Facebook
-Unable to register with new account

[2017-02-07 22:32] jterps08 commented on #489
@igaponov
User adds valid credit card number and makes payment - following error is displayed.
![image](https://cloud.githubusercontent.com/assets/7582457/22714621/5ee56516-ed5b-11e6-92f0-45ae01135cc4.png)

Invalid Routing Number - Humanize the error response that is displayed to user.
Invalid Account Number - Humanize the error response that is displayed to user.

[2017-02-08 03:35] jterps08 opened #514 "General Open Staging Issues"
RESOLVED 1. Push notification does not arrive for Follow Request, Group Invite, New Poll, etc. Push notifications are not working (@igaponov)
RESOLVED 2. User abcd registered and was only linked to New York State and United States of America. Not linked to Town group. Linkage to Elected leaders was successful. (@igapanov)
RESOLVED / UNABLE TO REPRODUCE 3. Newsfeed attachments not appearing for pol

[2017-02-08 04:24] devotebest commented on #513
@jterps08  @igaponov

I think there is problem with backend.

[2017-02-08 04:37] jterps08 commented on #513
There shouldn't be a problem with backend if it works on Android, which it does.

[2017-02-08 16:24] jterps08 commented on #513
Issue resolved. Staging environment doesn't have SSL certificate.

[2017-02-08 16:24] #513 closed, assigned to devotebest

[2017-02-09 15:04] jterps08 commented on #509
As discussed on Slack, here are the screenshots..

![image](https://cloud.githubusercontent.com/assets/7582457/22788864/3387915a-eeaf-11e6-8063-a329c6cc2b45.png)

[2017-02-09 15:07] jterps08 commented on #509
As discussed on Slack... @devotebest

![image](https://cloud.githubusercontent.com/assets/7582457/22788960/89afcc1e-eeaf-11e6-94a7-07332b726825.png)

[2017-02-09 15:10] jterps08 commented on #461
This is closed.

[2017-02-09 15:18] devotebest commented on #509
@jterps08
![image](https://cloud.githubusercontent.com/assets/10233895/22789415/d4af25e8-ef1d-11e6-9ea9-207e5364a2ef.png)

these icons are coming from ng-letter-avatar library, and image source is below.
src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHBvaW50ZXItZXZlbnRzPSJub25lIiB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoNjQsIDEwLCAyN

[2017-02-09 15:18] devotebest commented on #509
@jterps08
I did everything except ng-letter-avatar icons.

[2017-02-09 15:42] #461 closed, assigned to jterps08

[2017-02-09 16:00] jterps08 commented on #509
that's correct - the ng-letter avatars do not need to be igmix processed. Thanks @devotebest

[2017-02-09 17:31] jterps08 commented on #489
@igaponov it may make sense to test this again in the TEST Stripe environment... I thought it was working fine in TEST, but we can try it there again?

[2017-02-10 03:12] igaponov commented on #489
@jterps08 fixed. You've already answered to this payment request, so try another one.

[2017-02-10 03:33] jterps08 commented on #489
ok I will inspect - can you give me an idea of what happened? @igaponov

[2017-02-10 03:41] jterps08 commented on #489
@igaponov @devotebest It seems that everything works. I am still getting an error message, but there's no content. The donation is processed by Stripe and it seems like the server has processed everything.

@igaponov is this something that the backend is returning? This is even happening if I select a $0 (no donation) option...
![image](https://cloud.githubusercontent.com/assets/7582457/22813319/c

[2017-02-10 04:03] jterps08 commented on #489
Also @igaponov, can you confirm that we are passing all of these fields to Stripe, please? (For group bank account setup)

![image](https://cloud.githubusercontent.com/assets/7582457/22813697/b090e590-ef1b-11e6-8723-cff5c536cf32.png)

It seems that, when I created the bank account in LIVE environment, the information was not passed. I should be able to see all of this information filled out becaus

[2017-02-10 14:34] devotebest commented on #493
@jterps08
I confirmed there is local caching in mobile app.
https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/services/activity.js#L47-L50

and https://github.com/PowerlineApp/powerline-mobile/commit/4d66c633374be03bc48b251a31a0f01e1f4a8b82 is old commit.
`prepare()` function is added already.
https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/js/controllers/home.

[2017-02-10 16:50] #493 closed, assigned to devotebest

[2017-02-10 17:05] jterps08 commented on #509
Closing this, need to confirm via code inspection that all screens were adjusted as indicated above @devotebest

[2017-02-10 17:05] #509 closed, assigned to devotebest

[2017-02-10 17:09] devotebest commented on #509
@jterps08
okay, here it is.
https://github.com/PowerlineApp/powerline-mobile/pull/515/commits/0c70401b2c4b6c2938eceb401e8331c4ef29bc74

[2017-02-10 20:12] jterps08 commented on #469
@igaponov I tried again and this is the error I got. Logged in as user zxc and tried to boost an item in zxcgroup1 authored by user abc...

As a group owner/manager (zxc), I should be able to manually boost any item in the group by any user (abc) including myself (zxc). Currently, as group owner/manager of zxcgroup1, I am only able to boost my own posts (zxc) but not other group members posts (abc

[2017-02-13 09:35] igaponov commented on #469
@jterps08 this post is already boosted

[2017-02-13 09:57] igaponov commented on #489
@jterps08 answer works, I tried for `zxc` user. Please provide your user name and poll with that error.
You can use 0 as amount, so I assume it's not good behavior. Should we set some minimum amount?
There was old code sending `legal_entity` info, but I'm not sure if it works fine, I've just added `dob` fields. Type, first name and last name were already added in this code before. Didn't you test

[2017-02-13 12:32] devotebest commented on #514
@jterps08
what is test account information(username and password)?

[2017-02-13 13:09] jterps08 commented on #489
@igaponov I actually did not test this in dev environment. I accidentally tested it in Staging because I wanted to check whether or not our crowdfunder had actually fired or waited as it was supposed to... For the record, the crowdfunder works (when there is deadline/goal-amount)...

To fully test this feature, I have to create a new group, add the bank account information, create a fundraiser, an

[2017-02-13 13:11] devotebest commented on #514
![image](https://cloud.githubusercontent.com/assets/10233895/22884627/e02c3472-f230-11e6-9cd9-6e43547b0cc9.png)
I got this screen.
@jterps08
could you add your screenshots please?

[2017-02-13 15:47] jterps08 commented on #469
Ok - Can we humanize the error response?

I need to confirm this works on an actual post that has not yet been boosted... I could not boost an item that was not mine... I could only boost posts that were mine... As a group leader I should be able to boost items by other users, not just my own... If it's already been boosted, we should inform the user.

[2017-02-13 15:48] jterps08 commented on #514
Re: #3 above... @devotebest If you create a Discussion with an attachment, you will see the problem. The attachment appears in newsfeed correctly on Android 6 but does not load in Android 5. I will send screenshots when I have my Android 5 again, which won't be for a few hours as I left it at home.

Re: #4, let me know if you have any questions...

[2017-02-13 15:56] igaponov commented on #469
I think if it's boosted we shouldn't see a button. `boosted` flag is exposed in API.

[2017-02-13 17:12] jterps08 commented on #469
ok @devotebest we need a rule for the manual boost button above

manual boost button appears only for group leaders (owners or managers) for the group in which the item was posted in AND manual boost button appears only if post is not boosted...

User ZXC is group leader for zxcgroup1
User ABC is a group member in zxcgroup1
User ABC is a group leader for someothergroup

User ABC makes a post in ZX

[2017-02-13 17:21] jterps08 commented on #489
@igaponov This was my fault. I looked at the wrong record. Sorry for the confusion.

We still want to address the [] error that's being sent back...

[2017-02-14 02:09] devotebest commented on #514
@jterps08
there is NO discussion creation button with that account.
![image](https://cloud.githubusercontent.com/assets/10233895/22911940/98c19704-f29d-11e6-8036-d14d65fd3c91.png)

[2017-02-14 02:10] devotebest commented on #514
@jterps08
Yes, I will need explain with screenshot about item 4 also.

[2017-02-14 04:25] devotebest commented on #514
@jterps08
I tried on android 4.x, I can see attached images.

[2017-02-14 04:37] jterps08 commented on #514
Re: #3, I will try to replicate.

Re: #4 ... The missing reports button on the polls screen... This button should *only be visible to users who are group leaders (owner or manager) for the group in which the item was made... If ZXC is group manager in zxcgroup1 and ABC is only group member, then ZXC can see reports button on polls, petition, fundraiser, event BUT ABC *should not*.
![image](https:/

[2017-02-14 09:02] devotebest commented on #514
@jterps08
@igaponov
This API didn't return correct data for group to check owner or manager.

https://api-staging.powerli.ne/api/poll/question/199
![image](https://cloud.githubusercontent.com/assets/10233895/22922079/2c6190a2-f2d7-11e6-9810-6743b6f0cdd3.png)

[2017-02-14 13:57] igaponov commented on #514
@devotebest https://api-staging.powerli.ne/api-doc#get--api-v2-groups-{id} `user_role` attribute

[2017-02-14 13:58] jterps08 commented on #514
Thanks @igaponov ... @devotebest the only item remaining in 514 is #4, this reports button thing....

[2017-02-14 14:09] jterps08 commented on #410
Re-opening to address included fields issue: https://github.com/PowerlineApp/powerline-mobile/issues/410#issuecomment-276982542

[2017-02-14 18:52] jterps08 commented on #489
@igaponov the [] error no longer exists

[2017-02-14 19:02] jterps08 commented on #514
#4 is done.

[2017-02-14 19:02] #514 closed, assigned to jterps08, devotebest

[2017-02-14 19:04] jterps08 commented on #489
@igaponov I have to re-test with bad CC information and bad bank account information to confirm humanized error responses via https://github.com/PowerlineApp/powerline-mobile/issues/489#issuecomment-278164632 before I can close this

[2017-02-14 20:04] jterps08 opened #517 "Weird Video Attachment Behavior"
Whenever I attach a YouTube link to an item (e.g. poll, fundraiser, etc.), the video that is displayed is *NOT* the same as the video I attached.

See below. User ZXC created a poll and attached video link: https://www.youtube.com/watch?v=iOmgD_aCSPM . (Seems to happen whether its short youtube URL or long youtube URL)

Instead, a different video appeared. I'm not sure if the link is being manipul

[2017-02-15 04:53] jterps08 opened #518 "Make "Responses" Permission Box Always Checked"
In frontend, make the "responses" permission box always checked (grayed out) on frontend. This is on the Manage Group > Permissions screen.

[2017-02-15 04:53] jterps08 opened #519 "Emoji handling in post and petition content"
Make sure that the system doesn't break when a user includes an emoji in the body of the item.

[2017-02-15 04:59] jterps08 commented on #489
I am moving humanizing Stripe errors to a new issue and closing this.

[2017-02-15 04:59] #489 closed, assigned to igaponov, jterps08

[2017-02-15 04:59] jterps08 opened #520 "Humanizing Stripe Errors"
https://github.com/PowerlineApp/powerline-mobile/issues/489

[2017-02-15 07:37] igaponov commented on #517
[code]
I see only a right link to this video in your newsfeed.

[2017-02-15 12:03] igaponov commented on #519
@devotebest I need to get raw request with emoji to see how mobile client send it (what is in a body of response), because in db I can see only spaces.

[2017-02-15 13:03] igaponov commented on #410
@jterps08 fixed

[2017-02-15 13:19] igaponov commented on #474
Use attribue `is_read` for logged in user (https://api-dev.powerli.ne/api-doc#get--api-v2-announcements)
Use https://api-dev.powerli.ne/api-doc#patch--api-v2-announcements to mark announcements as read.

[2017-02-15 14:06] #410 closed, assigned to jterps08

[2017-02-15 14:12] jterps08 commented on #517
Okay - so this must a frontend issue. The address must somehow become manipulated or truncated somehow... The video that should be showing is this one https://www.youtube.com/watch?v=iOmgD_aCSPM

and the thumbnail is https://img.youtube.com/vi/iOmgD_aCSPM/0.jpg (me), not whatever is in the screenshot above.

This is a frontend issue apparently. The payload has all the correct information.

[2017-02-16 03:20] jterps08 opened #521 "Public Permalinks Placeholder"

[2017-02-16 03:55] #517 closed, assigned to jterps08, devotebest

[2017-02-16 03:59] jterps08 commented on #480
@devotebest when the user enters a web address in a post, the system correctly previews the content based on the address provided. This usually works well for web sites, but if the user enters a youtube link (user zxc did in zxcgroup1), then the system will provide a preview of that youtube link in the newsfeed. That's okay... however the size of the youtube container is huge. We need to make this

[2017-02-16 04:05] #472 closed, assigned to jterps08

[2017-02-16 04:08] jterps08 commented on #480
![image](https://cloud.githubusercontent.com/assets/7582457/23007060/afb43714-f3d3-11e6-8118-f6463e5f9468.png)

[2017-02-16 14:07] sirius2013 commented on #469
what is manual boost button? could you add any screenshot?
and we need to test this on staging server or dev server?
what is test account?

[2017-02-16 15:53] igaponov commented on #326
@jterps08 which notification should I send in this case?

[2017-02-16 16:06] jterps08 commented on #326
the notification for "You were mentioned" should be sent. Good question...

Kindly prioritize #519 first as that is blocking our deployment to production

[2017-02-17 13:32] igaponov commented on #178
Get posts with a filtration: https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{group}-posts
Get petitions with a filtration: https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{group}-user-petitions
Update user status in a group: https://api-dev.powerli.ne/api-doc#patch--api-v2-groups-{group}-users-{user}
Get group's users with a filtration: https://api-dev.powerli.ne/api-doc#get--api-v2-g

[2017-02-18 11:24] igaponov commented on #519
Need to change settings for AWS db: https://github.com/openimages/dataset/issues/4

[2017-02-19 16:36] igaponov commented on #465
@jterps08 post or user petition should appear in priority zone ONLY if it's boosted.

[2017-02-19 16:56] igaponov commented on #403
All endpoints should return a response with the same structure: `{"code": xxx, "message": "Message ...", "errors": {...}}`
For 5xx codes alert with text like "Error has occurred, try later".
400 - show `message` to user or use `errors` object to show errors in a form.
404 - app uses api in wrong way or there is invalid data in db.

[2017-02-19 17:22] jterps08 commented on #403
This is good Igor - the intent of this issue was to ensure that `message` displayed to user is humanized and not technical jargon. We can address at a later time.

[2017-02-19 17:34] igaponov commented on #403
@jterps08 now our API shows Strip's errors. From Stripe API: `message: A human-readable message providing more details about the error. For card errors, these messages can be shown to your users.`

[2017-02-19 17:44] jterps08 commented on #403
awesome

[2017-02-19 22:18] jterps08 commented on #465
That's correct @igaponov

[2017-02-19 22:18] #465 closed, assigned to jterps08

[2017-02-20 16:35] MobileDevGold commented on #469
could I work for this?

[2017-02-20 21:00] jterps08 commented on #480
For additional clarity:

![image](https://cloud.githubusercontent.com/assets/7582457/23141623/ada5bd3e-f785-11e6-9353-b3910165ca2b.png)

[2017-02-20 21:14] MobileDevGold commented on #469
I got this apk
https://drive.google.com/open?id=0BxZueVVvaQcBTDN6emw3d1V0VkE

[2017-02-21 01:24] jterps08 commented on #519
We need to make sure these changes are in sync with the frontend... The frontend seems to have lost a lot of functionality as a result of this change. I assume we can do a mass find-and-replace to change to utf8mb4 across the frontend codeset @igaponov

[2017-02-21 03:01] jterps08 commented on #469
Thank you @MobileDevGold - We have someone assigned to this already. Would you like to work on other items?

[2017-02-21 05:09] MobileDevGold commented on #469
@jterps08
okay.sure

[2017-02-21 13:04] jterps08 commented on #469
Would you like to join our Slack channel to work together? If so send me an e-mail slack at powerli.ne

[2017-02-21 13:05] MobileDevGold commented on #469
mobiweb310@mail.com

[2017-02-21 13:11] jterps08 commented on #469
I will reach out to you - thanks @MobileDevGold!

[2017-02-21 17:20] jterps08 commented on #519
I believe this is closed. I have tested posts, petition, comments, announcements, and polls... It seems to have worked!

[2017-02-21 17:20] #519 closed, assigned to jterps08

[2017-02-21 17:20] jterps08 commented on #480
It seems that this issue was resolved but never delivered in build. Marking as closed.

[2017-02-21 17:20] #480 closed, assigned to jterps08, rudjdev

[2017-02-21 17:24] devotebest commented on #480
I was sure. that was done with this commit
https://github.com/PowerlineApp/powerline-mobile/commit/3f7f9e9659b1a173d8c9ab228c2a50943cb78e22

Sent from my iPhone

[2017-02-21 19:12] jterps08 opened #523 "Regression Error: Report Button Icon Size"
The Report Button has blown up. Should be about the same size as the lightning icon... Not sure if this happened due to Imgix fix or why....

CORRECT
![screenshot_20170213-231540](https://cloud.githubusercontent.com/assets/7582457/23180531/b78bea0c-f83f-11e6-8df8-ce5753f4d061.png)

INCORRECT (CURRENT)
![image](https://cloud.githubusercontent.com/assets/7582457/23180356/272e49aa-f83f-11e6-9392-9fce

[2017-02-22 13:33] igaponov commented on #452
@rudjdev which endpoint is used to get posts for another user's profile?

[2017-02-22 14:05] igaponov commented on #487
Backend functionality is done.

[2017-02-22 16:15] jterps08 commented on #410
for report button issue, reference this part here https://github.com/PowerlineApp/powerline-mobile/issues/410#issuecomment-275981756 @rudjdev

[2017-02-22 16:19] jterps08 opened #524 "Report Button Not Downloading Report"
Assigning first to Igor to ensure proper backend behavior. Please assign to Adam if it's a frontend issue.

Adam please reference https://github.com/PowerlineApp/powerline-mobile/issues/410#issuecomment-275981756 for more information relating to how this button is supposed to work. It's supposed download a file. And the file should download like any normal file would download for a user (show in O

[2017-02-22 18:16] rudjdev commented on #410
what can I reference here related with #524?

[2017-02-22 18:20] jterps08 commented on #524
@rudjdev I believe this is the link that the button should be referring to: https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{id}-responses-link where the ID is the ID of the poll/leader-petition/fundraiser/event for which the report button appears on.

[2017-02-22 19:16] rudjdev commented on #523
fixed

[2017-02-23 03:34] jterps08 commented on #523
this is closed. thanks

[2017-02-23 03:34] #523 closed, assigned to jterps08, rudjdev

[2017-02-23 09:44] igaponov commented on #524
@rudjdev first you have to get a link for download:
[code]
This link will be active for two minutes (see `expired_at`).
You can download a file now: `http://api-staging.powerli.ne/api-public/files/f1ea2509-7b47-49d3-a796-13d5b2584506`

Same for poll responses:
[code]
I've checked it on __staging__ and it works.

[2017-02-23 09:47] igaponov commented on #469
Should work now on staging

[2017-02-23 13:43] rudjdev commented on #524
Ok, api call gets response data of above type now.

[2017-02-23 14:38] rudjdev commented on #452
@igaponov  /api/profile/info/[id] is used

[2017-02-23 16:37] jterps08 commented on #524
@rudjdev is this what you need to make sure this report button works? Please let us knwo when this is done.

[2017-02-23 16:38] jterps08 commented on #524
After 524 is done, we are deploying to PROD and we need PROD builds (IPA/APK) for testing (unsigned)... after we confirm everything passes smoke tests, we will publish signed builds to app stores...

[2017-02-23 18:42] rudjdev commented on #524
@igaponov  returned url doesn't include any file.
ex: https://api-dev.powerli.ne/api-public/files/c586c102-350f-49ba-af6f-4d59138789f1
{"code":404, "message":"Civix\\CoreBundle\\Entity\\TempFile object not found."}

[2017-02-23 20:24] jterps08 commented on #524
apparently this works now?

[2017-02-23 21:02] jterps08 commented on #469
Was there a commit relating to this resolution @igaponov ?

[2017-02-24 21:27] jterps08 opened #525 "Video Attachment Issue"
The YouTube attachment is hardcoded. It looks like @devotebest never made the commit that was needed for the change...

#517

[2017-02-24 21:32] jterps08 opened #526 "PROD - Facebook Registration Screen Flow"
1. User A is not a registered Powerline user.
2. User A opens the Powerline app.
3. User A taps the Register/Login with Facebook button.
4. App displays Facebook Login / Connect screen (correct).
5. User provides Facebook with appropriate permissions (correct).
6. App displays the User Profile screen for the user to complete remaining registration information (incorrect).
7. App *

should* display

[2017-02-24 21:34] jterps08 opened #527 "Prod Mailgun"
Mailgun isn't working in Prod

[2017-02-24 21:35] jterps08 opened #528 "Push Notification Registration at Completion of Registration"
When a new user completes new user registration (via manual e-mail address registration or via Facebook registration), we need to ensure the device has a token registered. Right now, the user must log out and log back in in order to register a token... User should not need to log out/in for push notifications to work.

[2017-02-24 21:39] jterps08 commented on #524
This is not working still. Instead I get this screen. Even when I do click "Proceed Anyway", it still doesn't work. I am open to alternative suggestions.

![image](https://cloud.githubusercontent.com/assets/7582457/23321953/bec460ca-faaf-11e6-887d-317d3d75f301.png)

[2017-02-24 21:52] jterps08 opened #529 "Facebook Registration is not working on iOS"
App briefly displays Facebook Connect screen and then returns back to Login screen.

[2017-02-24 22:29] jterps08 opened #530 "Manual User Registration not working on iOS"
Hangs on this screen

![image](https://cloud.githubusercontent.com/assets/7582457/23323487/c89aa0bc-fab6-11e6-8a40-502a43c95356.png)

[2017-02-25 00:40] jterps08 commented on #529
This may be related to the fact that a user with correct/good PROD credentials can't login. Perhaps a bad build?

[2017-02-25 08:41] igaponov commented on #524
@jterps08
The first problem:
[code]
The second problem - wrong time on the server - resolved

If you get a 404 error it means this link is expired, so try again and act fast.

__Upd:__ it makes sense to hide a button for download using a value of `expired_at` attribute that is exposed with a link for download.

[2017-02-25 09:05] igaponov commented on #527
fixed

[2017-02-25 09:09] igaponov commented on #469
https://github.com/PowerlineApp/powerline-server/commit/77b7da5bb4fcee803afa17637086bcb70ae0e7bd

[2017-02-25 13:05] jterps08 commented on #524
This still does not work for me. I'm on Android 6, Galaxy S7.

1. User creates poll / fundraiser/ event / leader-petition.
2. User has at least one response.
3. User taps Report button
4. App displays "Continue to download report?" message. User selects OK.
5. App opens internet browser to start download
6. Above error still displays / Proceed anyway still doesn't work.

[2017-02-25 13:29] jterps08 commented on #524
In fact 10 minutes later, the app will randomly display the download has failed. Up until this point, it didn't even show me that a download was in progress...

![image](https://cloud.githubusercontent.com/assets/7582457/23331471/96e1c2f2-fb34-11e6-9593-73d4b3a15c86.png)

[2017-02-26 11:49] igaponov commented on #452
https://api-dev.powerli.ne/api-doc#get--api-v2-users-{id}-posts

[2017-02-27 02:38] jterps08 commented on #527
I just created a new group ProdTest3 and I see no mailing list created in mailgun. I see a prodtest2 yesterday, but not sure why there are no members in the mailing list...

[2017-02-27 15:15] rudjdev commented on #528
fixed

[2017-02-27 15:15] rudjdev commented on #526
fixed

[2017-02-27 15:16] rudjdev commented on #530
I disabled SSL cert validation on client side and registration works

[2017-02-27 15:17] rudjdev commented on #529
I disabled SSL cert validation on client side and FB registration works

[2017-02-27 17:07] jterps08 commented on #530
Marking this as ready for retest. We will need to fix the SSL Cert issue on the prod server @igaponov @austinpapp  and once that's done we will need to enable SSL cert validation on the client side again and confirm it works before deploying to app stores.

[2017-02-27 19:21] jterps08 commented on #475
![image](https://cloud.githubusercontent.com/assets/7582457/23375874/f539ae40-fcf7-11e6-9577-e41ff06664c5.png)

Image on the left is the main newsfeed.
Image all the way to the right is related to the feed that is shown in User Profile screen (#452)

[2017-02-27 20:05] jterps08 commented on #527
any update on this @igaponov ?

[2017-02-27 20:18] jterps08 commented on #178
@igaponov What are the endpoints for marking an item as spam or flagging it to leader?

[2017-02-27 20:43] jterps08 commented on #178
I also think that we are going to need an endpoint that allows us to count the number of flagged items in a particular group. Also, can a leader review an item and ignore the flag so that it is removed from the flagged-list?

e.g Save the Whales has 3 flagged items pending review... Save the Trees had 10 items but the leader ignored all of them so Save the Trees has 0 flagged items pending review.

[2017-02-27 21:33] jterps08 commented on #178
![image](https://cloud.githubusercontent.com/assets/7582457/23380886/7f522244-fd0a-11e6-8dff-db9610877555.png)

[2017-02-27 21:42] devotebest commented on #530
hi, should I work now?

[2017-02-27 21:42] devotebest commented on #178
should I work now?

[2017-02-28 01:24] igaponov commented on #527
@jterps08 it's ready for retest

[2017-02-28 03:45] jterps08 commented on #527
confirmed!

[2017-02-28 03:45] #527 closed, assigned to jterps08

[2017-02-28 03:45] #530 closed, assigned to jterps08, rudjdev

[2017-02-28 03:46] #529 closed, assigned to jterps08, rudjdev

[2017-02-28 03:49] jterps08 commented on #524
Amen it was the cert issue

[2017-02-28 03:49] #524 closed, assigned to jterps08, rudjdev

[2017-02-28 11:11] austinpapp commented on #530
SSL cert is good?

[2017-02-28 11:12] igaponov commented on #178
To mark as a spam/mark as not a spam:
`POST|DELETE /api/v2/posts/{id}/spam`
`POST|DELETE /api/v2/user-petitions/{id}/spam`

[2017-02-28 11:47] igaponov commented on #498
@jterps08 I need a subject/text for an email about referral code and reward code.

[2017-02-28 13:53] jterps08 commented on #178
Thanks @igaponov ... this is ready for frontend work now I think.

[2017-02-28 13:54] jterps08 commented on #530
I will re-open this if needed, but Igor confirmed the cert is good... The Report Dwonload button now works without any problems so I think that the cert is good.. I will test again today

[2017-02-28 13:58] jterps08 commented on #498
Subject "You've earned a Powerline Reward!"
Text "Thanks for being a champion of democracy and community engagement. Your referral code has been used three times, which means you've just earned your own reward code [reward code]. You can apply this code by going to your Group Profile, Click "Manage Group", and tap on the Subscription Level (e.g. Silver) you would like to use it on. It's worth 3 fr

[2017-02-28 15:18] jterps08 commented on #518
For clarity - the backend already defaults to include Name, Country, Responses.

We do not want to give the user the ability to include/exclude "Responses" but we want it displayed so that group members and managers know that responses are shared with the group leadership

[2017-02-28 15:20] jterps08 opened #531 "Joining Group - Cancelling out at 'Permissions' Checkpoint causes app to hang"
When a user is joining a group and the Permissions checkpoint alert shows up, the user can hit Okay to proceed (works) or Cancel to go back (doesn't work). Hitting Cancel currently causes the app to hang on the spinner/loader icon. It should return to the Group Profile page without joining the group.

[2017-02-28 17:43] jterps08 commented on #525
confirmed

[2017-02-28 17:43] #525 closed, assigned to rudjdev

[2017-02-28 17:52] jterps08 commented on #528
@rudjdev @igaponov push notifications are not working on iOS. Not sure if it's related to this or not.

There also is an error at the end of registration now. Again, not sure if it's related to this.

[2017-02-28 17:55] sirius2013 commented on #528
I can fix this

[2017-02-28 23:21] jterps08 commented on #528
Confirmed on Android. Unable to test on iOS due to prod notifications cert issue.

[2017-03-01 01:20] jterps08 commented on #526
confirmed closed and working

[2017-03-01 01:21] #526 closed, assigned to jterps08, rudjdev

[2017-03-01 14:25] jterps08 opened #532 "Collect All Certs, Keys, Etc."
API public and private keys (Mailgun, Stripe, Google)

Push Notifications Dev / Prod for Google and Apple

Deployment Keys for Apple and Google App Stores

Deployment Certs and Files for Backend Server

Other? Please add to list. I will hunt around and collect in a secure location.

[2017-03-01 14:28] austinpapp commented on #532
@jterps08 let's keep this to mobile only. backend certs should be added to the server issues.

[2017-03-01 17:57] jterps08 opened #533 "Unable to Save User Profile"
When user tries to edit user profile and changes a non-email field, and clicks save, the system gives an error because the e-mail address is already being used.

System should know that, when e-mail is not being changed, it should not go through the "already being used" error check.

I think this is only a problem on Facebook-connected accounts.

[2017-03-01 19:07] jterps08 opened #534 "AU / EU Support"
I changed the address of zxc3 to a Nigerian Address and then a German address... I would have expected the user to be auto-linked to African Union (AU) and European Union (EU) group, but did not see it.

![image](https://cloud.githubusercontent.com/assets/7582457/23476210/0699dd2c-fe88-11e6-9977-8a5078b38337.png)
![image](https://cloud.githubusercontent.com/assets/7582457/23476215/094d7c0e-fe88-11

[2017-03-01 20:32] jterps08 opened #535 "Block Users - Content & Notifications & Comments"
User A needs to have the ability to block another user B. This will prevent User B's content from displaying in the User A newsfeed. It will also prevent User B from generating any notifications for User A (e.g. "commented on your post" @mentioned you,). It will also hide User A's content from User B's feed.

User A needs the ability to view a list of all Users that he has blocked. He needs the ab

[2017-03-01 20:44] jterps08 opened #536 "Enable User to Customize the "All" Feed"
We need to give users the ability to configure what is included in their All feed. Currently, it is town group, state/province group, country group, and any other groups the user has joined.

However, as volume increases in the public groups (town/state/country), the user may wish to exclude those from their All feed. We will still want to give users the ability to view their town feed, or their s

[2017-03-01 20:46] jterps08 opened #537 "Long-Press Group Selector Icons to Access Group Profile"
By holding down the icon for a particular group in the Group Selector, the app presents a small pop-up window that gives the user the shortcut "Visit Group Profile" to go to that group's profile page. This will not work for the All feed, the Town feed, the State/Province feed, or the Country feed.

(out of scope)
In the future (separate issue), we'll have another checkbox option "Show Followed Use

[2017-03-02 08:21] igaponov commented on #533
@jterps08 release 2.1 or 2.0?

[2017-03-02 09:09] igaponov commented on #498
@jterps08 I guess a text for referral code should be different, can you please provide it too?

[2017-03-02 13:35] jterps08 commented on #533
Discovered in 2.0 but we don't have to fix it until 2.1

[2017-03-02 13:35] jterps08 commented on #498
I imagine referral code being provided to frontend and we'll surround it with text there. Are we in alignment? @igaponov

[2017-03-02 13:45] igaponov commented on #498
@jterps08 ok

[2017-03-03 04:55] jterps08 commented on #528
confirmed on ios

[2017-03-03 04:55] #528 closed, assigned to jterps08, rudjdev

[2017-03-03 14:47] igaponov commented on #498
@jterps08 can a user has only one referral code?

[2017-03-03 15:04] jterps08 commented on #498
Correct. It's their own unique referral code that they can pass to friends

[2017-03-06 16:49] igaponov commented on #498
https://api-dev.powerli.ne/api-doc#get--api-v2-user-discount-code

[2017-03-06 20:19] jterps08 commented on #326
confirmed closed

[2017-03-06 20:19] #326 closed, assigned to jterps08

[2017-03-07 09:30] igaponov commented on #497
After the discussion in Slack we've decided to make a prototype using MySQL with denormalized data.

[2017-03-07 13:15] austinpapp commented on #497
Yes was meaning to update this. We will get something working first before we land on a proper setup. We need to really profile this data so we have a clearer picture as to how to store this. In the end we are thinking this would be useful with hadoop or similar (hive, hbase, etc)

[2017-03-07 14:03] jterps08 commented on #497
agreed

[2017-03-07 17:18] jterps08 commented on #487
@devotebest do you want to work on this? If so, please ping me on Slack to discuss privately

[2017-03-09 12:34] leroygumede opened #539 "ionic 2"
I would love to push a few pull-requests, Any plans on moving to ionic 2 ?
and how does one log into the app with dev config

[2017-03-09 12:43] cquezpro commented on #539
sure, I am super with ionic 2.

[2017-03-09 12:53] leroygumede commented on #539
@sirius2013 me too :) , would love to help but only with ionic 2 framework

[2017-03-09 14:21] jterps08 commented on #539
@leroygumede @sirius2013 thank you both for your interest in Powerline! We do plan on moving to Ionic 2, but we are prioritizing user-facing experience changes (milestones 2.1, 2.2, 2.3) before moving to Ionic 2. Do you have any idea on how long it would take to move this app to Ionic 2?

[2017-03-09 19:11] oleg201119 commented on #452
@igaponov can you please change the structure  of response data from api - "/api/v2/users/[id]/posts" same as the response from "/api/v2/activities" ?

[2017-03-10 11:37] leroygumede commented on #539
@jterps08 in realistic terms it should not take a while. All the backend services have been created and general look at feel has already been set.

[2017-03-11 19:31] austinpapp opened #540 ""More" button in "US" group is broken"
The "More" button in the "US" group is broken (broken image shown).

I'll try and get a screen grab if i can.

[2017-03-14 15:11] jterps08 opened #541 "Activate Stacked Notifications"
We should implement notification Stacking. I'm not sure if this happens on the frontend or the backend, but if a user gets multiple notifications, we don't want the latest one to replace the others. We want them all to be listed (for now) so that the user can see them. https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#stacking

Also, please check the logic for push.setAp

[2017-03-14 15:22] jterps08 opened #542 "Long Comments Not Displayed"
A user makes a comment on any item. The Item Detail Screen truncates the comment to one line. The full comment should be shown. Same with the Nested Reply comment screen.

I can provide a couple screenshots. Very simple container size issue.

[2017-03-14 15:37] jterps08 opened #543 "Newsfeed Response Counter"
Currently, the newsfeed does not display an accurate count of a) responses (upvotes/downvotes) or b) comments.

We don't have time to do a re-design right now, so let's simply make the current counter (it's a '0' inside a chat bubble) equal the number of upvotes + downvotes + top-level comments.

If a post has 3 upvotes, 2 downvotes, 1 top-level comment, and 8 children comments... the counter woul

[2017-03-14 15:47] jterps08 opened #544 "View Voters"
User A is the author of the item. User A can long-tap the response counter in the newsfeed or in the item detail screen to see a pop-up listing all of the people who upvoted or downvoted the post. The icon to follow these users is displayed for easy following.

[2017-03-14 16:08] jterps08 opened #545 "Sound & Vibration Notifications Behavior"
Modify Sound and Vibration Behavior per notification event type to differentiate from other notifications

[2017-03-15 12:52] igaponov commented on #544
@jterps08 there are can be thousands of voters for one post, how do you want to display all of them in a popup?

[2017-03-15 14:15] jterps08 commented on #544
We will paginate. 15 at a time. Most recent first. Infinite scrolling on frontend will load the next 15 as we get to the end of the first set. And so on and so forth.

[2017-03-15 14:53] jterps08 commented on #452
Have we resolved this yet?

[2017-03-15 14:53] jterps08 commented on #540
Please provide screen grab. I think I know which issue you're referring to, but need to see.

[2017-03-15 14:55] jterps08 commented on #544
Just like "Likes" or "Favorites", most people don't scroll through all of them. But it would be good to display  them so that people know who's interested. They may want to follow them, etc.

[2017-03-15 14:56] jterps08 commented on #539
@leroygumede Thanks for this. Are you on Upwork? Can you provide a link to your profile, if so so that we can save you for future reference. I would like to upgrade to Ionic 2 eventually. Thanks.

[2017-03-15 18:42] leroygumede commented on #539
Sure @jterps08 I would love to help, Please feel free to PM at [here](https://www.upwork.com/o/profiles/users/_~01c44be080320b0fbf/)

[2017-03-15 18:42] #539 closed, assigned to nobody

[2017-03-16 16:00] igaponov commented on #543
@jterps08 all counters are updated

[2017-03-16 17:38] jterps08 commented on #543
thanks Igor

[2017-03-16 18:12] jterps08 commented on #452
Once the frontend commit is made by @oleg201119 , we can mark this as closed as I've confirmed in DEV

[2017-03-16 18:13] jterps08 commented on #543
I don't think there's any frontend work required for this. Closing for now.

[2017-03-16 18:20] jterps08 commented on #542
The problem exists on the Item detail Screen in the Comments section...
![image](https://cloud.githubusercontent.com/assets/7582457/24012187/80b92dd4-0a53-11e7-8429-4ad5e02de381.png)

The problem also exists on the Comment Reply "discussion" screen that you get when opening a comment that has child replies...
![image](https://cloud.githubusercontent.com/assets/7582457/24012197/88fb91bc-0a53-11e7-9

[2017-03-16 18:26] jterps08 commented on #487
The frontend work for this issue is "When an authorized user (group owner/manager) goes to submit a comment that contains @everyone, an alert is generated for the authorized comment author saying "You are about to notify X group members. Are you sure?" Send/Cancel."

1. User A is an authorized group owner or group manager for Group X. User B is just a normal member of Group X.
2. User A creates a

[2017-03-16 18:29] jterps08 commented on #475
@oleg201119 this should be pretty straight forward based on explanation above, but let me know if you have any questions... If User A is a group owner/manager of Group X, and he creates a user post or user petition, then User A avatar is shown in the newsfeed. If User is a group owner/manager of Group X and he creates leader content (poll/leader-petition/discussion/fundraiser/event/announcement),

[2017-03-16 18:43] jterps08 commented on #518
Simply grey-out the Responses checkbox (checked, but disabled)
![image](https://cloud.githubusercontent.com/assets/7582457/24013103/be97c9b4-0a56-11e7-88b4-b7728ae6d9fd.png)

[2017-03-16 19:08] jterps08 commented on #474
![image](https://cloud.githubusercontent.com/assets/7582457/24014176/50d74086-0a5a-11e7-948c-abc8d8d8689d.png)

[2017-03-16 19:46] jterps08 commented on #510
Will need Approve / Ignore buttons for the pending requests, which should be listed first.
![image](https://cloud.githubusercontent.com/assets/7582457/24015703/9832b604-0a5f-11e7-85ec-df771ce3c440.png)

[2017-03-17 01:20] jterps08 commented on #543
Reopening this. Want to make sure that the counter logic is applying to the counter in the newsfeed, not only the Item Detail Screen... All those "0"s should be at least 1 or higher because I upvoted them...

![image](https://cloud.githubusercontent.com/assets/7582457/24048670/fa1cf9d8-0aff-11e7-939e-03804e1f0e31.png)

[2017-03-17 19:28] #452 closed, assigned to oleg201119

[2017-03-17 19:28] #542 closed, assigned to oleg201119

[2017-03-17 19:42] oleg201119 commented on #474
The logged in user is Oleg. But can't see any announcement. How to add new announcement for testing ?

[2017-03-17 19:54] jterps08 commented on #474
Create a new group in DEV... Once you create the group, you will become the group owner by default and you will be able to create announcements for that group.

[2017-03-18 03:49] oleg201119 commented on #474
@igaponov , Can you check patch api (PATCH  /api/v2/announcements) ?
Logged in user - Oleg gets an announcement for SergeyGroup  and property - is_read is "false" once the patch api was called.

[2017-03-18 15:41] igaponov commented on #543
@jterps08 should work on prod after deploy

[2017-03-18 15:42] igaponov commented on #544
@oleg201119  https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{id}-answers

[2017-03-18 15:44] igaponov commented on #474
@oleg201119 api doc is fixed: https://api-dev.powerli.ne/api-doc#patch--api-v2-announcements

[2017-03-18 18:43] jterps08 commented on #543
awesome.

[2017-03-18 18:43] jterps08 commented on #544
This is v2.2 so this can wait a little bit... Thanks Igor.

[2017-03-19 14:34] jterps08 opened #549 "Group Registration Bug"
Per Babajide, "System failure does not allow one time group creation and once the first attempt fails, it retains the suggested group name as already used making a second attempt on that same name impossible..."

[2017-03-19 14:36] jterps08 opened #550 "Network Connectivity Error Handling"
Sometimes the user does not have sufficient Internet connectivity to use the app. It's possible for the user to open the app without Internet. We should have a check that makes sure the user has an Internet connection before proceeding with certain tasks.

Login
Newsfeed Loading
New Post/Item Creation
New Comment Creation

[2017-03-19 15:25] jterps08 opened #551 "New Tour Guides"
After User Registration:
- Users clearly understand they've been connected to their elected leaders
- Users clearly understand they've been connected to their groups
- Users clearly understand that they can create or join other groups
- Users clearly understand that they can create posts in any groups they're joined to

After Group Registration:
- User clearly understands different types of conten

[2017-03-21 15:37] oleg201119 commented on #474
@jterps08 let's assume there are 10 new announcements. And screen shows only 4 announcements. If user does not scroll the screen, the user can't see 6 announcements. In this case, how to change counter ?

[2017-03-21 15:45] jterps08 commented on #474
I think the counter only displays a number for pending group invites. I do not think it counts the announcements - it only displays the blue circle "indicator" if there are any unread announcements.

For group invites: User has 3 group invites, counter displays 3. User clicks Join for one group invite, counter reduces to 2. User clicks Ignore for the other two group invites, and counter reduces to

[2017-03-21 16:00] oleg201119 commented on #468
@igaponov , how to get tagline, bio, issues and state for a user ?

[2017-03-21 18:27] oleg201119 commented on #474
@igaponov , I am trying to use patch api with payload parameters. For example, request payload is
{announcements: [155, 154], read: true}
But response payload is empty array.
Is it right ?

[2017-03-21 19:59] oleg201119 commented on #487
@igaponov , which api is used for this issue ?

[2017-03-21 20:07] jterps08 commented on #521
We need the web app for this.

[2017-03-22 02:11] igaponov commented on #497
@jterps08 this is deployed to dev.
Membership roster: https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id}-members
Poll responses: https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{id}-responses
Group responses: https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{id}-responses

[2017-03-22 02:17] jterps08 commented on #497
Thanks @igaponov - What about user posts and user petitions?

Specifically:

[2017-03-22 02:24] devotebest commented on #497
Is there any way to unsusbscribe  all messages? I don't want to get mail to avoid boring.

[2017-03-22 02:24] devotebest commented on #497
plz remove me.

[2017-03-22 02:26] jterps08 commented on #497
@devotebest the issue wasn't assigned to you, but I have removed you as Collaborator from the repo. Thanks for all of your help previously!

[2017-03-22 02:27] devotebest commented on #497
fine

[2017-03-22 02:46] igaponov commented on #468
@oleg201119 https://api-dev.powerli.ne/api-doc#get--api-v2-users-{id}
`interests` are exposed now

[2017-03-22 02:48] devotebest commented on #468
why send mail? is there any way to no receive mail? very boring.

[2017-03-22 02:49] igaponov commented on #487
@oleg201119
https://api-dev.powerli.ne/api-doc#post--api-v2-polls-{id}-comments
https://api-dev.powerli.ne/api-doc#post--api-v2-posts-{id}-comments
https://api-dev.powerli.ne/api-doc#post--api-v2-user-petitions-{id}-comments

[2017-03-22 02:51] igaponov commented on #497
@jterps08 can you add corresponding columns to the google spreadsheet?

[2017-03-22 02:58] jterps08 commented on #468
@igaponov - will that endpoint only work if user A is an approved follower of User B (where logged-in User A is trying to see the profile of User B) ? Just keeping an eye on user privacy here...

[2017-03-22 03:00] jterps08 commented on #497
Hmm... @igaponov I don't think that I would want an XLS report for this item. I would want, I think, a JSON object for the frontend to manipulate, visualize, and display. Let's discuss in Slack.

[2017-03-22 11:32] igaponov commented on #474
@oleg201119 it's not right, this is request made from your user (id=130):
[code]

[2017-03-22 11:42] igaponov commented on #468
@jterps08 this endpoint works for every user, but shows more info for an approved follower

[2017-03-22 12:31] jterps08 commented on #468
Got it. Thanks @igaponov

[2017-03-22 12:32] jterps08 opened #552 "Automatic Bug Reporting"
Can we develop a feature on the frontend so that a user has the ability to "report" a bug when an error shows up on the frontend? I feel like that might be useful. Just a question right now @oleg201119 @igaponov

[2017-03-22 15:29] jterps08 opened #553 "User Registration UI Update"
Make it clearer that:
1) "Now, let's link you to your elected leaders and your public groups."
2) This information is not shared without your permission. Ever.
3) We don't have ads.

[2017-03-22 15:32] jterps08 opened #554 "User Profile Permissions Concept"
Allow the user to define which elements of their user profile they are willing to share with Powerline, Groups, and Users. Some will be un-editable. Others will be editable. These will be respected above the Group Permissions request... So, if a Group asks for the user's Name and the user wants to join that group, the User Profile Permissions take priority and if that field is not shared, it will

[2017-03-22 15:59] igaponov commented on #552
@jterps08 we can, but maybe it's easier to use some service for it?

[2017-03-22 16:11] igaponov commented on #520
Stripe errors now are returned as standard api errors: response with code 400 and a `message` attribute, that contains Stripe's error. From Stripe documentation: `A human-readable message providing more details about the error. For card errors, these messages can be shown to your users.`

[2017-03-22 16:20] jterps08 commented on #520
Awesome, let's close this

[2017-03-22 16:20] #520 closed, assigned to nobody

[2017-03-22 16:22] jterps08 commented on #552
let me know if you have any ideas @igaponov... I will investigate too... users who experience bugs need to know that we know about those bugs... We also need to give users a general way to give us feedback via the app. We could just leverage the group/post concept for that, but we need an e-mail listener so that we're notified when anyone submits anything...

[2017-03-22 16:35] jterps08 commented on #543
@igaponov  - Is this only working on Dev or has it been already pushed to Prod? Just want to make sure I'm looking in the right spot...

[2017-03-22 16:46] oleg201119 commented on #475
@jterps08 I am trying to change avatar for a user and a group for testing. But can't change profile avatar. The activity feed screen and profile screen shows default "character avatar" only.
How to upload/change avatar picture ?

[2017-03-22 16:47] jterps08 commented on #475
Tap the edit button in upper right corner for user profile to activate
profile editing.

Tap the manage group button on the group profile screen to activate profile
editing and change group avatar.

On Mar 22, 2017 12:46 PM, "oleg201119" <notifications@github.com> wrote:

[2017-03-22 17:06] oleg201119 commented on #475
I did, but avatar image is disappeared on profile edit screen once image is selected  from photo library.

[2017-03-22 17:13] jterps08 commented on #475
What's wrong? Please show a screenshot. If it's a frontend problem, we'd ask you to fix it anyway

[2017-03-22 17:20] oleg201119 commented on #475
![device-2017-03-22-191341](https://cloud.githubusercontent.com/assets/20283731/24211318/50288274-0f34-11e7-96f9-a7dd15f741bc.png)

[2017-03-22 17:22] oleg201119 commented on #475
If I click 'save' button on this screen, the app shows 'success', but feed page and profile page shows 'character avatar' again. Not 'image avatar'.

[2017-03-22 17:39] jterps08 commented on #475
@igaponov can you take a look at this? Is this an imgix serving issue?

User updates personal profile avatar. Clicks Save. App indicates successful save, but user profile page and newsfeed remain unchanged.

[2017-03-22 17:48] austinpapp commented on #554
From a group pov.
What if we approach this as the group wants the following info and the user grants per group the info the group wants. I'd see us having far less joins if we allow users to simply disable whatever.

For the users viewing I think we grant the user the ability to disable other users seeing certain things.

[2017-03-22 18:09] jterps08 commented on #554
Agreed. We actually already have this concept in place. User is alerted to all information that the Group leader(s) want/ will see if they join the group.

I also agree with this so that users can define what general public vs approved followers can see:

The original issue was created in response to concerns that we are asking for the address during registration. I think this is simply an issue o

[2017-03-23 00:01] igaponov commented on #543
@jterps08 now it's only on dev because the ticket's milestone is 2.1

[2017-03-23 00:06] jterps08 commented on #543
Totally fine. I haven't tested dev yet. Thanks.

On Mar 22, 2017 8:02 PM, "Gaponov Igor" <notifications@github.com> wrote:

[2017-03-23 02:10] oleg201119 commented on #474
@igaponov How did you pass parameters (announcements and read) ?

[2017-03-23 02:47] oleg201119 commented on #474
@igaponov The api returns empty response...
Here is http request.
![screen shot 2017-03-23 at 4 51 28 am](https://cloud.githubusercontent.com/assets/20283731/24229892/a39554b4-0f84-11e7-9bae-a84a790a87df.png)

[2017-03-23 07:20] igaponov commented on #497
@jterps08 commented in Slack

[2017-03-23 07:24] igaponov commented on #474
@oleg201119 I see that app every time has a problem with headers. For all requests to api you should use 'Content-Type' = 'application/json', I think it's possible to configure $http service globally.

[2017-03-23 10:46] igaponov commented on #475
Probably an sql error with reports causes this problem, need to retest after a deploy to dev.

[2017-03-23 13:46] jterps08 commented on #475
@igaponov can you explain in more detail / deploy today?

[2017-03-24 03:20] jterps08 opened #556 "Social Activity Feed Infinite Scrolling / Pagination"
The Social Activity Feed does not allow the user to "load more" activities on either the You tab or the Following tab.

[2017-03-24 07:02] oleg201119 commented on #510
@jterps08 Which image (or icon) is for Approve , and which is for Ignore ? I'd like to see design for this screen.

[2017-03-24 07:04] oleg201119 commented on #510
@igaponov How to get Follow requests for user ?

[2017-03-24 08:57] igaponov commented on #510
@oleg201119 https://api-dev.powerli.ne/api-doc#section-Followers

On Fri, Mar 24, 2017, 14:04 oleg201119 <notifications@github.com> wrote:

[2017-03-24 14:05] jterps08 commented on #510
@oleg201119 you can just use simple "Approve" and "Ignore" labeled text buttons... Or a checkmark and an X if you don't have space. We're probably going to have redesign this anyway in our next release or two.

[2017-03-24 14:35] jterps08 commented on #474
How is this now @oleg201119 ?

[2017-03-24 15:18] oleg201119 commented on #474
'Content-Type'='application/json' => works. This issue (for announcements) was solved. Now it needs to check for group invitation.

[2017-03-24 15:19] jterps08 commented on #474
Just go to some group's profile screen and tap the "Invite" button in the upper right hand corner to invite followers.. You'll need to have some test accounts following you for this to work. This is a workaround to the e-mail issue you are experiencing...

[2017-03-24 16:40] jterps08 opened #558 "Posts by Friends"
Add a filter to the main newsfeed that allows the user to see only posts by followed users, only posts by non-followed users, or all users. This filter will apply in conjunction with the All/Group filters in the Group selector

[2017-03-24 16:49] jterps08 commented on #475
What is the status with this @oleg201119 ?

[2017-03-24 17:11] oleg201119 commented on #475
@jterps08 I can't upload image for group..

[2017-03-24 17:32] jterps08 commented on #475
That is definitely a bug that we will need @igaponov to look at (user and group avatar upload)...

But @oleg201119 - You shouldn't need that fixed to fix this issue ... if there's no image, the ng-letter concept shows instead... if user Oleg posts a poll in group X, right now it shows the "O" avatar (ng-letter). after the code change, if user Oleg posts a poll, the "X" avatar will show in newsfeed

[2017-03-24 21:10] oleg201119 commented on #475
@jterps08 this issue is fixed if there's no image. But I got a problem if there is image. The api returns 3 images for an activity. ( group image, user image and owner image). And group image and user image are default image, but owner image is the image I uploaded. So how to show image for avatar ?
@igaponov Can you check this problem ?

[2017-03-24 21:44] jterps08 commented on #475
I don't know what the difference is between user image and owner image...

@igaponov this image upload issue doesn't seem to exist on PROD... are we sure these query optimizations and everything else you've been working on hasn't negatively impacted dev stability?

[2017-03-25 23:17] jterps08 opened #559 "Powerline for Desktop"
https://forum.ionicframework.com/t/embed-ionic-2-app-in-electron-for-desktop-application/74123

[2017-03-26 17:16] jterps08 opened #561 "Infinite Scrolling on Comments Needs Sticky Scrolling"
User scrolls to bottom of comments and the app correctly loads more, but returns the user to the top instead of keeping the user at the last comment he read.

User sees comments 1-10
User gets to comment 10
App loads comments 11-20
App returns screen position to comment 1 (wrong)
App should return screen position to comment 11 (correct)

This should be the behavior of ALL screens that have infinit

[2017-03-26 17:28] jterps08 opened #562 "Social Activity Feed: Approve/Follow/Ignore Button Confusion"
User experiences confusion with Social Activity Feed.

The You tab counter currently counts the number of non-Ignored follow requests. This needs to change so that the counter counts the number of unviewed/new follow requests, but resets to 0 / disappears as soon as the user views the You tab. Doing so reduces the need for the Ignore button altogether.

The Ignore button needs to go away entirely.

[2017-03-26 20:54] jterps08 opened #563 "Ease of Reading/Creating Comments"
We need to make it super simple to read/browse comments *and* engage with them... we don't need to feature the edit/delete buttons as loudly as we do now or provide too much space in between comments. I think we can hide less important buttons in the "..." side menu, but I do want to bring out the upvote downvote and reply concepts somehow...

Making a comment could be on its own modal
It might be

[2017-03-26 20:56] jterps08 opened #564 "Redesign the Item Detail Screen UI/UX"
Generally speaking, I think the text and options (if poll/post/etc) should still come before the attachments, but I'm really flexible on this and looking for different concepts...

**Attachments** - My concern is that an attached video gets watched but the poll doesn't get answered - and we want the poll to get answered and engaged with... I also don't want to encourage leaders to over-do it on th

[2017-03-26 21:00] jterps08 opened #565 "Ability to view my own posts easily"
We need to easily see the logged-in user's own posts, perhaps by adding to our current profile screen as a different tab or as a "Me" filter on the main feed...

My suggestion is to combine current "My Profile" screen with "Settings" screen (as two tabs maybe) and add the user's own posts to the bottom of the profile tab. Something similar to that.

[2017-03-26 21:02] jterps08 opened #566 "Ability to View Posts by Followed Users Only"
For the main newsfeed, I need to be able to easily see just those I follow somehow. We need to think of a situation where a feed has extremely high volume and the user only wants to see the people he follows.

[2017-03-26 21:07] jterps08 opened #567 "Brainstorming the All Feed"
We need to brainstorm the All feed as it will eventually have very high volume in public groups possibly drowning out the users groups or followed users. I see two distinct paths on this:

1) We can change the newsfeed sorting algorithm so that it balances to like 80% in-network posts vs 20% out-of-network posts. This would basically mean that the user's feed is mostly people he follows or connect

[2017-03-26 21:08] jterps08 opened #568 "UX Moment: Address during Registration"
During user registration, the user needs to know "why" we are asking for their address... We need to be very clear about the linkage to elected leaders and public groups.

[2017-03-26 21:09] jterps08 opened #569 "UX Moment: After Registration"
After user registration, the user needs to truly see value - immediately. An animation or modal that shows some of the user's elected leaders and town/state/country groups that he has been linked to after registration helps communicate this...

hypothetical animation example: Showing a listing of the user's groups and some elected leaders, stacking it all, and floating it on top of the Menu button

[2017-03-26 21:11] jterps08 opened #570 "UX Moment: Upvoting/Downvoting"
When a user upvotes or downvotes an item for the first time, the user needs to understand what's happening here -- a) they're enabling deeper analytics eg 100 upvoters are Senator Smith's constituents, and b) they're helping something boost, which means that everyone in that group will see it if it gets enough attention. I want them to feel value (and frankly, satisfaction) when they take these ac

[2017-03-26 21:11] jterps08 opened #571 "UX Moment: First Comment"
When a user tries to make their first comment, the system reminds them that they can @-mention users to help boost the post or to start a conversation...

[2017-03-26 21:12] jterps08 opened #572 "UX Moment: Group Registration"
When a user creates a group, the user needs to know the value of owning/managing a group -- a) they get access to all these amazing tools, and b) they can organize/manage their group from the group profile screen... It should be clear what happens with notifications for leader content so that the group owner understands the value of what they have now.

After Group Registration:

User clearly unde

[2017-03-26 21:13] jterps08 opened #573 "UX Moment: Following a User / Being Followed"
When you follow a user for the first time, it needs to be clear that you are going to get notifications anytime that user posts in a shared group.

When you approve a follower for the first time, it needs to be clear that they will be notified anytime you post to a shared group.

[2017-03-26 21:17] jterps08 opened #574 "Standardize Infinite Scrolling Behavior"
We need to make sure there is standardized Infinite Scrolling behavior across the platform:

- The system supports endless crolling
- The app loads more items when the user gets towards the end of the list
- The app keeps the user in the same 'scroll position' when more items are loaded (user is not returned to top)... sticky scrolling

These are the screens that this principle should apply to:
1.

[2017-03-26 21:20] jterps08 opened #575 "Group Membership Management"
It needs to be easier for a group leader to view and assign group members to different "sections" (sub-groups) at scale.

It needs to be easier for a group owner to assign group manager privileges to different members.

A search function could be useful for a group owner (or member) looking through the membership list of a large-size group. Users would have easy ability to follow any user, but als

[2017-03-26 21:26] jterps08 opened #576 "Newsfeed Enhancements"
More Ionic-friendly
Smoother scrolling
Faster loading
Consciousness to tappable-areas - maximizing the tappable areas:

1. User's Name
2. Group
3. Avatar
4. @-mentions
5. Hashtags
6. URLs
7. URL metadata preview
8. Quick Action Buttons (e.g. upvote/downvote/comments/favorite/subscribe/etc.)

[2017-03-27 13:26] igaponov commented on #510
@jterps08 followers endpoint now returns "pending" followers, but only if they requested in the last 6 months. Do we need to change this behavior? I'll change sort order.

[2017-03-27 13:44] jterps08 commented on #510
Let's move to requested in last 2 years for now. There's been some confusion for users who were on Powerline v1.0, I think. We'll change it back in a couple releases...

[2017-03-27 17:43] jterps08 opened #580 "UX Moment: Group Permissions"
Make this more of a checked/not-checked list-style image rather than a text pop-up
(check) Name
(not-checked) Street Address
(not-checked) Town
(check) Country
etc etc
etc

[2017-03-27 17:45] jterps08 opened #581 "Group Join Flow"
When joining a group, the screen that shows permissions should be combined with the passcode entry field as well as the group-join-questions and be able to support a future welcome video / message.

Related to #580
Make this more of a checked/not-checked list-style image rather than a text pop-up
(check) Name
(not-checked) Street Address
(not-checked) Town
(check) Country

[2017-03-27 19:17] jterps08 commented on #543
I don't think this works in dev @igaponov

![image](https://cloud.githubusercontent.com/assets/7582457/24373768/733c4d02-1300-11e7-97e3-c8606e4d102b.png)

[2017-03-28 04:41] igaponov commented on #543
There is a problem with "update" sql, but counter is not 0 for this post. Maybe there is a problem on frontend, it should use the attribute `responses_count`.

[2017-03-28 15:26] jterps08 commented on #580
closing this and making this part of #581

[2017-03-28 15:26] #580 closed, assigned to nobody

[2017-03-29 18:09] jterps08 commented on #537
Closing this. New strategy for Group Selector to bring user to group screens will eliminate this need.

[2017-03-29 18:09] #537 closed, assigned to nobody

[2017-03-29 18:09] jterps08 commented on #481
Closing this. New approach will combine User Profile screen & User's Own Posts Screen.

[2017-03-29 18:09] #481 closed, assigned to nobody

[2017-03-29 18:10] jterps08 commented on #468
confirmed

[2017-03-29 18:10] #468 closed, assigned to jterps08

[2017-03-29 18:11] jterps08 commented on #518
confirmed

[2017-03-29 18:11] #518 closed, assigned to nobody

[2017-03-29 18:11] jterps08 commented on #474
confirmed

[2017-03-29 18:11] #474 closed, assigned to nobody

[2017-03-29 18:11] jterps08 commented on #510
confirmed

[2017-03-29 18:11] #510 closed, assigned to nobody

[2017-03-29 18:12] jterps08 commented on #469
confirmed

[2017-03-29 18:12] #469 closed, assigned to jterps08

[2017-03-29 18:12] #403 closed, assigned to nobody

[2017-03-29 18:13] jterps08 commented on #475
confirmed

[2017-03-29 18:13] #475 closed, assigned to nobody

[2017-03-29 18:15] #533 closed, assigned to jterps08

[2017-03-29 18:24] jterps08 commented on #563
combining with #564

[2017-03-29 18:25] jterps08 commented on #564
From 563: We need to make it super simple to read/browse comments and engage with them... we don't need to feature the edit/delete buttons as loudly as we do now or provide too much space in between comments. I think we can hide less important buttons in the "..." side menu, but I do want to bring out the upvote downvote and reply concepts somehow...

Making a comment could be on its own modal
It

[2017-03-29 18:26] #563 closed, assigned to nobody

[2017-03-29 18:26] jterps08 commented on #561
Combining with 574

[2017-03-29 18:26] #561 closed, assigned to nobody

[2017-03-29 18:27] jterps08 commented on #574
From #574:  User scrolls to bottom of comments and the app correctly loads more, but returns the user to the top instead of keeping the user at the last comment he read.

User sees comments 1-10
User gets to comment 10
App loads comments 11-20
App returns screen position to comment 1 (wrong)
App should return screen position to comment 11 (correct)

This should be the behavior of ALL screens that