[2016-09-27 17:15] petervojtek commented on #281
ok, this time it fails with different error:

[code]

btw it would be faster if Igor will go here: http://litava.eu/powerline-mobile/
1. Login there as Peter12/Peter12
2. Go to http://litava.eu/powerline-mobile/#/payment-polls/payment-request/300
3. and try to pay and observe the http/ajax errors in JS developer console :)

[2016-09-27 17:17] petervojtek commented on #241
@igaponov , but I don't know what does the word "endpoint" means :( and what should I do to have an endpoint.

[2016-09-27 19:42] jterps08 commented on #241
Let's try to look at this from a step-by-step standpoint.

User downloads mobile app onto mobile device.
User installs app.
User registers or logs into the app
Something happens with backend server to record that user's endpoint into AWS
Something happens with AWS SNS and GCM/FCM and APNS
Some event triggers push notification on backend server which gets sent to SNS and GCM/APNS?
Unclear about Rab

[2016-09-28 01:08] igaponov commented on #300
fixed

[2016-09-28 01:09] igaponov commented on #253
fixed

[2016-09-28 01:12] igaponov commented on #241
@petervojtek you should register your app on backend to get push notifications. Use `POST https://api-dev.powerli.ne/api/endpoints/` to add your device. You can check if it's already added with `GET https://api-dev.powerli.ne/api/endpoints/`.

[2016-09-28 01:25] igaponov commented on #281
@petervojtek this customer exists only in live mode. Try to create a new one in test mode to work with this issue.

[2016-09-28 01:40] jterps08 commented on #281
That makes sense.

[2016-09-28 01:41] jterps08 commented on #241
@austinpapp please take a look at this...

I was under the impression that the https://github.com/phonegap/phonegap-plugin-push took care of the endpoint registration, not sure what's going on here, but we need to get past this...

[2016-09-28 02:36] jterps08 opened #303 "Social Activity Feed Click-through"
![image](https://cloud.githubusercontent.com/assets/7582457/18898876/8aed2570-8502-11e6-8d8d-a82fdaff04a5.png)

The first item in the SAF above - "Peter10 commented on a post you subscribed to"- I am unclear as to why I received a push notification for this. I cannot determine which post _exactly_ that this update is referring to because clicking on it does not bring me to the post, it brings me t

[2016-09-28 06:04] petervojtek commented on #300
ok, it works.

[2016-09-28 06:04] #300 closed, assigned to petervojtek

[2016-09-28 06:23] petervojtek commented on #253
ok, now the image is there, but it is not automatically fitted into proper width and height:

<img width="323" alt="screen shot 2016-09-28 at 08 20 52" src="https://cloud.githubusercontent.com/assets/225506/18902647/9a5e3f74-8554-11e6-82b9-d81eb6ceb307.png">

[2016-09-28 06:56] petervojtek commented on #281
@igaponov , ok, I took another user and managed to add him a card successfully.

Now I experience following:

#### poll:fundraising

for poll:fundraising I can successfully pick and payment option and proceed.
But then I experience this:

[code]

#### For poll:payment

I cannot submit a payment option due to:

[code]

[2016-09-28 07:53] petervojtek commented on #241
@igaponov , here is my workflow:

I make this request:

[code]

Then I restart the app, and the push notification plugin tells me that this is my token:

[code]

so it is the same token as registered above.

However when I make this request:

[code]

I receive empty response:

[code]

[2016-09-28 08:16] igaponov commented on #253
fixed

[2016-09-28 08:22] igaponov commented on #281
Fixed. But Peter12 is not an author of answer#201 and will get 404 for this address.

[2016-09-28 08:48] petervojtek commented on #253
thanks. I consider this as fixed:

<img width="328" alt="screen shot 2016-09-28 at 10 47 57" src="https://cloud.githubusercontent.com/assets/225506/18906751/18f33484-8569-11e6-9557-06934234f271.png">

[2016-09-28 08:48] #253 closed, assigned to petervojtek

[2016-09-28 08:52] petervojtek commented on #281
hmm, not sure what has been fixed.. I experience this. I login as Peter31 and try pay in Poll:payment 302.

[code]

And for poll:funraising, as Peter31 I pay in poll:crowdfunding 296 successfully, but then receive:

[code]

[2016-09-28 09:00] petervojtek commented on #302
@jterps08 , it is not clear to me - who should receive the Post is boosted push notification?
The group members?

And if the Post becames boosted "naturally", i.e. via upvotes, on every upvote the author will receive "voted on your post" push notification -- in such case do you want the author to receive aso second notification that the post is boosted? (they will arrive at the sime time)

[2016-09-28 09:48] igaponov commented on #241
@austinpapp `Invalid parameter: PlatformApplicationArn Reason: Region from ARN (us-east-1) is different than SNS endpoint region (eu-west-1).`

[2016-09-28 10:02] igaponov commented on #281
Peter31 doesn't have permission to answer on poll 302, now you should get 403 instead of error.
For the second issue, there is another bug and I'll fix it. But you will not get charge for poll:crowdfunding, because it's not created for this type. Can see it only for non-crowdfunding payment requests.

[2016-09-28 11:16] austinpapp commented on #241
@igaponov where is that error coming from? here is what i see on sns: `
arn:aws:sns:us-east-1:863632456175:app/GCM/powerline_android_dev`

so my question for you is where is eu-west-1 coming from? i looked in the codebase and dont see it anywhere that we would expect it.

[2016-09-28 11:32] austinpapp commented on #241
gcm/fcm and apns function exactly the same. generally:
1. mobile client requests token from mobile provider ( say gcm )
2. token is returned from provider
3. mobile client should then hits our http endpoint to store that token.
   1. igor made reference to that http endpoint above
   2. this should be working as i noticed tokens being stored. however, there is the ability to delete tokens so i'm n

[2016-09-28 11:36] jterps08 commented on #281
Please connect via Skype or Slack if necessary to clarify the issue here.

Crowdfunding is delayed - the system will only charge the user's card if condition is met: "pledges meet or exceed goal amount (e.g. $10) by the deadline (Friday Sept 10).... Fundraiser does not wait to charge user's card.

[2016-09-28 11:37] petervojtek commented on #241
@austinpapp , regarding 3 ii:

the mobile app workflow is following:
1. register to push notifications plugin, obtain registrationID (=token)
2. `GET /api/endpoints/`
3. if the token from step 1 is present in response from step 2, we are done.
4. if the token from step 1 is NOT present in response from step 2, make `POST /api/endpoints/` with the token

UPDATE:
I searched the mobile app source cod

[2016-09-28 11:39] jterps08 commented on #241
Very interesting... I appreciate the clarity.

[2016-09-28 11:45] jterps08 commented on #302
Good questions...

Everyone receives a push notification when a post is boosted. That's key to something being 'boosted' - the point is to bring everyone's attention to the item. (Consider this: when a leader posts something, everyone gets a notification. The leader can 'reach' all group members. When a group member's item becomes boosted, everyone gets a notification. The group member can 'reach'

[2016-09-28 12:21] igaponov commented on #241
@austinpapp the problem was in region of an AWS client, I've changed it in configs, should work now.

[2016-09-28 12:24] igaponov commented on #281
The second call should work now

[2016-09-28 13:20] petervojtek commented on #241
@austinpapp , @igaponov , now I properly receive my token:

[code]

.When other user comments on my post, I receive no push notifications to the device, but I see following entries in`/dev/shm/powerline/logs/push_dev.log`

[code]

[2016-09-28 13:37] igaponov commented on #241
@petervojtek I get this error from SNS.
http://stackoverflow.com/questions/19374411/getting-endpointdisabled-from-amazon-sns

[2016-09-28 13:44] petervojtek commented on #241
@igaponov , I experience this problems only on the real android device. It is possible that in the past I installed the old production app on this device (from play store) -- given the stackoverflow link above, this may explain why we see the `Endpoint is disabled` behavior..

[2016-09-28 13:54] igaponov commented on #298
@petervojtek I've added query parameter "following" for `GET /api/v2//user/social-activities`, use it for "Followings" tab.

[2016-09-28 13:55] igaponov commented on #303
https://github.com/PowerlineApp/powerline-mobile/issues/298

[2016-09-28 13:57] petervojtek commented on #295
@austinpapp @igaponov , I see this error message in server log when a push message is about to be produced for my iPhone:

[code]

[2016-09-28 14:11] igaponov commented on #295
@petervojtek some old records in db still contain arn from eu-west-1 region. I've deleted it, so check endpoints for your device before testing.

[2016-09-28 14:11] petervojtek commented on #298
@igor, this is the case where it would be much better if i would be given the change to discuss the changes you are about to make to the API endpoint prior you actually implement them.

the problem is the way how you did it quite contradicts with the existing code in the mobile app code and would require some amount of time to adjust the mobile app code to it.

I am not sure why haven't you rather

[2016-09-28 14:14] jterps08 commented on #241
I always uninstalled production app from my device before installing test build... don't know if that's relevant or not but wanted to share

[2016-09-28 14:19] petervojtek commented on #295
@igaponov , I make this request from iPhone:

[code]

[2016-09-28 14:20] jterps08 commented on #298
Please connect via slack or Skype to determine best approach to address this issue. We want to avoid changes that have downstream impacts to mobile code whenever possible but not sure what's best solution in this case

[2016-09-28 14:24] petervojtek commented on #241
@jterps08 , that is what I did prior I wrote the previous comment -- but the `Endpoint is disabled and will be removed` emerged despite that.  Actually, when you have production powerline app installed and try to install testing powerline app (and have not uninstalled the production app before), you won't be allowed to do that by android OS due to app signing key mismatch.

[2016-09-28 14:31] igaponov commented on #295
@petervojtek yes, we still don't have SNS application for ios dev. Probably should ask @austinpapp about it.

[2016-09-29 06:53] petervojtek commented on #295
so we are waiting for @austinpapp here

[2016-09-29 07:05] #303 closed, assigned to jterps08

[2016-09-29 07:08] petervojtek commented on #303
@jterps08 , this was a bug and I fixed it:

Now when you click it you will be navigated to the post/user-petition detail.

**But in general my problem is that I don't know which behaviour should trigger new notification in SAF (Following tab) and which not**. For example, I tried did this:
1. As user Peter31 I subscribed to poll:crowdfunding 295
2. As User Peter10 I added a comment to poll:crowdfu

[2016-09-29 07:09] petervojtek commented on #298
@jterps08 , this issue seems to became duplicate of https://github.com/PowerlineApp/powerline-mobile/issues/303#issuecomment-250387875

[2016-09-29 07:09] #298 closed, assigned to petervojtek

[2016-09-29 07:17] petervojtek opened #304 "Payments Not Occurring on Poll:Payment"
I extracted this issue from #281

[2016-09-29 07:18] petervojtek commented on #281
I separate the poll:payment issue here #304 so we don't mix it with crowdfunding.

[2016-09-29 07:21] petervojtek commented on #281
and for the crowdfunding -- in the legacy code the `GET https://api-dev.powerli.ne/api/answers/209/charges/` request is made also for the crowdfunding.

Do I understand I should not make the request?
I actually don't know what is the request's purpose and what it is supposed to return at all, there is no api doc.

[2016-09-29 07:26] petervojtek commented on #304
ok, so once again:
1. `Peter10` is leader in group San Diego and he created poll:payment with ID=303 and added there three options:

[code]
1. Now as `Peter31` who is member of group San Diego, I pick the first option and want to answer (pay it), but I experience this:

[code]

But the payment/answer seem to have proceeded, because when I refresh the page, I see this:

<img width="678" alt="screen

[2016-09-29 07:49] petervojtek commented on #302
@jterps08 , I experience following behaviour regarding boosted Post:

There is group `Peter10Group7` with 4 members.

as `peter.vojtek` I created a Post in the group.

Now as `Peter31` who is also member of the group `Peter10Group7` I see the following activity related to the Post in newsfeed:

[code]

As you can see, the Post is immidiately in "zone":"prioritized".  No-one voted for the Post yet

[2016-09-29 07:59] petervojtek commented on #215
this is related to #108

[2016-09-29 08:14] petervojtek commented on #215
first we need the backend search endpoint to be updated to properly treat the existing datatypes. currently this enpoint is deprecated:
https://api-dev.powerli.ne/api-doc#get--api-search-by-hash-tags
and tells that I should use `GET /api/v2/micro-petitions?tag=hash`, but the micro-petitions were already abandoned cca 2 months ago.

[2016-09-29 08:18] igaponov commented on #281
@petervojtek you don't need to do it for `crowdfunding`, it'll always return 404

[2016-09-29 08:39] petervojtek commented on #281
ok, removed `charges` request for poll:crowdfunding

[2016-09-29 08:39] #281 closed, assigned to petervojtek

[2016-09-29 08:43] igaponov commented on #304
@jterps08 there is we have the next situation: user is trying to pay the payment request, but the group that owns this request doesn't have a bank account (in stripe). What should we do? I think the group should not be able to create payment request if it doesn't have a bank account.

[2016-09-29 08:51] petervojtek opened #305 "custom amount for poll:crowdfund is ignored and processed as 0 USD"

[2016-09-29 08:57] #305 closed, assigned to petervojtek

[2016-09-29 09:23] petervojtek opened #306 "Facebook share button not working due to Object #<Object> has no method 'ui'"
on Android when clicked Facebook share button on announcement, or in Post detail:

[code]

[2016-09-29 09:23] #250 closed, assigned to petervojtek

[2016-09-29 10:18] petervojtek commented on #306
@jterps08, what is the Facebook (and other) share buttons supposed to share?

The point is, it may produce some URL like `https://powerline.ne/#/post/314`, but what should the other consumers who will find it on facebook do with that link?

It makes sense to share such URL in two cases:
- there is web portal which can resolve such link
- if the user has powerline.app installed in the phone where h

[2016-09-29 10:48] #248 closed, assigned to petervojtek

[2016-09-29 11:47] jterps08 commented on #302
"As you can see, the Post is immidiately in "zone":"prioritized". No-one voted for the Post yet so I am not sure if this is corrent behaviour or not." -- This is _incorrect_ behavior. New posts and user petitions are NOT boosted until they have hit quorum. I have reported this in a separate issue and thought it was closed.

https://github.com/PowerlineApp/powerline-mobile/issues/268

It is not clo

[2016-09-29 11:50] jterps08 commented on #304
Correct @igaponov - In the old frontendbundle, the leader was unable to create a paymentrequest (fundraiser) if there was no bank account setup in Stripe for that group's account.... We need that implemented.

Similarly, @petervojtek - the system registered your poll choice, but did not register payment. If it had registered payment correctly, the receipt screen should have displayed a transaction

[2016-09-29 11:54] jterps08 commented on #306
Your two cases are correct. The Facebook and other share buttons are supposed to share that not-yet-implemented URL routing that I have already designed so that other users are pointed to the Powerline app if on mobile device and have it (deeplinking) OR that they are pointed to our web app, which obviously doesn't exist yet.

It might be easiest to simply put a dialog box in that says "This featu

[2016-09-29 12:09] petervojtek commented on #306
@jterps08 , and wouldn't it be better to remove the button temporarily?

[2016-09-29 12:10] petervojtek commented on #302
hmm, so I guess we are blocked here by #268

[2016-09-29 12:24] jterps08 commented on #306
I was trying to convey that we have a feature planned for people that they'll probably want... Even if the message said "This feature is temporarily unavailable." would be better. It's been over a year since our last release. People don't expect to lose functionality, they expect to gain it...

Your choice. It's P3 to me. So your choice.

[2016-09-29 12:35] petervojtek commented on #294
the workflow which fetches friends from facebook really works:

<img width="312" alt="screen shot 2016-09-29 at 14 33 40" src="https://cloud.githubusercontent.com/assets/225506/18954167/f60590e0-8651-11e6-900e-d9e2a42488c2.png">

however when trying to follow such a person in powerline app I experience this error:

[code]

[2016-09-29 12:36] petervojtek commented on #306
ok, I will add there the popup.

[2016-09-29 12:50] #294 closed, assigned to petervojtek

[2016-09-29 12:58] austinpapp commented on #306
Yes. People will most likely want this. However showing a button that doesn't work with a pop-up of "temp unavailable" is insanely frustrating to people versus not having it at all. If it isn't working right, we should not have it present. Consider that a new feature on next release.

[2016-09-29 14:41] igaponov commented on #215
@petervojtek you can use `GET /api/v2/posts?tag=hash` and `GET /api/v2/user-petitions?tag=hash`, check api doc for these endpoints please. I'll fix deprecation message.

[2016-09-29 14:49] igaponov commented on #304
@jterps08 also, there are old API endpoints to create Stripe customers and accounts (add bank card and bank account), but it works only for groups, not for users (you need to be logged in as a group, we had the same problem with a leader content). So we probably need to change it now.

[2016-09-29 16:39] jterps08 commented on #304
I'm not sure what the best approach is @igaponov ...

Here's what I know:
Only the group owner should be able to change the group subscription (silver/gold/free/etc.).
A user may own multiple groups. A user may be a manager of multiple groups.
Any group leader (owner or manager) should be able to create a fundraiser in a group, but only if the group has a bank account or bank card setup for Stripe

[2016-09-29 16:40] jterps08 commented on #306
It's also insanely frustrating for people to wait a year for a new release and to have less functionality in the next release than they had in the first one.

[2016-09-29 16:42] jterps08 commented on #294
In the future, we can make friend suggestions based on:

People who are both in the user's town/state/country groups AND in some other group (e.g. Save the Whales) that they've joined.
People who share similar interests
People who have created similar groups

[2016-09-30 15:54] igaponov commented on #215
Api doc is updated

[2016-10-02 15:10] jterps08 commented on #241
@austinpapp what do we need here?

[2016-10-02 15:11] jterps08 commented on #230
@petervojtek could this be impacting our push notification problems?

[2016-10-02 15:11] jterps08 commented on #64
Can we close this?

[2016-10-02 15:12] jterps08 commented on #80
Is this closed @petervojtek ?

[2016-10-02 15:13] jterps08 commented on #146
@petervojtek Can you update this list to indicate which of these we completed with petition/micropetition work? thanks

[2016-10-02 16:10] jterps08 commented on #161
@petervojtek - Can you implement the following and we'll mark this as complete:
Empty Comments Field - "It's all about different perspectives. Be kind."
Empty Groups List - "If you want to go fast, go alone. If you want to go far, join a group."
Empty New Post field - "Words have #power. Choose them wisely, @username."
Empty New Petition field - "Real #change comes from the bottom, not the top. Sp

[2016-10-02 16:17] jterps08 commented on #172
Icons are located here: https://drive.google.com/open?id=0B2Loy21ehREydURoZVZ0SXJ4Skk

[2016-10-02 16:18] jterps08 commented on #174
Can we restore the CSS to the FrontEnd bundle? It seems to gone missing.

[2016-10-02 16:19] jterps08 commented on #175
This may be better implemented via backend?

[2016-10-02 16:20] jterps08 commented on #178
Igor - If you have no other work on P1/P2 bugs to do or anything that Peter needs from you, please start on this.

[2016-10-02 18:37] jterps08 commented on #215
Do we know why the API Doc keeps going down?

[2016-10-02 18:39] jterps08 commented on #252
Is this fairly easy? What does this involve exactly?

[2016-10-02 19:24] jterps08 commented on #256
If you have the bandwidth to do this while waiting on push notifications, I think this would help with usability Peter

[2016-10-03 05:23] igaponov commented on #174
@jterps08 fixed

[2016-10-03 05:23] igaponov commented on #252
@jterps08 I'm working on it

[2016-10-03 05:25] igaponov commented on #215
@jterps08 API doc is working, what was wrong?

[2016-10-03 05:56] petervojtek commented on #230
no @jterps08 , we are nowhere near confirming notifications (on ios), they dont' even arrive yet :)

[2016-10-03 06:01] petervojtek commented on #80
no @jterps08 , the issue still persists.

The point is:
I obtained the api keys from Austin, but I have not included them directly into source code as they will be visible to anyone who visits this repo.

One way how it can be done is that we will build the apk/ipa on server via build process as was intended in #64, and here will be a step where the maps api keys will be bundled into the app just

[2016-10-03 06:03] petervojtek commented on #146
@jterps08 , I updated the text above.

[2016-10-03 06:06] petervojtek commented on #175
currently it will be faster to fix it on frontend.

[2016-10-03 06:07] petervojtek commented on #256
yes, I confirm this issue @jterps08 , I thought it affects only my iPhone4s. good to know you can reproduce the problem as well, I will address it.

[2016-10-03 07:07] petervojtek commented on #280
ok, so I adopted following approach:
when you call JS content helper to create payment or crowdfunding, after all the payment options are added, automatically is also added a "non-payment" option with value "I don't want to donate. Mark as read."

This option is presented this way:

<img width="582" alt="screen shot 2016-10-03 at 09 01 19" src="https://cloud.githubusercontent.com/assets/225506/190

[2016-10-03 07:18] petervojtek commented on #272
@jterps08 , I cannot reproduce the issue.
When I click "RSVP" button in activity newsfeed, I am forwarded to the event detail.

can you tell which is the event did you experienced the bug?

[2016-10-03 08:02] petervojtek commented on #256
ok, I fixed it, though the UI experience is now different on iPhone6 and iPhone4s, which is probably due to different screen size.

on iPhone6, the iOS status bar is now above the app  and thus is not overlaying the powerline menu button (the app does not occupies the top 20px of screen).
on iPhone4s, the iOS status bar is not visible at all and Powerline app is running fullscreen.
This makes sens

[2016-10-03 08:02] #256 closed, assigned to jterps08

[2016-10-03 08:29] petervojtek commented on #172
@jterps08 , I am not sure -- which of the currently used icons in app is not user properly in regard to the data type?
here are the icons used currently for newsfeed items:
https://github.com/PowerlineApp/powerline-mobile/blob/develop/www/images/v2/icons/post-icons.png

[2016-10-03 08:47] #306 closed, assigned to jterps08

[2016-10-03 09:23] petervojtek commented on #215
@igaponov , do I use the search tag request properly?

I make this request:

[code]

However there exist Post 316 (created by the same user who is doing the search), which has following body and I would expect it to appear in results:

[code]

[2016-10-03 09:35] petervojtek commented on #215
ok, I found out I have to include the '#' symbol as well in the query

[2016-10-03 09:47] petervojtek commented on #215
@jterps08 , how should the results of searching for Posts and UserPetitions look like?
Should the look the same way as if there were in activity newsfeed (or favorites) ?

This makes sense to me as I could reuse existing html, however for some reason the backend is not serving the found Posts and UserPetitions the same format as in newsfeed (e.g. `entity` attribute is not present).

Also I do not

[2016-10-03 11:46] #174 closed, assigned to jterps08

[2016-10-03 11:48] jterps08 commented on #175
ok thanks

[2016-10-03 11:49] jterps08 commented on #172
I think we want posts to show a 'flag' and petitions to show the 'pencil'... I thought the flag was contained in the icon attachment I provided but I can't open PSD on my current computer...

[2016-10-03 11:50] jterps08 commented on #280
Absolutely satisfactory. Thank you Peter!

[2016-10-03 11:50] jterps08 commented on #146
thanks Peter

[2016-10-03 11:51] jterps08 commented on #252
ok cool - if it was too intense we could just have just delayed it, but it looks like you're done already :-)

[2016-10-03 11:53] jterps08 commented on #215
@petervojtek let's have the discussion on Slack. We need to have short-term fix and a long-term fix. If they're the same thing, great. If not, ideally the short-term fix is 'step 1' along the path to a long-term fix. It's P3, but we do want search for hashtagged posts to work.

[2016-10-03 11:55] jterps08 commented on #80
Okay, I understand.

Can we do #64 or is that blocked by something / dependent on Austin or ?

[2016-10-03 11:55] jterps08 commented on #272
That's good enough for me. I cannot recall which event it was so I will close and retest it instead when we get a working push notifications build.

[2016-10-03 11:55] #272 closed, assigned to jterps08

[2016-10-03 11:56] petervojtek commented on #172
@jterps08   my problem is don't own photoshop products so that I am unable to gather the flag icon from the PSD :(

[2016-10-03 11:57] jterps08 commented on #304
@igaponov can you describe the solution in powerline-server #347? Just want to make sure I understand how it works now...

[2016-10-03 11:57] #280 closed, assigned to jterps08

[2016-10-03 11:58] jterps08 commented on #172
haha okay we both have same problem...

I think that post/flag icon should look something like this:
![image](https://cloud.githubusercontent.com/assets/7582457/19036659/1edf7fea-893f-11e6-9e43-11c2f51c6124.png)

[2016-10-03 11:58] jterps08 commented on #172
But I am open to your thoughts...

[2016-10-03 12:00] petervojtek commented on #80
@jterps08 , Austin had the aim to implement #64, not sure what is the state of the art of it since it is already open task for 3+ months..

[2016-10-03 12:34] petervojtek commented on #172
ok, I adjusted it.
Post has a flag icon.
Petition and user Petition has pencil icon.

[2016-10-03 12:34] #172 closed, assigned to jterps08

[2016-10-03 12:43] igaponov commented on #304
@jterps08
1. I've added an endpoint to create a bank account for group
2. I've added an endpoint to add bank card for user
3. I've added a check when somebody tries to create payment request (not crowdfunding) without bank account
4. Added an exception for error above, so Peter will get normal error message now instead of `No 'Access-Control-Allow-Origin' header is present ...`

[2016-10-03 13:09] petervojtek commented on #241
ok, here is the solution:

If you experience on android that you do not receive push notifications, go to android Settings > Apps > Powerline > and choose "Clear all app data" and "Clear cache".

this issue will occur when you use production Powerline app and then switch to development Powerline app, or vice versa.

To sum, proper steps to switch from production to development Powerline app (or vi

[2016-10-03 13:09] #241 closed, assigned to petervojtek

[2016-10-03 13:10] jterps08 commented on #241
NO way... haha okay. That works for me.

[2016-10-03 13:11] jterps08 commented on #80
I'll make a comment over there...

[2016-10-03 13:11] jterps08 commented on #64
@austinpapp per Peter, it seems that this issue is dependent on you. Can you clarify? #80 is blocked by this.

[2016-10-03 13:13] jterps08 commented on #304
Ok, so @petervojtek if someone tries to create fundraiser and specific error is returned per Igor above, then we will need to prompt the user to setup bank account for group. I can provide precise language for this error in Slack when it comes time to address in web app or mobile app.

[2016-10-03 14:07] petervojtek commented on #265
I confirm this issue on iPhone. the problem is in general following:
in registration screen when you enter some text and hit Go button on the iphone keyboard, you are redirected to Login screen.

the same happens on Android (the Enter button on android virtual keyboard)

[2016-10-03 15:27] #265 closed, assigned to jterps08

[2016-10-03 15:27] petervojtek opened #307 "Clicking enter on Register New User should go to next field (or submit at the last field)"

[2016-10-03 15:28] petervojtek commented on #265
ok, I fixed it.
but now Enter (Go) is doing nothing, I created following task for it: #307

[2016-10-04 06:29] petervojtek commented on #304
ok, I cofirm that when I try to repeat what I have done [here - -i.e. create a poll:payment](https://github.com/PowerlineApp/powerline-mobile/issues/304#issuecomment-250391285), I receive:

[code]

and I will display some alert that user must setup card for that group first -- this will be actually relevant when we will add UI to add new leader content (poll:payment and poll:crowdfunding) .

[2016-10-04 06:29] #304 closed, assigned to petervojtek

[2016-10-04 06:43] petervojtek commented on #271
ok, now the tappable area is larger (also covers margins around the text). I did it also for "Pay" and "RSVP".

[2016-10-04 06:43] #271 closed, assigned to jterps08

[2016-10-04 06:45] petervojtek commented on #108
duplicate of #215

[2016-10-04 06:45] #108 closed, assigned to nobody

[2016-10-04 07:00] petervojtek commented on #252
@jterps08 , I am confused  - where do you want the badge count to appear?

the push notification includes the `count` attribute as required by [api doc](https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/API.md#pushsetapplicationiconbadgenumbersuccesshandler-errorhandler-count---ios--android-only)

[code]

However I cannot see the badge count to appear either on the push notificatio

[2016-10-04 09:21] petervojtek opened #308 "When answering poll:poll : 'Invalid parameter number: number of bound variables does not match number of tokens'"
I am not sure what is the purpose of the api call at all, but when I go to poll:poll 314 and try to answer as Peter10 (he is also author of the poll), the legacy code is making this request which current fails (was working in the past):

[code]

[2016-10-04 09:23] petervojtek opened #309 "Leader content creation: Add form to create poll:poll (= Question)"

[2016-10-04 11:07] petervojtek commented on #309
@jterps08 , I created simple form to add new Poll (question), it looks like this:

<img width="707" alt="screen shot 2016-10-04 at 12 58 51" src="https://cloud.githubusercontent.com/assets/225506/19071820/5390f7d4-8a32-11e6-826e-0571e322a654.png">

<img width="855" alt="screen shot 2016-10-04 at 12 47 53" src="https://cloud.githubusercontent.com/assets/225506/19071795/2b902eda-8a32-11e6-8ed3-b4349

[2016-10-04 11:35] jterps08 opened #310 "Investigate: "Peter10 commented on a post you subscribed to""
I got a notification on my Android 5 device this morning "Peter10 commented on a post you subscribed to" -- I have a feeling this is a bug. Either an old message that is stuck in the queue OR I'm being subscribed to posts I did not actuallly subscribe to OR the system is notifying me of anytime Peter10 comments on something even though it should only notify me when Peter10 comments on something I

[2016-10-04 11:36] jterps08 commented on #304
Alert: "Your group must have a bank account verified before you can publish a fundraiser. Please visit Group Settings to setup and verify bank account information."

[2016-10-04 11:43] jterps08 commented on #309
Thanks Peter...

1) I agree with your endpoint enhancement suggestion. Igor can do it _after_ he has done P1/P2 bug fix work.
2) "Sent to: All Group Members" - This relates to "group divisions". A group leader can create subgroups in his group and assign users to those subgroups (e.g. Save the Whales might have "Members" vs "Donors" vs "Volunteers"). I do not know if group divisions have an endpoi

[2016-10-04 11:52] jterps08 commented on #252
Peter

1) Badge that I am referring to is system OS app icon badge number. (e.g. on OS home screen) See: https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/API.md#pushsetapplicationiconbadgenumbersuccesshandler-errorhandler-count---ios--android-only AND https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#badges

2) The weird little circle is because there ar

[2016-10-04 11:55] petervojtek commented on #309
@jterps08

what puzzles me is  the text area on bottom here with text "it is along established..".. I thought that that is meant to be poll subject, but it is rather an attachment of type:text ?

<img width="297" alt="screen shot 2016-10-04 at 13 54 04" src="https://cloud.githubusercontent.com/assets/225506/19073222/2393fb64-8a3a-11e6-9f91-8396350a5b93.png">

[2016-10-04 12:29] petervojtek opened #311 "Create Leader Content Forms"
this is a master issue for all the sub-issue related to forms to create Leader content from mobile app.

sub tasks:
- DONE: create poll: #309
- DONE: create announcement
- DONE: create news: #343
- DONE: create petition #346
- DONE: create event: #344
- DONE: create poll:payment: #312
- DONE: create poll:crowdfunding: #313
- add attachments when creating leader content: #338
- DONE: handle group d

[2016-10-04 15:19] jterps08 commented on #309
Correct, it attachment type text. You can ignore that for the sake of creating the form. We'll limit what the user can add on the mobile app to a poll vs what they can add on the web app..

Also, let's stick with "New Group" phraseology... this way people get the sense that it goes out to all group members. We'll probably want to put an alert between the Submit button and the actual publish action

[2016-10-05 07:50] petervojtek commented on #310
@jterps08 , I use the Peter10 account almost all the time.

it will be fairly time consuming to sort out what happened.
next time it would be useful if you could click the View button on push notification to find out which Post id it was. I searched the server logs for string "commented on a post you subscribed to" but found no matches (maybe the text is slightly different?).

[2016-10-05 07:52] petervojtek opened #312 "Create Leader Content: create poll:payment"
do not forgot this:
https://github.com/PowerlineApp/powerline-mobile/issues/304#issuecomment-251364255

[2016-10-05 07:53] petervojtek opened #313 "Leader content creation: create poll:crowdfunding"
do not forgot this:
https://github.com/PowerlineApp/powerline-mobile/issues/304#issuecomment-251364255

[2016-10-05 07:56] petervojtek commented on #252
ok, so for 1) we are blocked by by #295

[2016-10-05 08:29] petervojtek commented on #252
ok, I tried to call `setApplicationIconBadgeNumber` as depicted in the docs, but both on android 4.4 and 6 it returns "Invalid action ". This is unresolved issue [on stackoverflow](http://stackoverflow.com/questions/22055054/phonegap-push-notification-is-there-a-way-to-add-up-badge-number#comment40486507_22055054).

I will keep this open until iOS notifications start to arrive (#295) and then chec

[2016-10-05 08:35] petervojtek commented on #309
@jterps08 , there does not seem to be API endpoint to create subgroups, maybe @igaponov can correct me.

from UX point of view I personally find it confusing if there will be select box with only one option:

---

ok, I will add it there.

[2016-10-05 09:55] igaponov commented on #308
fixed

[2016-10-05 11:26] jterps08 commented on #310
Yeah, I clicked view. It did not open the item... :-/

I will look out for it again...

[2016-10-05 11:29] igaponov commented on #309
@petervojtek yes, you can't create subgroups.

[2016-10-05 11:35] jterps08 commented on #252
I looked at the stackoverflow and that issue seems to be related to 'adding' to the previous badge number amount... I would think that we woul dbe able to pass a count of priority activities for the user from the server to the notification payload. There are no issues in https://github.com/phonegap/phonegap-plugin-push/issues?page=1&q=is%3Aissue+is%3Aopen+badge&utf8=%E2%9C%93 that speak to a probl

[2016-10-05 11:35] austinpapp commented on #64
Yea I'm guessing we will need to figure out how o store this data properly so Travis can pick it up.

For now it maybe easier to use tenacity since we have it available.

[2016-10-05 11:38] jterps08 commented on #309
@igaponov group divisions is part of frontbundle functionality that needs to be available as API endpoint. Create/delete group division(s), name/rename group division(s), assign/remove users to (potentially multiple) group divisions... This is low priority compared to notifications or anything relating to Peter's questions.

[2016-10-05 12:37] petervojtek commented on #308
thanks @igaponov , I confirm it works now

[2016-10-05 12:37] #308 closed, assigned to petervojtek

[2016-10-05 12:38] petervojtek commented on #310
@jterps08 , ok, i such case please keep track if the time when you received the push notification so that we can try to locate it in logs..

[2016-10-05 12:41] jterps08 commented on #310
I will... challenge is that I am waking up to them after turning off
airplane mode.   Will try.
On Oct 5, 2016 8:38 AM, "Peter Vojtek" notifications@github.com wrote:

[2016-10-05 12:41] petervojtek commented on #252
@jterps08 , the stackoverflow issue deals with the what you describe, but I specifically pointed out this comment:

and that is what I experience as well (it has nothing to do with incrementing the badge count, I call it like `setApplicationIconBadgeNumber(7)`, i.e. I do not try to fetch the previous number or so..

[2016-10-05 13:25] jterps08 commented on #252
I feel like this is a question for the github repo for the push plugin... It's a very active repo, so I'd be surprised if others did not experience this problem...

[2016-10-05 13:38] petervojtek commented on #252
@jterps08 - yes, but that was the moment I realized it will take more than 15 minutes to sort out this issue, and given it is P3, I rather stopped paying effort to it now.

[2016-10-05 13:45] petervojtek commented on #295
I still experience the

[code]

[2016-10-05 14:03] petervojtek commented on #310
@igaponov , we have following bug:
1. User Peter10 adds comment to user petiiton 272
2. user '1.JesseChen' receives following push notification "Peter10 commented on a post you subscribed to" - but he is not subscribed to the user petition nor is its author.

user 1.JesseChen should not receive such notification.

[2016-10-05 15:09] petervojtek commented on #295
ok, I confirm push notifications do arrive to iPhone

[2016-10-05 15:09] #295 closed, assigned to igaponov

[2016-10-05 15:19] petervojtek opened #314 "iOS push notifications: user name and action buttons not displayed in notification"
as user 'Beata Dubasova'  I receive this notification that Peter10 commented my Post 320:

[code]

the notification does not display username and has no buttons:

![img_0010](https://cloud.githubusercontent.com/assets/225506/19119368/d6371c02-8b1f-11e6-9613-124080d1147e.PNG)

[2016-10-05 15:36] petervojtek commented on #252
the badge count via `setApplicationIconBadgeNumber`works well on iOS:

![img_0011](https://cloud.githubusercontent.com/assets/225506/19120134/39f3b654-8b22-11e6-8295-b04d5c5f3223.PNG)

so I will have to resolve it for Android..

[2016-10-05 16:31] petervojtek commented on #314
ok, title is fixed.

I have to adopt the button callbacks
https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#action-buttons-1

[2016-10-05 18:01] jterps08 commented on #252
Looks good!

[2016-10-06 07:00] petervojtek commented on #314
@igaponov , I inspected the push notification buttons and we need to do following:

currently the push notification looks like (this is probably content of the `alert` attribute as I don't see the whole notification content):

[code]

however to successfully recognize the notification type (and thus display proper buttons), it should [contain the category attribute](https://github.com/phonegap/pho

[2016-10-06 07:46] petervojtek commented on #252
@igaponov , it seems that you do not attach the badge count in iOS push notifications::

[code]

while on android the `count` is there:

[code]

[2016-10-06 08:33] petervojtek opened #315 "android: push notification not arrives when user petition commented/signed"
as `peter.vojtek`, I am registered on Android to push notification with id `c5Nieq14mXk:APA91bEhdox0L2c8B4hHbVzgUUn1tSi-8WQ6slc4rWAvQW7-SwLpuvYz4jPsGkLR-Yqii5uolbs1Lp_7WJVlijWkF-lSsRZmvzYyYQItpEpRjhrnKWW7z3ZUz8SmsFgGDxeUFV_dZs23`

as `peter.vojtek`  I created UserPetition 274.

As Peter10 I add there a comment.

The server logs shows that push notification was generated:

[code]

but the notificat

[2016-10-06 08:47] igaponov commented on #252
@petervojtek [here](https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md) I see a paragraph with badges only for Android. iOS has only `"badge": true`

[2016-10-06 08:53] petervojtek commented on #252
@jterps08 , on Android the situation is now following:

I managed to resolve the previous problem by updating the push plugin library (the former version did not supported badges on Android).

Now the currently used version of `phonegap-plugin-push`(1.8.2) will successfully proceed `setApplicationIconBadgeNumber`, but the badge number of not displayed near the poweline app icon. I tested that on A

[2016-10-06 08:56] petervojtek commented on #252
@igaponov , I do not understand -- can you show me where is it written that badges do not work on iOS? I can successfully display the badge number on iPhone (by using some random number).. so all I need is to put the count anywhere in the notification (at least this works when the mobile app is open when the push notification arrives).

[2016-10-06 09:17] igaponov commented on #315
@petervojtek `push_dev.log` gives you ability to trace a notification to SNS. If the text is `Message is pushed` message was successfully sent to SNS, so now you need to trace it with another instrument, I can't do anything here. We have an email powerlinefailures@gmail.com where you can see errors from SNS, but i don't see any today. Maybe something wrong with your client?

[2016-10-06 09:21] petervojtek commented on #315
well, that is the issue -- how can I detect that is "something wrong my client" ?

the workflow of the push message is following:
1. it is generated on powerline server and I can see such message`push_dev.log`
2. then the notification is handled by amazon servers and delivered (or not) -- and this stage is complete blackbox to me with no option to see inside, so this is where I would like to searc

[2016-10-06 10:08] igaponov commented on #314
`category` was added

[2016-10-06 11:56] jterps08 commented on #315
I messaged you in Slack @petervojtek ... Not sure if I gave you the right access for AWS or GCM, but I tried. Let me know...

[2016-10-06 11:58] jterps08 commented on #252
We need badge counters for iOS and Android. They don't need to be perfect. They need to signal the user to come into the app if there's anything in the priority zone. The badge counter should only disappear (=0) if there are no priority items for the user to address.

Note: If the badge counter cannot zero (as I think you're explaining above Peter) and will have a 1+ number for the time being, tha

[2016-10-06 14:23] petervojtek commented on #315
ok, the issue is fixed. it was my fault, because i have not properly registered the device token.

[2016-10-06 14:23] #315 closed, assigned to petervojtek

[2016-10-06 14:51] petervojtek commented on #252
@jterps08 , for Android it seems that it won't be possible (in short amount of time) to have the badge count in every android device.

[source](http://stackoverflow.com/questions/17565307/how-to-display-count-of-notifications-in-app-launcher-icon)

Now the point is --  the phonegap-plugin-push is using [this tool](https://github.com/leolin310148/ShortcutBadger) to display the badge counts, but it

[2016-10-06 15:06] jterps08 commented on #252
Okay understood - that's fine. Some is better than none :-)
thank you for clarification.

[2016-10-06 19:26] jterps08 commented on #215
Let's make the short-term fix a P2 priority and punt the long-term fix. Can we close?

[2016-10-07 07:03] petervojtek commented on #215
@jterps08 , this is currently not working.
there are two options:
- either I will use the existing endpoints, but I will have to adapt the html to properly display the results -- cca 1-2 hours of my work (and don't know how it is actually supposed to look like), 0 hours of Igor's work
- or Igor will adapt the endpoint as I suggested above and I will be able to reuse the existing html rendering fro

[2016-10-07 07:16] petervojtek commented on #314
@igaponov , are you sure you add the category?

e.g., when I send from amazon aws following message:

[code]

I successfully see on the push notification the buttons I defined for `own-post-commented`.

However when I trigger the push notification from powerline, I see that it is generated and it arrives to phone, but the buttons are not displayed. I cannot see the whole message, I see only the `a

[2016-10-07 08:12] petervojtek commented on #252
@igaponov , can you please incude the badge count for iOS also this way (and also keep it please in the `count` attribute inside push message payload as you already do):

[code]

this way the badge count will update on iOS even when the user won't open the notification.

[2016-10-07 08:16] petervojtek commented on #302
I confirm  boosted push notification is sent after Post or user Petition is (naturally) boosted.

[2016-10-07 08:16] #302 closed, assigned to petervojtek

[2016-10-07 08:24] petervojtek commented on #284
works now

[2016-10-07 08:24] #284 closed, assigned to jterps08

[2016-10-07 08:24] petervojtek commented on #286
works now

[2016-10-07 08:24] #286 closed, assigned to jterps08

[2016-10-07 08:24] petervojtek commented on #279
works now

[2016-10-07 08:24] #279 closed, assigned to jterps08

[2016-10-07 08:25] petervojtek commented on #273
works now

[2016-10-07 08:25] #273 closed, assigned to jterps08

[2016-10-07 08:25] petervojtek commented on #275
works now

[2016-10-07 08:25] #275 closed, assigned to jterps08

[2016-10-07 08:26] petervojtek commented on #288
works now

[2016-10-07 08:26] #288 closed, assigned to jterps08

[2016-10-07 08:33] petervojtek commented on #270
it works now

[2016-10-07 08:33] #270 closed, assigned to jterps08

[2016-10-07 08:34] petervojtek commented on #277
it works now

[2016-10-07 08:34] #277 closed, assigned to jterps08

[2016-10-07 12:08] jterps08 commented on #215
@igaponov - Can you estimate on the above?

[2016-10-07 12:22] igaponov commented on #215
@jterps08 so, we want to search by user post, user petition and all kinds of poll, right? I can add new endpoint for it and create this query for db, but in the future when we have a lot of posts/petitons/polls it will not work fast. It's better to use any search engine for this.
1. Add new endpoint and a query for db + tests    ~ 4 hours
2. Add search engine - much more time, because we don't use

[2016-10-07 12:41] jterps08 commented on #215
I think the issue is the current DB query return... @petervojtek can you clarify? I thought we just needed to repurpose existing endpoint...

I do agree that adding a search engine would be much more time and not what we want for right now...

[2016-10-07 12:50] petervojtek commented on #215
@jterps08

there are two "problems":
- one is the content of the response (which is different than the "standard" activity-items response received in activity  newsfeed and favorites)
- and other issue is that currently there has to be made one request per each data type, while from GUI point of view the user wants to search all the data types at once and look there for some #hashtag.

But given t

[2016-10-10 00:28] jterps08 commented on #314
unable to test

[2016-10-10 00:29] jterps08 commented on #268
works correctly

[2016-10-10 00:29] #268 closed, assigned to jterps08

[2016-10-10 00:30] jterps08 commented on #285
Current tapping approve button in notification does not result in approval of request.

[2016-10-10 00:33] jterps08 opened #316 "iOS Notifications not delivered on iPhone 6"
Tried to use Jon Stamos account. Did not work.
Then I registered user christophermino9 registered via Facebook.

Neither resulted in:
- Event notification
- Leader Petition notification
- Crowdfunder notification, unable to test Fundraiser due to 500 issue (might be related to the fact that BT3 group does not have bank account info setup, in which case the same error should occur for Crowdfunders,

[2016-10-10 00:42] jterps08 opened #317 "Adding CC to User's Profile Results in Server Error"
BT3 group leader created crowdfunder, could not create fundraiser
BT3 group did not have bank account info setup (explains why fundraiser couldn't be created)
Published crowdfunder arrived on Android and iOS
Tapping an answer choice resulted in CC entry modal popup.
User submitted real CC information. Server Error.
User submitted test CC information. Server Error.

User visits Settings screen to m

[2016-10-10 00:46] jterps08 opened #318 "Facebook Registration - Address Entry"
When a user registers with Facebook for the first time, they still need to provide their address. The second screen of the e-mail registration flow (showing address + DOB + phone number fields) should be displayed to user.

On iOS, the user is clicking the REgister with Facebook button and is being brought to their user profile screen instead of two the "Address" screen from the registration flow.

[2016-10-10 00:47] jterps08 opened #319 ""You Answered" not showing answer choice"
On the item detail screen, when a user has responded to an event, fundraiser/crowdfunder, or poll, the screen says "You answered" but does not display the user's selected answer. The user should be able to see what he answered previously.

[2016-10-10 00:47] jterps08 opened #320 "iOS Poll Item Detail Back Button"
iOS: Poll Item Detail screen back button not tappable (after answering poll)

[2016-10-10 00:48] jterps08 opened #321 "Share this App Menu Item not working on either platform"
Should initiate the native OS sharing dialog box... but it doesn't.

[2016-10-10 00:48] jterps08 opened #322 "UX: iOS creating new post/petition auto open keyboard"
Should be ready to start typing immediately on both android and iOS

[2016-10-10 07:06] petervojtek commented on #314
btw - this is currert bahaviour.

When then notification arrives, it looks like this (i.e. app name is in the title)

![img_0025](https://cloud.githubusercontent.com/assets/225506/19228641/7b5a4cb8-8ec7-11e6-953b-d78c9cd3dc68.PNG)

And when you later check the notification area, it looks like this (i.e. our custom title is set at title):

![img_0026](https://cloud.githubusercontent.com/assets/2255

[2016-10-10 07:28] petervojtek opened #323 "iOS push notifications - entity content is not a JSON but an escaped string"
@igaponov , I have a problem that when I receive notification payload, the `entity` content is not evaluated as JSON, but is parsed as string:

<img width="743" alt="screen shot 2016-10-10 at 09 24 56" src="https://cloud.githubusercontent.com/assets/225506/19229126/7b6ceb3a-8ecb-11e6-93a8-3084b4b3e788.png">

This problem is only with the `entity` content. e.g. the `additionalData.additionalData.ba

[2016-10-10 07:33] petervojtek commented on #316
@jterps08 , I do not understand if you received no notification at all, or you do not received notifications only for the use cases and for the other you did.

currently the [AWS console](https://console.aws.amazon.com/sns/v2/home?region=us-east-1#/applications/arn:aws:sns:us-east-1:863632456175:app/APNS_SANDBOX/poweline_ios_dev) shows only one iOS device successfully registered, which is my iPhon

[2016-10-10 07:50] petervojtek opened #324 "Add notification ID to iOS notification payload"
@igaponov , in order to properly destroy the push notification on iOS, please provide some unique ID (as string) of each push notification in following manner:

[code]

and also please put the `notId`  inside the `notification-payload` the same way as you do it with badge count.

[2016-10-10 08:25] petervojtek commented on #317
@jterps08 , I do not understand this sentence:

what is the difference between `crowdfunder` and `fundraiser` ?

[2016-10-10 08:29] petervojtek commented on #317
@jterps08 , I confirm the above.
regargind errors while adding CC, it seems to be backend issue, see comment below.

regarding this:

it is an feature (to return error 500) because of:

more info here:
https://github.com/PowerlineApp/powerline-mobile/issues/304#issuecomment-251304263

[2016-10-10 08:34] petervojtek commented on #317
@igaponov, as user `test3` I try to add myself a credit card.
 The former business logic containts following http request and currently it ends up with error 404:

[code]

it must have been working cca 1 week ago, when I was able to pay successfully.

[2016-10-10 08:52] petervojtek commented on #316
currently the AWS console shows only one iOS device successfully registered, which is my iPhone:

<img width="996" alt="screen shot 2016-10-10 at 10 51 47" src="https://cloud.githubusercontent.com/assets/225506/19230958/a0dc0cbe-8ed7-11e6-8c7e-91ae7b3c30bc.png">

[2016-10-10 09:05] #321 closed, assigned to jterps08

[2016-10-10 09:05] petervojtek commented on #321
fixed. the issue was that the social sharing plugin was not included in the app.

[2016-10-10 09:10] petervojtek commented on #320
hmm, cannot reproduce. I created a poll:poll with ID 327, and on iPhone managed to answer it and then clicked back button and went to Main screen successfully.

[2016-10-10 09:22] petervojtek commented on #318
@jterps08 , it will be time consuming to display the "2nd screen from registration process" because the code was not written to be used that way.

It will be much less time consuming if we e.g. display the profile for facebook newcomer as we do it now, but the it will be already open in Edit mode and the Contact section will be expanded.

[2016-10-10 13:01] jterps08 commented on #320
Maybe it was frozen on my end. Can you just make sure that the 'tappable area' is generous for the back button from that screen and we'll call this closed?

[2016-10-10 13:03] jterps08 commented on #316
@petervojtek - I did not receive notifications at all. I tested those scenarios specifically and they failed.

I downloaded the iOS build to my friend's phone using the Diawi build you provided in Slack. Tried using an existing user, logged out, registered a new user (with Facebook), no notifications... Based on what you're saying, it looks like his phone never registered for notifications.

[2016-10-10 13:05] jterps08 commented on #314
Let's leave the language the way it is now. I just want to get the notifications. We can change the backend language for iPhone later...

[2016-10-10 13:09] jterps08 commented on #318
I'm not sure how I feel about this. I feel like going directly to Profile screen makes providing the address as more optional and less required to the user. How much effort would it be to implement the 2nd screen as requested?

Originally, this is how the process worked:
If registering via e-mail, the user was presented with screen 1 (account setup) and screen 2 (address).
If registering via FB, t

[2016-10-10 14:25] petervojtek commented on #314
ok, so then I receive the push notifications and the title and buttons are visible, so I close this issue. let's treat the problem that @jterps08 is not receiving the notifications in other issue

[2016-10-10 14:25] #314 closed, assigned to petervojtek

[2016-10-10 14:38] petervojtek commented on #320
ok, I increased the back button area.

[2016-10-10 14:38] #320 closed, assigned to jterps08

[2016-10-10 14:51] petervojtek commented on #318
@jterps08 , I expect this:

would take 2-3 hours to implement.

[2016-10-10 14:52] jterps08 commented on #318
Yeah, I think we have to do this unfortunately... I just don't see the Profile screen as being sufficiently "in-your-face" about needing to provide that information, which is critical for the mission.

[2016-10-10 15:01] igaponov commented on #317
Should work now, but this endpoint is deprecated, I've updated api doc.

[2016-10-10 15:31] jterps08 opened #325 "When creating Leader Content, I should be default subscribed to my notifications for the item."
User 1.JesseChen is the creator of BuildTest3 group.
Using the contenthelper tool, Jesse creates new leader content (poll, leader petition, event, crowdfunder, and discussion)
The items correctly appear in the priority zone and in the newsfeed.
However, the bell-icon is not blue, indicating that the author (1.JesseChen) has not been subscribed to his own created _leader_ content by default. (incor

[2016-10-10 15:46] petervojtek opened #326 "@mention in user petition comment - author receives two notification"
when author of an user petition is @mentioned in comment by other user, the author receives two push notifications at the same time:
- you were mentioned
- someone commented on your petition

@jterps08 , not sure if this is intended behaviour.

[2016-10-10 15:46] jterps08 opened #327 "Boosted Post Upvote Notification Action Button does not work"
Tapped upvote, and app opened, but upvote never submitted.

[2016-10-10 15:47] petervojtek commented on #323
I confirm it is properly formatted now.

[2016-10-10 15:47] #323 closed, assigned to petervojtek

[2016-10-10 16:18] petervojtek commented on #324
ok, thanks, I adopted the regID to properly finish/destroy push notification on iOS

[2016-10-10 16:18] #324 closed, assigned to petervojtek

[2016-10-10 16:18] jterps08 commented on #326
This is P3. It's according to spec, but it's not what we want the user to experience. We'll leave it as P3 for now.

[2016-10-10 17:05] petervojtek opened #328 "Unable to register token to push notifications due to Incorrect Token or userType."
Igor, I suddently started to receive following response both on iOS and Android:

[code]

[2016-10-11 00:10] igaponov commented on #328
@petervojtek add please your user and token.

[code]

I think somebody has logged in with your user at the same time and your token has became invalid.

P.S. I've added `type` field for endpoint (value = android/ios)

[2016-10-11 05:14] petervojtek commented on #328
@igaponov , I still experience the issue.

I reset the app (cleared all its data) on Android so that I have new token, but then I still receive

[code]

for this token: `e_Byh908xm4:APA91bGkZIQNrLVjsRR90ThtkiJcWnRxFaGigAC3HCOYzuLlEDLd-sAB1JQadPdEJRL8xdFzxW8s8smW-xLBymukF-9Q7jyrwkIKodVx5ZJgoViIaxS8ZVyqg8yGEKy5ERwzBCsti9VE`

I am not sure how should i use `type` field -- during `POST /api/endpoints/

[2016-10-11 05:38] petervojtek opened #329 "Unable to remove credit card"
I had successfully added a CC in the past.
There is an option in user settings to remove the card. When I try to use it, I experience following error:

[code]

[2016-10-11 05:40] petervojtek opened #330 "XMLHttpRequest cannot load https://api-dev.powerli.ne/api/v2/user/social-activities. No 'Access-Control-Allow-Origin' header is present on the requested resource."
I experience this as user `Peter30` and also as `Peter2`

[2016-10-11 05:48] petervojtek commented on #317
ok, I switched to v2 and now can successfully add CC.

[2016-10-11 05:48] #317 closed, assigned to jterps08

[2016-10-11 05:53] petervojtek commented on #317
@jterps08 , regarding the issue with creating a fundraiser, I already work on leader form to create fundraiser (#312) so that we will treat it there.

[2016-10-11 05:55] petervojtek commented on #316
@jterps08 , the reason is here: #328

[2016-10-11 05:55] #316 closed, assigned to petervojtek

[2016-10-11 05:58] igaponov commented on #328
@petervojtek the right workflow:
1. login to powerline with username..
2. `GET https://api-dev.powerli.ne/api/endpoints/`
3. ...

By `type` field you can see tokens for which devices you already have.

[2016-10-11 06:30] #328 closed, assigned to petervojtek

[2016-10-11 06:34] petervojtek commented on #328
ok, thanks for details @igaponov , when I altered the workflow sequence I can successfully registed the token and receive notifications both on Android and iOS.

however I still do not understand the purpose of `type` attribute you suggest to use during `GET /endpoints`.
I.e. -- what can happen when I do not use the `type` attribute?

the token is so unique that there is no chance the same token w

[2016-10-11 07:06] igaponov commented on #328
@petervojtek when you use `GET /endpoints` there can be only one endpoint and without `type` attribute you can't determine which your device already has it, android or ios.

[2016-10-11 07:08] igaponov commented on #329
@petervojtek fixed, card_18ybYRGH6acUMInA2IXC7Hq4 is deleted now

[2016-10-11 08:14] petervojtek commented on #313
was done with #312

[2016-10-11 08:14] #313 closed, assigned to petervojtek

[2016-10-11 09:06] petervojtek commented on #312
@jterps08 , it works now. if you login as 'JTest1', you will find the "Make a fundraiser" option in Main screen.

It works both from browser, android and iOS.
however on android and ios is is not extra comfortable to fill in the form and additional time and effort would be required to make it more user friendly.

Currently when you use the form to create a Payment, you will experience alert "Your

[2016-10-11 09:09] petervojtek commented on #328
@igaponov ,so then you will send in response in `GET /endpoints` all the tokens you have for the user, no?

and in smartphone I know which token I currently own and thus can check if it is in the response or not.

[2016-10-11 09:10] #330 closed, assigned to petervojtek

[2016-10-11 09:11] petervojtek commented on #330
seems to work now

[2016-10-11 09:16] petervojtek commented on #329
ok, it tried to remove another card and it works now

[2016-10-11 09:16] #329 closed, assigned to petervojtek

[2016-10-12 06:38] petervojtek commented on #325
I could subscribe the author to the newly created item from frontend right after creating it, but because for UserPetition and Post the describe-author-by-default is performed on backend, let us do it the same way also for the leader content -- i.e. that is why I assign this issue to Igor.

[2016-10-12 06:58] #276 closed, assigned to jterps08

[2016-10-12 06:58] petervojtek commented on #276
fixed. tested both on iOS and Android

[2016-10-12 07:26] petervojtek opened #331 "Push notifications: make transitions to final view faster after button click on notification"
currently, e.g. when user clicked View button on new post comment notification, there was 2 seconds delay before user was actualyl navigated to the Post detail.

it is possible to use angular $state.go transition.

however there is following $state.go behaviour to resolve before we can use it:
when the app is already open on some detail view, then the app is minimized and then notification arrives

[2016-10-12 07:30] petervojtek opened #332 "Push notifications - boosted Post and UserPetition: Sign/Upvote/Downvote button is also displayed to owner"
on Android Igor could remove the buttons on backend conditionally.
however on iOS it is not possible because the buttons are specified on frontend in mobile app and it is not possible conditionally show/hide some buttons based on other push notification payload details other than type (`category`).

Therefore, I  I see following solution both for Android and iOS:

when Post is boosted and push not

[2016-10-12 07:35] petervojtek commented on #278
unable to test it for poll:payment due to `You must have a Stripe account to create a payment request.`.

for Crowdfunder  it works

[2016-10-12 07:35] #278 closed, assigned to jterps08

[2016-10-12 08:20] petervojtek commented on #331
as a temporary solution I display a loader while desired final screen is reached.

[2016-10-12 08:26] petervojtek opened #333 "push notifications: @mention in comment - push notification not send for all content types"

[2016-10-12 08:36] petervojtek commented on #333
@igaponov , when I @mention user in UserPetition and Post comment the user will properly receive `comment-mentioned` push notification.

However for leader content it seems such notification is not generated -- tested on poll:news and poll:crowdfunding comments.

[2016-10-12 08:54] petervojtek opened #334 "Social Activity Feed: `following` attribute is null"
@igaponov , I had a business logic which is parsing `GET /api/v2/user/social-activities`

so that when it is follow request, it expects an item to have `following` attribute.

However suddenly the `following` is `null`. The json below is notification received by Peter10 that Peter35 wants to follow Peter10:

[code]

I see that there is `target` attribute which holds details of `Peter35`, but I bel

[2016-10-12 09:06] petervojtek opened #335 "Push notification not created when Post is created by followed user"
Peter35 is following Peter10.

Peter10 created Post 347, but Peter35 has not received a push notification "Post Created by Followed User".

When Peter10 created the Post 347, only following push notification was created on server (addressed to another user test3):

[code]

Peter35 is successfully receiving other push notifications (e.g. own post comment).

Peter35 token at the time was `e_Byh908xm

[2016-10-12 09:28] igaponov commented on #334
@petervojtek `following` attribute for type `follow request` is wrong. What data do you need? I'll add it to `target`

Also, for other notifications you should'n rely on `recipient` and `following` attributes, it's used only on backend to determine where to send a notification. Use `target` attribute to get any data you need and tell me if you need to add something.

[2016-10-12 09:37] petervojtek opened #336 "Push notification button Reply not properly processed on child comment"

[2016-10-12 09:50] igaponov commented on #335
@petervojtek the Post 347 was created in a group San Diego, but user Peter35 is not a member of this group, so he will not receive any notification from that group, even if he follows a member from that group.

[2016-10-12 10:02] igaponov commented on #325
@jterps08 this feature was already added for polls. Can you tell me which poll did you create? I can't find any, created by  user 1.JesseChen.

[2016-10-12 10:29] petervojtek commented on #336
@jterps08 , now when user makes a reply to a comment, author of the first comment will receive push notification with Reply button.

When you click Reply, you should be guided to the comment thread with the reply.

However from UX point of view I find the screen really confusing. Actually, since today I was completely unaware that it is possible to respond to some particular comment and then to se

[2016-10-12 10:37] petervojtek commented on #334
@igaponov , all the required data seems to be already in the `target` and I will use them.

, I just do not understand what and when has happened to the `following` -- I believe there was some content maybe 1-2 weeks ago and it seems to me that it suddently disappeared.

the problem in general is that when I am not notified on such such changes, there is no good way to reveal them because there ar

[2016-10-12 10:37] #334 closed, assigned to igaponov

[2016-10-12 10:39] petervojtek commented on #335
I see, thanks for explanation @igaponov

[2016-10-12 10:39] #335 closed, assigned to petervojtek

[2016-10-12 11:06] petervojtek commented on #327
@igaponov , is it possible to somehow unify the notification payload?

for example, here is notification which arrives when Post is created by followed user:

[code]

while here is notification when Post is boosted:

[code]

both notifications deal with Post, however the first one has following `additionalData.entity.target`:

[code]

and the second one seem to lack `additionalData.entity.target`

[2016-10-12 12:37] jterps08 commented on #332
Works for me!

[2016-10-12 12:39] jterps08 commented on #336
I agree with your suggestion, Peter.

I also want to redesign the Item Detail screen in the future anyway to figure out how we can better unify everything without needing separate screens and tabs etc...

[2016-10-12 12:40] jterps08 commented on #331
Temporary solution works... It would be good to figure out how we can speed all of that up and maybe have a different back button? I'm not sure...

[2016-10-12 12:51] jterps08 commented on #333
Needs to work for all content.

[2016-10-12 12:52] jterps08 commented on #325
It may have been created by JTest1 and I forgot that I was in two separate accounts. My mistake...

Is this feature added for all leader types (polls/petitions/discussions/fundraisers/crowdfunders/events)?

[2016-10-12 13:09] igaponov commented on #325
@jterps08 yes

[2016-10-12 13:13] jterps08 commented on #325
great we can close then... thanks

[2016-10-12 13:13] #325 closed, assigned to igaponov

[2016-10-13 05:44] petervojtek commented on #332
@jterps08 , I do not understand you response -- what works for you? :)

[2016-10-13 05:45] petervojtek commented on #336
ok, for the moment @jterps08  I suggest that when user clicks Reply, he will be guided to the item detail (e.g. Post detail) and not to the discussion branch detail, ok?

[2016-10-13 06:39] petervojtek opened #337 "create/edit/delete the sections from group management screen"
from #309:

[2016-10-13 06:41] petervojtek opened #338 "Create Leader Content -- Ability to Add Attachments"
from #309.

attachment types:
- image
- video
- text

[2016-10-13 06:41] petervojtek opened #339 "Create Leader Content -- unify form title"
from #309, related to #311.

New Post
New Petition
New Group Poll
New Group Discussion
New Group Petition
New Group Event
New Group Fundraiser
New Group Crowdfunder
New Group Announcement

[2016-10-13 06:42] petervojtek commented on #309
I split this issue to smaller ones and close this one

[2016-10-13 06:42] #309 closed, assigned to jterps08

[2016-10-13 07:03] petervojtek commented on #291
fixed

[2016-10-13 07:03] #291 closed, assigned to petervojtek

[2016-10-13 07:04] petervojtek commented on #285
fixed

[2016-10-13 07:04] #285 closed, assigned to petervojtek

[2016-10-13 07:15] petervojtek commented on #333
@igaponov,  as Peter10 in group San Diego I add following comment to crowdfunding-payment-request 355:

[code]

And Peter30 who is member of San Diego group has not received the push notification that was mentioned.

When as Peter10 I add this comment to user-petition 264 which is in group SanDiego, Peter30 will receive the mentioned push notification:

[code]

[2016-10-13 07:59] petervojtek opened #340 "Activity newsfeed - after more items are loaded on bottom, position is reset (to top)"
there are e.g. 20 items in activity newsfeed.
I scroll to bottom, and next 20 items (older) are being loaded.
when loading is finished, there are 40 items, but the screen position does not remains on item 20, but will jump to top to item 1.

[2016-10-13 08:56] petervojtek opened #341 "Unable to edit Post body with #hashtags"
[code]

[2016-10-13 09:24] petervojtek commented on #215
ok, it is working now, at least from following places:
- when you click #hashtag in activity newsfeed
- when you click #hashtag in item detail (leader content and user petition and post)

but the code is an epic mess:
- the html template is completely different than the activity newsfeed html
- I do not understand why but in code there are two different approaches how to handle the #hashtag click.

[2016-10-13 09:24] #215 closed, assigned to jterps08

[2016-10-13 11:01] petervojtek commented on #318
ok, it is there. when you register via facebook you are brought to this screen:

<img width="508" alt="screen shot 2016-10-13 at 12 58 52" src="https://cloud.githubusercontent.com/assets/225506/19346708/191402da-9145-11e6-85e3-f899690268d1.png">

Also the register via email form has been changed according to this:

[2016-10-13 11:01] #318 closed, assigned to jterps08

[2016-10-13 11:40] jterps08 commented on #341
good find!

[2016-10-13 11:42] jterps08 commented on #332
"Therefore, I I see following solution both for Android and iOS:

when Post is boosted and push notification is being delivered to author, the notification type (category) will be e.g. own-post-is-boosted and own-user-petition-is-boosted.

when Post is boosted and notification is being delivered to non-author the behaviour remains as is.
Currently when Post is boosted, push notification type (cate

[2016-10-13 11:42] jterps08 commented on #336
that's fine

[2016-10-13 14:42] igaponov commented on #333
@petervojtek ok, now I see. You use deprecated v1 endpoint for polls and v2 for posts and petitions, that's why.

[2016-10-13 23:54] jterps08 commented on #215
Okay, let's create an issue to fix the 'epic mess' that you refer to... I don't expect it to be a heavily used feature in the next few months anyway...

[2016-10-14 05:21] petervojtek opened #342 "Refactor search screen"
from #215:
- the html template is completely different than the activity newsfeed html
-  in code there are two different approaches how to handle the #hashtag click.. leader-content item details use some cached_hash_tags attribute provided by backend, while Post and UserPetition and activity newsfeed for all items (including leader content items) use another approach based on ng-click and event p

[2016-10-14 05:45] petervojtek commented on #333
@igaponov , when I try to add a comment via v2 api, I experience this:

[code]

while when I create Post the payload seem sto be the same and it works:

[code]

Actually I am still wondering what is the purpose of having three different v2 endpoints to treat comment separately for Post, UserPetiton and Polls, when comments behave exactly the same way for all entity types. I cannot not see any bene

[2016-10-14 05:56] petervojtek commented on #341
ok, works now

[2016-10-14 05:56] #341 closed, assigned to petervojtek

[2016-10-14 06:28] petervojtek commented on #336
done

[2016-10-14 06:28] #336 closed, assigned to petervojtek

[2016-10-14 07:05] #327 closed, assigned to jterps08

[2016-10-14 07:05] petervojtek commented on #327
ok, fixed for UserPetition and Post.

[2016-10-14 07:11] igaponov commented on #333
@petervojtek

[code]

Maybe you have a problem with headers again.
There is no `privacy` in this form, I'll add it soon.

Post, UserPetiton and Polls are different entities, that's why we have different endpoints. Of course I use the same logic on backend to add a comment, but need to determine which entity use to comment. And I believe you can use the same logic with different urls on frontend to

[2016-10-14 08:28] #333 closed, assigned to igaponov

[2016-10-14 08:28] petervojtek commented on #333
yes, I missed there json header. thanks.

now it works.

[2016-10-14 11:47] jterps08 commented on #342
thanks

[2016-10-14 11:48] jterps08 commented on #215
this didn't seem to work for me this morning when I tested. I assume it's because I have an older build...

[2016-10-16 09:58] igaponov commented on #332
@petervojtek now old pushes have type `xxx-is-boosted`, pushes for owner have type `own-xxx-is-boosted` and only a `View` button for android

[2016-10-17 05:10] petervojtek commented on #215
@jterps08 , please try with the latest version -- it is working for me. or please describe which specific scenario is not working for you so that I at least try to repeat exactly your steps.

[2016-10-17 06:09] petervojtek commented on #332
ok, works now.

[2016-10-17 06:09] #332 closed, assigned to jterps08

[2016-10-17 06:29] petervojtek opened #343 "Leader content creation: create discussion"
for some unknown reason discussion is called poll:news in API

[2016-10-17 06:30] petervojtek opened #344 "Leader content creation: create event"

[2016-10-17 07:02] petervojtek opened #345 "Create Leader Content: Show only groups where user can create leader content"
"Make a leader content" option in top right corner in Main screen should be visible only when following conditions are met:
- when some particual group is selected in Activity newsfeed, and the user has right to create leader content there (i.e. is leader or owner)
- or, when no group is selected in Activity newsfeed, and there exists at least one group where the user is allowed to create leader c

[2016-10-17 07:23] petervojtek commented on #343
@igaponov , when I want to create poll:news (called Discussion in gui), the API requires me to add answers to the poll, i.e. when I want to push the poll, I get:

[code]

However as far as I get it for poll:discussion it makes no sense to make this requirement, because this kind of poll is used for discussion (via comments) and users are not supposed to pick answer from pre-designed options as wit

[2016-10-17 11:50] jterps08 commented on #345
agreed with above, but want to be clear that user should be able to create leader content if user is group owner OR group manager (not only is manager). Not sure if the API distinguishes between the two, but there is a difference that was previously communicated:

group owner creates the group, can assign manager privileges to group members, can change subscription settings and payment information

[2016-10-17 11:51] jterps08 commented on #344
Can we create a solution for adding fields for timezone to this? Currently no time zone is involved in creating leader events (or crowdfunding deadlines) and it is confusing I think... The simplest solution is the one we should pursue, but I feel like this is a particularly important enhancement given that we're working on this at this point... Thoughts?

[2016-10-17 12:26] petervojtek commented on #344
@jterps08 , I suggest following approach (it is simple to implement):

the datetime picker will be in local time as is provided by browser `new Date()` which also includes information of the timezone the user is using.

Label od a datepicker will feature text like this:
"Choose deadline/event-time in local time. You are using timezone GMT+05:00".

this way user will reference the to the deadline/e

[2016-10-17 12:55] petervojtek commented on #343
thanks @igaponov , works fine now

[2016-10-17 12:55] #343 closed, assigned to jterps08

[2016-10-17 13:09] petervojtek opened #346 "Create Leader Content: create petition"
#311

[2016-10-17 14:22] petervojtek commented on #346
@jterps08 , I would like to ask how this form (create group petition) should deal with "create user petition" form.

I can think of following behaviour, please correct me if I am wrong or there is better approach:
- in main screen, in top left corner, there will be only one option -- "Create Petition"
  - or should it be named "Create Group Petition" because of #339  ?
- if user will create the pe

[2016-10-17 14:32] jterps08 commented on #344
Okay - So, just so I'm understanding this, if I create an event in the Save the Whales group in San Diego (Pacific Time, -8) for 9AM and I look at the event from New York (Eastern Time, -5), my device will tell me that the event is at 12PM noon my time.... When the native OS event calendar shows up for Android or iOS, it will be populated with the equivalent of the local time for the event. Sooo,

[2016-10-17 14:36] petervojtek commented on #344
@jterps08 , yes -- the date-time worfklow should be following:

when creating an event:
1. you select local time from date picker
2. on mobile app the local time is tranformed to UTC time
3. UTC time is sent to backend where the event time is stored

when looking at an event:
1. server sends UTC time of the event
2. in mobile app I transform it to be local time + timezone offset
3. I display local

[2016-10-17 14:56] jterps08 commented on #346
We should keep both.

The difference between the User Petition and the Group Petition is basically:
1) Group Petitions are sent to all members with a push notification and get treated as priority zone immediately. They can only be sent by group owner/managers
2) User Petitions result in push notifications only for the author's followers, not all group members. They are not treated as priority zone

[2016-10-17 15:24] jterps08 commented on #292
@igaponov - Can you make it so that group usernames are auto-created by the backend via some standardized process? For example, maybe slugify the group name and append number as needed (e.g. SaveTheWhale35).

We would want to provide group owners with the ability to update the group name later as it will be an important part of URL routing / permalinks strategy once implemented (e.g. www.powerli.n

[2016-10-17 15:25] jterps08 commented on #151
Peter - Can you provide some estimates for everything above in terms of level of effort and time? Thanks.

[2016-10-17 15:25] jterps08 commented on #344
perfect thank you

[2016-10-18 06:33] petervojtek opened #347 "leader content: before Send content show alert "You are about to send this to all X group members. Are you sure?""
from #309:

part of #311

[2016-10-18 07:17] petervojtek commented on #151
@jterps08 , as first item to optimize let's focus on following screen/use-case which is used most frequently:

the activity newsfeed and it's ability to switch between All (news) tab and group-only news tabs (group filter).

#### Optimize how newsfeed activity item is rendered and displayed

There were already made attempts in the code to speed up the activity newsfeed gui by using [bindonce](http

[2016-10-18 07:58] petervojtek commented on #346
@jterps08 , the point of my previous comment was that I though you want to avoid this (i.e. now there are two Petition items in menu):

<img width="627" alt="screen shot 2016-10-18 at 09 57 07" src="https://cloud.githubusercontent.com/assets/225506/19468906/440c6522-9519-11e6-995c-8f215716453b.png">

I am still not sure how you want to deal with it.

[2016-10-18 11:36] jterps08 commented on #151
okay - let's hold on this for now, but good to know... It's important that we reduce the overall number of steps between a user and the call to action (e.g. sign a petition, upvote a post, etc.), so I'm not sure about the first one... as far as the second one (Switching between group filters), I feel more comfortable about, but still want to wait until after the release.... Helpful information. Th

[2016-10-18 11:47] jterps08 commented on #346
I understand your concern. I am okay with two Petition-related items on the menu, but this is how they should be labeled and listed:

New Post
New Petition
New Group Poll
New Group Discussion
New Group Petition
New Group Event
New Group Fundraiser
New Group Crowdfunder
New Group Announcement

I know this isn't ideal language and I don't like that we have two listings. This is only a challenge for

[2016-10-18 11:49] jterps08 commented on #347
This is only for group leader items. Do you think we should use different language?

[2016-10-18 12:24] petervojtek commented on #346
@jterps08 , ok, the renaming of th eitems has already it's own issue and I updated it:
#339

[2016-10-18 12:25] petervojtek commented on #347
@jterps08 , I find it ok.

[2016-10-18 13:43] petervojtek commented on #339
ok, it's there -- the alert is displayed when trying to send, and leader content items in crearte menu are visually slightly separated from user-content:

<img width="846" alt="screen shot 2016-10-18 at 14 45 31" src="https://cloud.githubusercontent.com/assets/225506/19479987/80ee6578-9549-11e6-85a7-39162c76212f.png">

[2016-10-18 13:43] #339 closed, assigned to jterps08

[2016-10-18 13:46] petervojtek commented on #347
done in #339

[2016-10-18 13:46] #347 closed, assigned to petervojtek

[2016-10-18 15:16] petervojtek opened #348 "properly convert local time <-> utc when creating crowdfunding"
the same approach as in #344

[2016-10-18 15:29] petervojtek opened #349 "iPhone: leader content form validation popups display "index.html" as title"
replace with ionic popups which allow custom titles

[2016-10-18 15:30] petervojtek commented on #344
it's done.

[2016-10-18 15:30] #344 closed, assigned to jterps08

[2016-10-19 02:28] jterps08 opened #350 "group management: Manual Boosting Button (Visible to Group Leaders Only)"
For group owners/managers who are looking at any posts that are in their groups that they own/manage they will see inside the item detail screen a 'lightning' icon that, when pressed, displays a "Manually boost this item? All group members will be notified immediately. Consider adding a comment to help guide the conversation." (with Boost/Cancel options).

This will leverage the manual boosting AP

[2016-10-19 05:54] #346 closed, assigned to petervojtek

[2016-10-19 06:11] petervojtek opened #351 "After content is created user should see it"
currently when user creates item content (Post, Petition, Announcement, whatever), he is guided to activity newsfeed to the All view, but the item is not immidiatealy visible.

User should either see the created item in activity newsfeed (would require to refresh the newsfeed), or should be automatically forwarded to the item detail view (I personally prefer the later -- so that it behaves the sam

[2016-10-19 06:28] petervojtek commented on #348
done

[2016-10-19 06:28] #348 closed, assigned to jterps08

[2016-10-19 06:30] petervojtek commented on #293
this issue was fixed to some extent, when creating event and fundraiser, the datetimes are converted to UTC before submitting to server, and convert from utc to local time when getting datetimes from server. #348, #344,

[2016-10-19 06:31] #312 closed, assigned to jterps08

[2016-10-19 07:18] #274 closed, assigned to jterps08

[2016-10-19 07:18] petervojtek commented on #274
fixed

[2016-10-19 07:25] petervojtek commented on #311
all the forms are created and working. the remaining tasks related to this master-task have lower priority.

[2016-10-19 07:25] #311 closed, assigned to jterps08

[2016-10-19 07:26] petervojtek commented on #252
its done

[2016-10-19 07:26] #252 closed, assigned to petervojtek

[2016-10-19 09:00] igaponov commented on #292
@jterps08 why do you want to add a number? To make it unique?

[2016-10-19 11:25] jterps08 commented on #351
I prefer the latter as well.

How do we handle creating vs publishing leader content? Do we have a concept of saving drafts still or no? If so, how does it work?

[2016-10-19 11:25] jterps08 commented on #292
Yes - My assumption is that we will have many groups with the same name... The number is added only if needed... Thoughts?

[2016-10-19 11:26] jterps08 commented on #293
Closing for now

[2016-10-19 11:26] #293 closed, assigned to petervojtek

[2016-10-19 12:14] igaponov commented on #292
@jterps08 it make sense.

[2016-10-19 12:35] petervojtek commented on #351
@jterps08 , currently from user point of view the content is immidiately published.
however from API point of vie the create and the publish actions are two different actions.. it would be possible to create a "draft" and return to it later and finish it. also it would be possible to schedule an item to be published on some specific date -- it is all matter of gui screen which are missing to suppo

[2016-10-19 12:50] austinpapp commented on #292
URL routing would be the group name and not the group username. Again. I fail to understand the purpose of username now. It was used to login when we did not have owner/manager username tied to the group.

[2016-10-19 13:05] jterps08 commented on #351
Right, okay... We'll come back to the Draft v Publish concept later. Thanks, Peter

[2016-10-19 13:31] jterps08 commented on #292
URL Routing could not be the group name. I think the confusion is the field name/label 'username'...

For the moment, forget about using a username to login anywhere... We can change the field name from username to 'nickname' if we want. It's the field content that I'm focused on. Here's an example:

**Group 1**
Group Name (Visible to Group Members): Save the Whales of North Long Branch
Group Desc

[2016-10-19 13:48] jterps08 opened #352 "Crowdfunder Deadline: Frontend 24 hour minimum"
Peter - I haven't actually tested this, but I expect it will be an issue:

When a group leader creates a crowdfunder with deadline, we now have the UTC conversion, which is great... However, I _believe_ the backend has a rule that requires the crowdfunder to be at least 24 hours away. If so, we will need a frontend rule that ensures the deadline (date/time) is at least 24 hours beyond current date

[2016-10-19 13:48] igaponov commented on #292
@austinpapp @jterps08 lets add a column `slug` and remove username in the future.

[2016-10-19 13:50] jterps08 commented on #311
:+1: That works - can't wait to test :-)

[2016-10-19 14:22] petervojtek commented on #349
done

[2016-10-19 14:22] #349 closed, assigned to petervojtek

[2016-10-19 14:24] petervojtek commented on #352
there is no such rule enforced on backend side.

[2016-10-19 14:32] jterps08 commented on #352
Okay, thanks.

We need to figure out what we want to do here... I can imagine short-term "Help us by midnight tonight" types of fundraisers, but I also want to discourage really, really short timeframes because not all group members might see it in time. Any thoughts? I think we want something implemented on frontend to prevent entry. No need to establish formal logic on backend.

[2016-10-19 14:34] petervojtek commented on #352
@jterps08 , it is easy to add such validation to frontend.

[2016-10-19 14:44] petervojtek opened #353 "missing "I don't want to donate. Mark as read." option when creating payment/crowdfunding"

[2016-10-19 14:45] jterps08 commented on #352
I think we want to pre-fill the time with current_time+1 hour. We probably want to leave the date blank to force the user to select the date (otherwise, we might have a few mis-fires since we don't have Drafts capability in UI yet).

[2016-10-19 14:48] jterps08 opened #354 "Upvoting/Downvoting a discussion should mark it as read"
Currently the user needs to open the discussion to mark it as read. If they decide to upvote/downvote from the newsfeed, that should mark it as read as well.

[2016-10-19 14:48] jterps08 commented on #354
This is something I had thought of from a couple weeks ago. Assigning to myself to retest.

[2016-10-19 15:03] #353 closed, assigned to jterps08

[2016-10-19 15:03] petervojtek commented on #353
ok, fixed

[2016-10-19 15:32] #352 closed, assigned to jterps08

[2016-10-19 15:34] petervojtek commented on #352
it's done, it works as following:
- by default deadline date is blank. user must click it at least once -- on such first click the date is filled with tomorrow date
  - this actually works properly in browser and android. in iOS the date picker will enforce there today's date.
- the hour is set to current_hour + 1
- when you try to Send and date is blank (i.e. user has not clicked the date field),

[2016-10-19 16:59] petervojtek opened #355 "group management: membership control"
#356

[2016-10-19 17:01] petervojtek opened #356 "add group management features"
- DONE: subscription plan - #357
- DONE: membership control - #355
- DONE: payment setup - #373
- DONE: group permissions - #358
- DONE: manage group users - #375
- DONE: invites - #372
- DONE: sections/subgroups - #337
- DONE: basic group settings (profile setup) - #374
- DONE: manage required fields: #384

[2016-10-19 17:26] jterps08 commented on #356
A few things to keep in mind. This doesn't exist in the web app, so you'd have no way of knowing this otherwise...
1. Only group owners (not managers) can change subscription plan or setup payments.
2. In "Manage group users", only group owners (not managers) can assign/remove 'group manager' privileges to their users.
3. The backend may or may not determine what settings you are allowed to change

[2016-10-19 17:26] jterps08 commented on #352
Perfect thanks!

[2016-10-20 05:43] petervojtek commented on #356
@jterps08 , how do you want to deal with following issue?

the gui is supposed to contains several sections as shown above which may expand/collapse.
user will click change settings in several sections and then click Save button in top right corner.

However due to the fact that several sections has been altered (e.g. membership control and group permissions), clicking that Save button will trigge

[2016-10-20 07:02] petervojtek opened #357 "group management: subscription plan"
#356

[2016-10-20 11:57] igaponov commented on #356
@jterps08

| Package | Invite By Email Limitation | Group Division Limitation | Announcement Limitation | Micropetition Limitation | Group Size Limitation | Group Join Management Available | Targeted Petition Fundraising Available | Targeted Petition Fundraising Price | Sum For Petition Invites | Petition Data Email Price |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Defa

[2016-10-20 12:22] jterps08 commented on #356
Thanks Igor and thanks Peter.

Maybe we should trigger a Save/Cancel for each section? When expanding
sections, the app checks if you made any changes in the current section and
if so whether you want to keep them or not before proceeding to next
section?

Otherwise a Save/Cancel similar to My Profile screen could be leveraged for
each section but we'd want a visual alert that signals the user to

[2016-10-21 06:14] petervojtek commented on #357
@igaponov , I am trying to find out how can I determine which subscription plan is assigned to a group (Free/Silver/Gold/Platinum/Commercial).

I tried to use `GET /api/v2/groups/{group}/subscription`, but e.g. for group Peter10Group10 the response is following:

[code]

I am not sure if I use proper endpoint at all, and if yes, I am not sure how can I resolve the subscription plan from the data p

[2016-10-21 06:25] petervojtek commented on #357
@jterps08, what should happen when user clicks "Cancel subscription" in subscription plan settings?

I only guess following behaviour would make sense:
- when group is using Free plan, there should be option to "cancel subscription"
- for other plans when "cancel subscription" is clicked and confirmed, the group subscription plan is set to Free plan.

fyi, I had to orient the design of the list of

[2016-10-21 06:44] petervojtek commented on #355
@igaponov , as Peter10 I created group 332, and now I want to change its membership control.
However I am not allowed to do that:

[code]

[2016-10-21 07:23] petervojtek opened #358 "group management: group permissions"
#356

[2016-10-21 08:12] petervojtek commented on #358
ok, done. it looks like this:

<img width="341" alt="screen shot 2016-10-21 at 10 12 57" src="https://cloud.githubusercontent.com/assets/225506/19591366/f7ab8504-9776-11e6-93e1-45d5eca74bde.png">

[2016-10-21 08:12] #358 closed, assigned to jterps08

[2016-10-21 14:48] jterps08 commented on #358
beautiful thanks

[2016-10-21 14:49] jterps08 commented on #355
Group 332 needs to be Silver or above in order to change membership control... that's probably the problem.

[2016-10-21 14:51] jterps08 commented on #357
Peter - Good improvisation for subscription design, vertical works.

If Silver/Gold/Platinum cancels a subscription, the group returns to Free subscription. You cannot cancel a free subscription. We do not yet off the ability to disable/remove a group.

Please do not offer Corporate. We're a long way off from LDAP integration and behind-the-firewall hosting... right? :-P

[2016-10-21 21:17] jterps08 opened #359 "Notification Action Buttons on Android"
- Sign button on Android notification doesn't sign petition and open item detail screen. Please confirm iOS for Petition too
- RSVP button on Android notification doesn't open item detail screen for Event. Please confirm iOS for Event too
- Respond button on Android notification doesn't open item detial screen for Poll. Please confirm on iOS for Poll too
- Share button on Android notification does

[2016-10-21 21:19] jterps08 opened #360 "Android: Small Image in Notifications"
Every notification should arrive with large image and small image. Currently, large image behavior is working correctly. Small icon is not working correctly.

Small icon should display the Powerline logo 'p' instead it is white. Please see screenshot below (TBD)

[2016-10-21 21:19] jterps08 opened #361 "Hashtag Searching"
Hashtag searching doesn't seem to work when hashtag hyperlink is tapped or through Search item on Menu... Seems to work for users only, not leader items or user content. See screenshot below (TBD)

[2016-10-21 21:20] jterps08 opened #362 "Anonymous Commenting Does not work."
Making anonymous comment does not work - user's full name is shown. Either through making comment during Answer Choice Confirmation Dialog OR when making comment directly from Item Detail screen. See screenshot below (TBD)

[2016-10-21 21:20] jterps08 opened #363 "Announcements screen missing Group Avatar and Group Name information"
Announcements screen missing Group Avatar and Group Name information. Please see screenshot below (TBD)

[2016-10-21 21:21] jterps08 opened #364 "Following Tab in Social Activity Feed Not Behaving As Expected"
Following Tab not showing activity as expected -- I am following Peter10 and I do not see anything in my following tab. Please see screenshot below. (TBD).

[2016-10-21 21:22] jterps08 opened #365 "Deleting Post/Petition Font Color Hard to Read"
Please see screenshot below. Delete confirmation dialog box is hard to read. (TBD)

[2016-10-21 21:23] jterps08 opened #366 "Pending Followers/Followed Users Included on My Influences"
Currently pending followers/followed users are only displayed via Social Activity Feed. Need to include in My Influences for consistency. Social Influences>Followers & Followings Tab should show pending users and icons

[2016-10-22 01:39] jterps08 commented on #360
![screenshot_2016-10-14-07-27-17](https://cloud.githubusercontent.com/assets/7582457/19615993/df15380e-97d6-11e6-8a1c-a2db16e90960.png)

[2016-10-22 01:40] jterps08 commented on #361
![screenshot_2016-10-14-07-28-33](https://cloud.githubusercontent.com/assets/7582457/19615995/ed2cdc8a-97d6-11e6-9f8e-f24a7978ead9.png)

[2016-10-22 01:40] jterps08 commented on #362
![screenshot_2016-10-21-11-07-19](https://cloud.githubusercontent.com/assets/7582457/19615998/fb048c04-97d6-11e6-9950-d9be11402a36.png)

[2016-10-22 01:41] jterps08 commented on #363
![screenshot_2016-10-21-11-08-42](https://cloud.githubusercontent.com/assets/7582457/19616003/1b76acce-97d7-11e6-8930-8ca3486ac414.png)

[2016-10-22 01:41] jterps08 commented on #364
![screenshot_2016-10-21-11-10-01](https://cloud.githubusercontent.com/assets/7582457/19616004/22f778e8-97d7-11e6-8005-14cb14107c5d.png)

[2016-10-22 01:41] jterps08 commented on #365
![screenshot_2016-10-21-11-11-56](https://cloud.githubusercontent.com/assets/7582457/19616005/2998cdd2-97d7-11e6-9983-4ff9f76b2d8e.png)

[2016-10-22 16:22] igaponov opened #367 "Change request data for `PUT /api/v2/user/groups/{id}` endpoint"
relevant when user is joining a group which requires fields to fill in.

check ApiDoc:
![image](https://cloud.githubusercontent.com/assets/4271889/19620778/269e2cda-98ae-11e6-82ff-6e7f20d2e820.png)

Backend changes will be merged after

[2016-10-22 16:38] igaponov commented on #345
added `user_role` attribute (owner|manager|member)

[2016-10-22 16:38] igaponov commented on #357
@petervojtek fixed

[2016-10-22 16:39] igaponov commented on #292
@jterps08 column `slug` is added

[2016-10-22 16:49] jterps08 commented on #292
@igaponov does the backend auto-fill this column when a new group is registered? If so, I think we are finally good to remove 'username' field from the new group creation form on the mobile app @petervojtek

[2016-10-22 17:01] igaponov commented on #292
@jterps08 yes, it does. Fills with "official-name-12345...". Should I remove group's username on backend?

[2016-10-22 17:03] jterps08 commented on #292
Great thanks, Igor. Yes, I think we should remove the group's username. It's no longer used anywhere else. Just make it a separate commit so that we can easily reverse it if it breaks something...

[2016-10-23 22:36] jterps08 opened #368 "Unable to create new user post/petition"
I think we need to restore the "posts remaining" counter. I don't know if I'm getting an error because I ran out of posts for the month in NJ or USA (I don't think so)... Screenshots below shown when creating new post in NJ group or USA group

[2016-10-23 23:01] jterps08 commented on #368
![screenshot_2016-10-23-18-35-35](https://cloud.githubusercontent.com/assets/7582457/19630194/0ea33bf2-9953-11e6-91b9-31309f19a610.png)
![screenshot_2016-10-23-18-34-42](https://cloud.githubusercontent.com/assets/7582457/19630193/0e9ffd98-9953-11e6-8fc4-1c7a33274f1d.png)

[2016-10-23 23:37] jterps08 opened #369 "Opening posts seems to be malfunctioning"
When trying to open one of the posts I just created (in issue #368 ), details are not loading

![screenshot_2016-10-23-19-28-31](https://cloud.githubusercontent.com/assets/7582457/19630406/18cf66f0-9958-11e6-9166-9319b7e70366.png)

[2016-10-23 23:38] jterps08 commented on #368
More information: The post does actually create. It's listed twice in USA group and once in NJ group.

![screenshot_2016-10-23-19-29-30](https://cloud.githubusercontent.com/assets/7582457/19630420/44b77a3c-9958-11e6-8742-94f3dc2883d0.png)

[2016-10-24 06:07] petervojtek commented on #355
@igaponov , isn't it be possible to include such information directly into the `message` response?
Thanks to it I as developer will know what is the errorr reason, and also I could directly display the `message` content to user without the necessity to add additional business to logic frontend.

[2016-10-24 06:23] petervojtek opened #370 "push notificaiton -> announcement -> Share -> announcements screen is not refreshed yet"
when user clicks Share in push notification, he is properly guided to Announcements screen, but the annoucement is not yet visible there (user must drag the screen to refresh it to see the last announcement).

[2016-10-24 06:29] petervojtek opened #371 "The user who changed group permissions should be not displayed popup "group permissions have changed"."
the popup "group permissions have changed" is displayed to every group member and user must confirm the permission changes to stay in the group.
the user who made the changes in Manage group screen is also displayed the popup, which is unnecessary.

[2016-10-24 06:36] petervojtek commented on #359
@jterps08 , I tested all the 5 items above both on Android and iPhone and they work for me.

Were you using this release?
powerline-dev-2016-10-19-commit-541b3.apk

[2016-10-24 07:13] petervojtek commented on #345
@igaponov , and where should I find the `user_role` ? I does not seem to be here:

[code]

[2016-10-24 07:23] petervojtek commented on #370
fixed

[2016-10-24 07:23] #370 closed, assigned to jterps08

[2016-10-24 07:24] petervojtek opened #372 "group management - send invites"
#356

[2016-10-24 07:39] petervojtek commented on #372
@jterps08 , the invites design screen is expecting email to be entered, however current [API](https://api-dev.powerli.ne/api-doc#post--api-groups-invites-{status}-{group}) requires to enter user IDs.

<img width="678" alt="screen shot 2016-10-24 at 09 35 59" src="https://cloud.githubusercontent.com/assets/225506/19637075/6582c0e4-99cd-11e6-9707-4aedefd081bb.png">

It makes more sense to me to fill

[2016-10-24 07:58] petervojtek commented on #357
@igaponov , the `GET groups/{id}/subscription` works for user groups, but when I try it for San Diego group, I experience following error:

[code]

[2016-10-24 08:58] petervojtek commented on #357
@igaponov , when I try to change subscription plan from Free to Gold, I experience this:

[code]

[2016-10-24 09:14] petervojtek opened #373 "group management: payment setup"
#356

[2016-10-24 12:16] petervojtek commented on #373
@igaponov , which API endpoints should I use to CRUD credit card with a group ?

I am aware of this endpoint: https://api-dev.powerli.ne/api-doc#post--api-v2-cards
but I guess that one is meant for card-person relationship and not card-group relationship.

[2016-10-24 12:20] petervojtek opened #374 "group management: basic group settings"
#356

[2016-10-24 12:23] jterps08 commented on #359
I will try again. Perhaps I installed the wrong release. I already deleted the APK from my downloads folder on my device for space so I don't know which one I have installed

[2016-10-24 12:24] jterps08 commented on #372
Agreed - this used to be emails on FrontEndBundle for the backend.... it should be e-mails still.

[2016-10-24 12:24] petervojtek commented on #374
@igaponov , how can I update existing group settings (e.g. group Name, acronym, group type) ?

I am using `POST /api/v2/user/groups`  to create a group, however `PUT /api/v2/user/groups/{id}` does not seems to be meant to update group data but rather to `Join a group`
https://api-dev.powerli.ne/api-doc#put--api-v2-user-groups-{id}

[2016-10-24 12:27] petervojtek opened #375 "group management: manage users"
#356

[2016-10-24 12:27] jterps08 commented on #373
My assumption is that you should be using the Stripe API directly. Our API/server should not be handling any payment information. We must use the remotely-hosted version of the Stripe.js library for processing. https://stripe.com/docs/custom-form for more information.

[2016-10-24 12:30] jterps08 commented on #375
Group might be Open, Manual Approval, or Passcode... If Manual Approval, this screen must be able to Approve/Reject pending users. It should also provide owner/managers with the ability to remove any user. It should also provide the owner (not managers) with the ability to giver any user(s) manager rights.

[2016-10-24 12:50] petervojtek commented on #372
@igaponov , please can you create such an endpoint which will allows to submit in a bulk list of email addresses of users I want to invite into a group?

[2016-10-24 12:52] petervojtek commented on #373
@jterps08 , yes, I communicate with stripe API to submit them the card details, but then I receive a token from stripe (after successful card registration) and this token is then stored on powerline backend. otherwise the powerline backend will lack the relationship between CC and user/group.

[2016-10-24 13:28] petervojtek commented on #369
@igor, we have this problem when getting Post details:

[code]

[2016-10-24 13:28] petervojtek commented on #368
@igaponov, creating Post fails with:

[code]

[2016-10-24 13:37] petervojtek commented on #364
@jterps08 , can you please refer which particual sequence of actions by Peter10 has not led to new entry in Following tab (and should have led to)?

E.g. this is what I experience:
1. as Peter30 I do follow Peter10.
2. as Peter30 I created an user petition
3. Peter10 signed the petition
4. as Peter30 I see this:

<img width="820" alt="screen shot 2016-10-24 at 15 37 00" src="https://cloud.githubus

[2016-10-24 13:41] petervojtek commented on #367
will be relevant once we will be able to add question fields in group management

[2016-10-24 14:27] jterps08 commented on #364
I'm logged in as 1.JesseChen. I am in the same groups as Peter10. Peter10 creates a post or Petition, I should see social activity. Peter10 comments on any items, I should see social activity. Peter10 answers a poll, I should see social activity....

Instead my social feed isn't showing any activity by Peter10 in the last month as seen in my screenshot. I would assume that Peter10 has created cont

[2016-10-24 15:12] jterps08 commented on #372
Previously, we limited the number of e-mail addresses that a user can invite at one time to 10 unless they were Silver or higher, I think, in which case it was 100+ at a time I think (will need to investigate in the code to be sure)...

We certainly want to support inviting users by e-mail as part of this feature... Ideally, we want to limit the number of e-mails that a user can invite at one time

[2016-10-24 15:13] jterps08 commented on #373
Got it - just wanted to confirm. This is one of the more sensitive areas of the application that we need to be careful with. All customer data must be protected behind Stripe's secure system...

[2016-10-24 15:40] petervojtek commented on #364
ok, so @igaponov , I have following situation:
1. Peter30 is following Peter10 and both are members of group 295
2. Peter10 created a Post 375 in group 295.
3. There does not seem to be generated a social activity item for Peter30 telling him that "Peter10 created a Post".

this is how the social feed looks like for Peter30:

[code]

[2016-10-24 16:31] jterps08 commented on #355
"You must have a Silver subscription or above to change membership controls. Upgrade today!"

Is this what you're looking for, @igaponov ?

[2016-10-24 16:41] igaponov commented on #355
@jterps08 yes, thanks

[2016-10-24 17:07] igaponov commented on #357
@petervojtek you need to add a bank account for this group first

[2016-10-24 17:10] igaponov commented on #374
@petervojtek try `PUT /api/v2/groups/{id}`, check api doc for more information please.

[2016-10-24 17:15] igaponov commented on #372
@petervojtek `PUT /api/v2/groups/{id}/users`
There is a mistake in docs, must be "Invite users from a list to join a group"

[2016-10-24 17:18] igaponov commented on #373
@petervojtek https://api-dev.powerli.ne/api-doc#get--api-v2-groups-{group}-bank-accounts

[2016-10-25 01:54] jterps08 commented on #357
Scroll down for test CC numbers, accounts, and routing numbers... https://stripe.com/docs/testing

Group must have a CC number or bank account for subscription, preferable CC.
Group must have a bank account for fundraisers/crowdfunders.

[2016-10-25 02:11] jterps08 opened #376 "Unable to "Select a community" for New Leader Content"
On Android, all leader content items -- unable to select a community destination.

[2016-10-25 02:12] jterps08 opened #377 "New Content Menu Font Size"
Please increase the font size by 25% for all menu items on the New Content Menu (new post, new poll, etc.)

[2016-10-25 02:20] jterps08 opened #378 "New Event - Pre-fill RSVP Options"
It would be great if the first two RSVP answer options were pre-filled with:
"Yes, I can make it"
"No, I can't make it"

But still editable by the user.

[2016-10-25 02:37] jterps08 opened #379 "New Fundraiser Creation UI Changes"
1. Change "Is Crowdfunding" label to "Make this a crowdfunder?"
2. When user turns on crowdfunding, alert pops up "If you reach or exceed your goal amount by the deadline, all of your supporters will be charged. If you do not reach that goal by the deadline, your supporters will not be charged."
3. Change "Custom Amount Answer" label to "Allow Choose Your Own Amount?"
4. Is it possible to remove t

[2016-10-25 05:12] petervojtek commented on #369
I confirm it works now

[2016-10-25 05:12] #369 closed, assigned to jterps08

[2016-10-25 05:20] petervojtek commented on #368
now i am  blocked due to

[code]

[2016-10-25 05:31] petervojtek commented on #355
ok, done.

to properly test if this feature works I need to #357 to be done.

[2016-10-25 05:31] #355 closed, assigned to petervojtek

[2016-10-25 05:39] petervojtek commented on #376
this is due to

[code]

[2016-10-25 05:46] petervojtek commented on #361
@jterps08 , i cannot reproduce this bug, I can see the search work properly:

<img width="338" alt="screen shot 2016-10-25 at 07 46 04" src="https://cloud.githubusercontent.com/assets/225506/19674259/2702a8ce-9a87-11e6-994b-5e915fda201d.png">

[2016-10-25 05:46] #361 closed, assigned to jterps08

[2016-10-25 07:35] petervojtek commented on #373
@igaponov , when I try to add card to group, I experience this error:

[code]

I fill in the request `currency:usd`, so I am not sure what is the error message trying to say me..

[2016-10-25 07:53] petervojtek commented on #372
done.

[2016-10-25 07:53] #372 closed, assigned to petervojtek

[2016-10-25 07:55] petervojtek commented on #362
blocked by #376

[2016-10-25 08:45] petervojtek commented on #374
@igaponov , i don't fully understand the fields being used in group CRUD methods.

For example, this is how I gather group details:

[code]

there is a field named `official_title`.
However when using [`PUT /api/v2/groups/{id}`](https://api-dev.powerli.ne/api-doc#put--api-v2-groups-{id}), there is no  `official_title` field. On the other hand in the PUT endpoint description is some `official_name`

[2016-10-25 09:36] petervojtek commented on #375
@igaponov , which api endpoint am I supposed to use to remove user from group?

There is this endpoint [POST `/api/members/{id}/remove`](https://api-dev.powerli.ne/api-doc#post--api-members-{id}-remove), but it is not clear to me why it is POST and how to submit there both group ID and user ID.

Next, I am not sure how can I obtain member status info in a bulk, i.e. for each member of the group I

[2016-10-25 13:36] jterps08 commented on #368
I keep seeing this "No Access Control Allow" message/error. Why does this keep happening @igaponov @austinpapp @petervojtek ?

[2016-10-25 14:44] igaponov commented on #368
@jterps08 https://github.com/PowerlineApp/powerline-server/issues/278 can't do anything with it

[2016-10-25 14:55] igaponov commented on #368
@petervojtek fixed

[2016-10-25 14:56] igaponov commented on #376
@petervojtek fixed

[2016-10-25 15:11] igaponov commented on #374
@petervojtek it was like this in the old code. I can change and before deploy you'll adapt frontend code.

[2016-10-25 16:15] igaponov commented on #373
@petervojtek I think you need to create a bank account token (has prefix `btok_`): https://stripe.com/docs/api#create_bank_account_token, not a simple token (prefix `tok_`)

[2016-10-25 17:30] petervojtek commented on #368
I confirm it works now

[2016-10-25 17:30] #368 closed, assigned to petervojtek

[2016-10-25 17:30] petervojtek commented on #376
I confirm it works now

[2016-10-25 17:30] #376 closed, assigned to jterps08

[2016-10-25 17:31] petervojtek commented on #374
ok, I prefer to wait for @igaponov to update the GET and PUT methods to use same set of attributes.

[2016-10-25 17:38] jterps08 opened #380 "Group Manage Collapsible Drawers should be able to be minimized"
Currently, user can expand the drawer, but can't collapse the drawer.

[2016-10-26 01:14] igaponov commented on #375
@petervojtek
1. added `DELETE /api/v2/groups/{id}/users/{user}`
2. added `email`, `join_status`, `user_role`

[2016-10-26 01:19] igaponov commented on #364
@petervojtek Peter10 didn't approve Peter30's follow request

[2016-10-26 01:46] igaponov commented on #374
@petervojtek I'm ready to merge
1. group.official_title => group.official_name
2. activity.owner.official_title => activity.owner.official_name
3. `official_type` is a text field in db. You can probably get number for old records, but for new ones you should get text
4. We're going to delete group.username

[2016-10-26 02:18] jterps08 commented on #374
Let's make sure modifyinggroup.official_title doesn't screw things up...

Official type is just a way for us to categorize the type of group -- it's used in the pricing strategy... business type groups cannot be silver tier - they can only be free/gold/platinum

[2016-10-26 05:03] petervojtek commented on #374
@igaponov , feel free to change `official_title` -> `official_name`, it is easy for me to accomodate to that.

regarding `official_type` -- I am not sure if this means I would have to suppoed both integer and string to appear in GET group info.

Currently for e..g. San Diego there is `group_type`field and it is integer:

[code]

[2016-10-26 06:42] petervojtek commented on #366
fixed

[2016-10-26 06:42] #366 closed, assigned to jterps08

[2016-10-26 06:48] petervojtek commented on #364
you are right @igaponov , Peter10 has not approved Peter30. there was a bug in frontend not properly displaying this information, now i fixed in in #366.

Ok, so now I believe that Peter30 is following Peter10, at least I see this information from Peter10's point of view:

[code]

I hope that means that Peter30 is following Peter10 and status:active means the relationship is approved.

Now as Pete

[2016-10-26 07:14] petervojtek opened #381 "Unable to create new user group due to An exception occurred while executing 'SELECT slug FROM groups"
[code]

[2016-10-26 07:24] petervojtek commented on #362
@igaponov , I created an event 410 and then two users add their response to it:

Peter31 adds such reply that his username is visible `privacy:0`

[code]

and Peter21 adds  such response that he wants his name to be anonymous `privacy:1`:

[code]

And then when I fetch the comments, both comments have `"privacy":"public"`:

[code]

[2016-10-26 08:00] petervojtek commented on #345
@jterps08 , now the content creation works as following;
- in Main screen (activity newsfeed) -- when about to create new content in top right corner popup, if no group is selected (i.e. filter All), and user is manager/owner in at least one group, he is displayed there "New Group Poll/Discussion/.."
-  in Main screen (activity newsfeed) if some group filter is selected -- when about to create new

[2016-10-26 08:00] #345 closed, assigned to jterps08

[2016-10-26 08:33] petervojtek commented on #373
@jterps08 , can you please explain how the group payments should proceed?

regular users are charged directly via their credit card (no bank account info is provided).
however Igor suggests that group should provide their bank account information (along with the credit card information).

Also the design suggests that both account information and card information should be gathered for a group:

<

[2016-10-26 09:41] petervojtek commented on #373
i just realized that group can also receive money from crofdfunding so maybe that is the reason it needs a bank account..

[2016-10-26 12:00] jterps08 commented on #362
@petervojtek Regarding "Peter31 adds such reply that his username is visible privacy:0" you mean name, not username, right?

[2016-10-26 12:11] jterps08 commented on #373
@petervojtek exactly - **receiving** money into a bank account is the reason for setting up a bank account with Stripe. According to Stripe, we can send money to a group's bank account **OR** to debit card (https://stripe.com/docs/connect/bank-transfers#bank-accounts) for crowdfunders/fundraisers... This is a key option for groups that fundraise/crowdfund.

For group subscriptions, we can **charge

[2016-10-26 12:11] jterps08 commented on #345
very nice

[2016-10-26 15:24] jterps08 opened #382 "Group Settings: Manual Approval"
When setting a group to "manual approval" in group management settings, the app throws an error saying that a passcode is required. This error should only be shown when "passcode" option is selected in group management settings... When "manual approval" is set, the Manage Members list will need to show approve/reject for any pending requests (listed first) and remove for any current members.

[2016-10-26 15:35] jterps08 commented on #374
(For Jesse's Reference: This is Edit Group Profile)

[2016-10-26 15:41] jterps08 opened #383 "Invite to Group for Post/Petition Authors"
If a post or petition is boosted, the author may invite supporters to a group.

If boosted, the lightning bolt symbol appears in the Item Detail screen.
Tapping the lightning bolt symbol opens up the Group Selector modal. It has a message "Invite this post's supporters to join a group. This can only be done once."
User selects group.

Related to https://github.com/PowerlineApp/powerline-server/pul

[2016-10-26 15:44] igaponov commented on #374
@petervojtek `official_type` and `group_type` are different fields. Official type is a string. If you submit a string you will get a string. Do you want to change `group_type` to string too?

[2016-10-26 15:52] jterps08 commented on #375
@petervojtek it may make sense to combine group divisions into this tab as well - your choice... create/remove group divisions and add users to specific group divisions... else, it might make sense to define/manage the divisions elsewhere and have some sort of button here that allows users to be assigned to _multiple_ divisions...

[2016-10-26 15:52] jterps08 commented on #374
I have no idea what the difference between these two actually is

[2016-10-26 15:54] jterps08 opened #384 "group management settings: manage required fields"
Define and manage the required fields that need to be filled out to join a group. Not sure how many the backend supports, but currently production allows 5. If we can allow up to 8 (with no backend changes) that would be great.

Production reference: https://admin.powerli.ne/group/fields

Design note: In the future, we may want to allow the group manager to make this a string field or select from

[2016-10-26 16:00] igaponov commented on #364
[code]

[2016-10-26 16:08] igaponov commented on #362
![image](https://cloud.githubusercontent.com/assets/4271889/19734242/03615fe6-9bd1-11e6-923b-7e197df9c386.png)

[2016-10-26 16:14] igaponov commented on #374
@jterps08
`group_type`: common, country, state, local, special
`official_type`: Educational, Non-Profit (Not Campaign), Non-Profit (Campaign), Business, Cooperative/Union, Other

[2016-10-26 16:15] jterps08 commented on #374
Ah then we definitely need to keep each of these fields separately...
On Oct 26, 2016 12:14 PM, "Gaponov Igor" notifications@github.com wrote:

[2016-10-26 21:39] jterps08 commented on #362
Adding anonymous comments behaves weird. the names keep changing as more comments are added...

![screenshot_2016-10-26-15-27-25](https://cloud.githubusercontent.com/assets/7582457/19746170/26ceddf6-9ba3-11e6-92de-4e0d9809b271.png)

[2016-10-27 05:54] petervojtek commented on #374
@igaponov , now I see I wrongly understood the difference between group_type and official_type. I prefer to be both strings so that I can easily understand the value and thus prevent confusion later.

[2016-10-27 06:01] petervojtek commented on #364
@igaponov , as Peter30 I use this request to gather social activity for You and Following tab together and this is what I see (the 'created a petition' does not seem to be there):

[code]

[2016-10-27 06:22] petervojtek opened #385 "Options in poll are not in the same order"
it is not guaranteed that options in poll/event/.. will be displayed in the same order user created them.

[2016-10-27 06:29] petervojtek commented on #362
@jterps08 , you are right with the mismatched usernames, it was a bug in legacy code due to bo-bind, it is fixed now.

@igaponov ,

yes.

btw I still see all comment as privacy:public when I do this (but I am really confused from the decision to have a field named `privacy` with values 0 and 1. I have no idea if 0 means 'public', or vice versa)

[code]

[2016-10-27 07:48] petervojtek commented on #373
@igaponov , i'd like to ask:

I can register bank account successfully to stripe and then associate bankAccount<->group via `POST api/v2/groups/{group}/bank-accounts`.

However when I will register a payment card (for a group), as far as I get it I can use only the user-card relationship `POST /api/v2/cards`, thus e.g. a group manager will register a card via stripe and then the relationship user-

[2016-10-27 09:05] petervojtek commented on #382
yes, this was already fixed.

[2016-10-27 09:05] #382 closed, assigned to nobody

[2016-10-27 09:07] petervojtek commented on #375
@jterps08 , not sure what is the priority of group subdivisions -- as far as I get it it is not implemented on backend -- see #337

[2016-10-27 09:16] petervojtek commented on #375
regarding the UI -- I would rather use two "sections"  -- one for user management and the other one for subgroups. they should be next to each other. i.e. I prefer to follow the design, because trying to have only one table with users which will also serve for subgroups will be harder to implement and more confusing to use.

<img width="504" alt="screen shot 2016-10-27 at 11 14 22" src="https://cl

[2016-10-27 09:30] petervojtek commented on #375
@igaponov , the `GET /api/v2/groups/{id}/users/{user}` does not seem to include user.id, which prevents me from using `DELETE /api/v2/groups/{id}/users/{user}` (which seems to accept only id as `{user}`:

[code]

[2016-10-27 09:35] petervojtek commented on #375
@jterps08:
- can group owner delete himself from group?
- can manager remove owner?
- can manager remove other managers from group?

I know that:

[2016-10-27 10:21] petervojtek commented on #375
@igaponov , it seems to be there is no endpoint to change group member `user_role` (usually from `member` to `manager` and vice versa) -- or did I missed it when searching the API doc?

[2016-10-27 11:29] petervojtek commented on #384
@jterps08 , there does not seem to be a limit on number on on-join-questions (I added there at least 9 pcs so far to basic user group).

[2016-10-27 11:47] jterps08 commented on #373
I'm not sure what a00d3a1 is but we should try to pre-fill as much of the form as possible based on the user's profile or the group to help expedite data entry...

[2016-10-27 11:49] petervojtek commented on #384
ok, hopefully done. this is how it looks so far:

<img width="353" alt="screen shot 2016-10-27 at 13 48 52" src="https://cloud.githubusercontent.com/assets/225506/19766070/21269822-9c4c-11e6-91a4-5de756b1027f.png">

[2016-10-27 11:49] jterps08 commented on #375
@petervojtek Yes, a group owner should be able to leave the group. once he leaves, ownership goes to the oldest (by membership) group manager or group member... If old group owner rejoins the group, he is joined as normal member...

[2016-10-27 11:50] #384 closed, assigned to jterps08

[2016-10-27 11:50] jterps08 commented on #384
Haha I like your mockup questions. That works.

[2016-10-27 11:52] jterps08 opened #386 "Required Questionss"
1. When joining a group, activate text wrap on the displayed questions so that the user can view the entire question.
2. Replace trash-can icon and "remove" label with just the "X" button to maintain consistency.
3. Relabel to "Users are required to answer these questions in order to join the group"

[2016-10-27 13:28] jterps08 commented on #385
This is okay for now...

[2016-10-27 13:41] jterps08 commented on #258
I have not seen this issue reappear. Closing.

[2016-10-27 13:41] #258 closed, assigned to nobody

[2016-10-27 13:45] jterps08 commented on #64
@austinpapp are we done with this issue? Can we close it? #80 is blocked by this.

[2016-10-27 14:25] #177 closed, assigned to nobody

[2016-10-27 16:13] igaponov commented on #362
@petervojtek look at the docs that I've posted above, `privacy` field in request must be a string, `private` or `public`

[2016-10-27 16:15] igaponov commented on #364
@petervojtek you can't get tabs together, there is `you` tab by default. `tab` field has a mistake in response. I'll fix field, do you need a possibility to get items together?

[2016-10-27 16:19] jterps08 commented on #364
I thought we specifically wanted these tabs separately for performance purposes?

[2016-10-27 16:37] igaponov commented on #364
@jterps08 I thought we wanted it because there are two tabs on frontend, why do we need to get them together?

[2016-10-27 18:53] jterps08 commented on #364
I defer to Peter... his issue... I don't think we need them together but Peter should decide

[2016-10-28 01:33] igaponov commented on #374
deployed

[2016-10-28 05:46] petervojtek commented on #373
@jterps08, yes, I will prefill there the address fields from group profile.

[2016-10-28 06:02] petervojtek commented on #364
@igaponov , @jterps08 , I cannot find now the discussion thread we had cca 2 months ago regarging the `GET api-dev.powerli.ne/api/v2/user/social-activities?tab=following`, but if I remember it properly it went in following manner:
- Igor did some changes to `GET api-dev.powerli.ne/api/v2/user/social-activities` and introduced the `?tab=` switch requiring me to suddently make two requests instead o

[2016-10-28 06:48] petervojtek commented on #381
I confirm it works now

[2016-10-28 06:48] #381 closed, assigned to petervojtek

[2016-10-28 07:13] petervojtek commented on #362
ok. after I changed POST privacy field from int to string it works and this bug is fixed.

[2016-10-28 07:13] #362 closed, assigned to jterps08

[2016-10-28 09:39] petervojtek opened #387 "Join group -- question fields not shown to newcomer"
I experienced the issue with owner of the group (created some question fields, left the group and joined again).. first check if this is special for the owner or it behaves the way for all newcomers).

[2016-10-28 10:52] igaponov commented on #375
@petervojtek `POST /api/groups/join-group-manager/{id}` to join as a manager (you should be a member already)

[2016-10-28 12:54] jterps08 commented on #364
I can't find it either, but your description sounds accurate @petervojtek ... what is the precise action item here for Igor?

[2016-10-28 12:56] jterps08 commented on #387
Owner creates group, automatically joined to group
Owner creates required questions for joining group
Owner leaves group.
System does X with ownership privileges -- @igaponov what happens to ownership privileges currently when owner leaves group?
Old-Owner re-joins group, no longer owner.
Old-Owner should see required questions as ALL group members need to answer these questions when joining a gro

[2016-10-28 12:57] jterps08 commented on #375
Only an _owner_ can assign group manager privileges to a group member.

Group managers cannot assign group manager privileges to group members - this is a special permission limited to the grown owner/creator... Same with changing the subscription/payment information.

[2016-10-28 13:26] igaponov commented on #387
@jterps08 like you said - the oldest manager (or the oldest member if there are no managers in the group) becomes an owner

[2016-10-28 14:12] jterps08 commented on #387
Awesome - just wanted to confirm. Thank you @igaponov

[2016-10-28 15:35] igaponov commented on #375
@jterps08 with this endpoint user can join to a group as a manager, but owner should approve it (if membership control != public). But there is no endpoint to approve, so I think need to add both to v2 API.

[2016-10-28 15:41] jterps08 commented on #375
User always join group as a member.
Owner may assign any member(s) with group manager rights.

The word 'approve' is confusing me. There needs to be an endpoint to 'assign/remove' group manager privileges, not approve... The user does not request to be a group manager. The user does not join a group as a potential group manager... The group owner goes through the membership list and assigns a part

[2016-10-28 16:21] igaponov commented on #364
@petervojtek now that endpoint without tag will return all activities together

[2016-10-28 16:24] igaponov commented on #292
Group's username is removed on backend

[2016-10-28 16:51] igaponov commented on #375
@petervojtek https://api-dev.powerli.ne/api-doc#put--api-v2-groups-{id}-managers-{user}

[2016-10-29 06:14] petervojtek opened #388 "Unable to create new group due to Error 500: Integrity constraint violation"
[code]

[2016-10-29 06:15] petervojtek commented on #292
ok, username is gone in frontend as well

[2016-10-29 06:15] #292 closed, assigned to jterps08

[2016-10-29 16:45] jterps08 commented on #388
@igaponov can you clarify why this is a frontend issue?

[2016-10-29 16:46] igaponov commented on #388
@jterps08 it's backend issue and it's fixed now

[2016-10-29 16:49] jterps08 commented on #338
@igaponov please confirm backend can support attachments (aka 'educational context')

[2016-10-29 16:49] jterps08 commented on #337
@igaponov please clarify if group divisions are exposed via API

[2016-10-29 16:51] jterps08 commented on #350
@igaponov can you confirm the API endpoint is exposed for manual boosting (by group owner/manager) of a user post/petition in a group?

[2016-10-29 19:06] jterps08 opened #389 "Unable to send any leader content"
Application hangs when an authorized group owner/manager tries to create leadership content. Content is never created.
![screenshot_2016-10-28-17-50-57](https://cloud.githubusercontent.com/assets/7582457/19832115/513d6bc8-9de9-11e6-875d-3b6975dd7756.png)

![screenshot_2016-10-29-14-13-09](https://cloud.githubusercontent.com/assets/7582457/19832110/2d5bb6ce-9de9-11e6-8473-fa5f943ac938.png)

[2016-10-29 19:08] jterps08 opened #390 "Unable to upgrade subscription"
Should also ask for discount code to accept Stripe discount code as part of subscription submission process.

![screenshot_2016-10-29-14-06-14](https://cloud.githubusercontent.com/assets/7582457/19832121/7ccd9a88-9de9-11e6-8220-86ef904268ce.png)

[2016-10-29 19:08] jterps08 opened #391 "Follow All Group Members & Follow Individual Group Member Icons Have Disappeared"
![screenshot_2016-10-28-18-03-33](https://cloud.githubusercontent.com/assets/7582457/19832125/91e5f80c-9de9-11e6-8a35-4a49ba1d8473.png)

[2016-10-29 19:13] jterps08 opened #392 "Relabel "Payment Setup""
Relabel section title to "Fundraiser Setup"
Instructions in tab should say "In order to send fundraisers to your group, you must provide a bank account first."

Bank Account modal must ask for routing and account number twice to confirm correct information.
Bank Account modal SSN field can say "Last 4 digits of SSN/EIN"

![screenshot_2016-10-29-14-06-24](https://cloud.githubusercontent.com/assets/

[2016-10-30 05:50] igaponov commented on #350
@jterps08
https://api-dev.powerli.ne/api-doc#patch--api-v2-micro-petitions-{id}
https://api-dev.powerli.ne/api-doc#patch--api-v2-posts-{id}

[2016-10-30 06:18] igaponov commented on #338
https://api-dev.powerli.ne/api-doc#get--api-v2-polls-{poll}-educational-contexts
https://api-dev.powerli.ne/api-doc#post--api-v2-polls-{poll}-educational-contexts
https://api-dev.powerli.ne/api-doc#delete--api-v2-educational-contexts-{id}

[2016-10-30 14:28] jterps08 commented on #354
This is only for upvoting/downvoting a news/discussion type item @igaponov - please confirm that was what #377 was.

[2016-10-30 15:05] igaponov commented on #354
@jterps08 I think it doesn't matter which type of poll will be marked as read because if you vote on any poll it'll not appear in prioritized zone. Or do you need this mark for another purpose?

P.S. we still use confusing terms for polls. There are no discussions on backend, only news. It's better to call it the same name every time.

[2016-10-30 16:05] jterps08 commented on #354
Understood... It's called news on backend and discussion on frontend...

I will need to defer to @petervojtek -- everything was working fine before you merged https://github.com/PowerlineApp/powerline-server/pull/377... I just want to make sure when a user upvotes/downvotes a discussion/news item on the frontend that we mark the item as read...

You may need to undo PR 377...

[2016-10-30 16:12] jterps08 opened #393 "Required Information Fields - Limited to Silver and Above"
The group owner/managers should only be able to setup Required Information fields for Silver and above subscription packages.

[2016-10-30 16:13] jterps08 opened #394 "Group Permissions should default to Name/Country/Responses"
Permissions should default to Name, Country, Responses when new group is setup.

Currently, default is no permissions.

[2016-10-30 16:15] jterps08 opened #395 "Manage Group Members needs only to indicate name and role"
Manage Group Members needs only to indicate name and role. Currently shows username and e-mail addresses as well which are not necessary.

Also, from a UI perspective, we can simplify buttons to icons X (remove), checkmark (approve), and some other manager toggle icon (manager/non-manager - default non-manager).

[2016-10-30 16:16] jterps08 opened #396 "New Fundraiser UI Flow"
New fundraiser should allow user to select group and then, if bank account not setup for that specific group, display alert that the group must have bank account set up first in order to send a fundraiser. Button should be "Setup Bank Account Now" which leads directly to the appropriate screen.

[2016-10-31 06:18] petervojtek commented on #364
ok, I confirm that now when Peter10 created User petiiton, Peter30 can see in Social feed: Following notification that "Peter10 created a petition in group .."

[2016-10-31 06:18] #364 closed, assigned to igaponov

[2016-10-31 06:23] petervojtek opened #397 "Create group: Show alert when group official_name is alredy used"
currently no error/warning is displayed to user, only error response is logged to js console.

[code]

[2016-10-31 06:24] petervojtek commented on #388
I confirm it works now.

[2016-10-31 06:24] #388 closed, assigned to petervojtek

[2016-10-31 06:41] petervojtek commented on #389
my apologies, that was  my stupid mistake in code. fixed.

[2016-10-31 06:41] #389 closed, assigned to jterps08

[2016-10-31 06:53] petervojtek commented on #354
not sure what is my task here @jterps08 , but currently I see following behaviour:
when Discussion (News) is upvoted from activity newsfeed, the item is still considered as in priority zone by backend:

[code]

[2016-10-31 06:58] petervojtek commented on #390
@jterps08  this bug is duplicate of #357 -- and it is not working because I am waiting for @igaponov to answer this: https://github.com/PowerlineApp/powerline-mobile/issues/373#issuecomment-256571284

[2016-10-31 06:58] #390 closed, assigned to nobody

[2016-10-31 06:58] petervojtek commented on #357
blocked by #373

[2016-10-31 07:20] petervojtek commented on #391
@igaponov , it seems that `GET /api/v2/groups/{id}/users` suddenly does not provide user IDs (integer) in response:

[code]

[2016-10-31 07:30] petervojtek commented on #363
@igaponov , there seems to be missing group information in announcements:

[code]

[2016-10-31 11:10] igaponov commented on #373
@petervojtek if I understand right, stripe uses two terms, cards and account. Cash is moving from cards to accounts. So our users have cards to make payments to groups with accounts. Why do you need to add a card for a group?

[2016-10-31 12:11] igaponov commented on #354
@petervojtek news with id=415 are unanswered:

[code]

[2016-10-31 12:18] igaponov commented on #233
@jterps08 can you add a social activity with type ~ "post_mentioned" to your table? After that I can proceed with this issue.

[2016-10-31 12:21] igaponov commented on #337
"Group divisions" are called "Group sections" on backend, so please check `.../group-sections` and `.../groups/{id}/sections` endpoints in API docs for more information.

[2016-10-31 13:08] jterps08 commented on #233
added to table

[2016-10-31 13:10] jterps08 commented on #373
@igaponov - for a group to pay for a subscription, they'll provide a CC... for a group to collect funds from a fundraiser, they'll provide a bank account. For a user to donate to a fundraiser, they'll provide a CC.

[2016-10-31 13:17] jterps08 commented on #337
That works... thanks @igaponov

[2016-10-31 13:19] jterps08 commented on #354
@petervojtek - I'm not sure what Igor did in PR 377, but I'm not sure we actually needed PR 377 (Igor, I think you might want to roll that PR back)...

Re: "not sure what is my task here @jterps08 , but currently I see following behaviour:
when Discussion (News) is upvoted from activity newsfeed, the item is still considered as in priority zone by backend:" --> This is what I'm trying to achieve:

[2016-10-31 13:33] #359 closed, assigned to jterps08

[2016-10-31 13:40] #310 closed, assigned to jterps08

[2016-10-31 13:56] petervojtek commented on #354
@igaponov , in the payload of the activity related to the News/Discussion 415 is following attribute:
`"rate_up":2`

which refers to the fact the Peter30 and Peter10 upvoted the item via `POST https://api-dev.powerli.ne/api/poll/comments/rate/795/up`.
 not sure if some other api call should be used to denote that the item has been `answered`.

[2016-10-31 14:10] petervojtek commented on #391
@igaponov , it seems to me the follow all group members `PUT /api/v2/user/group-followers/{id}`is not being properly processed.

Example:
- as Peter30 I click Follow All in group 295.
- Group 295 has 10 members and one of them is Austin (user id 50).
- I expect Austin should now appear in followings in pending approval state.
- but I cannot see Austin in `GET /api/v2/user/followings` at all:

[cod

[2016-10-31 14:20] petervojtek commented on #363
fixed. now looks like this:

<img width="820" alt="screen shot 2016-10-31 at 15 20 12" src="https://cloud.githubusercontent.com/assets/225506/19857347/a23abb4e-9f7d-11e6-8cb5-7d0462094a8a.png">

[2016-10-31 14:20] #363 closed, assigned to jterps08

[2016-10-31 14:27] jterps08 commented on #391
I received your follow request as part of that Follow All. Tapping "Approve" button still did not actually approve the follow request. I will re-open #359 and re-test in next build

[2016-10-31 14:42] #397 closed, assigned to petervojtek

[2016-10-31 14:53] igaponov commented on #354
@petervojtek attribute `rate_up` refers to the fact that comments of that poll were rated up via `POST https://api-dev.powerli.ne/api/poll/comments/rate/795/up`

If item is answered by user you'll see `answers` attribute.

[2016-10-31 14:57] jterps08 commented on #354
@igaponov I'm concerned that PR 377 changed the priority zone algorithm in a way that I did not want. Things were working fine before 377. I just wanted a rate-up/down event to result in the item being marked as read.... I believe it might be prudent to roll back 377...

[2016-10-31 16:21] igaponov commented on #354
@jterps08 #377 doesn't change priority zone algorithm, it just marks poll's activity as read if user votes.

[2016-10-31 16:56] igaponov commented on #391
@petervojtek fixed, you need to repeat your request to `PUT /api/v2/user/group-followers/{id}`.

[2016-10-31 16:58] jterps08 commented on #354
Okay cool... @petervojtek can you verify? This sounds good to me.

[2016-10-31 17:20] jterps08 opened #398 "New Menu Shortcut: Create New Group"
Add an icon to the menu to jump directly to group creation screen.

[2016-10-31 17:24] jterps08 opened #399 "UI: New Poll Creation"
The Group Selector Overlay should cover the entire screen so that the user cannot tap anything 'behind' the group selector.

![screenshot_2016-10-31-11-25-41](https://cloud.githubusercontent.com/assets/7582457/20007181/7e539268-a271-11e6-99fe-0c8a04636af0.png)

[2016-11-01 01:59] igaponov commented on #367
@petervojtek https://api-dev.powerli.ne/api-doc#post--api-v2-groups-{group}-fields

[2016-11-01 03:38] igaponov commented on #373
@petervojtek check docs for `.../groups/{id}/cards`

[2016-11-01 07:17] petervojtek commented on #391
I confirm it works now

[2016-11-01 07:17] #391 closed, assigned to petervojtek

[2016-11-01 07:28] petervojtek commented on #354
I am not sure how should I proceed here.

currently the Discussion is using following legacy workflow:
when discussion activity item is displayed, there are two buttons (rate up and rate down) available. clicking those buttons triggers `POST https://api-dev.powerli.ne/api/poll/comments/rate/up or down`, which technically rates the Discussion via ratings its root comment (=the discussion itself).

[2016-11-01 07:41] petervojtek commented on #367
ok, adopted.

[2016-11-01 07:41] #367 closed, assigned to petervojtek, igaponov

[2016-11-01 07:41] petervojtek commented on #387
ok, fixed.

[2016-11-01 07:41] #387 closed, assigned to jterps08

[2016-11-01 08:21] petervojtek opened #400 "group management: unable to delete bank account"
there is no API endpoint for that.

[2016-11-01 08:35] petervojtek commented on #373
ok, now it is possible to add card to group.

[2016-11-01 08:37] petervojtek commented on #357
@igaponov , I am unable to change group subscription plan due to:

[code]

[2016-11-01 09:14] igaponov commented on #367
Merged and deployed

[2016-11-01 10:05] igaponov commented on #354
Ok, now I've got it. There is a problem with terms again. When you want to upvote/downvote a poll, you use "answer". But we don't have answers for news. Now we use a hack: rate comments (!!!) of news to rate news. This is totally wrong of course. News have to be a separate entity, not a poll, but we already have this wrong domain model. So I see two variants:
- I can add this feature for comment r

[2016-11-01 10:49] igaponov commented on #357
fixed

[2016-11-01 11:42] jterps08 commented on #354
Let's do the easier quickest version. At some point we can rebuild officially but for now its the experience I'm focused on.... thanks Igor

[2016-11-01 13:08] petervojtek commented on #357
@igaponov , now I can successfully change plan from Free to Silver for group 295.

However when I want to cancel the Silver subscription (i.e. go from Silver to Free) I experience this:

[code]

[2016-11-01 13:43] igaponov commented on #357
@petervojtek try `DELETE https://api-dev.powerli.ne/api/v2/groups/295/subscription`

[2016-11-02 06:54] petervojtek commented on #357
@igaponov , DELETE does not seem to change the subscription plan to Free:

[code]

[2016-11-02 07:00] petervojtek commented on #400
@igaponov , deleting bank account fails with following error:

[code]

[2016-11-02 07:22] petervojtek opened #401 "Unable to join group which requires both answer fields and passcode on join"
@igaponov , when I try to join such a group I experience this:

[code]

joining a group which requires only answeredFields works properly.

[2016-11-02 07:27] petervojtek commented on #354
ok, I confirm that now the Discussion is marked as read after voting via comment.

[2016-11-02 07:27] #354 closed, assigned to nobody

[2016-11-02 07:27] petervojtek opened #402 "Author can up/downvote his Discussion"
not sure if we want to allow this.

[2016-11-02 07:38] petervojtek opened #403 "Humanize error responses from backend when submitting forms"
currently mostly in group management when submit fails and backend responds with error, I only display the error in raw form:

<img width="320" alt="screen shot 2016-11-02 at 08 37 13" src="https://cloud.githubusercontent.com/assets/225506/19920216/a3488c54-a0d7-11e6-824c-1ad1eced54e0.png">

[2016-11-02 07:40] petervojtek commented on #380
yes, this was happening but I already fixed in cca 5 days ago.

[2016-11-02 07:40] #380 closed, assigned to jterps08

[2016-11-02 07:58] petervojtek commented on #374
ok, so here is the state of the art:

<img width="819" alt="screen shot 2016-11-02 at 08 56 27" src="https://cloud.githubusercontent.com/assets/225506/19920641/4b4a0746-a0da-11e6-8acc-d25a07b967e0.png">

currently the form is missing following data:
- manager_first_name
- manager_last_name
- manager_email
- manager_phone

because they are not provided in `GET /api/v2/groups/{id}` (expect manager_p

[2016-11-02 09:33] igaponov commented on #400
The error message is clear, you can't delete the last bank account, need to add another one first.

[2016-11-02 09:38] igaponov commented on #357
Seems we don't delete a subscription, but change flag `enabled` to false. If you see it, it means your subscription is cancelled and you can consider it like a "free" plan.

[2016-11-02 09:43] igaponov commented on #401
`answeredFields` attribute must be in snake_case: `answered_fields`.

[2016-11-02 12:25] jterps08 commented on #402
Fine for now. Thanks.

[2016-11-02 12:25] #402 closed, assigned to jterps08

[2016-11-02 12:28] jterps08 commented on #374
@petervojtek for now, we do not need to expose these manager fields because we know who the group creator is on the backend... It would be good to display the group creator's name in the group profile screen, but we do not need to actually store any of those 4 bullets now.

[2016-11-02 12:32] jterps08 commented on #357
We will want to display the information of when the next "Charge" will occur for the group (if subscribed) or indicate if "You've cancelled your group's subscription. Your group is now at the free tier."

[2016-11-02 12:40] jterps08 commented on #400
From a user standpoint @igaponov , we need to provide the user with the ability to change their bank account information for collecting funds from fundraisers....

@petervojtek - We had a similar problem in a previous version where we could not remove a bank account because of the fact that we had already published a fundraiser / there were open fundraisers that prevented us from removing the bank

[2016-11-02 13:59] igaponov commented on #400
@jterps08 it's possible to delete a bank account now, you just need to add another one (that will become default) before.

[2016-11-02 14:05] petervojtek commented on #401
thanks for hint @igaponov , I confirm it works now

[2016-11-02 14:05] #401 closed, assigned to petervojtek

[2016-11-02 14:08] petervojtek commented on #374
@jterps08 , can I close this issue, or do you want to have this done as part of this issue? :

[2016-11-02 14:13] petervojtek commented on #357
@jterps08 , I do not understand you comment. is it something we should implement now in this issue, or not?

[2016-11-02 14:17] petervojtek commented on #400
hmm... maybe @jterps08  will tell how the workflow is supposed to work.

From my point of view -- I do not see any reason why a group should have assigned more than one bank account. And as a group owner, I would appreaciate if I could be allowed to completely remove any bank acount I associated with powerline (for the sake of feeling of security).

for example:
1. group was Silver.
2. I change it

[2016-11-02 14:30] igaponov commented on #400
@petervojtek I'm not sure if Stripe allows it, because this error comes from Stripe. Maybe it's possibe only to remove group's account

[2016-11-02 14:37] petervojtek opened #404 "When owner left group another member has not became owner"
Jesse [wrote](https://github.com/PowerlineApp/powerline-mobile/issues/375#issuecomment-256619685), that:

This is not happening. Current behaviour:
1. As Peter10 I create group 340 (i.e. is owner)
2. Peter30 joins the group, is regular member
3. Peter10 leaves the group.
4. Peter30 remains regular member (should be promoted to owner)
5. Peter10 joins the group again, and is owner (should be regula

[2016-11-02 14:51] petervojtek commented on #375
@igaponov , `PUT /api/v2/groups/{id}/managers/{user}` works properly to promote normal user to manager. But how can I downgrade user from manager to normal user?

[2016-11-02 14:55] petervojtek opened #405 "Group management - what is manager not allowed to do (compared to owner)"
@jterps08 , can you please summarize here what group manager is not allowed to do in Group Management screen (when compared to owner) ?

[2016-11-02 15:03] petervojtek opened #406 "Unable to join group which requires approval"
Loader remains visible forever

[2016-11-02 15:23] jterps08 commented on #405
Manager cannot give manager privileges to users. Owner can.
Manager cannot change group subscription. Owner can.
Manager cannot change group payment information (bank account or CC). Owner can.

I think that's it...

[2016-11-02 15:23] jterps08 commented on #374
Please include the group creator's name int he group profile screen.

[2016-11-02 15:24] jterps08 commented on #404
agreed on Peter's logic.

[2016-11-02 15:26] petervojtek commented on #406
fixed in 6ee894

[2016-11-02 15:26] #406 closed, assigned to petervojtek

[2016-11-02 15:33] petervojtek commented on #375
@igaponov , when user membership is Approval and user Peter12 wants to join, he is properly listed as group member with `"join_status":"pending"`.
Which API endpoint should I use to approve this user's membership? When I try to use `PATCH /api/v2/groups/{id}/invites/{user}`, the request is successful but user remains in `"join_status":"pending"`.

[code]

[2016-11-02 16:33] jterps08 commented on #400
I agree with Peter... As a group leader, I want the ability to remove my payment information from the system in general, but especially when I downgrade to Free... Everything is stored securely via Stripe, but it still is problematic from a user experience standpoint...

Apparently Stripe does allow you to delete a bank account: https://stripe.com/docs/api#customer_delete_bank_account and a credit

[2016-11-02 16:45] jterps08 commented on #357
We need to provide group owner with ability to cancel subscription - message label to display once Cancelled, is "You've cancelled your group's subscription. Your group is now at the free tier."

We need to display the fact that a group subscription is active and the next "charge" will be on November 17 (for example). e.g. "The next charge for your group will be on (date) using card ending in (4di

[2016-11-02 16:50] igaponov commented on #375
@petervojtek to approve user use `PATCH https://api-dev.powerli.ne/api/v2/groups/:group/users/:user`

[2016-11-02 16:52] jterps08 opened #407 "Bank Account Setup Label"
We need a label on Bank Account entry screen that indicates that collected funds will be transferred to the group's account automatically as payments are made.

We are leveraging Stripe's "managed accounts" capability to accomplish this.

[2016-11-02 17:01] jterps08 commented on #373
@petervojtek Can you confirm that the Bank Account form includes the "country" field for the user to select from? I just remembered that Stripe only supports bank accounts in certain countries for collecting funds... https://stripe.com/docs/api#country_specs

We want to make sure that a group in England and a group in Mexico and a group in the US can all use this form properly

[2016-11-03 02:05] igaponov commented on #404
@petervojtek which requests did you use and which responses did you get?

[2016-11-03 02:42] igaponov commented on #375
@petervojtek `DELETE /api/v2/groups/{id}/managers/{user}`

[2016-11-03 08:22] petervojtek commented on #374
@igaponov, it seems the group creator name is not present in the group details:

[code]

[2016-11-03 08:31] petervojtek commented on #405
@jterps08:
- can manager remove other managers froup group?

[2016-11-03 08:41] petervojtek opened #408 "User joins group with fields required to fill in on join -- manager/owner cannot see the answers"
there is currently no place in GUI where manager can see the answers

[2016-11-03 09:02] petervojtek opened #409 "Group management: Manage group button do not appears when user role is changed from member to manager"
currently user must logout & login to see the button.

[2016-11-03 09:22] petervojtek commented on #357
@igaponov , please add the date of next charge to `GET /api/v2/groups/295/subscription`.
Currently it looks as following:

[code]

the `next_payment_at` is null.

@jterps08 , regarding cancelling subscription, this is how currently the UI looks like. there are two ways how to cancel subscription -- either by clicking on Revoke subscription button, or clicking on Free select button.

<img width="34

[2016-11-03 09:25] petervojtek commented on #373
yes, currently I hardwired there 'country:US'.

@jterps08 , and which countries should be present in the dropdown -- all countries in the world?

[2016-11-03 09:25] petervojtek commented on #400
ok, so here is task for me:

[2016-11-03 09:29] petervojtek commented on #404
@igaponov

Peter10 leaves the group:

[code]

Peter10 joins group again:

[code]

List of users in the group, Peter10 has "user_role":"owner"

[code]

[2016-11-03 11:51] petervojtek commented on #375
ok, hopefully all done here.

[2016-11-03 11:51] #375 closed, assigned to jterps08

[2016-11-03 12:13] igaponov commented on #404
@petervojtek ok, I see. There is a separate endpoint to delete the owner of the group, but I like your approach more, so will change backend.

[2016-11-03 12:57] jterps08 commented on #405
Good question @petervojtek ... I'm going to say "NO".

A manager can remove any member from the group.
Only an owner can remove manager privileges from a user.
Only an owner can remove a manage from the group.

[2016-11-03 13:03] jterps08 commented on #400
Agreed @petervojtek

[2016-11-03 13:04] jterps08 commented on #400
It's still unclear whether or not we can truly remove a bank account. If so, we'll need to make sure people can't create fundraisers without bank account...

If we can't truly remove a bank account, we're going to have to come up with a solution to 'blank-out' the information...

[2016-11-03 14:42] jterps08 commented on #408
This actually raises the broader issue of reporting results for all items:

(In Scope)
- Membership Roster
- Poll Responses
- Petition Responses
- Fundraiser Responses
- Event Responses

Responses include names (if response not private), response/answer choice, comments, and required information fields.
Membership roster includes user profile information (only permissioned-information) plus requir

[2016-11-03 14:43] jterps08 opened #410 "Basic Reports"
From #408

This actually raises the broader issue of reporting results for all items:

**(In Scope)**

1. Membership Roster
2. Poll Responses
3. Petition Responses
4. Fundraiser Responses
5. Event Responses

Responses include names (if response not private), response/answer choice, comments, and required information fields.
Membership roster includes user profile information (only permissioned-inf

[2016-11-03 14:45] jterps08 commented on #408
I'm actually going to create a new issue #410 to have that conversation regarding comments above...

The only place we have ever shown the Required Information responses in the past is in the Membership Roster...

However, for advanced reporting purposes, we may want to be able to say, "Of the 1000 people who answered this poll, how many were under the age of 35 and who filled out the required inf

[2016-11-03 14:47] jterps08 commented on #357
Works for me. I'll create a P4 to change "Revoke" to "Cancel" in label.

[2016-11-03 14:51] jterps08 commented on #373
@petervojtek - same countries (and codes) as compatible with Stripe. Go here: https://stripe.com/docs/connect/required-verification-information and find the dropdown next to _"Viewing verification info for:"_

![image](https://cloud.githubusercontent.com/assets/7582457/19970781/6cdda492-a1b3-11e6-9d12-7db028160ca4.png)

[2016-11-03 19:30] jterps08 commented on #394
thanks Igor

[2016-11-03 19:30] #394 closed, assigned to jterps08

[2016-11-04 06:45] petervojtek commented on #405
ok, done

[2016-11-04 06:45] #405 closed, assigned to jterps08

[2016-11-04 06:46] petervojtek commented on #400
@jterps08 , currently it not possible to remove the only bank account, server throws error:

[code]

[2016-11-04 06:51] petervojtek commented on #408
if the information should be available in form of table-oriented data, then the XLS export is something which will be implemented on backend (and there will be only some "Export data" button in app).

Not sure how about the analytics queries like "how many responded yes and were from north carolina".. there should be gui to allow to build such query, but the query itself will be executed on backen

[2016-11-04 07:10] petervojtek commented on #404
ok, I confirm it works now

[2016-11-04 07:10] #404 closed, assigned to jterps08

[2016-11-04 07:19] petervojtek commented on #409
@igaponov , I would like you to add `user_role` (the role of current user) attribute also to the GET `/api/v2/groups/{id}`.

Currently the `user_role` is present only in `GET /api/v2/user/groups`, but not in the detail GET call, which causes me problems when I want to refresh information of a particular group:

[code]

[2016-11-04 12:31] jterps08 commented on #400
@igaponov - Why does the server throw this error? If there are active fundraisers, I understand why the user can't remove the only bank account... but if there are no fundraisers, Stripe does allow it per the documentation link above... do you know why?

[2016-11-04 12:33] jterps08 commented on #408
see #410 for the continuation of report discussion

[2016-11-04 12:39] jterps08 commented on #410
continuing this conversation: https://github.com/PowerlineApp/powerline-mobile/issues/408#issuecomment-258356950

Thanks @petervojtek - So, let's try to get the "Export Data" button in the app once Igor has it ready. Please proceed on other items in the mean time...

 @igaponov - It looks like I/we forgot a major item... We need to be able to provide reports as per the In-Scope list above. Let's s

[2016-11-04 13:16] jterps08 opened #411 "Registration: Address Entry - Google-assisted Fill-out"
When the user starts entering the street address, the Google address assist pop-up correctly appears. If the user taps an option in the pop-up, the form correct fills out.

If the user taps the wrong option by mistake and starts to fill out the Street Address again, all fields are not consistently replaced with new address in pop-up.

This issue seems to occur only when the user has 1) already sel

[2016-11-04 13:31] jterps08 opened #412 "Phantom Social Activity for New User"
I just created a new user who is not following anyone and has not joined any groups... And yet, the following information appears - not even for today, but for a few days ago according to the Social Activity Feed...

I assume this is a backend issue?

![screenshot_2016-11-04-09-22-38](https://cloud.githubusercontent.com/assets/7582457/20007166/69c067a4-a271-11e6-9547-0e7eb647ee49.png)
![screenshot

[2016-11-04 14:29] eric80 commented on #399
@jterps08
can you add workflow to go this screen please?

[2016-11-04 14:32] jterps08 commented on #399
Hey @eric80 From the Home Screen, click on the New Content icon (Pen and Paper) in the upper right hand corner and select "New Group Poll" from the drop-down list...

The overlay needs to extend to the bottom of the screen so that the user can't tap on anything in the background (e.g. "add answer" button).

[2016-11-04 14:39] eric80 commented on #399
okay, got it.

[2016-11-04 14:40] eric80 commented on #386
@jterps08  any screenshot for this?

[2016-11-04 15:28] jterps08 commented on #409
adding additional detail to this issue per our discussion... user is group owner. user taps manage button. group settings screen flashes briefly/quickly and user is returned to group profile screen. Logging out/in has no effect.

[2016-11-04 16:24] igaponov commented on #400
@jterps08 stripe allows to delete a bank account except the default one

[2016-11-04 16:29] jterps08 commented on #386
![screenshot_2016-11-04-11-50-36 1](https://cloud.githubusercontent.com/assets/7582457/20013601/20d06436-a28a-11e6-93f7-31a6e834f37c.png)

It looks like we already have the word-wrap here, but it may be on the group-join screen that I was referring to... I'll try to test and find out.. Otherwise, #2 and #3 in list above are in screenshot here.

[2016-11-05 14:58] igaponov commented on #410
@jterps08 user profile information (only permissioned-information) is clear, but what is "required information fields"? Can you please show an example of one row from xls file?

[2016-11-05 19:00] jterps08 commented on #400
@igaponov @petervojtek I'm not sure of what the best solution is here. We want to give a group the ability to remove their bank account information from Stripe records, but we also need to have information on file per Stripe. A couple ideas:

1) Does it make sense to delete their Stripe account? This could work _only_ if the group's subscription was unaffected.
2) Alternatively, if idea #1 can't w

[2016-11-05 19:01] jterps08 commented on #412
@igaponov can you explain what was happening? I was a new user and I was receiving updates for people I wasn't following and groups I hadn't joined. Can you explain what happened?

[2016-11-05 19:15] jterps08 commented on #410
please see google drive xls

[2016-11-05 23:40] jterps08 commented on #410
_This is effectively the initial iteration of our Data Visualization & Analytics capability_ - there will be other iterations for certain down the road...

@igaponov Here's how I think we should do this... Basically, I think we need to have a data reporting endpoint that we can call for XLS reports with certain parameters to determine the type of report and for what type of information... Eventual

[2016-11-06 09:44] igaponov commented on #412
@jterps08  There were three type of activities, `follow-%entity%-commented`, that are pushed only for people who subscribed to entities, not for followers, so they don't have `following` attribute. But `GET /.../social-activities` uses `following` attribute to query rows. You've seen old activities without `following` attribute.

[2016-11-06 09:46] igaponov commented on #400
@jterps08 if Stripe doesn't allow to delete default bank account we should delete entire account I think.

[2016-11-06 10:00] igaponov commented on #410
@jterps08 what does `group karma amount` mean?

[2016-11-06 18:11] jterps08 commented on #410
You can ignore it or leave it blank for now... When we implement points/karma, this is where we will display how much karma the user has earned from activities s/he has done inside the group itself.

[2016-11-06 18:15] jterps08 commented on #400
If we delete entire account, will it impact the group's subscription?

Here's the scenario I'm thinking about:
1. Group A subscribes to Silver plan (and provides required CC information)
2. Group A setups bank account
3. Group A creates fundraiser
4. Group A is done with fundraiser
5. Group A wants to remove bank account
6. --what happens here? ---
7. Group A still has a Silver plan and still need

[2016-11-07 03:08] igaponov commented on #400
@jterps08 subscription belongs to `customer` entity is Stripe, deleting of `account` shouldn't affect it.

[2016-11-07 07:10] petervojtek commented on #409
ok, fixed.

@jterps08 , in group profile I moved the Manage button to top, because previously the button was on the bottom and it was prone to change position on screen because data above were loaded and rendered asynchronously (grop permissions).

[2016-11-07 07:10] #409 closed, assigned to jterps08

[2016-11-07 07:22] petervojtek commented on #374
thanks Igor.

done.

[2016-11-07 07:22] #374 closed, assigned to jterps08

[2016-11-07 07:38] petervojtek commented on #357
ok, next_payment_at is displayed, it looks like this:

<img width="342" alt="screen shot 2016-11-07 at 08 37 26" src="https://cloud.githubusercontent.com/assets/225506/20049766/86b5bfc0-a4c5-11e6-97df-2cebd5a7ebe2.png">

[2016-11-07 07:38] #357 closed, assigned to jterps08

[2016-11-07 08:01] petervojtek commented on #373
ok, the list of countries is there.

@jterps08  I am not sure how we want to proceed with the bank account currency.
currently there is hardwired USD, however this does not seem to be satisfactory, e.g. when I tried to add a bank account from a Luxembourg bank, I was not allowed to do that with USD currency.

I can show there a currency dropdown with USD preset as default, however I am not sure if

[2016-11-07 12:57] jterps08 commented on #373
Thanks @petervojtek - I think the full list of currencies is: https://support.stripe.com/questions/which-currencies-does-stripe-support#currencygroup1 but I agree with you - I think only the currencies of the countries in the list (auto-selected to match: eg USD for US) makes sense...

I would assume that you could only select certain currencies based on the country your bank is in. For example, i

[2016-11-07 13:02] jterps08 commented on #400
Right because the group is a Powerline customer and the group is also a "seller" when they fundraise, so they have their own managed account on our platform... So customer and managed account are separate entities in the database. One can setup a bank account to fundraise without being a subscriber (account only), OR become a subscriber without fundraising (customer only), OR become a subscriber a

[2016-11-07 14:40] jterps08 commented on #408
Closing this as we've addressed via Reports in 410. thanks peter

[2016-11-07 14:40] #408 closed, assigned to jterps08

[2016-11-07 14:43] jterps08 commented on #400
Igor - There may be an error that occurs when someone tries to donate to a fundraiser for an account that has been removed after the fact...

If Save the Whales publishes a fundraiser today at 12PM and 5 people donate and then they remove their account at 9PM and I try to make a donation at 10PM, the system should give an error. I don't need the error handling right now because I think this will b

[2016-11-07 14:49] jterps08 opened #413 "New Menu Shortcut: Manage Group"
Add an option "Manage Group" to the main menu that appears only if user is a leader of any group(s).
Tapping the button displays the "Group Selector" modal with only options that the user can manage.
Tapping the appropriate group leads directly to the group management screen.

[2016-11-07 14:58] jterps08 commented on #373
But we can keep it simple and stick with currencies for only the countries present/supported in the dropdown.

[2016-11-07 15:00] jterps08 commented on #338
We need to confirm that the newsfeed can accurately display attachments (namely, picture and video) because we haven't been able to test that since the switch to v2 api. When we're testing this, it may be a good idea to test meta data as well for embedded link preview...

[2016-11-07 15:10] jterps08 commented on #350
Edited original requirements.

[2016-11-07 15:41] igaponov commented on #410
`GET /api/v2/groups/{id}/members`
Use header `Accept: text/csv` to get csv file. Without this header the endpoint will return json.

[2016-11-07 15:45] igaponov commented on #400
@jterps08 yes, I've added this error in another issue

[2016-11-07 15:49] jterps08 commented on #410
Cool - so thats for the membership roster report... Will the approach above work for getting the report for a poll or petition or fundraiser or event?

[2016-11-08 06:49] petervojtek commented on #373
@jterps08 , ok, now the list of currencies will change dynamically when you change country and will contain only those currencies which are [supported by stripe](https://support.stripe.com/questions/which-currencies-does-stripe-support) in given country .

@igaponov , is it possible that you have hardwired `country:US` when you communicate with stripe from backend regarding new bank account?

E.g.

[2016-11-08 07:21] #385 closed, assigned to jterps08

[2016-11-08 07:22] petervojtek commented on #385
fixed.

[2016-11-08 08:00] petervojtek commented on #351
ok, the original issue is solved here -- when you successfully create content you are redirected to content detail screen. we should deal with the Draft v Publish idea in other issue.

[2016-11-08 08:00] #351 closed, assigned to jterps08

[2016-11-08 08:14] #331 closed, assigned to jterps08

[2016-11-08 08:15] petervojtek commented on #331
we have this issue done for free thanks to code changes in #351

[2016-11-08 09:46] igaponov commented on #373
@petervojtek request to Stripe from backend:

[code]

I think the problem is in your account's county. Maybe you should create another account (with country=JP) to test this case.

[2016-11-08 15:44] #412 closed, assigned to jterps08

[2016-11-08 15:45] #242 closed, assigned to jterps08

[2016-11-08 15:45] jterps08 commented on #233
What are the next steps on this? Just to re-test?

[2016-11-08 16:50] igaponov commented on #410
@jterps08 what does `required information fields` mean for response reports? I see only answer and comment in your table.

[2016-11-08 16:53] igaponov commented on #400
`DELETE /api/v2/stripe-accounts/{id}`

[2016-11-08 17:02] jterps08 commented on #410
Sorry for confusion @igaponov -- http://52.5.45.80:8080/#/v2-group-fields is what I'm referring to (there may be 0, 1, or many fields)

[2016-11-08 17:29] igaponov commented on #410
@jterps08 I think you confused with Membership roster, there is no sense to add group fields to poll responses.

[2016-11-08 17:40] jterps08 commented on #410
@igaponov Columns B-Q should be included in every report. Only Items B-Q are in membership roster...

For a single and specific poll/petition/event/fundraiser report, for example, the report is Columns B through Q + Column S + Column T.... e.g. for Poll 255.

For group's poll report, the report is Columns B through Q + Columns V through AE... e.g. For Poll 255, Poll 256, Poll 257 (if the group onl

[2016-11-08 17:49] jterps08 commented on #410
For what it's worth, the value of the data by combining all of these data points into one data set allows to gain some extraordinary insights... e.g. 55% of the people who answered the poll with Answer A also have Humpbacks as their favorite whale...

Columns V-Z are mostly important for Posts and Petitions (not polls/fundraisers/events), but it's a good exercise nonetheless for this initial round

[2016-11-08 18:11] igaponov commented on #410
@jterps08 what is `single and specific poll report` and what is the difference between it and `group's poll report`? I don't see it in your first comment.
Columns V-Z belong to representatives, right?

[2016-11-08 18:30] jterps08 commented on #410
Columns V-Z belongs to linked representatives yes.

For single/specific poll report, this is the ability of the endpoint to produce a report that includes Clumns B through Q + Column S + Column T where S is the answer choice only for the specific/single poll requested (e.g. Poll 25.... This is the higher priority item.

For group poll report, this is B through Q + Columns V through AE which includ

[2016-11-09 06:53] petervojtek commented on #373
I am not sure if I understood you properly @igaponov, this is what I done now:
I created new powerline user PeterJP1 who has country Japan.

then I created new user group 346. and when i want to add japan bank account, I experience the same error as above, i.e.

[code]

[2016-11-09 07:00] petervojtek commented on #400
@igaponov, @jterps08 , I do not understand the workflow - when should I call `DELETE /api/v2/stripe-accounts/{id}` ?

this is how the user interface looks like:

<img width="848" alt="screen shot 2016-11-09 at 07 57 13" src="https://cloud.githubusercontent.com/assets/225506/20129731/32649f66-a652-11e6-8acd-20a951edfb00.png">

I do not think we want there additional button "Delete Stripe account" b

[2016-11-09 07:06] jterps08 commented on #400
Deleting stripe account is for deleting bank account....

not sure about removing payment card

[2016-11-09 07:23] petervojtek commented on #233
@jterps08 , I tested it on android and ios and it works.

[2016-11-09 07:23] #233 closed, assigned to jterps08

[2016-11-09 07:48] petervojtek commented on #338
@igaponov , can you give me some hint what should be the payload when creating educational content (i.e. attachment)? I cannot find the payload description in the [API doc for `POST /api/v2/polls/{poll}/educational-contexts`](https://api-dev.powerli.ne/api-doc#post--api-v2-polls-{poll}-educational-contexts)

[2016-11-09 09:31] igaponov commented on #400
@petervojtek if user has only one bank account - call `DELETE /api/v2/stripe-accounts/{id}`, otherwise choose one and call `DELETE /api/v2/groups/{group}/bank-accounts/{id}`

[2016-11-09 09:42] igaponov commented on #373
@petervojtek account's country is US, because we don't provide it on account creation.
@jterps08 which country should I use to create group's account? Group doesn't have a country.

[2016-11-09 09:53] igaponov commented on #410
~~@jterps08 will info in columns V-Z be the same for all 50 users?~~

Ok, I see. It'll be different if users are in different districts.

[2016-11-09 10:37] igaponov commented on #338
@petervojtek docs are fixed

[2016-11-09 16:05] igaponov commented on #410
`GET /api/v2/polls/{id}/responses`

I'll add group poll report after representative refactoring

[2016-11-09 17:12] jterps08 commented on #400
Groups should only have one bank account setup and one credit card setup.

Users may have multiple credit cards, but we're really only focusing on the use case of single credit card experience...

[2016-11-09 17:13] jterps08 commented on #373
@igaponov use the group creator's country...

[2016-11-10 01:38] igaponov commented on #373
@jterps08 note that group creator can be changed and a new creator can have another country

[2016-11-10 01:43] jterps08 commented on #373
good point @igaponov -- use the _current_ group creator's bank account when creating the account... but @petervojtek the frontend should be providing this input field to the user during bank account setup, right?

[2016-11-10 06:28] petervojtek commented on #400
@igaponov , and how do I determine the `{id}` for `DELETE /api/v2/stripe-accounts/{id}` ?

[2016-11-10 06:31] petervojtek commented on #373
@jterps08 , during bank account creation the `country` is filled in in form once, but the value (e.g. JP)  is actually submitted twice:
- to the stripe api (which accepts JP without problems)
- and then to powerline api (which fails with JP)

I can submit the user provided country in 1st request and 'US' in the 2nd request if you want me to do that.

[2016-11-10 08:52] petervojtek commented on #337
@jterps08 , it's done.

the design it not the most beautiful, but we can tweak that anytime later.
from functional point of view it has the ability to create/delete sections and to add/remove users from each section.

<img width="330" alt="screen shot 2016-11-10 at 09 50 07" src="https://cloud.githubusercontent.com/assets/225506/20170091/246ae7d8-a72b-11e6-820e-cc27b3fcbdaa.png">

[2016-11-10 08:52] #337 closed, assigned to jterps08

[2016-11-10 09:54] igaponov commented on #400
@petervojtek according to Jesse's message I'll do one account for group and change url to `/group/{id}/stripe-account`

[2016-11-10 12:47] igaponov commented on #400
@petervojtek done

[2016-11-10 12:48] igaponov commented on #373
@petervojtek Stripe doesn't allow to update account's country, so you need to create another one

[2016-11-10 12:48] jterps08 commented on #337
Thanks Peter - yeah, this will work for now, but in the future we'll need a different UX/UI for groups that have hundreds or thousands of users... thank you!

[2016-11-10 12:51] jterps08 commented on #373
Okay, this is an important issue so I want to make sure I understand what's happening...

@petervojtek Why are we storing the bank account country with the Powerline API?

@igaponov Right now, the Stripe API accepts bank account country which is good... You are saying: "If user wants to update bank account, and new bank account is different country, this is not possible with Stripe - will need to

[2016-11-10 12:56] igaponov commented on #373
@jterps08 yes, need to create a new account, but first update group owner's country

[2016-11-11 07:05] petervojtek commented on #400
@igaponov , removing stripa account seems to fail due to:

[code]

[2016-11-11 07:06] petervojtek commented on #337
you are right @jterps08, thought that will need also redesign the API because currently it does not allows to mass add/remove users from section, i.e. currently 1 user add/remove = 1 http request.

[2016-11-11 07:18] petervojtek commented on #373
@jterps08 , I have not designed the api, I don't know who made the decisition to require the country in [`POST /api/v2/groups/{group}/bank-accounts`](https://api-dev.powerli.ne/api-doc#post--api-v2-groups-{group}-bank-accounts) and I don't know how is it used on backend.

@igaponov , currently when I try to add JP bank account I experience this:

[code]

and when I try to submit the data without `

[2016-11-11 07:33] petervojtek opened #414 "create leader content -- allow user to choose whole group or only group section when publishing content"
based on #337

[2016-11-11 07:33] petervojtek commented on #337
I realized I messed the issues, there are two tasks related to group sections:
- create/edit/delete the sections from group management screen -- I have done this inside this issue and now renamed this issue to properly address what I have done.
- pick a section or whole group when creating leader content to determine target users of the content. -- this is not yet done, I created new issue #414 fo

[2016-11-11 07:40] petervojtek commented on #414
@igaponov , currently when creating&publishing new leader content (e.g. event), it is sent to all group members. How can I denote that I want to send the content only to a group section?

It seems there is not such parameter in [publish poll call](https://api-dev.powerli.ne/api-doc#patch--api-v2-polls-{id}).

[2016-11-11 07:55] igaponov commented on #414
@petervojtek now if the group has sections a new content will be sent to section's users. There is no functionality to send it only to one group section. Do you need to add it?

[2016-11-11 08:05] petervojtek commented on #414
lets see what will say @jterps08 , here is design which suggest that there should be a section picker when publishing a content:

<img width="398" alt="screen shot 2016-11-11 at 09 04 56" src="https://cloud.githubusercontent.com/assets/225506/20208364/009c42e8-a7ee-11e6-9585-06768d1cb8e9.png">

[2016-11-11 08:09] igaponov commented on #400
@petervojtek @jterps08 I need to update Stripe client on backend to get method to delete an account. But after this we will need to test all functions related to Stripe.

[2016-11-11 14:36] jterps08 commented on #414
The section picker allows you to send to either 1) all group members, or 2) a specific group section. It would be ideal if the leader could select one ore more group sections, but "All" or "one section only" is fine too.

The default is always All.

[2016-11-11 14:43] jterps08 commented on #400
@igaponov -- What was the version we were using before? I will try to research the difference between old and new version... I'm uncertain if updating Stripe is what we want to do right now. It may break more things than not and we don't have time for that. We need to confirm that:

1) add/remove credit cards
2) add/remove bank accounts
3) answer/pay fundraisers as group member
4) pay for subscrip

[2016-11-11 15:10] igaponov commented on #400
@jterps08 it's version of library, not an API. We used 2.x. I don's see major changes in 3.x.

[2016-11-11 15:30] jterps08 commented on #400
okay great that makes me feel better... thanks

[2016-11-11 15:32] igaponov commented on #400
But still need to test all functions. Unit tests are passed.

[2016-11-11 15:55] igaponov commented on #414
@petervojtek do you need it only for polls?

[2016-11-11 16:55] eriklouis129 commented on #399
There is no "New Group Poll" in the drop-down list.

it contains only "New Post" and "New Petition"

[2016-11-11 17:13] eriklouis129 commented on #379
any screenshot?
how to move the screen...

[2016-11-11 17:14] eriklouis129 commented on #386
how to move above screen?

[2016-11-11 17:14] jterps08 commented on #414
All leader content @igaponov (not user posts or user petitions)

[2016-11-11 17:15] jterps08 commented on #399
@eriklouis129 - We can add you to the Slack channel so we can discuss further. Please look for an invite via e-mail! :-)

[2016-11-11 17:15] sirius2013 commented on #386
very easy to fix

[2016-11-12 02:18] igaponov commented on #414
@jterps08 that means all kind of polls and announcements, right?

[2016-11-12 02:56] jterps08 commented on #414
Yes please @igaponov - poll, leader petition, event, discussion/news, fundraiser/crowdfunder, announcement

[2016-11-12 08:54] eriklouis129 commented on #340
in which screen?
any screenshot?

[2016-11-14 03:32] jterps08 commented on #340
The main newsfeed

![screenshot_2016-10-23-19-29-30](https://cloud.githubusercontent.com/assets/7582457/20252518/01496202-a9f1-11e6-9450-ec1640b30635.png)

[2016-11-14 03:34] jterps08 commented on #399
@eriklouis129 since this is the first issue to work on in the contract, please knwo that you will have to create a group first under your own account THEN try to create new content with the pencil icon on the main screen in the upper right hand corner. After you select New Group (anything) is when the issue appears. The gray overlay should cover the entire screen so that the user doesn't try to cl

[2016-11-14 03:35] jterps08 commented on #386
Once you create your own group, go to My Groups, and select the group you created. This will open the Group Profile screen. As the group owner, you should see a Manage button. Click the Manage button to get to this screen.

[2016-11-14 03:37] eriklouis129 commented on #386
need your detail explain about "When joining a group, activate text wrap on the displayed questions so that the user can view the entire question."

[2016-11-14 03:39] jterps08 commented on #379
When you have created new group, go to pencil icon to create new group content called "New Group Fundraiser"... A screen similar to below will appear:

![screenshot_2016-11-13-17-46-59](https://cloud.githubusercontent.com/assets/7582457/20252647/03a71188-a9f2-11e6-9116-bb4933338041.png)
![screenshot_2016-11-13-17-47-14](https://cloud.githubusercontent.com/assets/7582457/20252648/03a87668-a9f2-11e6

[2016-11-14 03:40] jterps08 commented on #378
When clicking New Group Event, the form that appears should have the first two answer choice fields pre-filled with text above, editable by user. Not placeholder (gray) text that disappears when the user taps on the field, but ACTUAL text in the field.

[2016-11-14 03:41] jterps08 commented on #377
![screenshot_2016-11-13-17-46-59](https://cloud.githubusercontent.com/assets/7582457/20252681/4ec73ef4-a9f2-11e6-9664-5e563db872b1.png)

[2016-11-14 03:43] jterps08 commented on #340
The main newsfeed will paginate and load 1-20 items first. When you scroll to bottom, the app will load next items 21-40, but does not say in scroll position for item 20/21. Instead it returns to top. We want to stay in scroll position whenever it loads more data (eg. 41-60 etc etc).

[2016-11-14 05:16] petervojtek commented on #373
ok, works now.
so last 4 numbers of SSN field is displayed only when US bank account is created.

[2016-11-14 05:16] #373 closed, assigned to jterps08

[2016-11-14 05:19] petervojtek commented on #400
delete stripe account works now

[2016-11-14 05:19] #400 closed, assigned to jterps08

[2016-11-14 08:12] petervojtek opened #415 "Unable to create announcement (for a group sections) - fails with Base table or view not found"
[code]

announcement for whole group works properly.

[2016-11-14 08:20] petervojtek commented on #414
ok, done.

the checkboxes are constrained by following rules:
- by default option All is checked, all other are unchecked.
- you can pick several sections
- if you choose a section, All is automatically unchecked
- if you choose All, all other checkboxes are unchecked
- if you uncheck all checkboxes, All option is automatically checked

this is how it looks like:
<img width="399" alt="screenshot 2

[2016-11-14 08:20] #414 closed, assigned to jterps08

[2016-11-14 09:24] eriklouis129 commented on #399
fixed
![simulator screen shot nov 14 2016 10 24 09 am](https://cloud.githubusercontent.com/assets/20544710/20259302/8437b8cc-aa54-11e6-843e-82ff40fd38dd.png)

[2016-11-14 09:26] eriklouis129 commented on #386
fixed
![simulator screen shot nov 14 2016 10 26 02 am](https://cloud.githubusercontent.com/assets/20544710/20259365/d838e16c-aa54-11e6-9414-71023508df42.png)

[2016-11-14 09:29] eriklouis129 commented on #379
fixed
![simulator screen shot nov 14 2016 10 27 49 am](https://cloud.githubusercontent.com/assets/20544710/20259392/03428700-aa55-11e6-8bb8-88ccc1f31e80.png)
![simulator screen shot nov 14 2016 10 28 16 am](https://cloud.githubusercontent.com/assets/20544710/20259396/119f344c-aa55-11e6-8034-d1a7573028bd.png)
![simulator screen shot nov 14 2016 10 28 45 am](https://cloud.githubusercontent.com/asset

[2016-11-14 09:32] eriklouis129 commented on #377
fixed
![simulator screen shot nov 14 2016 10 31 57 am](https://cloud.githubusercontent.com/assets/20544710/20259489/978fd9e4-aa55-11e6-999f-ca7b16e08a64.png)

[2016-11-14 09:33] eriklouis129 commented on #365
fixed
![simulator screen shot nov 14 2016 10 33 23 am](https://cloud.githubusercontent.com/assets/20544710/20259531/c92619d2-aa55-11e6-96ab-dc12e81018fb.png)

[2016-11-14 09:34] eriklouis129 commented on #340
fixed

[2016-11-14 09:34] eriklouis129 commented on #398
fixed
![simulator screen shot nov 14 2016 10 34 25 am](https://cloud.githubusercontent.com/assets/20544710/20259571/eea37592-aa55-11e6-9f5c-7802968c91b5.png)
![simulator screen shot nov 14 2016 10 34 39 am](https://cloud.githubusercontent.com/assets/20544710/20259574/f49bd412-aa55-11e6-8ffd-ce120c87e5e8.png)

[2016-11-14 09:36] eriklouis129 commented on #392
fixed
![simulator screen shot nov 14 2016 10 35 49 am](https://cloud.githubusercontent.com/assets/20544710/20259615/20ca3d8a-aa56-11e6-8d9c-113835a88e2f.png)
![simulator screen shot nov 14 2016 10 36 09 am](https://cloud.githubusercontent.com/assets/20544710/20259620/28fbd270-aa56-11e6-9436-d0dd8d27b196.png)
![simulator screen shot nov 14 2016 10 36 26 am](https://cloud.githubusercontent.com/asset

[2016-11-14 09:37] eriklouis129 commented on #322
fixed

[2016-11-14 09:37] eriklouis129 commented on #307
fixed

[2016-11-14 09:39] eriklouis129 commented on #161
fixed
![simulator screen shot nov 14 2016 10 37 58 am](https://cloud.githubusercontent.com/assets/20544710/20259686/79057730-aa56-11e6-8ca3-ec94ab26f198.png)
![simulator screen shot nov 14 2016 10 38 55 am](https://cloud.githubusercontent.com/assets/20544710/20259695/8c329676-aa56-11e6-8dd7-ace7bd632865.png)

[2016-11-14 13:01] eriklouis129 commented on #378
this is already combined with backend logic and UI.

so it is not enough by changing UI in order to implement this function.

maybe needed some changes logic, too.

[2016-11-14 14:09] jterps08 commented on #414
sweet thanks Peter

[2016-11-14 14:17] jterps08 commented on #378
Thanks Erik - reassigning to Igor...

Igor - Please update the backend so that new event form has two pre-filled answer choices as per above. Very low priority.

[2016-11-14 14:17] jterps08 commented on #399
awesome - marking ready for retest - can you reference the commit ID for reference please?

[2016-11-14 14:18] jterps08 commented on #379
awesome - marking ready for retest - can you reference the commit ID for reference please?

[2016-11-14 14:18] jterps08 commented on #377
awesome - marking ready for retest - can you reference the commit ID for reference please?

[2016-11-14 14:19] jterps08 commented on #365
awesome - Can you confirm the font color change also works for Deleting a Post... Create new post in some group. Open your post. Click trash can icon... A similar popup should appear...

Please reference the commit ID... Thanks

[2016-11-14 14:20] jterps08 commented on #340
awesome - marking ready for retest - can you reference the commit ID for reference please?

[2016-11-14 14:22] jterps08 commented on #398
For "New Group" icon, can you use different icon that indicates 'new' or 'create'... In fact, "Create Group" might be a better label. Please reference commit ID. Thank you!

[2016-11-14 14:23] jterps08 commented on #392
awesome - please reference commit ID for reference

[2016-11-14 14:31] jterps08 commented on #161
@eriklouis129 - Please confirm all requirements from the Upwork description have been incorporated. I have re-pasted below for clarity... Sorry for confusion, but it seems that my edits did not get into original job posting:

Field Placeholder Text - Create rotating placeholder text a) "It's all about different perspectives. Be kind." b) "Don't attack people. Understand them." c) "Listen first. Th

[2016-11-14 14:32] jterps08 commented on #322
great. please include commit ID for reference

[2016-11-14 14:33] jterps08 commented on #307
great thanks please provide commit ID for reference

[2016-11-14 14:33] jterps08 commented on #386
great thanks, please provide commit ID for reference...

[2016-11-14 14:34] jterps08 commented on #161
@eriklouis129 - Please confirm all requirements from the Upwork description have been incorporated. I have re-pasted below for clarity... Sorry for confusion, but it seems that my edits did not get into original job posting:

Field Placeholder Text - Create rotating placeholder text a) "It's all about different perspectives. Be kind." b) "Don't attack people. Understand them." c) "Listen first. Th

[2016-11-14 14:37] eriklouis129 commented on #392
fixed in "Erik" branch

[2016-11-14 14:38] eriklouis129 commented on #340
fixed in "Erik" branch

[2016-11-14 14:38] eriklouis129 commented on #377
fixed in "Erik" branch

[2016-11-14 14:38] eriklouis129 commented on #379
fixed in "Erik" branch

[2016-11-14 14:38] eriklouis129 commented on #399
fixed in "Erik" branch

[2016-11-14 14:39] eriklouis129 commented on #322
fixed in "Erik" branch

[2016-11-14 14:39] eriklouis129 commented on #307
fixed in "Erik" branch

[2016-11-14 14:39] eriklouis129 commented on #386
fixed in "Erik" branch

[2016-11-14 15:04] eriklouis129 commented on #365
confirmed and worked.
![screen shot 2016-11-14 at 4 03 11 pm](https://cloud.githubusercontent.com/assets/20544710/20269562/fdaa7a08-aa83-11e6-8399-c4e0eb524d78.png)

[2016-11-14 15:08] eriklouis129 commented on #161
Create rotating placeholder text???

in which screen?

[2016-11-14 15:09] eriklouis129 commented on #161
Empty New Post Field - a) "Words can move the masses. And yours can, too - if you get enough people to support your post. Be nice!" and b) "Write what you mean and mean what you write! But don't be mean!"????

in which screen, there are two placeholder?

[2016-11-14 15:40] jterps08 commented on #161
Using new content menu (pencil paper icon in upper right corner of home screen), tap "New Post"

We want the user to see either of these messages as placeholder text. The text should change each time you create a new post.

[2016-11-14 15:40] jterps08 commented on #161
![image](https://cloud.githubusercontent.com/assets/7582457/20270851/bbc54a32-aa56-11e6-8d0c-0deb5129059d.png)

[2016-11-14 15:40] jterps08 commented on #365
great thanks.

[2016-11-14 15:59] igaponov commented on #378
@eriklouis129 API has two endpoints:
1. create a poll
2. add an option
Use the first one to create an event and then the second one to create two options.

[2016-11-14 16:02] igaponov commented on #415
Fixed

[2016-11-14 16:26] eriklouis129 commented on #398
fixed
![screen shot 2016-11-14 at 5 25 56 pm](https://cloud.githubusercontent.com/assets/20544710/20272825/6b02465c-aa8f-11e6-9d32-3973525b94ba.png)

[2016-11-14 17:39] eriklouis129 commented on #161
fixed.
![screen shot 2016-11-14 at 6 37 49 pm](https://cloud.githubusercontent.com/assets/20544710/20275635/a7cf30cc-aa99-11e6-8c8d-c074645fc901.png)
![screen shot 2016-11-14 at 6 38 01 pm](https://cloud.githubusercontent.com/assets/20544710/20275640/ab86fee8-aa99-11e6-9727-88b4c7ce1e39.png)
![screen shot 2016-11-14 at 6 38 28 pm](https://cloud.githubusercontent.com/assets/20544710/20275647/aef00f

[2016-11-14 18:04] jterps08 commented on #161
The Comment Placeholder text is not for New Group Discussions, it's for the comments field. You can keep what you've put in New Group Discussions or remove it. Your choice, but the Comments field is where the placeholder information needs to be.

Open any item in your newsfeed (post / poll / anything), scroll down to find ability to add comment - this is the field for :
a) "It's all about differen

[2016-11-14 18:07] eriklouis129 commented on #161
any screenshot???

[2016-11-14 18:09] jterps08 commented on #398
I still am not sure I like the look of that icon for Create Group... It doesn't stand out enough compared to My Groups. Can use just make the icon a single giant plus sign + instead? This is a pathway for a potential customer so I'll probably have to experiment with other icons in the future - but for this task for you under the contract, let's just change it to + icon and we can close this... Tha

[2016-11-14 18:09] jterps08 commented on #161
i will send to you in slack - I can't post here for some reason

[2016-11-14 18:22] eriklouis129 commented on #398
fixed
![screen shot 2016-11-14 at 7 21 50 pm](https://cloud.githubusercontent.com/assets/20544710/20277151/a79d6d48-aa9f-11e6-82c0-4b83bd5b68ef.png)

[2016-11-14 18:25] eriklouis129 commented on #161
need your explain how I can reach that screen.

[2016-11-14 18:46] jterps08 commented on #398
perfect thanks!

[2016-11-14 19:16] jterps08 commented on #326
@petervojtek do we need Igor to address this or is this frontend work?

[2016-11-14 19:17] jterps08 commented on #371
Actually, I"m going to allow this behavior for now. I think it's a nice confirmation of what all group members will experience... Closing...

[2016-11-14 19:17] #371 closed, assigned to petervojtek

[2016-11-14 20:18] eriklouis129 commented on #161
fixed.
![screen shot 2016-11-14 at 9 18 17 pm](https://cloud.githubusercontent.com/assets/20544710/20281217/eaca937e-aaaf-11e6-9633-bf5834936002.png)
![screen shot 2016-11-14 at 9 18 07 pm](https://cloud.githubusercontent.com/assets/20544710/20281218/eacf49f0-aaaf-11e6-86e8-0e9cf474ea05.png)

[2016-11-15 06:55] petervojtek commented on #415
I confirm now I can publish such announcement for group section successfully

[2016-11-15 06:55] #415 closed, assigned to jterps08

[2016-11-15 06:56] petervojtek commented on #326
@jterps08 , this is backend issue.

[2016-11-15 07:03] petervojtek commented on #356
ok, so all the group management subtasks are done.

[2016-11-15 07:03] #356 closed, assigned to jterps08

[2016-11-15 08:37] petervojtek commented on #350
@igaponov , I miss the group.id information in user petition detail in order to determine if user is group manager/owner (post detail contains the `group.id`):

[code]

[2016-11-15 13:25] jterps08 commented on #356
Well done @petervojtek and thank you.

[2016-11-15 18:18] petervojtek commented on #338
@igaponov , I can add photo attachment successfully.
but when I try to add  1x video and 1x photo to a petition, I can add the video successfully but then experience this with the photo:

[code]

If I count properly I add two attachments (1x video, 1x photo - fails above).

[2016-11-15 18:25] petervojtek commented on #338
@jterps08 , can you please add/confirm details on how the attachments should be provided when creating leader content?
- video: is submitted as url, i.e. the user will copy and paste the video url to the create new petition/poll/.. form.
- text -- user will write/paste the text into textarea. I am actually not sure what is the purpose of text attachment (given that I can write the text directly in

[2016-11-15 18:38] jterps08 commented on #338
video is URL
text is text (it's for extra information that is not included in main petition body... we might get rid of this eventually, but we might as well keep it right now)
image is a file from the phone library.

[2016-11-17 08:16] igaponov commented on #350
@petervojtek `group_id` attribute is added